Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

Batch 12-13: validation utilities migration (24 files)
  verenigingen/e_boekhouden/workspace/e_boekhouden/__init__.py
  verenigingen/e_boekhouden/workspace/e_boekhouden/e_boekhouden.json
  verenigingen/hooks.py
  verenigingen/permissions.py
  verenigingen/tests/run_membership_dues_tests.py
  verenigingen/tests/test_account_creation_background_processing.py
  verenigingen/tests/test_account_creation_dutch_business_logic.py
  verenigingen/tests/test_admin_tools_security.py
  verenigingen/tests/test_billing_transitions_proper.py
  verenigingen/tests/test_donor_security_enhanced.py
  verenigingen/tests/test_donor_security_enhanced_fixed.py
  verenigingen/tests/test_financial_utils.py
  verenigingen/tests/test_intelligent_item_creation.py
  verenigingen/tests/test_invoice_edge_cases.py
  verenigingen/tests/test_membership_application_workflow.py
  verenigingen/tests/test_payment_api_mutations.py
  verenigingen/tests/test_performance_security_fixes.py
  verenigingen/tests/test_production_scenario_validation.py
  verenigingen/tests/test_role_profile_managers.py
  verenigingen/tests/test_team_role_integration.py
  verenigingen/tests/utils/factories.py
  verenigingen/tests/utils/setup_helpers.py
  verenigingen/tests/utils/test_environment_validator.py
  verenigingen/tests/utils/test_utils.py
  verenigingen/verenigingen/doctype/donation_campaign/donation_campaign.py
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
  verenigingen/verenigingen/web_form/membership_application.py
  verenigingen/verenigingen/workspace/__init__.py
  verenigingen/verenigingen/workspace/e_boekhouden/e_boekhouden.json
  verenigingen/verenigingen_payments/workspace/verenigingen_payments/verenigingen_payments.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Batch 14-15: validation utilities migration (24 files)
  scripts/setup/add_expense_cards.py
  scripts/setup/configure_role_profiles.py
  scripts/setup/create_onboarding.py
  scripts/setup/deploy_role_profiles.py
  verenigingen/e_boekhouden/workspace/e_boekhouden/__init__.py
  verenigingen/e_boekhouden/workspace/e_boekhouden/e_boekhouden.json
  verenigingen/services/customer_handling_service.py
  verenigingen/tests/e2e/test_workflow_validation.py
  verenigingen/tests/integration/test_account_creation_background_processing_phase4d.py
  verenigingen/tests/integration/test_account_creation_real.py
  verenigingen/tests/integration/test_api_authentication_decorators_integration.py
  verenigingen/tests/integration/test_membership_approval_real.py
  verenigingen/tests/integration/test_mollie_bulk_transaction_consumer_data_qa.py
  verenigingen/tests/integration/test_mollie_subscription_integration_phase4d.py
  verenigingen/tests/integration/test_query_optimization_suite_old.py
  verenigingen/tests/integration/test_sepa_mandate_authentication_security.py
  verenigingen/tests/integration/test_suspension_api_http_integration.py
  verenigingen/tests/integration/test_team_member_lifecycle.py
  verenigingen/tests/security/test_security_penetration.py
  verenigingen/tests/test_chapter_board_permissions.py
  verenigingen/tests/test_donor_auto_creation.py
  verenigingen/tests/test_donor_auto_creation_comprehensive.py
  verenigingen/tests/test_payment_entry_handler.py
  verenigingen/tests/test_payment_history_validator.py
  verenigingen/tests/test_revenue_recognition_automation.py
  verenigingen/verenigingen_payments/workspace/verenigingen_payments/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Security analysis and implementation planning
  .gitignore
  debug_mollie_subscription.py
  docs/security/API_SECURITY_ASSESSMENT.md
  docs/security/API_SECURITY_ASSESSMENT_CORRECTED.md
  docs/security/TEST_FUNCTION_SECURITY_IMPLEMENTATION_PLAN.md
  scripts/code_organization_analyzer.py
  scripts/error_handling_analysis.json
  scripts/secure_test_functions_tool.py
  scripts/security_migration_inventory_generator.py
  test_webhook_call.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

phase 1 decorator update
  archived/obsolete_webhook_system/mollie_webhook_handler.py
  archived/obsolete_webhook_system/mollie_webhook_processor.py
  backups/security_changes_20250912_165741/cleanup_utils.py
  backups/security_changes_20250912_165741/generate_test_data.py
  backups/security_changes_20250912_165741/monitoring_dashboard.py
  backups/security_changes_20250912_165741/onboarding_member_setup.py
  scripts/api_maintenance/analyze_tegenrekening_usage.py
  scripts/api_maintenance/sepa_integration_setup.py
  scripts/database/create_sepa_indexes.py
  scripts/member_performance_analyzer.py
  scripts/membership_dues_poc.py
  scripts/monitoring/establish_baseline.py
  scripts/validation/validate_sepa.py
  verenigingen/api/audit_reports_dashboards.py
  verenigingen/api/payment_dashboard.py
  verenigingen/api/team_management.py
  verenigingen/api/verenigingen_permissions_audit.py
  verenigingen/api/workspace_validator.py
  verenigingen/auth_hooks.py
  verenigingen/permissions.py
  verenigingen/tests/test_api_security_framework.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/security/enhanced_validation.py
  verenigingen/utils/security/security_monitoring.py
  verenigingen/utils/security_decorators.py
  verenigingen/verenigingen/doctype/donation_campaign/donation_campaign.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
  verenigingen/verenigingen/doctype/volunteer_expense/volunteer_expense.py
  verenigingen/verenigingen_payments/utils/sepa_admin_reporting.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

securing endpoints further, improved automated dues invoicing system
  verenigingen/api/anbi_operations.py
  verenigingen/api/check_roles.py
  verenigingen/api/fix_stuck_dues_schedule.py
  verenigingen/api/generate_invoice_for_schedule.py
  verenigingen/api/mollie_payment_webhook.py
  verenigingen/config/dashboard_charts.py
  verenigingen/debug_api.py
  verenigingen/templates/pages/admin_tools.py
  verenigingen/templates/pages/donate.py
  verenigingen/templates/pages/manage_donations.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_dues_schedule_health_manager.py
  verenigingen/utils/__init__.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/create_sepa_indexes.py
  verenigingen/utils/department_hierarchy.py
  verenigingen/utils/dues_schedule_auto_creator.py
  verenigingen/utils/dues_schedule_health_manager.py
  verenigingen/utils/employee_user_link.py
  verenigingen/utils/fix_missing_payment_history.py
  verenigingen/utils/invoice_management.py
  verenigingen/utils/mollie_integration.py
  verenigingen/utils/nuke_financial_data.py
  verenigingen/utils/security/rate_limiting.py
  verenigingen/verenigingen/doctype/chapter_role/chapter_role.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/donation/donation_original.py
  verenigingen/verenigingen/doctype/expulsion_report_entry/expulsion_report_entry.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member_contact_request/member_contact_request.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.json
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.py
  verenigingen/verenigingen/page/membership_analytics/predictive_analytics.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

plan
  PRAGMATIC_SECURITY_STRATEGY.md
Due: none

security framework improvements, plan to improve core security
  PRAGMATIC_SECURITY_STRATEGY.md
  scripts/workspace_reorganization.py
  verenigingen/api/check_specific_report_permissions.py
  verenigingen/api/customer_member_link.py
  verenigingen/api/decorator_compatibility_validator.py
  verenigingen/api/fix_child_table_permissions.py
  verenigingen/api/fix_customer_permissions.py
  verenigingen/api/full_migration_summary.py
  verenigingen/api/generic_report_tester.py
  verenigingen/api/membership_application.py
  verenigingen/api/permission_testing_framework.py
  verenigingen/api/quick_stock_check.py
  verenigingen/api/workspace_debug.py
  verenigingen/debug_coverage.py
  verenigingen/utils/alert_manager.py
  verenigingen/utils/debug/test_opening_balance_import.py
  verenigingen/utils/secure_operations.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/security/security_monitoring.py
  verenigingen/utils/volunteer_statistics.py
  verenigingen/utils/webhook_security.py
  verenigingen/verenigingen/doctype/critical_operation_rule/__init__.py
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.json
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
  verenigingen/verenigingen/doctype/critical_operation_rule/test_critical_operation_rule.py
  verenigingen/www/monitoring_dashboard.py
  verenigingen/www/onboarding_member_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

next batch
  PRAGMATIC_SECURITY_STRATEGY.md
  verenigingen/api/customer_member_link.py
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/templates/pages/contact_request.py
  verenigingen/templates/pages/install_email_templates.py
  verenigingen/templates/pages/volunteer/expenses.html
  verenigingen/templates/pages/volunteer/expenses.py
  verenigingen/utils/admin_utilities/subscription_management_utility.py
  verenigingen/utils/alert_manager.py
  verenigingen/utils/debug/check_import_errors.py
  verenigingen/utils/debug/debug_templates.py
  verenigingen/utils/debug/test_transaction_management.py
  verenigingen/utils/run_clean_import_test.py
  verenigingen/utils/security/security_monitoring.py
  verenigingen/utils/volunteer_statistics.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

new batch
  docs/PROJECT_OVERVIEW.md
  scripts/api_maintenance/cleanup_test_data.py
  scripts/api_maintenance/eboekhouden_mapping_setup.py
  verenigingen/doctype/system_alert/system_alert.py
  verenigingen/fixtures/verenigingen_settings_system_user.json
  verenigingen/setup/dd_batch_workflow_setup.py
  verenigingen/setup/document_links.py
  verenigingen/setup/security_setup.py
  verenigingen/setup/simple_dd_workflow_setup.py
  verenigingen/templates/pages/volunteer/expenses.py
  verenigingen/verenigingen/doctype/periodic_donation_agreement/periodic_donation_agreement.py
  verenigingen/verenigingen/doctype/region/region.py
  verenigingen/verenigingen/doctype/team/team.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
  verenigingen/verenigingen/report/termination_audit_report/termination_audit_report.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

secured API migration batch 8, expense refactor
  scripts/api_maintenance/fix_workspace.py
  scripts/cleanup/cleanup_invalid_member_schedules.py
  scripts/debug/check_scheduler_status.py
  scripts/debug/debug_volunteer_lookup.py
  scripts/debug/system_status_check.py
  scripts/member_performance_analyzer.py
  scripts/membership_dues_poc.py
  scripts/migration/fix_team_assignment_history.py
  scripts/migration/manual_employee_creation.py
  scripts/monitoring/establish_baseline.py
  scripts/monitoring/performance_baseline_tracker.py
  scripts/monitoring/zabbix_integration.py
  scripts/testing/check_test_accounts.py
  scripts/testing/test_coverage_report_working.py
  scripts/testing/test_expense_form_foppe.py
  scripts/testing/test_fee_functions.py
  scripts/validation/validate_email_system.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/fixtures/expense_claim_custom_fields.json
  verenigingen/setup/document_links.py
  verenigingen/setup/membership_application_workflow_setup.py
  verenigingen/templates/pages/volunteer/expenses.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

settings fixes
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/fixtures/verenigingen_settings_system_user.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: email-template-validator

typo fixes, translation file started
  README.md
  docs/PROJECT_OVERVIEW.md
  docs/VERENIGINGEN_PROJECT_OVERVIEW.md
  verenigingen/tests/backend/components/test_chapter_dashboard.py
  verenigingen/tests/backend/components/test_membership_analytics_functionality.py
  verenigingen/tests/backend/components/test_volunteer_expense_validation_regression.py
  verenigingen/tests/backend/integration/test_payment_report_integration.py
  verenigingen/tests/backend/security/test_volunteer_portal_security.py
  verenigingen/tests/backend/workflows/test_suspension_api_import_fallback_real.py
  verenigingen/tests/scalability/test_payment_history_scalability.py
  verenigingen/tests/test_donor_permissions_security.py
  verenigingen/tests/test_donor_security_comprehensive.py
  verenigingen/tests/test_dutch_business_logic_integration.py
  verenigingen/tests/test_frappe_core_integration_boundaries.py
  verenigingen/tests/test_organizations_client.py
  verenigingen/tests/test_payment_history_race_condition.py
  verenigingen/tests/test_role_profile_managers.py
  verenigingen/tests/test_secure_member_list_performance.py
  verenigingen/translations/en.csv
  verenigingen/translations/nl.csv
  verenigingen/utils/security/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

added CORs, dutch translation file, brand settings
  SECURITY_MIGRATION_FINAL_STATUS.md
  archived/outdated_security_reports/README.md
  archived/outdated_security_reports/SECURITY_MIGRATION_INVENTORY.md
  archived/outdated_security_reports/automated_security_scanner.py
  archived/outdated_security_reports/security_migration_inventory.json
  archived/outdated_security_reports/security_scanner.py
  detailed_security_audit_report.md
  docs/security/SECURITY_MAINTENANCE_GUIDE.md
  scripts/analysis/detailed_security_audit.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/hooks.py
  verenigingen/templates/pages/address_change.html
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/admin_tools.py
  verenigingen/templates/pages/volunteer/dashboard.py
  verenigingen/templates/pages/volunteer/expenses.html
  verenigingen/tests/backend/integration/test_payment_report_integration.py
  verenigingen/translations/en-US.csv
  verenigingen/translations/en.csv
  verenigingen/translations/nl.csv
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/security/cache_invalidation.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.js
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.json
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

added more CORs plus a few syntax fixes
  pyproject.toml
  test_chapter_lookup_performance.py
  verenigingen/api/fix_stuck_dues_schedule.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/hooks.py
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/admin_tools.py
  verenigingen/utils/dues_schedule_health_manager.py
  verenigingen/utils/invoice_management.py
  verenigingen/utils/optimized_chapter_lookup.py
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.js
  verenigingen/verenigingen/report/members_without_chapter/members_without_chapter.py
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

mollie webhook security upgrade
  archived/over_engineered_security_system/README.md
  archived/over_engineered_security_system/ROLE_BASED_SECURITY_INTEGRATION.md
  archived/over_engineered_security_system/context_validators.py
  archived/over_engineered_security_system/security_level_mapping.json
  archived/over_engineered_security_system/security_level_mapping/security_level_mapping.json
  archived/over_engineered_security_system/security_level_mapping/security_level_mapping.py
  docs/subsystems/security-and-permissions.md
  verenigingen/api/mollie_payment_webhook.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/fixtures/role_profile.json
  verenigingen/translations/nl.csv
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/webhook_payment_gateway_access.py
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

added back custom eboekhouden field, fixed some issues
  verenigingen/api/fix_workspace.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/utils/create_eboekhouden_custom_fields.py
  verenigingen/e_boekhouden/utils/eboekhouden_coa_import.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/templates/pages/address_change.py
  verenigingen/utils/create_unreconciled_payment.py
  verenigingen/utils/optimized_chapter_lookup.py
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Update SECURITY_MODEL_OVERVIEW.md
  docs/security/SECURITY_MODEL_OVERVIEW.md
Due: none

Update SECURITY_FRAMEWORK_GUIDE.md
  docs/security/SECURITY_FRAMEWORK_GUIDE.md
Due: none

docs
  docs/FAQ_TROUBLESHOOTING.md
Due: none

eboekhouden fixes
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.js
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/invoice_helpers.py
  verenigingen/e_boekhouden/utils/payment_processing/payment_entry_handler.py
  verenigingen/e_boekhouden/utils/transaction_utils.py
  verenigingen/utils/smart_tegenrekening_mapper.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

team, sdd batch refactor, child table indexing
  backups/ChapterController_backup.js
  backups/direct_debit_batch_refactor_20250918_133339/direct_debit_batch/__init__.py
  backups/direct_debit_batch_refactor_20250918_133339/direct_debit_batch/direct_debit_batch.js
  backups/direct_debit_batch_refactor_20250918_133339/direct_debit_batch/direct_debit_batch.js.backup_20250626
  backups/direct_debit_batch_refactor_20250918_133339/direct_debit_batch/direct_debit_batch.json
  backups/direct_debit_batch_refactor_20250918_133339/direct_debit_batch/direct_debit_batch.py
  backups/direct_debit_batch_refactor_20250918_133339/direct_debit_batch/sepa_processor.py
  docs/optimization/chapter_data_model_optimization_proposal.md
  docs/optimization/member_data_model_optimization_proposal.md
  docs/optimization/team_data_model_optimization_proposal.md
  docs/optimization/volunteer_data_model_optimization_proposal.md
  scripts/validation/ast_field_analyzer.py
  scripts/validation/ast_field_analyzer_original.py
  scripts/validation/test_quality_enforcer.py
  verenigingen/patches.txt
  verenigingen/patches/v15_0/add_chapter_performance_indexes.py
  verenigingen/patches/v15_0/add_member_performance_indexes.py
  verenigingen/patches/v15_0/add_team_performance_indexes.py
  verenigingen/patches/v15_0/add_volunteer_performance_indexes.py
  verenigingen/tests/fixtures/secure_test_data_factory.py
  verenigingen/utils/chapter_membership_history_manager.py
  verenigingen/utils/chapter_role_events.py
  verenigingen/verenigingen/doctype/chapter/chapter_controller_backup.py
  verenigingen/verenigingen/doctype/chapter/chapter_js_backup.js
  verenigingen/verenigingen/doctype/chapter_member/test_chapter_members.py
  verenigingen/verenigingen_payments/services/batch_processing_service.py
  verenigingen/verenigingen_payments/services/batch_validation_service.py
  verenigingen/verenigingen_payments/services/business_logic_orchestration_service.py
  verenigingen/verenigingen_payments/services/sepa_configuration_service.py
  verenigingen/verenigingen_payments/services/sepa_xml_generation_service.py
  verenigingen/verenigingen_payments/tests/test_api_regression.py
  verenigingen/verenigingen_payments/tests/test_direct_debit_batch_refactoring.py
  verenigingen/verenigingen_payments/tests/test_sepa_xml_compliance.py
  verenigingen/verenigingen_payments/tests/test_service_layer_validation.py
  verenigingen/verenigingen_payments/utils/sepa_utilities.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

member.py refactor, changed member approval to background process, refactored sepa mandate
  backups/sepa_mandate_refactor_20250918_152857/SEPA_MANDATE_METHOD_INVENTORY.md
  backups/sepa_mandate_refactor_20250918_152857/__init__.py
  backups/sepa_mandate_refactor_20250918_152857/sepa_mandate.js
  backups/sepa_mandate_refactor_20250918_152857/sepa_mandate.json
  backups/sepa_mandate_refactor_20250918_152857/sepa_mandate.py
  backups/sepa_mandate_refactor_20250918_152857/sepa_mandate_dashboard.py
  backups/sepa_mandate_refactor_20250918_152857/test_sepa_mandate.py
  backups/sepa_mandate_refactor_20250918_152857/test_sepa_mandate_comprehensive.py
  detailed_security_audit_report.md
  docs/testing/SEPA_SERVICE_UNIT_TESTS.md
  test_background_approval.py
  verenigingen/api/background_approval_api.py
  verenigingen/api/dashboard_charts.py
  verenigingen/api/migrate_donation_agreements.py
  verenigingen/api/migration_cleanup_test.py
  verenigingen/api/payment_audit.py
  verenigingen/api/payment_sync_system.py
  verenigingen/events/approval_events.py
  verenigingen/events/invoice_events.py
  verenigingen/events/subscribers/approval_subscribers.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/services/member_address_service.py
  verenigingen/services/member_lifecycle_service.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/run_sepa_service_tests.py
  verenigingen/tests/test_member_address_service.py
  verenigingen/tests/test_sepa_mandate_identity_service.py
  verenigingen/tests/test_sepa_mandate_lifecycle_service.py
  verenigingen/tests/test_sepa_mandate_member_integration_service.py
  verenigingen/tests/test_sepa_mandate_service_integration.py
  verenigingen/tests/test_sepa_mandate_validation_service.py
  verenigingen/utils/validation/iban_validator.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.py
  verenigingen/verenigingen_payments/services/sepa_mandate_identity_service.py
  verenigingen/verenigingen_payments/services/sepa_mandate_lifecycle_service.py
  verenigingen/verenigingen_payments/services/sepa_mandate_member_integration_service.py
  verenigingen/verenigingen_payments/services/sepa_mandate_validation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

team controller update, event emission
  verenigingen/events/chapter_events.py
  verenigingen/events/member_events.py
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/events/subscribers/team_subscribers.py
  verenigingen/events/team_events.py
  verenigingen/tests/test_sepa_mandate_member_integration_service.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/team/team.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

workspace export
  verenigingen/utils/doctype/bank_integration_settings/__init__.py
  verenigingen/utils/doctype/bank_integration_settings/bank_integration_settings.json
  verenigingen/utils/doctype/bank_integration_settings/bank_integration_settings.py
  verenigingen/utils/payment_services/mollie_payment_service.py
  verenigingen/verenigingen/workspace/__init__.py
  verenigingen/verenigingen/workspace/verenigingen/__init__.py
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie payments code refactored
  .gitignore
  verenigingen/api/test_audit_routing.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/fixtures/website_settings.json
  verenigingen/integrations/mollie/api/payment_webhook.py
  verenigingen/integrations/mollie/api/simple_donation_webhook.py
  verenigingen/integrations/mollie/core/mollie_models.py
  verenigingen/integrations/mollie/services/complete_payment_service.py
  verenigingen/integrations/mollie/services/refund_chargeback_service.py
  verenigingen/integrations/mollie/services/webhook_service.py
  verenigingen/integrations/mollie/utils/audit.py
  verenigingen/integrations/mollie/utils/error_recovery.py
  verenigingen/integrations/mollie/utils/monitoring.py
  verenigingen/integrations/mollie/utils/security.py
  verenigingen/services/payment_processing_service.py
  verenigingen/templates/pages/donate.html
  verenigingen/templates/pages/donate.py
  verenigingen/utils/bank_integration.py
  verenigingen/utils/bank_reconciliation.py
  verenigingen/utils/debug/test_secure_operations_validation.py
  verenigingen/utils/payment_gateways.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

moved a few hooks
  .mcp.json
  scripts/validation/sql_field_reference_validator.py
  verenigingen/hooks.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

member.py refactor
  .mcp.json
  verenigingen/api/enhanced_membership_application.py
  verenigingen/integrations/mollie/utils/validators.py
  verenigingen/services/__init__.py
  verenigingen/services/customer_service.py
  verenigingen/services/member_id_service.py
  verenigingen/services/member_status_service.py
  verenigingen/tests/backend/validation/test_recent_code_changes.py
  verenigingen/utils/config_manager.py
  verenigingen/utils/dutch_name_service.py
  verenigingen/utils/member_age_service.py
  verenigingen/utils/membership_duration_service.py
  verenigingen/utils/service_error_handler.py
  verenigingen/utils/validation/application_validators.py
  verenigingen/utils/validation/postal_code_validator.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

member.py refactor efforts, phase 3
  detailed_security_audit_report.md
  test_service_infrastructure.py
  verenigingen/api/membership_application_review.py
  verenigingen/services/customer_handling_service.py
  verenigingen/services/customer_service.py
  verenigingen/services/infrastructure/README.md
  verenigingen/services/infrastructure/__init__.py
  verenigingen/services/infrastructure/base_service.py
  verenigingen/services/infrastructure/example_service.py
  verenigingen/services/infrastructure/field_validator.py
  verenigingen/services/infrastructure/integration_tests.py
  verenigingen/services/infrastructure/production_readiness.py
  verenigingen/services/infrastructure/service_config.py
  verenigingen/services/infrastructure/service_factory.py
  verenigingen/services/infrastructure/service_metrics.py
  verenigingen/services/infrastructure/service_testing.py
  verenigingen/services/infrastructure/tests/__init__.py
  verenigingen/services/infrastructure/tests/test_service_infrastructure.py
  verenigingen/services/member/__init__.py
  verenigingen/services/member/approval/__init__.py
  verenigingen/services/member/approval/member_approval_service.py
  verenigingen/services/member/core/__init__.py
  verenigingen/services/member/core/member_address_service.py
  verenigingen/services/member/core/member_id_service.py
  verenigingen/services/member/core/member_lifecycle_service.py
  verenigingen/services/member/core/member_status_service.py
  verenigingen/services/member/testing/__init__.py
  verenigingen/services/member/testing/member_debug_tools.py
  verenigingen/services/member/testing/member_test_utilities.py
  verenigingen/services/member/utils/__init__.py
  verenigingen/services/member/utils/member_age_service.py
  verenigingen/services/member/utils/membership_duration_service.py
  verenigingen/services/member_status_service.py
  verenigingen/services/payment_processing_service.py
  verenigingen/tests/backend/validation/test_recent_code_changes.py
  verenigingen/tests/test_member_address_service.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

api security framework and CORs system improvements, membership application fixes
  .pre-commit-config.yaml
  deprecated_functions_report.md
  docs/architecture/SERVICE_INFRASTRUCTURE_ARCHITECTURE.md
  docs/development/SERVICE_INFRASTRUCTURE_USAGE_GUIDE.md
  docs/development/SERVICE_MIGRATION_GUIDE.md
  docs/security/API_SECURITY_NAMING_CONVENTIONS.md
  scripts/validation/codanna_deprecated_checker.py
  scripts/validation/import_path_validator.py
  verenigingen/api/membership_application.py
  verenigingen/api/payment_processing.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/services/customer_service.py
  verenigingen/services/infrastructure/service_integration.py
  verenigingen/services/member/approval/member_approval_service.py
  verenigingen/tests/backend/integration/test_member_contact_request_integration.py
  verenigingen/tests/test_import_validation_integration.py
  verenigingen/tests/test_membership_application_workflow.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/application_payments.py
  verenigingen/utils/employee_user_link.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.py
  verenigingen/verenigingen/doctype/member_iban_history/member_iban_history.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

member.py cleanup
  deprecated_functions_report.md
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/events/subscribers/payment_history_subscriber.py
  verenigingen/services/donation_financial_service.py
  verenigingen/services/member/approval/member_approval_service.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_membership_application_workflow.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/application_payments.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
