Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chapter validation fixes
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/utils/security/csrf_protection.py
  verenigingen/verenigingen/doctype/chapter/validators/chapter_validator.py
  verenigingen/verenigingen/doctype/chapter_board_member/chapter_board_member.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mijnrood csv import fixes
  .pre-commit-config.yaml
  docs/features/MEMBER_MERGE.md
  scripts/error_handling_analysis.json
  scripts/testing/integration/simple_test.py
  scripts/testing/runners/validation_test_runner.py
  verenigingen/public/css/tailwind.css
  verenigingen/services/member_merge_service.py
  verenigingen/tests/test_member_merge.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/validation/application_validators.py
  verenigingen/verenigingen/doctype/member/member_list.js
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

mijnrood and PDA fixes
  archived/donation_agreement_scheduler/donation_agreement_scheduler.py
  verenigingen/api/anbi_operations.py
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/hooks.py
  verenigingen/services/anbi_validation_service.py
  verenigingen/services/billing/dues_schedule_creation_service.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/alert_manager.py
  verenigingen/verenigingen/doctype/donor/donor.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/periodic_donation_agreement/periodic_donation_agreement.js
  verenigingen/verenigingen/doctype/periodic_donation_agreement/periodic_donation_agreement.py
  verenigingen/www/dues-invoice-manager.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

ACR fix attempts
  verenigingen/public/css/tailwind.css
  verenigingen/services/billing/dues_schedule_creation_service.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request_list.js
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/report/anbi_donation_summary/anbi_donation_summary.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

mollie test fix, mijnrood fix
  .gitignore
  package-lock.json
  package.json
  verenigingen/integrations/mollie/services/webhook_service.py
  verenigingen/integrations/mollie/tests/test_refund_chargeback.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie chargeback support work
  verenigingen/integrations/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/integrations/mollie/tests/mollie_test_helper.py
  verenigingen/integrations/mollie/tests/test_refund_chargeback.py
  verenigingen/integrations/mollie/utils/unified_payment_entry_creator.py
  verenigingen/utils/payment_services/mollie_payment_service.py
  verenigingen/utils/payment_services/refund_utility.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refund fix
  verenigingen/integrations/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/integrations/mollie/tests/test_refund_chargeback_integration.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chapter dues allocation logic, N+1 issues
  docs/testing/TEST_INFRASTRUCTURE_ISSUES.md
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/fixtures/custom_field.json
  verenigingen/hooks.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/fixtures/sepa_test_factory.py
  verenigingen/tests/test_chapter_dues_domain_model.py
  verenigingen/tests/test_member_utils.py
  verenigingen/tests/test_n_plus_one_optimization.py
  verenigingen/utils/__init__.py
  verenigingen/utils/chapter_utils.py
  verenigingen/utils/member_import_cleanup.py
  verenigingen/utils/member_utils.py
  verenigingen/utils/sales_invoice_hooks.py
  verenigingen/utils/security/rate_limiter.py
  verenigingen/verenigingen/doctype/chapter/chapter.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen/domain/__init__.py
  verenigingen/verenigingen/domain/chapter_dues.py
  verenigingen/verenigingen/domain/chapter_dues_validation.py
  verenigingen/verenigingen/page/chapter_dues_allocation/__init__.py
  verenigingen/verenigingen/page/chapter_dues_allocation/chapter_dues_allocation.js
  verenigingen/verenigingen/page/chapter_dues_allocation/chapter_dues_allocation.json
  verenigingen/verenigingen/page/chapter_dues_allocation/chapter_dues_allocation.py
  verenigingen/verenigingen/report/chapter_dues_split/__init__.py
  verenigingen/verenigingen/report/chapter_dues_split/chapter_dues_split.js
  verenigingen/verenigingen/report/chapter_dues_split/chapter_dues_split.json
  verenigingen/verenigingen/report/chapter_dues_split/chapter_dues_split.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

membership creation test fixes
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_member_utils.py
  verenigingen/utils/member_utils.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership/membership.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

enabling new query utility
  scripts/testing/performance_baseline.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/verenigingen/doctype/membership/dues_schedule_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

volunteer activity service extraction
  verenigingen/events/subscribers/team_subscribers.py
  verenigingen/services/volunteer/__init__.py
  verenigingen/services/volunteer/activity_service.py
  verenigingen/services/volunteer/expense_approver_service.py
  verenigingen/tests/services/test_volunteer_activity_service.py
  verenigingen/tests/services/test_volunteer_expense_approver_service.py
  verenigingen/verenigingen/doctype/chapter/test_chapter_volunteer_integration.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen/doctype/volunteer_activity/volunteer_activity.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Fix: Team member assignment history not updating in production
  docs/testing/BACKGROUND_JOB_TESTING.md
  verenigingen/events/subscribers/team_subscribers.py
  verenigingen/tests/integration/test_team_background_jobs.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

volunteer assignment history logic refactor, SINV deletion enablement
  verenigingen/hooks.py
  verenigingen/services/team_service.py
  verenigingen/services/volunteer/ARCHITECTURE.md
  verenigingen/services/volunteer/activity_service.py
  verenigingen/services/volunteer/assignment_query_builder.py
  verenigingen/services/volunteer/assignment_service.py
  verenigingen/tests/services/test_volunteer_assignment_service.py
  verenigingen/tests/services/test_volunteer_assignment_service_simple.py
  verenigingen/utils/bulk_delete_test_invoices.py
  verenigingen/utils/sales_invoice_hooks.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/team_member/team_member.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: migrate BaseManager.send_notification() to unified EmailService
  verenigingen/verenigingen/doctype/chapter/managers/base_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: prevent accidental test execution of background approval helper
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: remove redundant DocType import to fix flake8 F811 warning
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

typo
  verenigingen/utils/chapter_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add configurable chapter assignment notifications
  docs/SECURITY.md
  verenigingen/api/membership_application_review.py
  verenigingen/tests/backend/components/test_sales_invoice_chapter_population.py
  verenigingen/utils/chapter_membership_manager.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: replace frappe.sendmail() with Email Queue to prevent broken pipe errors
  verenigingen/services/communication/email_service.py
  verenigingen/utils/chapter_membership_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: address critical code review findings in EmailService
  verenigingen/services/communication/email_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add migration and improve setting description
  verenigingen/patches.txt
  verenigingen/patches/v1_0/enable_chapter_notifications_for_existing_installations.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: address critical code review findings
  verenigingen/patches/v1_0/enable_chapter_notifications_for_existing_installations.py
  verenigingen/services/communication/email_service.py
  verenigingen/utils/chapter_membership_manager.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

email system upgrade
  verenigingen/patches/v1_0/enable_chapter_notifications_for_existing_installations.py
  verenigingen/utils/chapter_membership_manager.py
  verenigingen/utils/notification_suppression.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie dues payment processor
  verenigingen/integrations/mollie/domain/payment_classification.py
  verenigingen/integrations/mollie/services/dues_payment_processor.py
  verenigingen/services/mollie_debug_service.py
  verenigingen/templates/pages/mollie_dues_payment_processor.html
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_payments_debug.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie dues transaction import fixes
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/integrations/mollie/core/mollie_client.py
  verenigingen/templates/pages/mollie_dues_payment_processor.html
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/tests/test_notification_suppression.py
  verenigingen/utils/notification_suppression.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

typo
  verenigingen/templates/pages/mollie_payments_debug.py
Due: fast-method-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking

payment history updater fixes, mollie dues payment creation, mollie debug page payment creator added
  verenigingen/fixtures/custom_field.json
  verenigingen/integrations/mollie/core/client.py
  verenigingen/integrations/mollie/services/dues_payment_processor.py
  verenigingen/services/mollie_debug_service.py
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/utils/member_history_integrity.py
  verenigingen/utils/secure_operations.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member_fee_change_history/member_fee_change_history.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
  verenigingen/verenigingen/domain/chapter_dues_validation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie dues payment processor fix
  verenigingen/integrations/mollie/services/dues_payment_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie bank transaction
  verenigingen/fixtures/mode_of_payment.json
  verenigingen/hooks.py
  verenigingen/integrations/mollie/services/dues_payment_processor.py
  verenigingen/templates/pages/mollie_dues_payment_processor.html
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie dues import logic fixes, chapter dues split logic fixed
  verenigingen/services/member/core/member_status_service.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/domain/chapter_dues.py
  verenigingen/verenigingen/report/chapter_dues_split/chapter_dues_split.py
  verenigingen/verenigingen_payments/doctype/member_payment_history/member_payment_history.json
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

round-off account presence validation check added
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie backend api work
  docs/mollie/BALANCE_TRANSACTION_PROCESSING.md
  docs/mollie/WEBHOOK_ROUTING_INTEGRATION.md
  scripts/test_balance_transaction_processing.py
  scripts/test_settlement_processing.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/fixtures/critical_operation_rule_balance_transactions.json
  verenigingen/fixtures/property_setter.json
  verenigingen/hooks.py
  verenigingen/integrations/mollie/services/dues_payment_processor.py
  verenigingen/integrations/mollie/services/payment_type_router.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/patches.txt
  verenigingen/patches/v2_1/add_bank_transaction_reference_unique_index.py
  verenigingen/services/mollie_debug_service.py
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/verenigingen_payments/api/balance_transaction_processing.py
  verenigingen/verenigingen_payments/api/settlement_processing.py
  verenigingen/verenigingen_payments/services/balance_transaction_processor.py
  verenigingen/verenigingen_payments/services/settlement_bank_transaction_processor.py
  verenigingen/verenigingen_payments/services/settlement_cache.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

added support for order processing to the webhook handler
  verenigingen/integrations/mollie/domain/payment_classification.py
  verenigingen/integrations/mollie/services/order_payment_processor.py
  verenigingen/integrations/mollie/services/payment_type_router.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/services/billing/invoice_generator.py
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/tests/test_event_driven_payment_history.py
  verenigingen/tests/test_invoice_eligibility_validation.py
  verenigingen/tests/test_invoice_generation_and_payment_history_sync.py
  verenigingen/tests/test_regression_invoice_due_date_calculation.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

more bank transaction creation code consolidation
  archived_unused/legacy_validation_code/README.md
  archived_unused/legacy_validation_code/validations.py
  deprecated_functions_report.md
  verenigingen/integrations/mollie/services/order_payment_processor.py
  verenigingen/utils/application_helpers.py
  verenigingen/verenigingen_payments/services/balance_transaction_processor.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
  verenigingen/verenigingen_payments/services/settlement_bank_transaction_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

more bank transaction creation code consolidation
  verenigingen/integrations/mollie/services/dues_payment_processor.py
  verenigingen/verenigingen_payments/services/balance_transaction_processor.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(payments): add PaymentDataExtractor utility and MollieObjectType enum
  deprecated_functions_report.md
  verenigingen/integrations/mollie/api/payment_audit.py
  verenigingen/integrations/mollie/api/subscription_sync.py
  verenigingen/integrations/mollie/domain/payment_classification.py
  verenigingen/integrations/mollie/services/complete_payment_service.py
  verenigingen/integrations/mollie/services/dues_payment_processor.py
  verenigingen/integrations/mollie/services/payment_processors.py
  verenigingen/integrations/mollie/services/webhook_service.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/tests/test_payment_data_extractor_examples.py
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/verenigingen_payments_settings.json
  verenigingen/verenigingen_payments/clients/balances_client.py
  verenigingen/verenigingen_payments/clients/settlements_client.py
  verenigingen/verenigingen_payments/dashboards/financial_dashboard.py
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.py
  verenigingen/verenigingen_payments/monitoring/balance_monitor.py
  verenigingen/verenigingen_payments/services/balance_transaction_processor.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
  verenigingen/verenigingen_payments/services/mollie_configuration_service.py
  verenigingen/verenigingen_payments/services/settlement_bank_transaction_processor.py
  verenigingen/verenigingen_payments/utils/payment_data_extractor.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollieobjecttype enum migration
  verenigingen/integrations/mollie/api/subscription_sync.py
  verenigingen/verenigingen_payments/clients/balances_client.py
  verenigingen/verenigingen_payments/clients/settlements_client.py
  verenigingen/verenigingen_payments/dashboards/financial_dashboard.py
  verenigingen/verenigingen_payments/monitoring/balance_monitor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

settings retrieval refactor
  verenigingen/fixtures/critical_operation_rule_balance_transactions.json
  verenigingen/services/communication/email_service.py
  verenigingen/tests/test_mollie_configuration_migration.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen_payments/clients/balances_client.py
  verenigingen/verenigingen_payments/core/mollie_base_client.py
  verenigingen/verenigingen_payments/dashboards/financial_dashboard.py
  verenigingen/verenigingen_payments/monitoring/balance_monitor.py
  verenigingen/verenigingen_payments/report/mollie_balance_report/mollie_balance_report.py
  verenigingen/verenigingen_payments/services/mollie_configuration_service.py
  verenigingen/verenigingen_payments/services/settlement_bank_transaction_processor.py
  verenigingen/verenigingen_payments/services/test_mollie_configuration_service.py
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/workflows/reconciliation_engine.py
  verenigingen/verenigingen_payments/workflows/subscription_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie api consolidation
  docs/mollie-audit/PHASE_2_3_4_CONSOLIDATION_ROADMAP.md
  docs/payments/MOLLIE_CONFIGURATION_SERVICE.md
  verenigingen/verenigingen_payments/clients/balances_client.py
  verenigingen/verenigingen_payments/clients/bulk_transaction_importer.py
  verenigingen/verenigingen_payments/clients/chargebacks_client.py
  verenigingen/verenigingen_payments/clients/settlements_client.py
  verenigingen/verenigingen_payments/core/mollie_base_client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
