Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(sepa): structured shortfall status, capped detail logs, fix sibling (#774 review round 2)
  verenigingen/tests/sepa/test_sepa_batch_shortfall_visibility.py
  verenigingen/tests/sepa/test_sepa_integration_performance.py
  verenigingen/verenigingen_payments/services/batch_processing_service.py
  verenigingen/verenigingen_payments/services/sepa_batch_processor.py
  verenigingen/verenigingen_payments/utils/batch_performance_optimizer.py
  verenigingen/verenigingen_payments/utils/sepa_utilities.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: converge hand-written savepoint rollbacks onto rollback_to_savepoint() (#701)
  verenigingen/e_boekhouden/utils/security_helper.py
  verenigingen/services/csv_import/member_import_service.py
  verenigingen/services/csv_import/test_member_import_service.py
  verenigingen/tests/e_boekhouden/test_atomic_migration_operation_savepoints.py
  verenigingen/tests/e_boekhouden/test_migration_transaction.py
  verenigingen/tests/e_boekhouden/test_migration_transaction_savepoints.py
  verenigingen/tests/support/attr_patching.py
  verenigingen/tests/unit/test_savepoint_rollback_cannot_mask_the_error.py
  verenigingen/verenigingen/doctype/vip_import/test_vip_import.py
  verenigingen/verenigingen/doctype/vip_import/vip_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): distinct shortfall status, fix hidden monitoring consumers, sibling test (#774 review round 3)
  verenigingen/tests/sepa/test_dd_batch_pipeline_coverage.py
  verenigingen/tests/sepa/test_sepa_batch_shortfall_visibility.py
  verenigingen/verenigingen_payments/api/dd_batch_workflow_controller.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.json
  verenigingen/verenigingen_payments/services/sepa_batch_processor.py
  verenigingen/verenigingen_payments/utils/sepa_conflict_detector.py
  verenigingen/verenigingen_payments/utils/sepa_monitoring_dashboard.py
  verenigingen/verenigingen_payments/utils/sepa_race_condition_manager.py
  verenigingen/verenigingen_payments/utils/sepa_zabbix_enhanced.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(sepa): guard the new status write against an un-migrated doctype cache (#774 review round 4)
  verenigingen/verenigingen_payments/services/sepa_batch_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(793): one owner for mock policy, and one detector that can see the mocks
  .pre-commit-config.yaml
  docs/DEVELOPER_QUICK_START.md
  docs/DEVELOPER_TESTING_GUIDE.md
  docs/subsystems/test-infrastructure.md
  scripts/validation/archived/block_inappropriate_mocks.py
  scripts/validation/test_quality_baseline.txt
  scripts/validation/test_quality_enforcer.py
  scripts/validation/tests/test_test_quality_enforcer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-09-03d -- 1 of 225
  docs/handoffs/2026-09-03d-one-of-two-hundred-and-twenty-five.md
Due: none

fix: correct invalid Account.account_type literals (#788, #789)
  scripts/migration/create_period_closing_vouchers.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/utils/stock_account_handler.py
  verenigingen/tests/e_boekhouden/test_stock_account_handler_coverage.py
  verenigingen/tests/financial/test_create_period_closing_vouchers_pl_scan.py
  verenigingen/verenigingen_payments/services/mollie_configuration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(529): sepa xml extractor called a method that never existed
  verenigingen/verenigingen_payments/tests/test_sepa_xml_compliance.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(test-quality): stop `_factory` substring from hiding real test modules
  scripts/validation/test_quality_baseline.txt
  scripts/validation/test_quality_enforcer.py
  scripts/validation/tests/test_test_quality_enforcer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore: record test-helper duplication baseline for #788/#789 fix
  scripts/validation/duplicate_helper_baseline.txt
Due: none

fix(reports): honour the member filter in overdue_member_payments.get_data()
  verenigingen/tests/backend/components/test_payment_processing_api.py
  verenigingen/tests/backend/components/test_payment_processing_api_real.py
  verenigingen/tests/report/test_overdue_member_payments.py
  verenigingen/verenigingen/report/overdue_member_payments/overdue_member_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donations): refuse SEPA Direct Debit without a mandate in create_periodic_agreement (#781)
  verenigingen/api/periodic_donation_operations.py
  verenigingen/tests/api/test_periodic_donation_operations.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: delete two more dead public/js files calling nonexistent endpoints
  .pre-commit-config.yaml
  scripts/validation/public_js_endpoint_baseline.txt
  scripts/validation/public_js_endpoint_resolver.py
  verenigingen/public/js/eboekhouden_migration_config.js
  verenigingen/public/js/expense_claim_form.vue
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix: coerce out-of-vocabulary payment_method into Periodic Donation Agreement
  verenigingen/api/periodic_donation_operations.py
  verenigingen/tests/api/test_periodic_donation_operations.py
  verenigingen/tests/backend/portal/test_donation_web_form.py
  verenigingen/tests/backend/portal/test_periodic_donation_agreement_form.py
  verenigingen/verenigingen/web_form/periodic_donation_agreement_form/periodic_donation_agreement_form.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(patches): make Mollie/Bank Transaction unique-index patches retriable
  verenigingen/patches.txt
  verenigingen/patches/v2_1/add_bank_transaction_reference_unique_index.py
  verenigingen/patches/v2_1/add_mollie_payment_entry_unique_index.py
  verenigingen/patches/v2_2/retry_mollie_and_bank_transaction_unique_indexes.py
  verenigingen/tests/patches/test_add_bank_transaction_reference_unique_index.py
  verenigingen/tests/patches/test_add_mollie_payment_entry_unique_index.py
  verenigingen/tests/patches/test_retry_mollie_and_bank_transaction_unique_indexes.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): consolidate the account/JE helpers instead of baselining them
  scripts/validation/duplicate_helper_baseline.txt
  verenigingen/tests/e_boekhouden/test_stock_account_handler_coverage.py
  verenigingen/tests/financial/test_create_period_closing_vouchers_pl_scan.py
  verenigingen/tests/support/test_accounts.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): invalidate the runner-global volunteer-assignment cache per test
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_enhanced_test_factory_drain.py
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(#815): add call-site guards for the volunteer-assignment cache reset
  verenigingen/tests/test_enhanced_test_factory_drain.py
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(ci): ratchet the order-dependence census upward-only (#815)
  .github/workflows/code-validation.yml
  scripts/testing/scan_order_dependence.py
  scripts/testing/tests/test_scan_order_dependence.py
  scripts/validation/order_dependence_baseline.txt
Due: api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking

fix(tests): log the volunteer-assignment cache reset failure at ERROR
  scripts/validation/harness_logger_teardown_baseline.txt
  scripts/validation/tests/test_harness_logger_teardown_census.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/harness_logger.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(809): derive the key in validate, and retire the unscoped-index patch
  verenigingen/fixtures/custom_field.json
  verenigingen/hooks/doc_events.py
  verenigingen/patches/v2_1/add_mollie_payment_entry_unique_index.py
  verenigingen/tests/verenigingen_payments/test_mollie_idempotency_backfill.py
  verenigingen/tests/verenigingen_payments/test_mollie_idempotency_constraint.py
  verenigingen/tests/verenigingen_payments/test_mollie_idempotency_key.py
  verenigingen/verenigingen_payments/utils/mollie_idempotency_key.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(809): scope the Mollie idempotency index with a Custom Field
  verenigingen/fixtures/custom_field.json
  verenigingen/hooks/doc_events.py
  verenigingen/hooks/fixtures.py
  verenigingen/patches.txt
  verenigingen/patches/v2_2/add_mollie_payment_entry_idempotency_key.py
  verenigingen/tests/verenigingen_payments/__init__.py
  verenigingen/tests/verenigingen_payments/test_mollie_idempotency_backfill.py
  verenigingen/tests/verenigingen_payments/test_mollie_idempotency_constraint.py
  verenigingen/tests/verenigingen_payments/test_mollie_idempotency_key.py
  verenigingen/verenigingen_payments/utils/mollie_idempotency_key.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-09-04 - I posted the mechanism twice and was wrong twice
  docs/handoffs/2026-09-04-i-posted-the-mechanism-twice-and-was-wrong-twice.md
Due: none

docs(handoff): record #811's merge and the confirmed #815 diagnosis
  docs/handoffs/2026-09-04-i-posted-the-mechanism-twice-and-was-wrong-twice.md
Due: none

fix(392): mark TEST-EB-Payment-Company's second owner drain-safe
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(383): retry submitting a draft Bank Transaction found by reference
  verenigingen/tests/services/test_bank_transaction_creator_coverage.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(398): make find_orphaned_schedules() cap deterministic (ORDER BY creation)
  verenigingen/services/billing/invoice_management.py
  verenigingen/services/billing/test_invoice_management.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(392): exercise the drain's real delete path, avoid ratchet growth
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(396): fix chapter/security barrel-init deadlocks, add repo-wide ratchet
  verenigingen/services/billing/test_billing_package_init.py
  verenigingen/services/chapter/__init__.py
  verenigingen/tests/security/test_security_modules.py
  verenigingen/tests/utils/barrel_init_ast.py
  verenigingen/tests/utils/test_barrel_init_no_self_import.py
  verenigingen/utils/security/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(383): scope the existing-Bank-Transaction lookup itself, not just the write
  verenigingen/tests/services/test_bank_transaction_creator_coverage.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(421): stop payment_mixin's invoice retry from committing mid-request
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/member/mixins/test_payment_mixin.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(410): wire up volunteer areas-of-interest on the application form
  verenigingen/public/js/membership_application.js
  verenigingen/services/member/approval/application_helpers.py
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/unit/membership-application-volunteer-interests.test.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

test(392): re-measure the harness-logger teardown census after the tearDown logger
  scripts/validation/tests/test_harness_logger_teardown_census.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(398): drop non-load-bearing commit() in decoy-orphan test fixture
  verenigingen/services/billing/test_invoice_management.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(421): bump order-dependence baseline for a load-bearing test commit
  scripts/validation/order_dependence_baseline.txt
Due: none

fix(442): resolve income accounts by root_type in 11 test fixtures
  verenigingen/tests/backend/components/test_payment_processing_api.py
  verenigingen/tests/backend/components/test_payment_processing_api_real.py
  verenigingen/tests/backend/components/test_sales_invoice_chapter_population.py
  verenigingen/tests/backend/integration/test_payment_report_integration.py
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/tests/sepa/test_sepa_realistic_business_scenarios.py
  verenigingen/tests/support/sepa_test_company.py
  verenigingen/verenigingen_payments/mollie/tests/test_dues_payment_processor_coverage_sweep.py
  verenigingen/verenigingen_payments/mollie/tests/test_dues_payment_processor_creation_unit.py
  verenigingen/verenigingen_payments/mollie/tests/test_dues_payment_processor_unit.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_payment_orchestrator_sweep.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(476): end_board_positions_safe no longer counts a chapter that failed to save
  verenigingen/services/termination/termination_integration.py
  verenigingen/tests/unit/test_termination_non_resumable_errors.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(535): wire real fields for sepa_configuration_service's live settings, drop the dead ones
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/verenigingen_payments_settings.json
  verenigingen/verenigingen_payments/services/sepa_configuration_service.py
  verenigingen/verenigingen_payments/tests/test_service_layer_validation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): key Bank Account fixture guards on the constraint erpnext enforces (#443)
  verenigingen/tests/backend/components/test_sepa_reconciliation.py
  verenigingen/tests/integration/test_bank_transaction_security.py
  verenigingen/tests/payment/test_bulk_transaction_importer_sweep.py
  verenigingen/tests/services/test_payment_entry_creation_service.py
  verenigingen/verenigingen_payments/mollie/tests/fixtures/payment_entry_fixtures.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_payment_db_integration.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_payment_processing.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Revert "test(421): bump order-dependence baseline for a load-bearing test commit"
  scripts/validation/order_dependence_baseline.txt
Due: none

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
