Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore(ci): regenerate known-test-failures baseline (2208 -> 62)
  verenigingen/tests/known_test_failures.txt
Due: none

fix(expenses): resolve volunteer cost center by field, not reconstructed name
  verenigingen/services/volunteer/volunteer_expense_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(factory): fix workflow-state and Region-code collisions in legacy factories
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/tests/utils/test_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

address review: harden cost-center fallback, region retry, factory comment
  verenigingen/services/volunteer/volunteer_expense_setup.py
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/tests/utils/test_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(test): design for issue #162 auth/RBAC test-harness fix
  docs/superpowers/specs/2026-07-20-issue-162-auth-test-harness-design.md
Due: none

fix(#162): re-arm auth/RBAC test surface + fix bulk-suspend bug
  docs/superpowers/specs/2026-07-20-issue-162-auth-test-harness-design.md
  verenigingen/api/suspension_api.py
  verenigingen/tests/integration/test_api_authentication_decorators_integration.py
  verenigingen/tests/integration/test_authentication_flows.py
  verenigingen/tests/integration/test_member_doctype_phase3_security.py
  verenigingen/tests/integration/test_sepa_mandate_authentication_security.py
  verenigingen/tests/integration/test_suspension_api_http_integration.py
  verenigingen/tests/integration/test_suspension_api_integration.py
  verenigingen/tests/known_test_failures.txt
  verenigingen/tests/security/test_integrated_security_payment_system.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

address review: strengthen RBAC/preview assertions + helper caveat
  verenigingen/tests/fixtures/role_profile_helper.py
  verenigingen/tests/integration/test_suspension_api_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(#162): keep test_performance_under_integrated_load baselined
  docs/superpowers/specs/2026-07-20-issue-162-auth-test-harness-design.md
  verenigingen/tests/known_test_failures.txt
Due: none

test(#162): reset batch-processor global queue between tests
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/known_test_failures.txt
  verenigingen/tests/known_test_failures_v16.txt
  verenigingen/tests/test_enhanced_test_factory_drain.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: strengthen batch-queue isolation regression to prove the mechanism
  verenigingen/tests/test_enhanced_test_factory_drain.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(spec): financial-history hook transaction-safety redesign
  docs/superpowers/specs/2026-07-20-financial-history-hook-transaction-safety-design.md
Due: none

docs(spec): revise per SWE review — enqueue params, bounded scan, test audit
  docs/superpowers/specs/2026-07-20-financial-history-hook-transaction-safety-design.md
Due: none

docs(plan): financial-history hook transaction-safety implementation plan
  docs/superpowers/plans/2026-07-20-financial-history-hook-transaction-safety.md
Due: none

fix(events): use real enqueue dedup/commit params (job_id/deduplicate/enqueue_after_commit)
  verenigingen/events/event_emitter.py
  verenigingen/events/invoice_events.py
  verenigingen/tests/events/test_invoice_events_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payment): defer Payment Entry payment-history hook to a worker job
  verenigingen/tests/payment/test_payment_entry_hook_defers.py
  verenigingen/utils/background_jobs.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(expense): defer Expense Claim on_submit history hook to a worker job
  verenigingen/services/volunteer/expense_handlers.py
  verenigingen/tests/events/test_expense_hook_defers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(expense): defer + converge Expense Claim on_cancel history hooks
  verenigingen/events/delayed_expense_hooks.py
  verenigingen/services/volunteer/expense_handlers.py
  verenigingen/tests/events/test_expense_hook_defers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: update stale removal test after on_cancel convergence (no-op now owned by on_expense_claim_cancel)
  verenigingen/tests/events/test_expense_events_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(expense): defer Expense Claim on_update_after_submit history hook
  verenigingen/events/delayed_expense_hooks.py
  verenigingen/tests/events/test_expense_hook_defers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: update stale add-path test after on_update_after_submit defers to enqueue
  verenigingen/tests/events/test_expense_events_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: e2e financial-history drain-job lands payment_history row
  verenigingen/tests/payment/test_payment_entry_hook_defers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(scheduler): correct miscadenced financial-history cron (6-field -> */5)
  verenigingen/hooks/scheduler.py
  verenigingen/tests/test_scheduler_cron_validity.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payment): reconcile payment-history catch-all against source-of-truth (bounded window)
  verenigingen/tests/payment/test_payment_history_reconciliation.py
  verenigingen/tests/payment/test_payment_history_validator.py
  verenigingen/utils/payment_history_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: address final-review findings (event_emitter per-subscriber job_id, stale tests, expense job_id discriminator)
  docs/superpowers/specs/2026-07-20-financial-history-hook-transaction-safety-design.md
  verenigingen/events/delayed_expense_hooks.py
  verenigingen/events/event_emitter.py
  verenigingen/services/volunteer/expense_handlers.py
  verenigingen/tests/events/test_approval_events_coverage.py
  verenigingen/tests/events/test_expense_events_coverage.py
  verenigingen/tests/events/test_expense_hook_defers.py
  verenigingen/utils/payment_history_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: update expense_handlers_coverage to assert enqueue (hooks now defer)
  verenigingen/tests/volunteer/test_expense_handlers_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

revert: leave event_emitter.py unchanged (scope creep + regression)
  verenigingen/events/event_emitter.py
  verenigingen/tests/events/test_approval_events_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payment): scope OptimizedMemberQueries bulk update in a savepoint
  verenigingen/tests/utils/test_optimized_queries_coverage.py
  verenigingen/utils/optimized_queries.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payment): guard savepoint rollback against deadlock-destroyed savepoint
  verenigingen/tests/utils/test_optimized_queries_coverage.py
  verenigingen/utils/optimized_queries.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(#168): investigation + plan for event_emitter enqueue-semantics fix
  docs/superpowers/plans/2026-07-20-event-emitter-enqueue-fix.md
Due: none

fix(events): real enqueue semantics in event_emitter (#168)
  verenigingen/events/approval_events.py
  verenigingen/events/event_emitter.py
  verenigingen/events/team_events.py
  verenigingen/tests/events/test_approval_events_coverage.py
  verenigingen/tests/events/test_team_events_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(#168): mark plan superseded in part by PR #171 (enqueue_after_commit dropped)
  docs/superpowers/plans/2026-07-20-event-emitter-enqueue-fix.md
Due: none

fix(#172): atomic counter/completion updates in BulkOperationTracker.update_progress
  verenigingen/verenigingen/doctype/bulk_operation_tracker/bulk_operation_tracker.py
  verenigingen/verenigingen/doctype/bulk_operation_tracker/test_bulk_operation_tracker.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(#172): derive retry list + error summary from linked ACRs
  verenigingen/verenigingen/doctype/bulk_operation_tracker/bulk_operation_tracker.py
  verenigingen/verenigingen/doctype/bulk_operation_tracker/test_bulk_operation_tracker.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(#172): rewire retry processor to derived source, read-time rate/ETA, bounded backoff
  verenigingen/utils/bulk_retry_processor.py
  verenigingen/utils/secure_operations.py
  verenigingen/verenigingen/doctype/bulk_operation_tracker/bulk_operation_tracker.py
  verenigingen/verenigingen/doctype/bulk_operation_tracker/test_bulk_operation_tracker.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(#172): implementation plan for bulk-tracker contention fix
  docs/superpowers/plans/2026-07-20-bulk-tracker-contention-fix.md
Due: none

fix(#172): complete the derive migration + address skeptical review
  verenigingen/tests/member/test_bulk_account_creation.py
  verenigingen/tests/report/test_bulk_operations_performance_report.py
  verenigingen/utils/bulk_performance_monitor.py
  verenigingen/verenigingen/doctype/bulk_operation_tracker/bulk_operation_tracker.py
  verenigingen/verenigingen/doctype/bulk_operation_tracker/test_bulk_operation_tracker.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/report/bulk_operations_performance_report/bulk_operations_performance_report.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(#172): MijnRood retry — remove dead 'No failed ACRs found' branch + fix its test
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/test_mijnrood_csv_import_pipeline.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payment-history): drop redundant synchronous writer, prune dead code
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/hooks/doc_events.py
  verenigingen/patches.txt
  verenigingen/patches/v2_2/remove_dead_performance_optimization_critical_operation_rules.py
  verenigingen/tests/payment/test_invoice_generation_and_payment_history_sync.py
  verenigingen/tests/payment/test_payment_history_reconciliation.py
  verenigingen/tests/payment/test_payment_history_validator.py
  verenigingen/tests/security/test_performance_security_fixes.py
  verenigingen/tests/utils/test_optimized_queries_coverage.py
  verenigingen/utils/cache_invalidation.py
  verenigingen/utils/optimized_queries.py
  verenigingen/utils/performance_event_handlers.py
  verenigingen/utils/performance_integration.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(payment-history): drive synchronous population in tests that assumed the removed on_submit rebuild
  verenigingen/tests/payment/test_payment_system_functionality.py
  verenigingen/tests/payment/test_regression_payment_history_draft_status.py
  verenigingen/tests/security/test_integrated_security_payment_system.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(payment-entry): make create-permission guard order-independent
  verenigingen/tests/services/test_payment_entry_creation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
