Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

test: fix dues-template factory crash + baseline elusive PE-rollback recon test
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/tests/known_test_failures.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(events,www): cover event-bus + portal pages; fix swallowed/broken-page bugs
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/tests/events/__init__.py
  verenigingen/tests/events/test_approval_events_coverage.py
  verenigingen/tests/events/test_expense_events_coverage.py
  verenigingen/tests/events/test_invoice_events_coverage.py
  verenigingen/tests/events/test_member_events_coverage.py
  verenigingen/tests/events/test_subscriber_utils_coverage.py
  verenigingen/tests/events/test_team_events_coverage.py
  verenigingen/tests/www/__init__.py
  verenigingen/tests/www/test_admin_www_pages_coverage.py
  verenigingen/tests/www/test_dues_www_pages_coverage.py
  verenigingen/tests/www/test_eboekhouden_www_pages_coverage.py
  verenigingen/tests/www/test_mollie_www_pages_coverage.py
  verenigingen/tests/www/test_monitoring_dashboard_coverage.py
  verenigingen/www/batch_optimizer.py
  verenigingen/www/dues_invoice_debugger.py
  verenigingen/www/e_boekhouden_status.py
  verenigingen/www/email_group_admin.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ci: bump frappe/erpnext/payments/hrms to version-16
  .github/actions/setup/action.yml
  .github/helper/install.sh
  .github/workflows/_base-server-tests.yml
  .github/workflows/server-tests.yml
Due: none

fix(www): stop dues-invoice-debugger crashing on log_error title overflow
  verenigingen/www/dues_invoice_debugger.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ci: bump CI Python to 3.14 for frappe/erpnext/payments v16
  .github/actions/setup/action.yml
  .github/workflows/_base-server-tests.yml
  .github/workflows/server-tests.yml
Due: none

ci: bump CI Node to 24 for frappe v16
  .github/actions/setup/action.yml
  .github/workflows/_base-server-tests.yml
  .github/workflows/server-tests.yml
Due: none

fix(tests): v16 fresh-site fiscal-year, default-company & due-date bootstrap
  verenigingen/e_boekhouden/utils/consolidated/date_utils.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/fixtures/sepa_test_factory.py
  verenigingen/tests/setup/__init__.py
  verenigingen/tests/support/sepa_test_company.py
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ci(tests): raise max_queued_jobs + baseline two v16 wall-clock/deadlock flakes
  .github/helper/db/mariadb.json
  verenigingen/tests/known_test_failures.txt
Due: email-template-validator

test(ci-gate): stop the no-new-failures gate self-test leaking synthetic ids
  verenigingen/tests/test_check_new_test_failures.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): stop enhanced_test_factory re-restricting the shared current-year FY
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(volunteer-expenses): clear batch queues in setUp (avoid Error-Log guard trip)
  verenigingen/tests/events/test_volunteer_expenses_history_restore.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(volunteer-expenses): failing test for restored volunteer_expenses history
  verenigingen/tests/events/test_volunteer_expenses_history_restore.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(volunteer-expenses): refresh remaining stale no-op comments + drop unused unpack
  verenigingen/tests/events/test_expense_events_coverage.py
  verenigingen/tests/events/test_volunteer_expenses_history_restore.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(volunteer-expenses): refresh stale no-op note after history restore
  verenigingen/tests/events/test_expense_events_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(volunteer-expenses): add read-only volunteer_expenses table to Member
  verenigingen/verenigingen/doctype/member/member.json
Due: email-template-validator

docs(volunteer-expenses): design spec to restore volunteer_expenses history
  docs/superpowers/specs/2026-06-22-restore-volunteer-expenses-history-design.md
Due: none

feat(volunteer-expenses): restore Member Volunteer Expenses child doctype
  verenigingen/verenigingen/doctype/member_volunteer_expenses/__init__.py
  verenigingen/verenigingen/doctype/member_volunteer_expenses/member_volunteer_expenses.json
  verenigingen/verenigingen/doctype/member_volunteer_expenses/member_volunteer_expenses.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(volunteer-expenses): implementation plan for volunteer_expenses restore
  docs/superpowers/plans/2026-06-22-restore-volunteer-expenses-history.md
Due: none

chore(volunteer-expenses): drop obsolete drop_volunteer_expense_archived_doctype patch
  verenigingen/patches.txt
  verenigingen/patches/v2_2/drop_volunteer_expense_archived_doctype.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(volunteer-expenses): cover expense-history removal path
  verenigingen/tests/events/test_volunteer_expenses_history_restore.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(expense-jobs): align scheduled expense-history jobs to live submitted-claim criterion
  verenigingen/services/volunteer/expense_history_batch_processor.py
  verenigingen/tests/volunteer/test_volunteer_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(member-history): align volunteer-expense integrity cleanup to submitted-claim criterion
  verenigingen/tests/utils/test_member_history_integrity.py
  verenigingen/utils/member_history_integrity.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): set_posting_time on back-dated SEPA test invoices
  verenigingen/tests/fixtures/sepa_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(volunteer): fix 4 order-dependent failures from the doctype sweep
  verenigingen/services/volunteer/assignment_query_builder.py
  verenigingen/tests/member/test_member_scheduler_coverage.py
  verenigingen/utils/error_handling.py
  verenigingen/verenigingen/doctype/volunteer/test_volunteer_coverage.py
  verenigingen/verenigingen/doctype/volunteer_assignment/test_volunteer_assignment.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(test): reuse invalidate_volunteer_assignment_cache instead of new helper
  verenigingen/services/volunteer/assignment_query_builder.py
  verenigingen/verenigingen/doctype/volunteer/test_volunteer_coverage.py
  verenigingen/verenigingen/doctype/volunteer_assignment/test_volunteer_assignment.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(portal): give contact-request test User a last_name (Contact-naming landmine)
  verenigingen/tests/backend/portal/test_page_contact_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(eboekhouden): fix 10 prod bugs surfaced by utils coverage sweep
  verenigingen/e_boekhouden/services/account_diagnostics_service.py
  verenigingen/e_boekhouden/utils/eboekhouden_enhanced_migration.py
  verenigingen/e_boekhouden/utils/eboekhouden_ledger_mapping.py
  verenigingen/e_boekhouden/utils/eboekhouden_migration_config.py
  verenigingen/e_boekhouden/utils/eboekhouden_payment_mapping.py
  verenigingen/e_boekhouden/utils/eboekhouden_smart_account_typing.py
  verenigingen/e_boekhouden/utils/import_manager.py
  verenigingen/e_boekhouden/utils/stock_account_handler.py
  verenigingen/e_boekhouden/utils/transaction_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(eboekhouden): coverage sweep on e_boekhouden/utils (~274 real-DB tests)
  verenigingen/tests/e_boekhouden/test_account_group_fix_coverage.py
  verenigingen/tests/e_boekhouden/test_cleanup_utils_coverage.py
  verenigingen/tests/e_boekhouden/test_create_custom_fields_coverage.py
  verenigingen/tests/e_boekhouden/test_enhanced_migration_coverage.py
  verenigingen/tests/e_boekhouden/test_import_manager_coverage.py
  verenigingen/tests/e_boekhouden/test_invoice_helpers_coverage.py
  verenigingen/tests/e_boekhouden/test_ledger_mapping_coverage.py
  verenigingen/tests/e_boekhouden/test_migration_config_coverage.py
  verenigingen/tests/e_boekhouden/test_party_resolver_coverage.py
  verenigingen/tests/e_boekhouden/test_payment_mapping_coverage.py
  verenigingen/tests/e_boekhouden/test_payment_processor_coverage.py
  verenigingen/tests/e_boekhouden/test_rest_client_coverage.py
  verenigingen/tests/e_boekhouden/test_rest_full_migration_helpers_coverage.py
  verenigingen/tests/e_boekhouden/test_rest_iterator_coverage.py
  verenigingen/tests/e_boekhouden/test_smart_account_typing_coverage.py
  verenigingen/tests/e_boekhouden/test_stock_account_handler_coverage.py
  verenigingen/tests/e_boekhouden/test_tegenrekening_mapper_coverage.py
  verenigingen/tests/e_boekhouden/test_transaction_utils_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(eboekhouden): make 4 sweep tests environment-robust (CI greening)
  verenigingen/tests/e_boekhouden/test_account_group_fix_coverage.py
  verenigingen/tests/e_boekhouden/test_invoice_helpers_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(eboekhouden): pin EUR currency in payment_processor draft PI
  verenigingen/tests/e_boekhouden/test_payment_processor_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(ponto): make sandbox-empty-secret test order-independent
  verenigingen/tests/payment/test_ponto_doctype_coverage_extra.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(eboekhouden): remove dead/superseded account-typing & migration code
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/services/account_migration_service.py
  verenigingen/e_boekhouden/utils/account_type_validator.py
  verenigingen/e_boekhouden/utils/bank_transaction_analysis.py
  verenigingen/e_boekhouden/utils/consolidated/__init__.py
  verenigingen/e_boekhouden/utils/consolidated/account_manager.py
  verenigingen/e_boekhouden/utils/consolidated/migration_coordinator.py
  verenigingen/e_boekhouden/utils/consolidated/party_manager.py
  verenigingen/e_boekhouden/utils/data_quality_utils.py
  verenigingen/e_boekhouden/utils/e_boekhouden_account_mapping_setup.py
  verenigingen/e_boekhouden/utils/eboekhouden_migration_enhancements.py
  verenigingen/e_boekhouden/utils/eboekhouden_smart_account_typing.py
  verenigingen/e_boekhouden/utils/error_handling_framework.py
  verenigingen/e_boekhouden/utils/migration_utils.py
  verenigingen/e_boekhouden/utils/payment_processing/overpayment_detector.py
  verenigingen/tests/e_boekhouden/test_migration_enhancements.py
  verenigingen/tests/e_boekhouden/test_smart_account_typing_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): site-tz getdate() for future-date guard + baseline 2 rebucketing flakes
  verenigingen/tests/known_test_failures.txt
  verenigingen/verenigingen_payments/mollie/services/dues_payment_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(eboekhouden): revive enhanced-migration framework + 102 coverage tests
  verenigingen/tests/e_boekhouden/test_migration_audit_trail.py
  verenigingen/tests/e_boekhouden/test_migration_date_chunking.py
  verenigingen/tests/e_boekhouden/test_migration_dry_run.py
  verenigingen/tests/e_boekhouden/test_migration_error_recovery.py
  verenigingen/tests/e_boekhouden/test_migration_performance.py
  verenigingen/tests/e_boekhouden/test_migration_pre_validation.py
  verenigingen/tests/e_boekhouden/test_migration_transaction_safety.py
  verenigingen/utils/migration/migration_audit_trail.py
  verenigingen/utils/migration/migration_date_chunking.py
  verenigingen/utils/migration/migration_dry_run.py
  verenigingen/utils/migration/migration_error_recovery.py
  verenigingen/utils/migration/migration_performance.py
  verenigingen/utils/migration/migration_pre_validation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: coverage sweep on portal pages, mollie helpers, member services (~224 tests)
  verenigingen/tests/backend/portal/test_page_address_change_coverage.py
  verenigingen/tests/backend/portal/test_page_manage_donations_coverage.py
  verenigingen/tests/backend/portal/test_page_member_portal_coverage.py
  verenigingen/tests/backend/portal/test_page_membership_adjustment_coverage.py
  verenigingen/tests/backend/portal/test_page_payment_success_coverage.py
  verenigingen/tests/backend/portal/test_page_personal_details_coverage.py
  verenigingen/tests/backend/portal/test_page_simple_controllers_coverage.py
  verenigingen/tests/services/test_member_account_coverage_supplement.py
  verenigingen/verenigingen_payments/mollie/tests/test_amount_helpers_unit.py
  verenigingen/verenigingen_payments/mollie/tests/test_donation_lookup_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(portal): force developer_mode in env-gated portal coverage tests
  verenigingen/tests/backend/portal/test_page_address_change_coverage.py
  verenigingen/tests/backend/portal/test_page_personal_details_coverage.py
  verenigingen/tests/backend/portal/test_page_simple_controllers_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(ci): baseline 3 order-dependent stragglers exposed by the coverage sweep
  verenigingen/tests/known_test_failures.txt
Due: none

feat(member): add allow_directory_listing + allow_photo_usage consent fields
  verenigingen/tests/backend/portal/test_page_personal_details_coverage.py
  verenigingen/verenigingen/doctype/member/member.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
