Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

test(mijnrood-sync): add end-to-end Approved event integration test
  verenigingen/tests/services/event_application/test_application_sync_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mijnrood-sync): delete mock-heavy test_event_application_service.py
  verenigingen/tests/services/test_event_application_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mijnrood-sync): correct volunteer_name key in _ensure_volunteer success message
  verenigingen/mijnrood_sync/services/event_application/volunteer_sync_service.py
  verenigingen/tests/services/event_application/test_volunteer_sync_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(refactor): add orchestrator decoupling design
  docs/plans/2026-05-15-orchestrator-decoupling-design.md
Due: none

docs(refactor): add orchestrator decoupling implementation plan
  docs/plans/2026-05-15-orchestrator-decoupling-plan.md
Due: none

feat(mijnrood-sync): add ACR dedup interface to MijnRoodRelatedRecordsOrchestrator
  verenigingen/mijnrood_sync/services/event_application/related_records_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mijnrood-sync): make orchestrator parameter optional across services
  verenigingen/mijnrood_sync/services/event_application/application_sync_service.py
  verenigingen/mijnrood_sync/services/event_application/member_sync_service.py
  verenigingen/mijnrood_sync/services/event_application/related_records_orchestrator.py
  verenigingen/mijnrood_sync/services/event_application/volunteer_sync_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mijnrood-sync): rewire related_records dedup to self, drop orchestrator usage
  verenigingen/mijnrood_sync/services/event_application/related_records_orchestrator.py
  verenigingen/tests/services/event_application/test_related_records_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mijnrood-sync): rewire volunteer_sync to call related_records directly
  verenigingen/mijnrood_sync/services/event_application/volunteer_sync_service.py
  verenigingen/tests/services/event_application/test_volunteer_sync_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mijnrood-sync): rewire member_sync to call peer services directly
  verenigingen/mijnrood_sync/services/event_application/member_sync_service.py
  verenigingen/tests/services/event_application/test_member_sync_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mijnrood-sync): rewire application_sync to call peer services directly
  verenigingen/mijnrood_sync/services/event_application/application_sync_service.py
  verenigingen/tests/services/event_application/test_application_sync_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mijnrood-sync): delete dead orchestrator shims from dispatcher
  verenigingen/mijnrood_sync/services/event_application/dispatcher.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mijnrood-sync): drop vestigial orchestrator parameter and _FakeOrchestrator fixture
  verenigingen/mijnrood_sync/services/event_application/application_sync_service.py
  verenigingen/mijnrood_sync/services/event_application/dispatcher.py
  verenigingen/mijnrood_sync/services/event_application/member_sync_service.py
  verenigingen/mijnrood_sync/services/event_application/related_records_orchestrator.py
  verenigingen/mijnrood_sync/services/event_application/volunteer_sync_service.py
  verenigingen/tests/services/event_application/_fixtures.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mijnrood-sync): fix changed_fields shape in test_updates_pending_application_fields
  verenigingen/tests/services/event_application/test_application_sync_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(refactor): mark Tier C event_application refactor complete
  docs/plans/2026-05-12-event-application-service-refactor-design.md
Due: none

fix(mijnrood-sync): bypass permissions for dues-rate sync; fix log_error arg order
  verenigingen/mijnrood_sync/services/event_application/related_records_orchestrator.py
  verenigingen/repositories/dues_schedule_repository.py
  verenigingen/tests/services/event_application/test_related_records_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(billing): mirror dues rate to Member without an elevation gate
  verenigingen/services/billing/fee_change_tracking_service.py
  verenigingen/tests/payment/test_billing_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(audit): add 2026-05-17 codebase health audit
  docs/audits/codebase-health-audit-2026-05-17.md
Due: none

fix(termination): log approver_notes instead of nonexistent rejection_reason
  verenigingen/services/termination/termination_audit_service.py
  verenigingen/tests/member/test_termination_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(billing): read circuit-breaker counter with get_value, not raw get
  verenigingen/services/billing/dues_schedule_creation_service.py
  verenigingen/tests/payment/test_billing_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donation): add belastingdienst_reportable field and auto-populate it
  verenigingen/tests/donor/test_other_service_coverage.py
  verenigingen/verenigingen/doctype/donation/donation.json
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen/doctype/donation/test_donation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(api): remove debug/maintenance endpoints from membership_application
  verenigingen/api/membership_application.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/public/js/services/api-service.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(mollie): accept unsigned webhooks instead of rejecting them
  verenigingen/tests/payment/test_mollie_webhook_signature_optional.py
  verenigingen/verenigingen_payments/utils/webhook_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(e-boekhouden): remove dead migration code
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/migration_api.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mollie): delete 7 orphaned debug/fix utility files
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/verenigingen_payments/mollie/utils/check_donation_status.py
  verenigingen/verenigingen_payments/mollie/utils/data_backfill_utility.py
  verenigingen/verenigingen_payments/mollie/utils/debug_issue.py
  verenigingen/verenigingen_payments/mollie/utils/debug_payment_entry.py
  verenigingen/verenigingen_payments/mollie/utils/fix_customer_data.py
  verenigingen/verenigingen_payments/mollie/utils/fix_donation_status.py
  verenigingen/verenigingen_payments/mollie/utils/manual_webhook_retry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(services): remove 8 dead singleton-accessor functions
  verenigingen/services/anbi_validation_service.py
  verenigingen/services/billing/dues_schedule_creation_service.py
  verenigingen/services/billing/duplicate_invoice_detector.py
  verenigingen/services/billing/eligibility_checker.py
  verenigingen/services/donation/financial_service.py
  verenigingen/services/donation/reporting_service.py
  verenigingen/services/monitoring/compliance_metrics_service.py
  verenigingen/services/monitoring/monitoring_metrics_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore: delete two orphaned debug scripts
  verenigingen/debug_campaign_simple.py
  verenigingen/debug_donation_test.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donation): clear belastingdienst_reportable when agreement unlinked
  verenigingen/patches.txt
  verenigingen/patches/v2_2/backfill_belastingdienst_reportable.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen/doctype/donation/test_donation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): stop double-wrapping webhook auth errors; quiet unsigned log
  verenigingen/tests/payment/test_mollie_webhook_signature_optional.py
  verenigingen/verenigingen_payments/utils/webhook_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(e-boekhouden): fix references to removed migration code
  docs/EBOEKHOUDEN_INTEGRATION_COMPREHENSIVE.md
  docs/subsystems/eboekhouden-integration.md
Due: none

fix(e-boekhouden): mark migration Failed when a phase reports an error
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/tests/e_boekhouden/test_migration_phase_failure.py
  verenigingen/utils/migration/stock_migration_fixed.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(e-boekhouden): isolate each mutation in a savepoint during batch import
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/uom_manager.py
  verenigingen/tests/e_boekhouden/test_mutation_savepoint.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(e-boekhouden): fix stale bank-account determination test
  verenigingen/e_boekhouden/utils/payment_processing/payment_entry_handler.py
  verenigingen/tests/e_boekhouden/test_e_boekhouden_migration_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(e-boekhouden): delete dead migration package (audit T4.0)
  verenigingen/e_boekhouden/utils/migration/__init__.py
  verenigingen/e_boekhouden/utils/migration/account_mapper.py
  verenigingen/e_boekhouden/utils/migration/migration_orchestrator.py
  verenigingen/e_boekhouden/utils/migration/quality_checker.py
  verenigingen/e_boekhouden/utils/migration/transaction_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(e-boekhouden): drop stale refs to deleted migration package
  docs/eboekhouden/README.md
  docs/eboekhouden/api/api-reference.md
  whitelist_files.txt
Due: none

refactor(permissions): replace hard-coded role literals with Roles constants (audit T4.5)
  verenigingen/permissions.py
  verenigingen/tests/backend/test_role_constants.py
  verenigingen/utils/constants.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(permissions,auth): correct wrong role-name literals (audit T4.5 follow-up)
  verenigingen/auth_hooks.py
  verenigingen/permissions.py
  verenigingen/tests/security/test_role_name_fixes.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(permissions): scope _users_with_chapter_board_role to parenttype=User
  verenigingen/permissions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
