Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

test(validation): invert the test that asserted the ratchet's blind spot
  scripts/validation/tests/test_duplicate_helper_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donations): drop the JE-creator widening; keep the picker fix (#442)
  verenigingen/tests/member/test_donor_auto_creation_management.py
  verenigingen/verenigingen_payments/services/donation_journal_entry_creator.py
  verenigingen/verenigingen_payments/services/donation_refund_journal_entry_creator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(fixtures): resolve the divergence by REMOVING the decorators, not adding them (#444)
  verenigingen/tests/payment/test_donation_subscription_activation.py
  verenigingen/tests/payment/test_mollie_gap_donation_financial_chain.py
  verenigingen/tests/payment/test_recurring_donation_charge.py
  verenigingen/tests/test_harness_leak_attribution.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): correct two claims the review falsified, and fix two siblings (#449)
  verenigingen/tests/payment/test_donation_subscription_activation.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(validation): --drift keys on the WORST pair, and gets tests (#445)
  scripts/validation/duplicate_helper_validator.py
  scripts/validation/tests/test_duplicate_helper_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(validation): regenerate the baseline after the header rewording
  scripts/validation/duplicate_helper_baseline.txt
Due: none

docs(handoff): 2026-08-22b - the review that reversed the fix
  docs/handoffs/2026-08-22b-the-review-that-reversed-the-fix.md
Due: none

fix(locks): one canonical parent-lock order, without dropping a history row (#459)
  verenigingen/services/termination/termination_execution_service.py
  verenigingen/tests/unit/test_board_seating_chapter_membership.py
  verenigingen/tests/unit/test_history_lock_order.py
  verenigingen/utils/base_history_manager.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/chapter/managers/board_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(locks): the third path, and an instrument that could not see it (#459)
  verenigingen/api/termination_api.py
  verenigingen/services/termination/termination_execution_service.py
  verenigingen/tests/unit/test_board_seating_chapter_membership.py
  verenigingen/tests/unit/test_history_lock_order.py
  verenigingen/utils/base_history_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(validation): the ratchet blocks clone families, not name collisions (#445)
  .github/workflows/code-validation.yml
  .pre-commit-config.yaml
  scripts/validation/duplicate_helper_baseline.txt
  scripts/validation/duplicate_helper_validator.py
  scripts/validation/tests/test_duplicate_helper_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(validation): regenerate the baseline after merging develop
  scripts/validation/duplicate_helper_baseline.txt
Due: none

docs(handoff): 2026-08-22c - the pair that already agreed
  docs/handoffs/2026-08-22c-the-pair-that-already-agreed.md
Due: none

chore(validation): regenerate the baseline after merging develop (#468)
  scripts/validation/duplicate_helper_baseline.txt
Due: none

docs(handoff): 2026-08-22c — the fix that already existed
  docs/handoffs/2026-08-22c-the-fix-that-already-existed.md
Due: none

fix(validation): the clone comparison gave different answers on different machines
  scripts/validation/duplicate_helper_baseline.txt
  scripts/validation/duplicate_helper_validator.py
  scripts/validation/tests/test_duplicate_helper_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): the comparison that gave different answers on different machines
  docs/handoffs/2026-08-22c-the-fix-that-already-existed.md
Due: none

docs(handoff): record #458 as merged (1dfcb224)
  docs/handoffs/2026-08-22c-the-fix-that-already-existed.md
Due: none

docs(handoff): rename to 2026-08-22d — another session took the c slot
  docs/handoffs/2026-08-22d-the-fix-that-already-existed.md
Due: none

docs(handoff): the title says 22d, matching the filename
  docs/handoffs/2026-08-22d-the-fix-that-already-existed.md
Due: none

fix(termination): a deadlock abandons the termination instead of being recorded (#470)
  verenigingen/services/termination/termination_execution_service.py
  verenigingen/services/termination/termination_integration.py
  verenigingen/services/termination/termination_operations.py
  verenigingen/services/termination/termination_utils.py
  verenigingen/tests/unit/test_termination_non_resumable_errors.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): a failed donation status update stops answering 200 (#464)
  verenigingen/tests/payment/test_donation_subscription_activation.py
  verenigingen/tests/payment/test_mollie_gap_unified_webhook_handlers.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(termination): the ratchet accepted a guard in name only (#470)
  verenigingen/services/termination/termination_execution_service.py
  verenigingen/services/termination/termination_integration.py
  verenigingen/tests/unit/test_termination_non_resumable_errors.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): the partial handler must fail on a recorded failure too (#464)
  verenigingen/tests/payment/test_donation_subscription_activation.py
  verenigingen/tests/payment/test_mollie_gap_unified_webhook_handlers.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): mark the status-update return as reported-elsewhere, not a lost write
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(termination): one termination-request fixture, not a copy per module
  verenigingen/tests/support/termination_request.py
  verenigingen/tests/unit/test_history_lock_order.py
  verenigingen/tests/unit/test_termination_non_resumable_errors.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-22e — the gate that was only advisory
  docs/handoffs/2026-08-22e-the-gate-that-was-only-advisory.md
Due: none

docs(handoff): 2026-08-22e - the ratchet that accepted the bug it blocks
  docs/handoffs/2026-08-22e-the-ratchet-that-accepted-the-bug.md
Due: none

docs(handoff): rename to 2026-08-22f - another session took the e slot
  docs/handoffs/2026-08-22f-the-ratchet-that-accepted-the-bug.md
Due: none

fix(termination): a non-resumable DB error stays recognisable at five reporting boundaries (#475)
  verenigingen/api/suspension_api.py
  verenigingen/api/termination_api.py
  verenigingen/mijnrood_sync/services/event_application/termination_sync_service.py
  verenigingen/services/termination/termination_execution_service.py
  verenigingen/tests/unit/test_termination_reporting_boundaries.py
  verenigingen/utils/history_manager_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(termination): pin the boundary-1/2 coupling through both real frames (#475)
  verenigingen/tests/unit/test_termination_reporting_boundaries.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(suspension): bind the outer bulk frame, which the loop test does not reach (#475)
  verenigingen/tests/unit/test_termination_reporting_boundaries.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(support): one builder for the two non-resumable DB errors (#475)
  verenigingen/tests/support/non_resumable_errors.py
  verenigingen/tests/unit/test_termination_non_resumable_errors.py
  verenigingen/tests/unit/test_termination_reporting_boundaries.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(suspension): the two siblings of the same boundary, and four corrections from review (#475)
  verenigingen/api/suspension_api.py
  verenigingen/api/termination_api.py
  verenigingen/tests/support/non_resumable_errors.py
  verenigingen/tests/unit/test_termination_non_resumable_errors.py
  verenigingen/tests/unit/test_termination_reporting_boundaries.py
  verenigingen/utils/history_manager_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-22g — the test that was already satisfied
  docs/handoffs/2026-08-22g-the-test-already-satisfied.md
Due: none

fix(tests): a cancel the drain cannot perform must not leak the row
  verenigingen/tests/backend/unit/controllers/test_member_controller.py
  verenigingen/tests/fixtures/singleton_backup.py
  verenigingen/tests/test_harness_leak_attribution.py
  verenigingen/tests/utils/base.py
  verenigingen/tests/utils/error_log_guard.py
  verenigingen/verenigingen_payments/mollie/tests/test_recurring_charge_live.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-22f — the rollback that put it back
  docs/handoffs/2026-08-22f-the-rollback-that-put-it-back.md
Due: none

fix(tests): one undeletable document must not abandon the rest of the cleanup
  verenigingen/tests/test_harness_leak_attribution.py
  verenigingen/tests/utils/factories.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): name the deadlock case, release the savepoints, guard the cancel
  verenigingen/tests/test_harness_leak_attribution.py
  verenigingen/tests/utils/cleanup_savepoint.py
  verenigingen/tests/utils/factories.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(api): pin the sixth non-resumable boundary before fixing it (#481)
  verenigingen/tests/unit/test_handle_api_error_non_resumable.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(api): a non-resumable DB error survives @handle_api_error (#481)
  verenigingen/utils/error_handling.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
