Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(notifications): register chapter transfer lifecycle keys
  verenigingen/notification_registry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(email): add chapter board member-lifecycle email templates
  verenigingen/fixtures/email_template.json
Due: email-template-validator

feat(chapter): set chapter_transfer flag during transfer for hook disambiguation
  verenigingen/services/chapter/chapter_membership_manager.py
  verenigingen/tests/chapter/test_chapter_board_lifecycle_notifications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mollie): Mollie Bulk Run — chronological, resumable, observable imports
  verenigingen/api/mollie_bulk_run_api.py
  verenigingen/hooks/scheduler.py
  verenigingen/services/communication/email_service.py
  verenigingen/templates/pages/mollie_payment_processing.html
  verenigingen/tests/payment/test_mollie_bulk_run.py
  verenigingen/verenigingen_payments/doctype/mollie_bulk_run/__init__.py
  verenigingen/verenigingen_payments/doctype/mollie_bulk_run/mollie_bulk_run.json
  verenigingen/verenigingen_payments/doctype/mollie_bulk_run/mollie_bulk_run.py
  verenigingen/verenigingen_payments/doctype/mollie_bulk_run_payment/__init__.py
  verenigingen/verenigingen_payments/doctype/mollie_bulk_run_payment/mollie_bulk_run_payment.json
  verenigingen/verenigingen_payments/doctype/mollie_bulk_run_payment/mollie_bulk_run_payment.py
  verenigingen/verenigingen_payments/services/__init__.py
  verenigingen/verenigingen_payments/services/mollie_bulk_run_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): add API and fetch-layer tests for bulk run
  verenigingen/tests/payment/test_mollie_bulk_run_api.py
  verenigingen/tests/payment/test_mollie_bulk_run_fetch.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chapter join/leave notifications
  verenigingen/tests/chapter/test_chapter_board_lifecycle_notifications.py
  verenigingen/verenigingen/doctype/chapter/managers/communication_manager.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/chapter_member/chapter_member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie_bulk_run): strip tzinfo from Mollie datetimes for MariaDB
  verenigingen/tests/payment/test_mollie_bulk_run_fetch.py
  verenigingen/verenigingen_payments/services/mollie_bulk_run_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mollie_bulk_run): drive runs from desk form (auto-enqueue + buttons)
  verenigingen/api/mollie_bulk_run_api.py
  verenigingen/tests/payment/test_mollie_bulk_run.py
  verenigingen/verenigingen_payments/doctype/mollie_bulk_run/mollie_bulk_run.js
  verenigingen/verenigingen_payments/doctype/mollie_bulk_run/mollie_bulk_run.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(mollie_bulk_run): add Critical Operation Rules for all bulk run API endpoints
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/patches.txt
  verenigingen/patches/v2_1/add_ing_checkout_and_mollie_bulk_run_critical_operation_rules.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie_bulk_run): mark rows Skipped (not Failed) when Bank Transaction exists
  verenigingen/tests/payment/test_mollie_bulk_run.py
  verenigingen/verenigingen_payments/services/mollie_bulk_run_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(report): MijnRood Member Reconciliation
  verenigingen/tests/member/test_mijnrood_member_reconciliation.py
  verenigingen/verenigingen/report/mijnrood_member_reconciliation/__init__.py
  verenigingen/verenigingen/report/mijnrood_member_reconciliation/mijnrood_member_reconciliation.js
  verenigingen/verenigingen/report/mijnrood_member_reconciliation/mijnrood_member_reconciliation.json
  verenigingen/verenigingen/report/mijnrood_member_reconciliation/mijnrood_member_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(admin_tools): restore broken method paths + add resolvability tests
  verenigingen/templates/pages/admin_tools.py
  verenigingen/tests/backend/unit/utils/test_application_helpers_reapplication.py
  verenigingen/tests/security/test_admin_tools_security.py
  verenigingen/utils/member_import_cleanup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie_sync): drop non-existent custom_subscription_status column write
  verenigingen/mijnrood_sync/services/event_application_service.py
  verenigingen/services/csv_import/mollie_sync_service.py
  verenigingen/tests/services/test_event_application_service.py
  verenigingen/tests/services/test_mollie_sync_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(termination): preserve savepoint nesting and propagate execution errors
  verenigingen/services/termination/termination_execution_service.py
  verenigingen/services/termination/termination_integration.py
  verenigingen/tests/services/test_termination_execution_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(chapter_board_member): correct filter operator and DocType in remove_board_member_role
  verenigingen/tests/chapter/test_chapter_board_member.py
  verenigingen/verenigingen/doctype/chapter_board_member/chapter_board_member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(report): reconcile pending applications against admin_membership_application
  verenigingen/tests/member/test_mijnrood_member_reconciliation.py
  verenigingen/verenigingen/report/mijnrood_member_reconciliation/mijnrood_member_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(settings): unblock admin settings load when Chapter Link is outside user permissions
  verenigingen/mijnrood_sync/doctype/mijnrood_document_folder_mapping/mijnrood_document_folder_mapping.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: email-template-validator

fix(chapter_perms): stop granting Chapter User Permission rows to admin/staff users
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/patches.txt
  verenigingen/patches/v2_1/cleanup_admin_chapter_user_permissions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(chapter_perms): cleanup admin Chapter User Permissions on User update
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/hooks/doc_events.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(fixtures): add missing batch_approve COR rules and dedupe file
  verenigingen/fixtures/critical_operation_rule.json
Due: email-template-validator

feat(member_list): rework filters and default columns
  verenigingen/patches.txt
  verenigingen/patches/v2_1/backfill_member_current_chapter.py
  verenigingen/services/member/display/member_chapter_display_service.py
  verenigingen/verenigingen/doctype/chapter_membership_history/chapter_membership_history.json
  verenigingen/verenigingen/doctype/member/member.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(patches): pass DocType (not table) name to has_column in backfill
  verenigingen/patches/v2_1/backfill_member_current_chapter.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(email_config): wire frappe-notification + user-preference flags, rename DocType
  verenigingen/hooks/fixtures.py
  verenigingen/notification_registry.py
  verenigingen/patches.txt
  verenigingen/patches/v15_0/add_team_chapter_notification_types.py
  verenigingen/patches/v15_0/migrate_email_settings_to_configuration.py
  verenigingen/patches/v2_1/rename_email_configuration_doctype.py
  verenigingen/services/communication/email_configuration_service.py
  verenigingen/services/communication/email_service.py
  verenigingen/services/volunteer/expense_handlers.py
  verenigingen/tests/backend/integration/test_notification_configuration_integration.py
  verenigingen/tests/backend/unit/doctype/test_email_configuration.py
  verenigingen/tests/backend/unit/services/test_email_configuration_service.py
  verenigingen/tests/backend/unit/utils/test_notification_helpers.py
  verenigingen/tests/frontend/doctypes/verenigingen-settings.test.js
  verenigingen/tests/services/test_event_application_service.py
  verenigingen/utils/csv_import_processor.py
  verenigingen/utils/notification_helpers.py
  verenigingen/verenigingen/doctype/chapter/managers/base_manager.py
  verenigingen/verenigingen/doctype/email_notification_type/email_notification_type.py
  verenigingen/verenigingen/doctype/verenigingen_email_configuration/__init__.py
  verenigingen/verenigingen/doctype/verenigingen_email_configuration/verenigingen_email_configuration.js
  verenigingen/verenigingen/doctype/verenigingen_email_configuration/verenigingen_email_configuration.json
  verenigingen/verenigingen/doctype/verenigingen_email_configuration/verenigingen_email_configuration.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
  verenigingen/verenigingen_payments/api/sepa_batch_notifications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(test_quality_enforcer): recognize tests/backend/{unit,security}/ paths
  scripts/validation/test_quality_enforcer.py
  verenigingen/patches/v15_0/migrate_email_settings_to_configuration.py
  verenigingen/services/communication/email_service.py
  verenigingen/tests/backend/integration/test_notification_configuration_integration.py
  verenigingen/utils/notification_helpers.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(test_quality_enforcer): scope rules to actual tests, allow infra mocks in security tier
  scripts/validation/test_quality_enforcer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): rename unit-style tests with _unit.py suffix for tier classifier
  scripts/validation/archived/block_inappropriate_mocks.py
  verenigingen/tests/backend/components/test_chapter_expense_report_unit.py
  verenigingen/tests/backend/components/test_suspension_member_mixin_unit.py
  verenigingen/tests/backend/comprehensive/test_erpnext_expense_edge_cases_unit.py
  verenigingen/tests/e_boekhouden/test_configurable_account_mapper_unit.py
  verenigingen/tests/email/test_email_system_edge_cases_unit.py
  verenigingen/tests/member/test_secure_csv_parser_unit.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_mandate_service_unit.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_webhook_handlers_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): make @self_service_only work for doc methods + plain Member tier
  verenigingen/templates/pages/membership_adjustment.py
  verenigingen/tests/security/test_self_service_doc_method_regression.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(test_quality_enforcer): broaden security infra allowlist; annotate mocks
  scripts/validation/archived/block_inappropriate_mocks.py
  scripts/validation/test_quality_enforcer.py
  verenigingen/tests/backend/components/test_payment_api_real_working.py
  verenigingen/tests/backend/components/test_payment_processing_api.py
  verenigingen/tests/backend/components/test_payment_processing_api_real.py
  verenigingen/tests/backend/components/test_payment_processing_real_template_handling.py
  verenigingen/tests/backend/integration/test_erpnext_expense_mock_elimination.py
  verenigingen/tests/backend/integration/test_member_contact_request_integration.py
  verenigingen/tests/backend/validation/test_approval_helpers.py
  verenigingen/tests/chapter/test_chapter_members_integration.py
  verenigingen/tests/email/test_email_service_integration.py
  verenigingen/tests/integration/test_account_creation_real.py
  verenigingen/tests/integration/test_membership_approval.py
  verenigingen/tests/integration/test_payment_api_integration_simple.py
  verenigingen/tests/integration/test_payment_processing_api_integration.py
  verenigingen/tests/integration/test_payment_processing_http_integration.py
  verenigingen/tests/member/test_member_doctype_integration.py
  verenigingen/tests/member/test_member_doctype_integration_fixed.py
  verenigingen/tests/member/test_membership_application_integration.py
  verenigingen/tests/payment/test_balances_client.py
  verenigingen/tests/payment/test_chargebacks_client.py
  verenigingen/tests/payment/test_invoices_client.py
  verenigingen/tests/payment/test_settlements_client.py
  verenigingen/tests/security/test_api_security_framework.py
  verenigingen/tests/security/test_auth_hooks_critical_security.py
  verenigingen/tests/security/test_auth_hooks_security.py
  verenigingen/tests/security/test_security_modules.py
  verenigingen/tests/security/test_security_setup.py
  verenigingen/tests/security/test_security_vulnerability_regression.py
  verenigingen/tests/sepa/test_sepa_mandate_integration.py
  verenigingen/tests/workflows/test_communication_system_integration.py
  verenigingen/verenigingen_payments/mollie/tests/integration/test_subscription_integration.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_webhook_security.py
  verenigingen/verenigingen_payments/mollie/tests/test_webhook_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): rewrite test_self_service_operations against the real validator API
  verenigingen/tests/security/test_self_service_operations.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): replace boundary mocks with real fixtures in security tests
  scripts/validation/test_quality_enforcer.py
  verenigingen/tests/backend/security/test_sepa_security_validation.py
  verenigingen/tests/security/test_admin_tools_security.py
  verenigingen/tests/security/test_secure_operations_security_audit.py
  verenigingen/tests/security/test_security_penetration.py
  verenigingen/tests/security/test_toctou.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_webhook_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): extract permission-bypass inserts in doctype coverage suites
  scripts/validation/test_quality_enforcer.py
  verenigingen/tests/e_boekhouden/test_eboekhouden_doctype_coverage.py
  verenigingen/tests/payment/test_ing_doctype_coverage.py
  verenigingen/tests/payment/test_ponto_doctype_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): use real chapter approver instead of admin bypass in volunteer portal tests
  scripts/validation/test_quality_enforcer.py
  verenigingen/tests/backend/integration/test_volunteer_portal_integration.py
  verenigingen/tests/integration/test_public_api_guest_access.py
  verenigingen/tests/sepa/test_sepa_security_comprehensive.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(test_quality_enforcer): broaden helper-name allowlist; allow force-delete cleanup
  scripts/validation/test_quality_enforcer.py
  verenigingen/tests/security/test_auth_hooks_security.py
  verenigingen/tests/security/test_security_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): repair syntax break from justification comment in continued with-stmt
  verenigingen/tests/payment/test_balances_client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(deps): drop package-lock.json, pin transitive vulns via yarn resolutions
  package-lock.json
  package.json
  yarn.lock
Due: email-template-validator

fix(perms): unblock volunteer activation for Staff/Admin; drop redundant chapter UPs
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/patches.txt
  verenigingen/patches/v2_2/remove_all_chapter_user_permissions.py
  verenigingen/services/member/account/account_creation_manager.py
  verenigingen/services/member/account/member_role_service.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/integration/test_account_creation_real.py
  verenigingen/tests/member/test_member_approval_permissions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(spec): organization document applies_on field + MijnRood reclassify action
  docs/superpowers/specs/2026-05-03-organization-document-applies-on-and-reclassify-design.md
Due: none

docs(plan): organization document applies_on field + MijnRood reclassify
  docs/superpowers/plans/2026-05-03-organization-document-applies-on-and-reclassify-plan.md
Due: none

feat(organization-document): add applies_on, precision, source_folder_id fields
  verenigingen/verenigingen/doctype/organization_document/organization_document.json
Due: email-template-validator

feat(organization-document): server-side normalize applies_on per precision
  verenigingen/tests/integration/test_organization_document_applies_on.py
  verenigingen/verenigingen/doctype/organization_document/organization_document.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
