Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

docs: finalize audit report with batch 6 assessment of remaining items
  docs/dry-solid-kiss-audit-part2-2026-02-21.md
Due: none

fix(tests): resolve broken imports in 3 previously-excluded test files
  verenigingen/tests/backend/comprehensive/test_financial_integration_edge_cases.py
  verenigingen/tests/integration/test_authentication_flows_comprehensive.py
  verenigingen/tests/integration/test_portal_authentication_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): rewrite suspension integration tests to eliminate inappropriate mocks
  verenigingen/tests/backend/integration/test_suspension_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): link user account to member in suspension test setUp
  verenigingen/tests/backend/integration/test_suspension_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): consolidate test factories — Phase 1 cleanup (-1,500 LOC)
  examples/scalability_testing_example.py
  scripts/testing/phase4_factory_streamlining.py
  verenigingen/tests/backend/components/test_member_iban_history.py
  verenigingen/tests/backend/components/test_member_lifecycle_iban.py
  verenigingen/tests/backend/comprehensive/test_comprehensive_edge_cases.py
  verenigingen/tests/backend/performance/test_performance_edge_cases.py
  verenigingen/tests/backend/workflows/test_member_lifecycle_complete.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/fixtures/payment_history_test_factory.py
  verenigingen/tests/fixtures/secure_test_data_factory.py
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/tests/fixtures/test_data_factory_extended.py
  verenigingen/tests/fixtures/test_secure_factory.py
  verenigingen/tests/scalability/payment_history_test_factory.py
  verenigingen/tests/test_all_imports.py
  verenigingen/tests/test_data_factory.py
  verenigingen/tests/test_invoice_validation_safeguards.py
  verenigingen/tests/test_membership_application_skills_secure.py
  verenigingen/tests/test_payment_history_scalability.py
  verenigingen/tests/test_sepa_mandate_member_integration_service.py
  verenigingen/tests/utils/base.py
  verenigingen/tests/utils/setup_helpers.py
  verenigingen/tests/utils/test_environment_validator.py
  verenigingen/tests/workflows/test_enhanced_membership_lifecycle.py
  verenigingen/verenigingen/doctype/chapter_member/test_chapter_members.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): consolidate test factories — Phase 2 Core enhancement + Enhanced delegation
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/fixtures/test_data_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): resolve 33 pre-existing test failures across 5 test modules
  docs/plans/2026-02-21-test-factory-consolidation-design.md
  verenigingen/tests/backend/workflows/test_member_lifecycle_basic.py
  verenigingen/verenigingen/doctype/chapter/test_chapter.py
  verenigingen/verenigingen/doctype/member/test_member.py
  verenigingen/verenigingen/doctype/membership/test_membership.py
  verenigingen/verenigingen/doctype/volunteer/test_volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): eliminate shadow factory methods — Phase 3 consolidation (-715 LOC)
  docs/plans/2026-02-21-test-factory-consolidation-design.md
  verenigingen/tests/backend/components/test_base.py
  verenigingen/tests/backend/components/test_chapter_dashboard.py
  verenigingen/tests/backend/components/test_member_iban_history.py
  verenigingen/tests/backend/components/test_member_lifecycle_iban.py
  verenigingen/tests/backend/components/test_membership_analytics_permissions.py
  verenigingen/tests/backend/components/test_volunteer_edge_cases.py
  verenigingen/tests/backend/comprehensive/test_dd_batch_edge_cases_comprehensive.py
  verenigingen/tests/backend/comprehensive/test_termination_system_comprehensive.py
  verenigingen/tests/backend/integration/test_erpnext_integration_complete.py
  verenigingen/tests/backend/unit/api/test_chapter_api.py
  verenigingen/tests/backend/unit/api/test_volunteer_api.py
  verenigingen/tests/backend/unit/utils/test_application_helpers_reapplication.py
  verenigingen/tests/backend/workflows/test_member_lifecycle.py
  verenigingen/tests/backend/workflows/test_payment_failure_recovery.py
  verenigingen/tests/backend/workflows/test_volunteer_journey.py
  verenigingen/tests/integration/test_chapter_membership_approval_integration.py
  verenigingen/tests/test_dd_batch_api_integration.py
  verenigingen/tests/test_email_newsletter_system.py
  verenigingen/tests/unit/test_member_payment_matcher.py
  verenigingen/tests/workflows/test_volunteer_board_finance_persona.py
  verenigingen/verenigingen/doctype/chapter/test_chapter_volunteer_integration.py
  verenigingen/verenigingen/doctype/region/test_region_OLD.py
  verenigingen/verenigingen/doctype/vip_import/test_vip_import.py
  verenigingen/verenigingen/doctype/volunteer/test_volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): resolve pre-existing test failures from in_print flag pollution
  verenigingen/tests/backend/components/test_member_iban_history.py
  verenigingen/tests/backend/unit/services/test_chapter_management_service.py
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/tests/test_dd_batch_api_integration.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: add codebase-wide DRY/SOLID/KISS audit report
  docs/audits/codebase-dry-solid-kiss-audit-2026-02-23.md
  docs/tech-debt-audit-2026-02-05.md
Due: none

fix(security): audit remediation Phase 1 — SQL injection fix + dead code removal (-8,038 LOC)
  verenigingen/api/chapter_dashboard_debug.py
  verenigingen/api/generate_test_applications.py
  verenigingen/api/generate_test_members.py
  verenigingen/api/member_management_debug.py
  verenigingen/api/test_audit_routing.py
  verenigingen/api/test_coverage_fields.py
  verenigingen/api/test_donation_controller.py
  verenigingen/api/test_dues_schedule_report.py
  verenigingen/api/test_eboekhouden_connection.py
  verenigingen/api/test_expense_fix.py
  verenigingen/api/test_financial_history_fix.py
  verenigingen/api/test_incremental_edge_cases.py
  verenigingen/api/test_incremental_update_final.py
  verenigingen/api/test_member_portal_coverage.py
  verenigingen/api/test_monitoring.py
  verenigingen/api/test_refresh_reliability.py
  verenigingen/api/test_specific_transaction.py
  verenigingen/api/test_template_fixes.py
  verenigingen/api/test_webhook_signature.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/templates/pages/donate_optimized.py
  verenigingen/tests/backend/business_logic/test_critical_business_logic.py
  verenigingen/tests/frontend/unit/member-form.spec.js
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.py
  verenigingen/verenigingen_payments/mollie/api/webhooks.py
  verenigingen/verenigingen_payments/mollie/services/webhook_service.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

docs: update audit report with Phase 1 remediation results (-8,038 LOC)
  docs/audits/codebase-dry-solid-kiss-audit-2026-02-23.md
Due: none

fix(security): delete 11 more test/debug files from api/ + clean orphaned fixtures (-2,315 LOC)
  docs/audits/codebase-dry-solid-kiss-audit-2026-02-23.md
  verenigingen/api/clean_test_chapter.py
  verenigingen/api/debug_test_memberships.py
  verenigingen/api/eboekhouden_quick_test.py
  verenigingen/api/eboekhouden_test_runner.py
  verenigingen/api/final_refresh_test.py
  verenigingen/api/integration_test_framework.py
  verenigingen/api/manual_persona_test.py
  verenigingen/api/migration_cleanup_test.py
  verenigingen/api/phase5a_test_execution.py
  verenigingen/api/run_chapter_basic_test.py
  verenigingen/api/simple_mutation_test.py
  verenigingen/fixtures/critical_operation_rule.json
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: add Phase 2 deduplication design document
  docs/plans/2026-02-23-phase2-deduplication-design.md
Due: none

docs: add Phase 2 deduplication implementation plan
  docs/plans/2026-02-23-phase2-deduplication-plan.md
Due: none

refactor: delegate IBAN/email validation to canonical sources
  verenigingen/utils/validation/api_validators.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: extract _has_admin_access() helper in permissions.py
  verenigingen/permissions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: extract subscriber_utils with get_doc_if_exists() and should_skip_for_bulk()
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/events/subscribers/subscriber_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(e_boekhouden): extract shared invoice and party creation helpers (-50 LOC)
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: update audit report with Phase 2 deduplication results (-50 LOC)
  docs/audits/codebase-dry-solid-kiss-audit-2026-02-23.md
Due: none

refactor: delete SEPA operation spike files — dead code removal (-3,537 LOC)
  docs/audits/codebase-dry-solid-kiss-audit-2026-02-23.md
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/tests/test_frappe_native_sepa_operations.py
  verenigingen/tests/test_sepa_optimization.py
  verenigingen/tests/test_sepa_simple_baseline.py
  verenigingen/utils/sepa_baseline_test.py
  verenigingen/utils/sepa_optimization_comparison.py
  verenigingen/utils/sepa_three_way_comparison.py
  verenigingen/verenigingen_payments/utils/frappe_native_sepa_operations.py
  verenigingen/verenigingen_payments/utils/frappe_native_sepa_operations_optimized.py
  verenigingen/verenigingen_payments/utils/sepa_operations_bulk_true.py
  verenigingen/verenigingen_payments/utils/sepa_operations_simple.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: extract require_login() and remove redundant guest checks (-67 LOC)
  verenigingen/templates/pages/address_change.py
  verenigingen/templates/pages/board/document_browser.py
  verenigingen/templates/pages/board/document_upload.py
  verenigingen/templates/pages/brand_management.py
  verenigingen/templates/pages/contact_request.py
  verenigingen/templates/pages/manage_donations.py
  verenigingen/templates/pages/member_portal.py
  verenigingen/templates/pages/membership_adjustment.py
  verenigingen/templates/pages/mollie_bulk_payment_creation.py
  verenigingen/templates/pages/mollie_payment_processing.py
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/templates/pages/mollie_subscription_recreation.py
  verenigingen/templates/pages/my_dues_schedule.py
  verenigingen/templates/pages/payment_dashboard.py
  verenigingen/templates/pages/ponto_api_debug.py
  verenigingen/templates/pages/sepa_reconciliation_dashboard.py
  verenigingen/templates/pages/volunteer-portal/expense_claim_new.py
  verenigingen/templates/pages/volunteer/dashboard.py
  verenigingen/templates/pages/volunteer/expense_claim_new.py
  verenigingen/templates/pages/volunteer/profile.py
  verenigingen/templates/pages/volunteer/skills.py
  verenigingen/utils/member_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: audit remediation Phase 3+4 — dead code and deprecated module cleanup (-2,668 LOC)
  docs/audits/codebase-dry-solid-kiss-audit-2026-02-23.md
  scripts/performance/infrastructure_validator.py
  scripts/testing/monitoring/generate_test_data.py
  scripts/testing/monitoring/simple_monitoring_test.py
  scripts/testing/monitoring/test_monitoring_system.py
  scripts/testing/monitoring/validate_monitoring.py
  scripts/testing/runners/run_core_tests.py
  scripts/testing/runners/run_tests.py
  scripts/validation/security/insecure_api_detector.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/tests/e2e/test_workflow_validation.py
  verenigingen/tests/integration/test_monitoring_system_comprehensive.py
  verenigingen/tests/performance/test_performance_scenarios.py
  verenigingen/tests/resilience/test_error_recovery.py
  verenigingen/tests/security/test_role_profile_integration.py
  verenigingen/tests/test_api_security_framework.py
  verenigingen/tests/test_harness.py
  verenigingen/tests/test_security_framework_comprehensive.py
  verenigingen/utils/performance_optimizer.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/security/types.py
  verenigingen/verenigingen_payments/core/resilience/__init__.py
  verenigingen/verenigingen_payments/core/resilience/circuit_breaker.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: remove 65 dead API functions across 25 files (-4,983 LOC)
  docs/ADMIN_GUIDE.md
  docs/GETTING_STARTED.md
  docs/INSTALLATION.md
  verenigingen/api/anbi_account_setup.py
  verenigingen/api/chapter_dashboard_api.py
  verenigingen/api/check_auto_invoice_settings.py
  verenigingen/api/check_mollie_config.py
  verenigingen/api/customer_member_link.py
  verenigingen/api/database_index_manager_phase5a.py
  verenigingen/api/email_template_manager.py
  verenigingen/api/manual_invoice_generation.py
  verenigingen/api/membership_application.py
  verenigingen/api/membership_application_review.py
  verenigingen/api/overdue_application_notifications.py
  verenigingen/api/payment_plan_management.py
  verenigingen/api/payment_processing.py
  verenigingen/api/performance_api_validator.py
  verenigingen/api/performance_dashboard_activator.py
  verenigingen/api/performance_measurement_api.py
  verenigingen/api/periodic_donation_operations.py
  verenigingen/api/refund_processor.py
  verenigingen/api/sepa_duplicate_prevention.py
  verenigingen/api/sepa_phantom_hash_admin.py
  verenigingen/api/suspension_api.py
  verenigingen/api/team_admin_utilities.py
  verenigingen/api/termination_api.py
  verenigingen/api/update_prepare_system_button.py
  verenigingen/api/workspace_validator_enhanced.py
  verenigingen/fixtures/critical_operation_rule.json
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: update audit report with dead function removal results (-4,983 LOC)
  docs/audits/codebase-dry-solid-kiss-audit-2026-02-23.md
Due: none

fix(e_boekhouden): correct MUTATION_TYPE_SINGULAR mapping and remove dead code
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/import_manager.py
  verenigingen/templates/pages/apply_for_membership.py
  verenigingen/templates/pages/membership_adjustment.py
  verenigingen/templates/pages/membership_application.py
  verenigingen/templates/pages/mollie_bulk_payment_creation.py
  verenigingen/templates/pages/mollie_payment_processing.py
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/templates/pages/mollie_subscription_recreation.py
  verenigingen/utils/settings_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: update audit report with Phase 5 bug fixes and settings consolidation
  docs/audits/codebase-dry-solid-kiss-audit-2026-02-23.md
Due: none

fix: resolve pre-push test quality enforcer false positives
  scripts/validation/test_quality_enforcer.py
  verenigingen/tests/integration/test_chapter_membership_approval_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(member): add doc param to frm.call for address members doctype method
  verenigingen/verenigingen/doctype/member/member.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(mijnrood_sync): use membership start date as chapter join date
  verenigingen/mijnrood_sync/services/event_application_service.py
  verenigingen/services/chapter/chapter_assignment_service.py
  verenigingen/tests/services/test_event_application_service.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: add design for Mollie bank account update feature
  docs/plans/2026-02-26-mollie-bank-account-update-design.md
Due: none

docs: add implementation plan for Mollie bank account update
  docs/plans/2026-02-26-mollie-bank-account-update-plan.md
Due: none

feat(mollie): add update_subscription_mandate() service method
  verenigingen/services/mollie_debug_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mollie): add update_mollie_bank_account API endpoint
  verenigingen/api/mollie_payment.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mollie): add update bank account UI to payment dashboard
  verenigingen/templates/pages/payment_dashboard.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

fix(mollie): address code review issues in bank account update
  verenigingen/api/mollie_payment.py
  verenigingen/templates/pages/payment_dashboard.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(dashboard): replace removed Volunteer Expense with Expense Claim
  verenigingen/templates/pages/chapter_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(chapter): support wildcard range postal code patterns (e.g., 1*-9*)
  verenigingen/verenigingen/doctype/chapter/validators/postal_code_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
