Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

refactor: use Payments Settings for dues account fields in invoice generator
  verenigingen/services/billing/invoice_generator.py
  verenigingen/utils/sales_invoice_account_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: use Payments Settings for dues_income_account in schedule and mollie processor
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen_payments/mollie/services/dues_payment_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: use Payments Settings for dues_income_account in pages
  verenigingen/verenigingen/page/chapter_dues_allocation/chapter_dues_allocation.py
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: use Payments Settings for ponto_payment_description_template
  verenigingen/templates/pages/ponto_api_debug.py
  verenigingen/verenigingen_payments/doctype/ponto_payment_link/ponto_payment_link.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: use Payments Settings for mollie_subscription_description_template in template
  verenigingen/templates/pages/bank_details.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

test: update tests to use Payments Settings for dues account fields
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/integration/services/test_invoice_generator.py
  verenigingen/verenigingen/doctype/verenigingen_settings/test_verenigingen_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(settings): remove payment fields migrated to Payments Settings
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: email-template-validator

fix(settings): ensure consistent Document return type in settings utils
  verenigingen/utils/settings_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(payment-dashboard): show subscription description template as reference
  verenigingen/templates/pages/payment_dashboard.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

fix(payment-schedule): use dues_rate directly without multiplying by months
  verenigingen/api/payment_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(payment-dashboard): show dues rate per period with monthly equivalent
  verenigingen/templates/pages/payment_dashboard.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

fix(payment-schedule): use next_invoice_date and improve descriptions
  verenigingen/api/payment_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(payment-dashboard): replace schedule tab with compact upcoming dates
  verenigingen/templates/pages/payment_dashboard.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

fix(navigation): replace broken /member_dashboard links
  verenigingen/templates/pages/bank_details_confirm.py
  verenigingen/templates/pages/bank_details_success.html
  verenigingen/templates/pages/manage_donations.html
  verenigingen/templates/pages/member_portal_new.html
  verenigingen/templates/pages/membership_adjustment.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

style(payment-dashboard): make Adjust Dues Rate card more prominent
  verenigingen/templates/pages/payment_dashboard.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

fix(email): check is_email_enabled before template loading
  verenigingen/services/communication/email_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: delete bank_details page, move utilities to proper locations
  verenigingen/api/mollie_payment.py
  verenigingen/fixtures/custom_html_block.json
  verenigingen/public/js/mobile_dues_schedule.js
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/templates/emails/payment_retry_failed.html
  verenigingen/templates/pages/bank_details.html
  verenigingen/templates/pages/bank_details.py
  verenigingen/templates/pages/bank_details_confirm.html
  verenigingen/templates/pages/bank_details_confirm.py
  verenigingen/templates/pages/bank_details_success.html
  verenigingen/templates/pages/bank_details_success.py
  verenigingen/templates/pages/manage_donations.html
  verenigingen/templates/pages/member_portal.py
  verenigingen/templates/pages/member_portal_new.html
  verenigingen/templates/pages/member_portal_new.py
  verenigingen/templates/pages/my_dues_schedule.html
  verenigingen/templates/pages/payment_dashboard.html
  verenigingen/templates/pages/payment_dashboard.py
  verenigingen/utils/mollie_data_validator.py
  verenigingen/verenigingen_payments/templates/emails/sepa_mandate_cancelled.html
  verenigingen/verenigingen_payments/utils/sepa_notifications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

feat(payment-dashboard): add Mollie subscription cancel and setup buttons
  verenigingen/api/mollie_payment.py
  verenigingen/templates/pages/payment_dashboard.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): add working SEPA Direct Debit setup API endpoint
  verenigingen/api/member/sepa_api.py
  verenigingen/templates/pages/payment_dashboard.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): add Critical Operation Rules for setup_sepa_direct_debit
  verenigingen/fixtures/critical_operation_rule.json
Due: email-template-validator

payment settings reorg and tests
  docs/plans/2026-02-03-move-payment-fields-to-payments-settings.md
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/test_verenigingen_payments_settings.py
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/verenigingen_payments_settings.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: remove obsolete dues_income_account validation from settings
  verenigingen/tests/backend/unit/services/test_chapter_management_service.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: add Critical Operation Rules for Ponto refresh_user_info
  verenigingen/fixtures/critical_operation_rule_ponto_debug.json
Due: email-template-validator

fix: consolidate all notifications to respect Email Configuration
  verenigingen/fixtures/notification.json
  verenigingen/hooks/doc_events.py
  verenigingen/hooks/fixtures.py
  verenigingen/utils/csv_import_processor.py
  verenigingen/utils/expense_handlers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(payments): extract utility functions from financial dashboard
  verenigingen/verenigingen_payments/dashboards/financial_dashboard.py
  verenigingen/verenigingen_payments/utils/financial_calculation_utils.py
  verenigingen/verenigingen_payments/utils/timezone_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(membership-adjustment): fix 4 issues in dues adjustment page
  verenigingen/templates/pages/membership_adjustment.html
  verenigingen/templates/pages/membership_adjustment.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(amendment): prevent duplicate dues rate history entries on fee change
  verenigingen/services/approval/contribution_amendment_approval_service.py
  verenigingen/services/billing/fee_change_tracking_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: centralize fee change recording with smart deduplication
  verenigingen/services/approval/contribution_amendment_approval_service.py
  verenigingen/services/billing/fee_change_tracking_service.py
  verenigingen/services/member/core/member_fee_change_service.py
  verenigingen/services/member/financial/__init__.py
  verenigingen/services/member/financial/fee_change_recording_service.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mollie): align payment retrieval modes with centralized member matching
  verenigingen/services/mollie_debug_service.py
  verenigingen/templates/pages/mollie_payment_processing.html
  verenigingen/templates/pages/mollie_payment_processing.py
  verenigingen/verenigingen_payments/mollie/services/dues_payment_processor.py
  verenigingen/verenigingen_payments/mollie/utils/member_payment_matcher.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): add MemberPaymentMatcher unit tests
  verenigingen/tests/unit/test_member_payment_matcher.py
  verenigingen/verenigingen_payments/mollie/utils/member_payment_matcher.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(volunteer-expenses): consolidate duplicate portal code into shared utilities
  verenigingen/services/volunteer/expense_submission_service.py
  verenigingen/templates/includes/expense_error_banner.html
  verenigingen/templates/includes/expense_statistics_cards.html
  verenigingen/templates/pages/volunteer-portal/expense_claim_new.html
  verenigingen/templates/pages/volunteer-portal/expense_claim_new.py
  verenigingen/templates/pages/volunteer/expenses.html
  verenigingen/templates/pages/volunteer/expenses.py
  verenigingen/utils/volunteer_expense_portal_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(security): remove redundant CSRF wrapper and deprecate circuit breakers
  verenigingen/tests/resilience/test_error_recovery.py
  verenigingen/tests/test_api_security_framework.py
  verenigingen/tests/test_security_framework_comprehensive.py
  verenigingen/tests/test_sepa_week3_features.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen_payments/core/http_client.py
  verenigingen/verenigingen_payments/core/resilience/__init__.py
  verenigingen/verenigingen_payments/core/resilience/circuit_breaker.py
  verenigingen/verenigingen_payments/utils/sepa_retry_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): improve payment recovery detection and add orphan processing
  verenigingen/utils/payment_processing_recovery.py
  verenigingen/verenigingen_payments/mollie/services/dues_payment_processor.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
  verenigingen/verenigingen_payments/services/mollie_payment_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(portal): extract business logic from www controllers into services
  verenigingen/services/monitoring/__init__.py
  verenigingen/services/monitoring/compliance_metrics_service.py
  verenigingen/services/monitoring/monitoring_metrics_service.py
  verenigingen/services/payment/__init__.py
  verenigingen/services/payment/mollie_reconciliation_service.py
  verenigingen/services/payment/mollie_webhook_service.py
  verenigingen/tests/integration/test_monitoring_system_comprehensive.py
  verenigingen/verenigingen/onboarding_step/verenigingen_create_member/verenigingen_create_member.json
  verenigingen/www/mollie_member_reconciliation.py
  verenigingen/www/mollie_subscription_audit.py
  verenigingen/www/monitoring_dashboard.py
  verenigingen/www/onboarding_member_setup.html
  verenigingen/www/onboarding_member_setup.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(application): add two-phase membership selection and configurable form
  verenigingen/patches.txt
  verenigingen/patches/v2_1/migrate_contribution_mode_values.py
  verenigingen/public/js/membership_application.js
  verenigingen/services/member/approval/member_approval_service.py
  verenigingen/templates/pages/apply_for_membership.html
  verenigingen/templates/pages/apply_for_membership.py
  verenigingen/templates/pages/membership_application.py
  verenigingen/utils/application_helpers.py
  verenigingen/verenigingen/doctype/application_payment_method/__init__.py
  verenigingen/verenigingen/doctype/application_payment_method/application_payment_method.json
  verenigingen/verenigingen/doctype/application_payment_method/application_payment_method.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.json
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/verenigingen/doctype/volunteer_skill_category/__init__.py
  verenigingen/verenigingen/doctype/volunteer_skill_category/volunteer_skill_category.json
  verenigingen/verenigingen/doctype/volunteer_skill_category/volunteer_skill_category.py
  verenigingen/www/monitoring_dashboard.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

docs: add tech debt review and refactoring status documentation
  docs/refactoring/PAYMENT_ENTRY_CONSOLIDATION_PLAN.md
  docs/refactoring/SEPA_API_MIGRATION_STATUS.md
  docs/reports/TECH_DEBT_REVIEW_2026-02-05.md
Due: none

chore: remove duplicate commented-out pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs: update tech debt report with test verification results
  docs/reports/TECH_DEBT_REVIEW_2026-02-05.md
Due: none

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
