Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

docs: record the chaos run's second finding and the 8/8 replay match
  docs/handoffs/2026-08-14-the-ratchet-and-the-telescope.md
Due: none

docs: final chaos tally — 12/12 replay match, three findings, one of them #308's
  docs/handoffs/2026-08-14-the-ratchet-and-the-telescope.md
Due: none

fix(onboarding): seed the security step the module onboarding references
  verenigingen/setup/__init__.py
  verenigingen/tests/backend/components/test_setup_workspace_onboarding.py
  verenigingen/verenigingen/onboarding_step/verenigingen_configure_security/verenigingen_configure_security.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): repair one dead onboarding endpoint, delete the other
  docs/SECURITY_CONFIGURATION_GUIDE.md
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/tests/backend/security/test_configure_security_step.py
  verenigingen/verenigingen/onboarding_step/verenigingen_configure_security/verenigingen_configure_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): find the dues schedule, and stop downgrading annual to monthly
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/tests/payment/test_mollie_subscription_service_coverage.py
  verenigingen/verenigingen_payments/mollie/services/mollie_subscription_sync_service.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): a recurring charge that actually settles, and delete the demo
  verenigingen/verenigingen_payments/mollie/tests/integration/test_subscription_integration.py
  verenigingen/verenigingen_payments/mollie/tests/test_recurring_charge_live.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(test): rename four test_*.py files that contain no tests
  verenigingen/tests/financial/test_mollie_financial_safeguards.py
  verenigingen/tests/mollie_test_orchestrator.py
  verenigingen/tests/payment/mollie_api_data_factory.py
  verenigingen/tests/payment/test_mollie_edge_cases_integration.py
  verenigingen/tests/payment/test_mollie_performance_benchmarks.py
  verenigingen/tests/performance/test_mollie_performance_benchmarks.py
  verenigingen/tests/test_timings.json
  verenigingen/verenigingen_payments/mollie/tests/fixtures/factory.py
  verenigingen/verenigingen_payments/mollie/tests/mollie_integration_check.py
  verenigingen/verenigingen_payments/mollie/tests/subscription_persona.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): correct the interval producers, gate repricing, use the repository
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/tests/payment/test_mollie_subscription_consolidation.py
  verenigingen/tests/payment/test_mollie_subscription_service_coverage.py
  verenigingen/verenigingen_payments/mollie/services/mollie_subscription_sync_service.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): drop the test that asserted constants against a stub
  verenigingen/tests/test_timings.json
  verenigingen/verenigingen_payments/mollie/tests/test_recurring_charge_live.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(test): keep the interval guards working where there is no Mollie key
  verenigingen/tests/payment/test_mollie_subscription_service_coverage.py
  verenigingen/tests/payment/test_payment_gateways_endpoints.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

tooling(test): run a module as CI sees it, with no gateway credentials
  scripts/testing/run_without_credentials.sh
Due: none

fix(test): make the teardown leak report actually reach the log
  verenigingen/tests/test_timings.json
  verenigingen/verenigingen_payments/mollie/tests/test_recurring_charge_live.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): drop the unreachable "2 weeks", and correct a 30x-overstated figure
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/tests/payment/test_mollie_subscription_service_coverage.py
  verenigingen/tests/payment/test_payment_gateways_endpoints.py
  verenigingen/verenigingen_payments/mollie/services/mollie_subscription_sync_service.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): the donate form's "Annually" button emitted an interval Mollie rejects
  docs/MOLLIE_INTEGRATION_USER_GUIDE.md
  verenigingen/public/js/donation_form.js
  verenigingen/templates/pages/donate.html
  verenigingen/tests/contracts/mollie-contracts.json
  verenigingen/tests/payment/test_donate_form_mollie_intervals.py
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.json
  verenigingen/verenigingen_payments/mollie/tests/fixtures/factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(mollie): refuse an unusable subscription interval instead of swallowing its 422
  verenigingen/tests/payment/test_payment_gateways_coverage.py
  verenigingen/verenigingen_payments/mollie/tests/test_common_helpers.py
  verenigingen/verenigingen_payments/mollie/utils/common_helpers.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): the donor's chosen frequency never reached Mollie at all
  verenigingen/services/donation/public_donation_service.py
  verenigingen/tests/backend/components/test_donate_page_mollie.py
  verenigingen/tests/payment/test_donate_form_mollie_intervals.py
  verenigingen/tests/payment/test_payment_gateways_coverage.py
  verenigingen/verenigingen_payments/mollie/services/complete_payment_service.py
  verenigingen/verenigingen_payments/mollie/tests/test_common_helpers.py
  verenigingen/verenigingen_payments/mollie/utils/common_helpers.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): the fix that was standing next to the bug
  docs/handoffs/2026-08-14-the-fix-standing-next-to-the-bug.md
Due: none

fix(mollie): recurring donations never became a subscription
  verenigingen/tests/payment/test_donation_subscription_activation.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): close five defect classes that only review has ever caught
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/tests/payment/test_mollie_core_client.py
  verenigingen/tests/payment/test_mollie_debug_service_admin.py
  verenigingen/tests/payment/test_mollie_integration_invariants.py
  verenigingen/tests/payment/test_mollie_subscription_consolidation.py
  verenigingen/tests/payment/test_payment_gateways_coverage.py
  verenigingen/tests/payment/test_payment_gateways_sweep2_coverage.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_bulk_payment_creation.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_debug_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): make the duplicate-subscription guard outlive Mollie's key cache
  verenigingen/services/donation/public_donation_service.py
  verenigingen/tests/payment/test_donation_subscription_activation.py
  verenigingen/tests/payment/test_mollie_integration_invariants.py
  verenigingen/tests/payment/test_payment_gateways_sweep2_coverage.py
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.py
  verenigingen/verenigingen_payments/mollie/tests/test_common_helpers.py
  verenigingen/verenigingen_payments/mollie/utils/common_helpers.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): the guard that expired
  docs/handoffs/2026-08-15-the-guard-that-expired.md
Due: none

docs(spec): design for booking recurring donation charges (#345 part A)
  docs/superpowers/specs/2026-08-15-recurring-donation-charges-design.md
Due: none

docs(spec): record the two decisions taken before implementation
  docs/superpowers/specs/2026-08-15-recurring-donation-charges-design.md
Due: none

docs(plan): implementation plan for booking recurring donation charges
  docs/superpowers/plans/2026-08-15-recurring-donation-charge-booking.md
  docs/superpowers/specs/2026-08-15-recurring-donation-charges-design.md
Due: none

feat(mollie): read a payment field whichever shape it arrives in
  verenigingen/verenigingen_payments/mollie/tests/test_common_helpers.py
  verenigingen/verenigingen_payments/mollie/utils/common_helpers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(donation): mark a subscription charge's donation and stop re-thanking the donor
  verenigingen/tests/payment/test_recurring_donation_charge.py
  verenigingen/verenigingen/doctype/donation/donation.json
  verenigingen/verenigingen/doctype/donation/donation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(donation): make payment_id unique so a charge cannot book twice
  verenigingen/patches.txt
  verenigingen/patches/v2_2/enforce_unique_donation_payment_id.py
  verenigingen/tests/payment/test_donation_payment_id_uniqueness.py
  verenigingen/verenigingen/doctype/donation/donation.json
  verenigingen/verenigingen/doctype/donation/donation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donation): stop '' and partial writes reaching the unique payment_id
  verenigingen/patches/v2_2/enforce_unique_donation_payment_id.py
  verenigingen/tests/payment/test_donation_payment_id_uniqueness.py
  verenigingen/tests/payment/test_mollie_gap_unified_webhook_handlers.py
  verenigingen/tests/payment/test_payments_utils_gateways_endpoints_coverage.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): make the subscription donation lookup work on real payloads
  verenigingen/verenigingen_payments/mollie/services/handlers/donation_lookup.py
  verenigingen/verenigingen_payments/mollie/tests/test_donation_lookup_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mollie): give each recurring donation charge its own Donation
  verenigingen/tests/payment/test_recurring_donation_charge.py
  verenigingen/verenigingen_payments/mollie/services/recurring_donation_charge.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): keep the charge->agreement link off the interactive rate limiter
  verenigingen/tests/payment/test_mollie_integration_invariants.py
  verenigingen/tests/payment/test_recurring_donation_charge.py
  verenigingen/verenigingen/doctype/periodic_donation_agreement/periodic_donation_agreement.py
  verenigingen/verenigingen_payments/mollie/services/recurring_donation_charge.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): audit every mode-of-payment fallback, not half of them
  verenigingen/tests/payment/test_recurring_donation_charge.py
  verenigingen/verenigingen/doctype/periodic_donation_agreement/periodic_donation_agreement.py
  verenigingen/verenigingen_payments/mollie/services/recurring_donation_charge.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): book recurring donation charges on the webhook Mollie calls
  verenigingen/tests/payment/test_recurring_donation_charge.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): stop the charge fetch pre-empting the webhook's 503 degradation
  verenigingen/tests/payment/test_recurring_donation_charge.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): a Bank Transaction with no Journal Entry is not a success
  verenigingen/tests/payment/test_mollie_gap_unified_webhook_handlers.py
  verenigingen/tests/payment/test_recurring_donation_charge.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): tell Mollie where to announce a recurring donation charge
  verenigingen/tests/payment/test_donation_subscription_activation.py
  verenigingen/tests/payment/test_payment_gateways_sweep2_coverage.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mollie): one guard-and-create path, and stop adopting dead subscriptions
  verenigingen/tests/payment/test_donation_subscription_activation.py
  verenigingen/tests/payment/test_mollie_integration_invariants.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): pin the guard's log category, and assert the harm it prevents
  verenigingen/tests/payment/test_donation_subscription_activation.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(portal): show a recurring donation once, not once per charge
  verenigingen/templates/pages/manage_donations.py
  verenigingen/tests/payment/test_recurring_donation_charge.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): close the three cross-task gaps the whole-branch review found
  verenigingen/templates/pages/manage_donations.py
  verenigingen/tests/backend/portal/test_page_manage_donations.py
  verenigingen/tests/payment/test_donation_payment_id_uniqueness.py
  verenigingen/tests/payment/test_donation_subscription_activation.py
  verenigingen/tests/payment/test_recurring_donation_charge.py
  verenigingen/verenigingen/doctype/periodic_donation_agreement/periodic_donation_agreement.py
  verenigingen/verenigingen_payments/mollie/services/recurring_donation_charge.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/verenigingen_payments/mollie/tests/test_donation_lookup_integration.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
