Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

refactor: remove circular invocation in event emission (audit 4.7)
  verenigingen/services/member/lifecycle/member_event_emission_service.py
  verenigingen/tests/backend/unit/services/test_member_event_emission_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: undefined variable names in workflow setup (audit 4.8)
  verenigingen/setup/membership_application_workflow_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: mark audit 3.5, 4.7, 4.8 as resolved
  docs/audits/membership-application-audit-2026-02-05.md
Due: none

refactor: migrate create_service_result() to OperationResult across 3 services
  verenigingen/api/email_api.py
  verenigingen/api/email_template_manager.py
  verenigingen/api/membership_application_review.py
  verenigingen/api/newsletter_demo.py
  verenigingen/api/payment_processing.py
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/services/approval/contribution_amendment_approval_service.py
  verenigingen/services/approval/termination_approval_service.py
  verenigingen/services/communication/email_service.py
  verenigingen/services/member/approval/member_approval_service.py
  verenigingen/services/member/utils/member_duration_service.py
  verenigingen/services/member/utils/membership_duration_service.py
  verenigingen/tests/backend/integration/test_notification_configuration_integration.py
  verenigingen/tests/backend/unit/services/test_approval_notifications.py
  verenigingen/tests/test_email_service_integration.py
  verenigingen/tests/test_email_system_edge_cases.py
  verenigingen/utils/expense_handlers.py
  verenigingen/utils/member_performance_optimizer.py
  verenigingen/utils/payment_alert_service.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: mark audit 4.6 (OperationResult migration) as resolved
  docs/audits/membership-application-audit-2026-02-05.md
Due: none

refactor: use OperationResult.from_exception() for richer error metadata
  verenigingen/services/communication/email_service.py
  verenigingen/services/member/approval/member_approval_service.py
  verenigingen/services/member/utils/membership_duration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: add code review observations to audit section 4.6
  docs/audits/membership-application-audit-2026-02-05.md
Due: none

fix(security): scrub traceback from OperationResult in API responses
  verenigingen/api/member_management.py
  verenigingen/utils/security/api_security_framework.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: resolve dict-vs-object access crash in membership approval and use applicant's selected dues template
  verenigingen/api/membership_application_review.py
  verenigingen/services/member/approval/membership_creation_service.py
  verenigingen/tests/integration/test_membership_approval_real.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: remove legacy contribution modes and fix approval flow errors
  verenigingen/api/background_approval_api.py
  verenigingen/api/membership_application_review.py
  verenigingen/public/js/membership_application.js
  verenigingen/services/approval/contribution_amendment_approval_service.py
  verenigingen/services/billing/dues_schedule_validation_service.py
  verenigingen/services/billing/progressive_dues_service.py
  verenigingen/services/billing/template_configuration_service.py
  verenigingen/services/billing/template_creation_service.py
  verenigingen/templates/pages/apply_for_membership.html
  verenigingen/templates/pages/membership_application.py
  verenigingen/utils/debug/fix_membership_type_templates.py
  verenigingen/utils/dues_schedule_auto_creator.py
  verenigingen/utils/dues_schedule_health_manager.py
  verenigingen/utils/membership_dues_test_validator.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
  verenigingen/verenigingen_payments/services/sepa_batch_processor.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

refactor: extract debug/admin/notification endpoints from membership_application_review.py
  scripts/debug/check_email_templates.py
  scripts/testing/test_improved_error_handling.py
  verenigingen/api/admin_membership_operations.py
  verenigingen/api/debug_membership_application.py
  verenigingen/api/membership_application_review.py
  verenigingen/api/membership_email_templates.py
  verenigingen/api/overdue_application_notifications.py
  verenigingen/hooks/scheduler.py
  verenigingen/setup/__init__.py
  verenigingen/tests/utils/test_improved_error_handling.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member_list.js
  verenigingen/verenigingen/page/membership_application_review/membership_application_review.js
  verenigingen/verenigingen/report/pending_membership_applications/pending_membership_applications.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

typo fix
  verenigingen/services/csv_import/test_member_import_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ITC->FTC
  verenigingen/tests/api/test_sepa_health.py
  verenigingen/tests/services/payment/test_reconciliation_alerts.py
  verenigingen/tests/services/test_member_import_service.py
  verenigingen/tests/services/test_member_lookup_service.py
  verenigingen/tests/test_secure_operations_security_audit.py
  verenigingen/tests/test_security_modules.py
  verenigingen/tests/unit/test_mollie_payment_service_wrapper.py
  verenigingen/tests/utils/test_field_encryption.py
  verenigingen/tests/utils/test_sepa_sandbox.py
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/test_verenigingen_payments_settings.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_mandate_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

import fixes
  verenigingen/tests/backend/comprehensive/test_erpnext_expense_edge_cases.py
  verenigingen/tests/backend/integration/test_erpnext_expense_integration.py
  verenigingen/tests/backend/integration/test_erpnext_expense_integration_real_minimal.py
  verenigingen/tests/backend/integration/test_erpnext_expense_mock_elimination.py
  verenigingen/tests/backend/integration/test_policy_expense_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

import fixes
  verenigingen/tests/backend/comprehensive/test_chapter_membership_validation_edge_cases.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

member application approval refactor
  verenigingen/api/background_approval_api.py
  verenigingen/api/membership_application_review.py
  verenigingen/events/subscribers/approval_subscribers.py
  verenigingen/services/member/account/member_user_account_service.py
  verenigingen/services/member/approval/member_approval_service.py
  verenigingen/services/volunteer/volunteer_activation_service.py
  verenigingen/verenigingen/page/membership_application_review/membership_application_review.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

small fixes
  verenigingen/api/membership_application_review.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

dues schedule invoice generation refactor
  verenigingen/services/billing/__init__.py
  verenigingen/services/billing/invoice_generation_orchestrator.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/test_membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: eligibility skip bug and misleading return type in orchestrator
  verenigingen/services/billing/invoice_generation_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore: add NoReturn type hint to _handle_error
  verenigingen/services/billing/invoice_generation_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: add unit tests for InvoiceGenerationOrchestrator
  verenigingen/tests/unit/test_invoice_generation_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: phase 1 tech debt quick wins - remove dead code and extract builder
  verenigingen/utils/expense_history_entry_builder.py
  verenigingen/utils/financial_history_batch_processor.py
  verenigingen/verenigingen/doctype/member/mixins/chapter_mixin.py
  verenigingen/verenigingen/doctype/member/mixins/expense_mixin.py
  verenigingen/verenigingen/doctype/member/mixins/financial_mixin.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: ensure chapter management is enabled in chapter service tests
  verenigingen/tests/backend/unit/services/test_chapter_management_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: consolidate duplicate notification methods into CommunicationManager
  verenigingen/verenigingen/doctype/chapter/managers/board_manager.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: consolidate history manager boilerplate into BaseHistoryManager
  verenigingen/utils/assignment_history_manager.py
  verenigingen/utils/base_history_manager.py
  verenigingen/utils/chapter_membership_history_manager.py
  verenigingen/utils/iban_history_manager.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/chapter/managers/board_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: address code review follow-ups for BaseHistoryManager
  verenigingen/utils/assignment_history_manager.py
  verenigingen/utils/base_history_manager.py
  verenigingen/utils/chapter_membership_history_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: address code review follow-ups for phase 1-3 tech debt
  verenigingen/tests/backend/unit/services/test_chapter_management_service.py
  verenigingen/utils/assignment_history_manager.py
  verenigingen/utils/expense_history_entry_builder.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: link dues invoices to chapter cost centers and fix auto-creation
  verenigingen/services/billing/invoice_generator.py
  verenigingen/services/chapter/chapter_finance_service.py
  verenigingen/tests/integration/services/test_chapter_cost_center_auto_creation.py
  verenigingen/tests/integration/services/test_chapter_cost_center_integration.py
  verenigingen/tests/unit/services/test_chapter_finance_service.py
  verenigingen/tests/unit/test_chapter_cost_center_resolution.py
  verenigingen/verenigingen_payments/mollie/services/dues_payment_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: address code review follow-ups for chapter cost center feature
  verenigingen/services/chapter/chapter_finance_service.py
  verenigingen/tests/integration/services/test_chapter_cost_center_integration.py
  verenigingen/tests/unit/services/test_chapter_finance_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: harden race condition handling and improve observability
  verenigingen/services/chapter/chapter_finance_service.py
  verenigingen/tests/unit/services/test_chapter_finance_service.py
  verenigingen/verenigingen_payments/mollie/services/dues_payment_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: align race condition test mocks with get_value change
  verenigingen/tests/unit/services/test_chapter_finance_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: MijnRood sync connection and field mapping corrections
  pyproject.toml
  verenigingen/mijnrood_sync/client.py
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_settings/mijnrood_sync_settings.json
  verenigingen/mijnrood_sync/field_mapping.py
  verenigingen/mijnrood_sync/services/event_application_service.py
  verenigingen/mijnrood_sync/services/polling_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: wire CSV Betaalperiode to dues schedule template during import
  verenigingen/services/csv_import/membership_import_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: add tests for CSV payment period → dues schedule template wiring
  verenigingen/tests/services/test_membership_import_payment_period.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: use dict.pop() instead of delattr on frappe.flags and add missing full_name in TOCTOU test
  verenigingen/services/csv_import/member_import_service.py
  verenigingen/tests/services/test_member_import_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add chapter transfer handling for MijnRood division_id changes
  verenigingen/mijnrood_sync/services/event_application_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: clean up chapter memberships and history on application rejection
  verenigingen/api/membership_application_review.py
  verenigingen/services/member/core/member_lifecycle_service.py
  verenigingen/tests/integration/test_chapter_membership_approval_integration.py
  verenigingen/utils/application_helpers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: make chapter membership history read-only for non-admins
  verenigingen/verenigingen/doctype/member/member.json
Due: email-template-validator

feat: improve MijnRood sync event review experience
  verenigingen/mijnrood_sync/client.py
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event.js
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event.json
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event.py
  verenigingen/mijnrood_sync/field_mapping.py
  verenigingen/mijnrood_sync/services/polling_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

feat: add membership application handler for MijnRood sync and fix contribution mode validation
  verenigingen/mijnrood_sync/services/event_application_service.py
  verenigingen/services/billing/dues_schedule_validation_service.py
  verenigingen/services/billing/progressive_dues_service.py
  verenigingen/services/billing/template_configuration_service.py
  verenigingen/services/member/financial/member_fee_calculation_service.py
  verenigingen/tests/integration/test_contribution_mode_template_integration.py
  verenigingen/utils/application_payments.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
