Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

docs(test-remediation): record Wave 2 results + backlogs
  verenigingen/docs/testing/test-remediation/REMEDIATION-TRACKER.md
  verenigingen/docs/testing/test-remediation/backlog-dead-code.md
  verenigingen/docs/testing/test-remediation/backlog-missing-coverage.md
Due: none

test(chapter-donor-volunteer): remediate false-confidence tests
  verenigingen/tests/chapter/test_chapter_board_permissions.py
  verenigingen/tests/chapter/test_chapter_board_permissions_comprehensive.py
  verenigingen/tests/donor/test_donor_permissions.py
  verenigingen/tests/donor/test_donor_permissions_security.py
  verenigingen/tests/donor/test_donor_security_comprehensive.py
  verenigingen/tests/donor/test_donor_security_core.py
  verenigingen/verenigingen/doctype/volunteer/test_volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(report-api): remediate false-confidence tests
  verenigingen/tests/api/test_security_monitoring_dashboard.py
  verenigingen/tests/report/test_overdue_member_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(utils-security): remediate false-confidence tests
  verenigingen/tests/backend/unit/services/test_approval_unification.py
  verenigingen/tests/backend/unit/services/test_member_test_utilities_api.py
  verenigingen/tests/backend/unit/utils/test_notification_helpers.py
  verenigingen/tests/security/test_security_penetration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(test-remediation): record Wave 3 results + backlogs
  verenigingen/docs/testing/test-remediation/REMEDIATION-TRACKER.md
  verenigingen/docs/testing/test-remediation/backlog-dead-code.md
  verenigingen/docs/testing/test-remediation/backlog-missing-coverage.md
Due: none

test(doctype-mijnrood): remediate false-confidence tests
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_log/test_mijnrood_sync_log.py
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_state/test_mijnrood_sync_state.py
  verenigingen/verenigingen/doctype/bulk_operation_tracker/test_bulk_operation_tracker.py
  verenigingen/verenigingen/doctype/expense_category/test_expense_category.py
  verenigingen/verenigingen/doctype/member/test_member.py
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/test_verenigingen_payments_settings.py
  verenigingen/verenigingen/doctype/verenigingen_settings/test_verenigingen_settings.py
  verenigingen/verenigingen/doctype/vip_import/test_vip_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(test-remediation): record Wave 4 results + backlogs
  verenigingen/docs/testing/test-remediation/REMEDIATION-TRACKER.md
  verenigingen/docs/testing/test-remediation/backlog-missing-coverage.md
Due: none

test(member): note validate_status_transition is not wired into save lifecycle
  verenigingen/tests/unit/test_member_lifecycle_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(backlog): correct 2 confirmed bugs + remove dead code/wiring
  verenigingen/hooks/doc_events.py
  verenigingen/services/member/core/member_status_service.py
  verenigingen/tests/sepa/test_sepa_integration_performance.py
  verenigingen/tests/services/test_member_status_service.py
  verenigingen/tests/unit/test_member_lifecycle_unit.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
  verenigingen/verenigingen/report/overdue_member_payments/overdue_member_payments.py
  verenigingen/verenigingen_payments/mollie/services/payment_context_resolver.py
  verenigingen/verenigingen_payments/mollie/tests/test_payment_context_resolver.py
  verenigingen/verenigingen_payments/report/overdue_member_payments/overdue_member_payments.py
  verenigingen/verenigingen_payments/services/sepa_batch_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(backlog): cascade-delete SEPA Mandates on member deletion
  verenigingen/services/member/lifecycle/member_cleanup_service.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/test_sepa_mandate_comprehensive.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(backlog): mark Stage 1-2 backlog items resolved
  verenigingen/docs/testing/test-remediation/backlog-dead-code.md
  verenigingen/docs/testing/test-remediation/backlog-missing-coverage.md
Due: none

feat(backlog): server-side exclusive default membership type + reject past-dated SEPA batch submit
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
  verenigingen/verenigingen/doctype/membership_type/test_membership_type.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/tests/test_direct_debit_batch_refactoring.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(backlog): mask secrets/PII in audit trail + validate PaymentContext fields
  verenigingen/tests/payment/test_audit_trail_integrity.py
  verenigingen/verenigingen_payments/core/compliance/audit_trail.py
  verenigingen/verenigingen_payments/mollie/services/payment_context_resolver.py
  verenigingen/verenigingen_payments/mollie/tests/test_payment_context_resolver.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(backlog): mark Stage 3 features resolved + record deferred speculative items
  verenigingen/docs/testing/test-remediation/backlog-missing-coverage.md
Due: none

test(backlog): value-level coverage for analytics revenue + goal-achievement
  verenigingen/verenigingen/doctype/analytics_alert_rule/test_analytics_alert_rule_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(backlog): un-skip VPS receivable-account handler integration tests
  verenigingen/verenigingen/doctype/verenigingen_settings/test_verenigingen_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(backlog): cover chapter-treasurer Expense Claim permission scoping
  verenigingen/tests/financial/test_expense_claim_queries.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(backlog): mark Stage 4 missing-coverage tests resolved
  verenigingen/docs/testing/test-remediation/backlog-missing-coverage.md
Due: none

docs(backlog): close out the two unhappy-path OFFSET candidates
  verenigingen/docs/testing/test-remediation/backlog-missing-coverage.md
Due: none

test(negative-path): add 9 mutation-verified UNHAPPY tests on money-path services
  verenigingen/docs/testing/test-remediation/REMEDIATION-TRACKER.md
  verenigingen/tests/payment/test_bank_transaction_reconciliation.py
  verenigingen/tests/payment/test_sepa_reconciliation.py
  verenigingen/tests/sepa/test_sepa_sequence_type_compliance.py
  verenigingen/tests/services/test_member_fee_change_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(negative-path): account-creation + termination rejection paths (breadth wave 1)
  verenigingen/tests/backend/unit/services/test_member_user_account_service.py
  verenigingen/tests/member/test_account_creation_pipeline.py
  verenigingen/tests/security/test_permissions_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(negative-path): approval/creation + billing-validator rejections (breadth wave 2)
  verenigingen/services/billing/test_dues_schedule_lifecycle_service.py
  verenigingen/services/billing/test_invoice_management.py
  verenigingen/tests/backend/unit/services/test_member_approval_service_coverage.py
  verenigingen/tests/backend/unit/services/test_membership_creation_service_coverage.py
  verenigingen/tests/backend/unit/utils/test_application_payments_coverage.py
  verenigingen/tests/payment/test_enhanced_contribution_amendment_system.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(negative-path): volunteer-expense + payments-service rejections (breadth wave 3)
  verenigingen/tests/sepa/test_dd_batch_pipeline_coverage.py
  verenigingen/tests/services/test_payment_entry_creation_service.py
  verenigingen/tests/volunteer/test_volunteer_expense_services_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(negative-path): chapter/team + eBoekhouden rejections (breadth wave 4)
  verenigingen/tests/chapter/test_chapter_service_coverage.py
  verenigingen/tests/chapter/test_team_service_integration.py
  verenigingen/tests/e_boekhouden/test_account_services.py
  verenigingen/tests/e_boekhouden/test_invoice_helpers.py
  verenigingen/tests/services/test_member_validation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(negative-path): payment-settings + SEPA-mandate rejections (breadth wave 5)
  verenigingen/tests/payment/test_payment_doctype_coverage.py
  verenigingen/tests/sepa/test_sepa_mandate_member_integration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(negative-path): Ponto payment + member-merge rejections (breadth wave 6, final)
  verenigingen/tests/backend/unit/services/test_member_merge_api.py
  verenigingen/tests/payment/test_ponto_doctype_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(tracker): record negative-path breadth sweep (6 waves, 39 tests)
  verenigingen/docs/testing/test-remediation/REMEDIATION-TRACKER.md
Due: none

fix(chapter): propagate National-Board access denial instead of swallowing it
  verenigingen/docs/testing/test-remediation/REMEDIATION-TRACKER.md
  verenigingen/services/chapter/chapter_validation_service.py
  verenigingen/tests/chapter/test_chapter_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(payments): remove prohibited frappe.get_doc mock from error-logging test
  verenigingen/tests/services/test_payment_entry_creation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(quality): clear pre-push test-quality-enforcer violations on branch-touched files
  verenigingen/tests/member/test_account_creation_pipeline.py
  verenigingen/tests/payment/test_enhanced_contribution_amendment_system.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(flaky): fix two CI-only failures in analytics-goal + volunteer-aggregated
  verenigingen/verenigingen/doctype/analytics_alert_rule/test_analytics_alert_rule_coverage.py
  verenigingen/verenigingen/doctype/volunteer/test_volunteer_aggregated.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(amendment): scrub stale approval provenance on member self-service override
  verenigingen/tests/known_test_failures.txt
  verenigingen/tests/payment/test_enhanced_contribution_amendment_system.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security-dashboard): read rate-limit/auth-failure events from API Audit Log
  verenigingen/api/security_monitoring_dashboard.py
  verenigingen/tests/api/test_security_monitoring_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(sepa): audit-log SEPA Mandate creation and status changes
  verenigingen/hooks/doc_events.py
  verenigingen/verenigingen_payments/doctype/sepa_audit_log/sepa_audit_log.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate_audit_hooks.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/test_sepa_mandate_audit_hooks.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(secure-ops): add system_operation mode for non-discretionary writes
  verenigingen/tests/security/test_secure_operations_coverage.py
  verenigingen/utils/secure_operations.py
  verenigingen/verenigingen_payments/doctype/sepa_audit_log/sepa_audit_log.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(residual-sweep): remediate residual tautology/OTHER tests in non-services trees
  verenigingen/docs/testing/test-remediation/REMEDIATION-TRACKER.md
  verenigingen/docs/testing/test-remediation/backlog-dead-code.md
  verenigingen/docs/testing/test-remediation/backlog-missing-coverage.md
  verenigingen/tests/backend/integration/test_eboekhouden_integration.py
  verenigingen/tests/backend/integration/test_erpnext_expense_integration.py
  verenigingen/tests/backend/integration/test_javascript_api_integration.py
  verenigingen/tests/backend/unit/api/test_chapter_api.py
  verenigingen/tests/backend/validation/test_api_endpoints.py
  verenigingen/tests/backend/validation/test_fuzzy_logic_modernization_validation.py
  verenigingen/tests/donor/test_donor_security_enhanced.py
  verenigingen/tests/donor/test_donor_security_enhanced_fixed.py
  verenigingen/tests/donor/test_donor_security_working.py
  verenigingen/tests/e_boekhouden/test_party_resolver.py
  verenigingen/tests/known_test_failures.txt
  verenigingen/tests/member/test_member_status_transitions_enhanced.py
  verenigingen/tests/services/test_donation_refactoring_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(compliance): add SEPA Mandate to DataRetentionPolicy category mapping
  verenigingen/docs/testing/test-remediation/backlog-missing-coverage.md
  verenigingen/verenigingen_payments/core/compliance/data_retention_policy.py
  verenigingen/verenigingen_payments/tests/test_data_retention_policy.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(spec): data retention engine activation design
  docs/superpowers/specs/2026-07-10-data-retention-engine-activation-design.md
Due: none

docs(spec): revise retention activation design per SWE review
  docs/superpowers/specs/2026-07-10-data-retention-engine-activation-design.md
Due: none

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
