Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(tests): update 6 dangling imports after Phase 3 file moves
  verenigingen/tests/run_sepa_service_tests.py
  verenigingen/tests/test_all_imports.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(billing): migrate stale contribution_mode values and fix template field copy
  verenigingen/patches/v2_1/migrate_contribution_mode_values.py
  verenigingen/services/billing/template_creation_service.py
  verenigingen/services/member/approval/membership_creation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(fixtures): add Critical Operation Rule entries for MijnRood batch operations
  verenigingen/fixtures/critical_operation_rule.json
Due: email-template-validator

fix(mijnrood): add title_field to Sync Event and email fallback for member linking
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event.json
  verenigingen/mijnrood_sync/services/event_application_service.py
  verenigingen/mijnrood_sync/services/polling_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(plans): add Phase 5 test coverage remediation design
  docs/plans/2026-03-11-test-coverage-remediation-design.md
Due: none

docs(plans): add Phase 5 test coverage remediation implementation plan
  docs/plans/2026-03-11-test-coverage-remediation.md
Due: none

chore: delete dead billing_debug_utilities.py (-391 LOC)
  verenigingen/services/billing/billing_debug_utilities.py
  verenigingen/utils/billing_debug_utilities.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(payment): add coverage for 16 payment/banking DocTypes + 2 Mollie services
  verenigingen/tests/payment/test_ing_doctype_coverage.py
  verenigingen/tests/payment/test_payment_doctype_coverage.py
  verenigingen/tests/payment/test_ponto_doctype_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): clean unused imports in payment doctype test files
  verenigingen/tests/payment/test_ing_doctype_coverage.py
  verenigingen/tests/payment/test_payment_doctype_coverage.py
  verenigingen/tests/payment/test_ponto_doctype_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(e_boekhouden): add coverage for 7 e-boekhouden DocTypes
  verenigingen/tests/e_boekhouden/test_eboekhouden_doctype_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(chapter): add coverage for 12 chapter services + board member child table
  verenigingen/tests/chapter/test_chapter_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(volunteer): add coverage for 9 volunteer services
  verenigingen/tests/volunteer/test_volunteer_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(billing): add coverage for 10 billing services
  verenigingen/tests/payment/test_billing_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(member): add coverage for 11 member services + 3 DocTypes
  verenigingen/tests/member/test_member_doctype_coverage.py
  verenigingen/tests/member/test_member_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(member): add coverage for 11 member services + 3 DocTypes
  verenigingen/tests/member/test_member_doctype_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: add coverage for termination, donation, team, document, account services
  verenigingen/tests/donor/test_other_service_coverage.py
  verenigingen/tests/member/test_termination_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: address code review findings from Phase 5
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/tests/member/test_member_doctype_coverage.py
  verenigingen/tests/payment/test_payment_doctype_coverage.py
  verenigingen/tests/volunteer/test_volunteer_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: update stale test module paths in Makefile and pytest runner
  Makefile
  scripts/testing/pytest_precommit_runner.py
Due: api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking

docs: update README.md with comprehensive project overview
  docs/ING_CHECKOUT_USER_GUIDE.md
  docs/MOLLIE_INTEGRATION_USER_GUIDE.md
  docs/PONTO_USER_GUIDE.md
  docs/eboekhouden/README.md
  docs/eboekhouden/implementation/configuration.md
Due: none

docs(features): create 5 missing feature documentation files
  docs/features/chapter-management.md
  docs/features/donation-management.md
  docs/features/dutch-compliance.md
  docs/features/membership-management.md
  docs/features/volunteer-management.md
Due: none

docs(subsystems): update 9 subsystem docs to match current codebase
  docs/subsystems/background-processing.md
  docs/subsystems/chapter-organization.md
  docs/subsystems/eboekhouden-integration.md
  docs/subsystems/financial-operations.md
  docs/subsystems/member-lifecycle-management.md
  docs/subsystems/payment-processing-mollie.md
  docs/subsystems/security-and-permissions.md
  docs/subsystems/test-infrastructure.md
  docs/subsystems/volunteer-management.md
Due: none

docs(index): rewrite docs/README.md with verified links
  docs/README.md
Due: none

docs(install): fix broken links in INSTALLATION.md and GETTING_STARTED.md
  docs/GETTING_STARTED.md
  docs/INSTALLATION.md
Due: none

docs(integration): fix broken eBoekhouden link in Mollie backend API docs
  docs/MOLLIE_BACKEND_API_DOCUMENTATION.md
Due: none

docs: fix docs/README.md index — add 67 unlisted files, verify all links
  docs/README.md
Due: none

docs: update installation and getting started guides
  docs/GETTING_STARTED.md
  docs/INSTALLATION.md
Due: none

docs(integrations): fix field names and statuses in Mollie, Ponto, ING, eBoekhouden guides
  docs/ING_CHECKOUT_USER_GUIDE.md
  docs/MOLLIE_INTEGRATION_USER_GUIDE.md
  docs/PONTO_USER_GUIDE.md
  docs/eboekhouden/README.md
Due: none

docs: rewrite admin guide and operations runbook from codebase
  docs/ADMIN_GUIDE.md
  docs/OPERATIONS_RUNBOOK.md
Due: none

docs(security): fix role profiles, permissions hooks, security index
  docs/FRAPPE_PERMISSIONS_SYSTEM.md
  docs/ROLE_PROFILES.md
  docs/security/README.md
  docs/security/ROLE_PROFILE_INTEGRATION_GUIDE.md
Due: none

docs: rewrite FAQ with 50+ actual error messages and troubleshooting steps
  docs/FAQ_TROUBLESHOOTING.md
Due: none

docs: rewrite API documentation with actual endpoints from codebase
  docs/API_DOCUMENTATION.md
Due: none

docs(dev): update developer guides to match current codebase
  docs/DEVELOPER_QUICK_START.md
  docs/DEVELOPER_TESTING_GUIDE.md
  docs/development/ERROR_HANDLING_CONVENTIONS.md
  docs/development/SERVICE_INFRASTRUCTURE_USAGE_GUIDE.md
  docs/development/TYPING_CONVENTIONS.md
Due: none

feat: add Procurios CSV Import data model
  docs/superpowers/plans/2026-03-31-procurios-csv-import.md
  docs/superpowers/specs/2026-03-31-procurios-csv-import-design.md
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/procurios_member_data/__init__.py
  verenigingen/verenigingen/doctype/procurios_member_data/procurios_member_data.json
  verenigingen/verenigingen/doctype/procurios_member_data/procurios_member_data.py
  verenigingen/verenigingen/doctype/procurios_status_mapping/__init__.py
  verenigingen/verenigingen/doctype/procurios_status_mapping/procurios_status_mapping.json
  verenigingen/verenigingen/doctype/procurios_status_mapping/procurios_status_mapping.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add ProcuriosDataValidator with field mapping and categorization
  verenigingen/tests/member/test_procurios_csv_import.py
  verenigingen/utils/csv/procurios_data_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add Procurios CSV Import DocType with controller and client script
  verenigingen/verenigingen/doctype/procurios_csv_import/__init__.py
  verenigingen/verenigingen/doctype/procurios_csv_import/procurios_csv_import.js
  verenigingen/verenigingen/doctype/procurios_csv_import/procurios_csv_import.json
  verenigingen/verenigingen/doctype/procurios_csv_import/procurios_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

chore: add Procurios CSV Import to whitelist_files.txt
  whitelist_files.txt
Due: none

feat: map NVV-relatienummer to member_id, Procurios relatie ID to procurios_id
  verenigingen/tests/member/test_procurios_csv_import.py
  verenigingen/utils/csv/procurios_data_validator.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/procurios_csv_import/procurios_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: use Personal/Postal address types instead of Office/Shipping
  verenigingen/verenigingen/doctype/procurios_csv_import/procurios_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
