Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

test(sepa): document that rollback compensation executors are stubs
  verenigingen/tests/payment/test_sepa_rollback_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(roles): use the real 'Verenigingen Financial Manager' role, not 'Finance Manager'
  verenigingen/api/payment_processing.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/setup/dd_batch_workflow_setup.py
  verenigingen/setup/simple_dd_workflow_setup.py
  verenigingen/tests/payment/test_dd_batch_scheduler_orchestration.py
  verenigingen/verenigingen/doctype/donor/donor.py
  verenigingen/verenigingen_payments/api/dd_batch_scheduler.py
  verenigingen/verenigingen_payments/api/dd_batch_workflow_controller.py
  verenigingen/www/batch-optimizer.py
  verenigingen/www/dues-invoice-debugger.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(dd-batch): defend validate_all_pending_invoices SQL against silent column drift
  verenigingen/verenigingen_payments/api/test_dd_batch_optimizer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(csv-import): tighten broad-raises + assert status classification
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_settings/test_mijnrood_sync_settings.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/test_mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(member/chapter): make vacuous board/chapter tests assert real behavior
  verenigingen/tests/backend/unit/api/test_chapter_api.py
  verenigingen/tests/chapter/test_board_manager.py
  verenigingen/tests/member/test_account_creation_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(polling): assert release_sync_lock actually clears the lock key
  verenigingen/tests/services/test_polling_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(services/brand): make cache + event-type assertions actually bite
  verenigingen/tests/services/test_polling_service.py
  verenigingen/verenigingen/doctype/brand_settings/test_brand_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(member/chapter): cover the two flagged untested branches
  verenigingen/tests/backend/unit/api/test_member_management_api_coverage.py
  verenigingen/tests/chapter/test_chapter_controller.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(anbi): repair validate_bsn, anbi report column, and consent withdrawal
  verenigingen/api/anbi_operations.py
  verenigingen/tests/api/test_anbi_operations.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(schedule-maintenance): revive the entirely-dead orphan-cleanup API
  verenigingen/api/schedule_maintenance.py
  verenigingen/tests/api/test_schedule_maintenance.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(dues): make get_workflow_status return real data instead of always failing
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/tests/api/test_dues_invoice_workflow.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donations): repair periodic-agreement reminders, receipts, and report
  verenigingen/api/periodic_donation_operations.py
  verenigingen/tests/api/test_periodic_donation_operations.py
  verenigingen/verenigingen/report/anbi_periodic_agreements/anbi_periodic_agreements.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(volunteer): repair interest-area linking on application submission
  verenigingen/api/volunteer_application.py
  verenigingen/tests/api/test_volunteer_application.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(member-mgmt): make get_members_with_chapter_info tests deterministic
  verenigingen/tests/backend/unit/api/test_member_management_api_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(roles): add Roles.FINANCIAL_MANAGER constant, replace hardcoded literals
  verenigingen/api/payment_processing.py
  verenigingen/setup/dd_batch_workflow_setup.py
  verenigingen/setup/simple_dd_workflow_setup.py
  verenigingen/utils/constants.py
  verenigingen/verenigingen/doctype/donor/donor.py
  verenigingen/verenigingen_payments/api/dd_batch_scheduler.py
  verenigingen/verenigingen_payments/api/dd_batch_workflow_controller.py
  verenigingen/verenigingen_payments/mollie/events/amendment_events.py
  verenigingen/www/batch-optimizer.py
  verenigingen/www/dues-invoice-debugger.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(volunteer): make become_member work and surface its failures
  verenigingen/api/volunteer_application.py
  verenigingen/tests/api/test_volunteer_application.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(chapter): validate board membership against is_active, not a phantom column
  verenigingen/api/chapter_validation.py
  verenigingen/tests/api/test_chapter_validation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(billing): return the invoice name string from generate_manual_invoice
  verenigingen/api/manual_invoice_generation.py
  verenigingen/tests/api/test_manual_invoice_generation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(accounts): don't report success when fix_account_type_issues silently fails
  verenigingen/api/check_account_types.py
  verenigingen/tests/api/test_check_account_types.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(documents): delete every File row when removing an organization document
  verenigingen/services/document/document_portal_service.py
  verenigingen/tests/api/test_document_portal.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(email): populate response_html so native Email Template rendering works
  verenigingen/api/email_template_manager.py
  verenigingen/tests/api/test_email_template_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(eboekhouden): cover REST invoice-creation path with real integration tests
  verenigingen/tests/e_boekhouden/test_rest_invoice_creation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(volunteer): reactivate dormant volunteer on re-application
  verenigingen/api/volunteer_application.py
  verenigingen/tests/api/test_volunteer_application.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(eboekhouden): correct inverted memorial debit/credit on credential-less import
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/tests/e_boekhouden/test_rest_journal_entry_creation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(eboekhouden): cover REST payment & money-transfer creation path
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(eboekhouden): make stock opening-balance temp account lookup idempotent
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/tests/e_boekhouden/test_opening_balance_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(eboekhouden): pass a dict to get_meaningful_description in generic party creation
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/tests/e_boekhouden/test_rest_party_dispatch.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(eboekhouden): tighten over-broad raises + assert dispatched JE is submitted
  verenigingen/tests/e_boekhouden/test_rest_journal_entry_creation.py
  verenigingen/tests/e_boekhouden/test_rest_party_dispatch.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(eboekhouden): fix masked abbr-vs-fullname lookup in temp-diff account + un-skip force test
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/tests/e_boekhouden/test_opening_balance_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(mollie): remove dead payment_sync_system.py + stale refs
  docs/subsystems/payment-processing-mollie.md
  verenigingen/verenigingen_payments/mollie/README.md
  verenigingen/verenigingen_payments/mollie/api/payment_sync_system.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(eboekhouden): remove dead money-transfer + generic-party helpers
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/tests/e_boekhouden/test_rest_journal_entry_creation.py
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
  verenigingen/tests/e_boekhouden/test_rest_party_dispatch.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): cover live debug-service + processing/bulk/debug admin pages
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_bulk_payment_creation.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_debug_service.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_payment_processing.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_payments_debug.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mijnrood): persist Completed status + summary after finalize reload
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: cover mt940 import, donate Mollie flow, mijnrood pipeline, SEPA dup-prevention
  verenigingen/tests/backend/components/test_donate_page_mollie.py
  verenigingen/tests/backend/integration/test_sepa_duplicate_prevention_core.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/test_mijnrood_csv_import_pipeline.py
  verenigingen/verenigingen/doctype/mt940_import/test_mt940_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore: remove dead diagnostic endpoints from donate.py + mt940_import
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/templates/pages/donate.py
  verenigingen/verenigingen/doctype/mt940_import/mt940_import.py
  verenigingen/verenigingen/doctype/mt940_import/test_mt940_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(eboekhouden): fix 3 phantom always-skip tests in payment import
  verenigingen/tests/e_boekhouden/test_e_boekhouden_migration_integration.py
  verenigingen/tests/payment/test_payment_entry_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(setup): remove 17 dead onboarding diagnostic endpoints
  verenigingen/setup/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(eboekhouden): cover REST full-migration orchestration layer
  verenigingen/tests/e_boekhouden/test_rest_orchestration_batch.py
  verenigingen/tests/e_boekhouden/test_rest_orchestration_dispatch.py
  verenigingen/tests/e_boekhouden/test_rest_orchestration_start.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(eboekhouden): remove dead 'EBoekhouden REST Mutation Cache' references
  scripts/api_maintenance/fix_eboekhouden_import.py
  scripts/cleanup/nuke_financial_data_fast.py
  verenigingen/e_boekhouden/utils/eboekhouden_api.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/utils/migration/check_migration_progress.py
  verenigingen/utils/nuke_financial_data.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(setup): cover setup/__init__ install functions + fix 2 bugs
  verenigingen/setup/__init__.py
  verenigingen/tests/backend/components/test_setup_btw_eboekhouden.py
  verenigingen/tests/backend/components/test_setup_custom_fields.py
  verenigingen/tests/backend/components/test_setup_reference_cors.py
  verenigingen/tests/backend/components/test_setup_termination.py
  verenigingen/tests/backend/components/test_setup_workspace_onboarding.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
