Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

docs(portal): design for portal_base.css + web_include_css (TPL-1/3/4)
  docs/superpowers/specs/2026-07-18-portal-base-css-design.md
Due: none

docs(portal): implementation plan for portal_base.css; reconcile TPL-4 Case A/B split
  docs/superpowers/plans/2026-07-18-portal-base-css.md
  docs/superpowers/specs/2026-07-18-portal-base-css-design.md
Due: none

feat(portal): add web_include_css + bleed-safe portal_base.css with verify harness
  verenigingen/hooks/__init__.py
  verenigingen/hooks/assets.py
  verenigingen/public/css/portal_base.css
  verenigingen/tests/portal_css/__init__.py
  verenigingen/tests/portal_css/verify_portal_base_css.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(portal): note wrapper margin unification + add mollie_bulk to screenshot targets
  docs/superpowers/plans/2026-07-18-portal-base-css.md
Due: none

test(portal): render the 4 remaining wrapper-bearing pages in the harness
  verenigingen/tests/portal_css/verify_portal_base_css.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(portal): consolidate .wide-layout-wrapper into portal_base.css (uniform 1600px)
  verenigingen/templates/pages/board/document_browser.html
  verenigingen/templates/pages/board/document_upload.html
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/member_portal.html
  verenigingen/templates/pages/mollie_bulk_payment_creation.html
  verenigingen/templates/pages/mollie_payment_processing.html
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_subscription_recreation.html
  verenigingen/templates/pages/ponto_api_debug.html
  verenigingen/templates/pages/volunteer/dashboard.html
  verenigingen/templates/pages/volunteer/expense_claim_new.html
  verenigingen/templates/pages/volunteer/expenses.html
  verenigingen/tests/portal_css/verify_portal_base_css.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(portal): lift shared .result-area/.api-mode-box into portal_base.css
  verenigingen/templates/pages/mollie_payment_processing.html
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/ponto_api_debug.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

refactor(portal): route 4 admin tools through the brand_css macro (TPL-3)
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/mollie_payment_processing.html
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/ponto_api_debug.html
  verenigingen/tests/portal_css/verify_portal_base_css.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(portal): restore super() + drop duplicate tailwind link on 4 base_portal children (TPL-4 Case A)
  verenigingen/templates/pages/address_change.html
  verenigingen/templates/pages/contact_request.html
  verenigingen/templates/pages/my_teams.html
  verenigingen/templates/pages/volunteer/dashboard.html
  verenigingen/tests/portal_css/verify_portal_base_css.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(portal): add dump_html helper for portal CSS screenshot review
  verenigingen/tests/portal_css/dump_html.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(portal): harden harness against error-page false-pass; document mollie-debug padding + doc fixes
  docs/superpowers/plans/2026-07-18-portal-base-css.md
  docs/superpowers/specs/2026-07-18-portal-base-css-design.md
  verenigingen/public/css/portal_base.css
  verenigingen/tests/portal_css/dump_html.py
  verenigingen/tests/portal_css/verify_portal_base_css.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

perf(portal): remove N+1 queries in bulk-payment/profile/team-members (KISS-5)
  verenigingen/templates/pages/mollie_bulk_payment_creation.py
  verenigingen/templates/pages/team_members.py
  verenigingen/templates/pages/volunteer/profile.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

i18n(portal): wrap user-facing strings in _() on 4 priority templates (TPL-8)
  verenigingen/templates/pages/board/document_upload.html
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/www/mollie_subscription_audit.html
  verenigingen/www/monitoring_dashboard.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

fix(monitoring): count RQ Job via ORM — virtual DocType has no DB table
  verenigingen/services/monitoring/monitoring_metrics_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(portal): escape quotes in escapeHtml for attribute-context XSS safety
  verenigingen/public/js/utils/operation-result-helpers.js
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/board/document_upload.html
  verenigingen/templates/pages/mt940_import.html
  verenigingen/templates/pages/payment_dashboard.html
  verenigingen/www/mollie_subscription_audit.html
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, template-variable-validator, js-python-parameter-validator, email-template-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(security): prune dead Critical Operation Rules for PR #152 portal endpoints
  docs/remediation/HOOKS_SIMPLIFICATION_PLAN.md
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/patches.txt
  verenigingen/patches/v2_2/remove_dead_portal_critical_operation_rules.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(portal): use Roles.ADMIN_PAIR for the two remaining inline admin gates
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/templates/pages/member_portal.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(donate): design for donate.py decomposition (audit KISS-2)
  docs/superpowers/specs/2026-07-18-donate-decomposition-design.md
Due: none

docs(donate): fold skeptical-review findings into decomposition spec
  docs/superpowers/specs/2026-07-18-donate-decomposition-design.md
Due: none

docs(donate): implementation plan for donate.py decomposition
  docs/superpowers/plans/2026-07-18-donate-decomposition.md
Due: none

refactor(donate): scaffold PublicDonationService; move map_donation_status + secure save helper
  verenigingen/services/donation/public_donation_service.py
  verenigingen/templates/pages/donate.py
  verenigingen/tests/backend/components/test_donate_page.py
  verenigingen/tests/backend/portal/test_page_donate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(donate): unify public-form donor get-or-create into DonationDonorService
  verenigingen/services/donation/donor_service.py
  verenigingen/templates/pages/donate.py
  verenigingen/tests/backend/components/test_donate_page.py
  verenigingen/tests/backend/portal/test_guest_donation_flow.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(donate): merge donation creation into PublicDonationService.create_donation(draft=)
  verenigingen/services/donation/public_donation_service.py
  verenigingen/templates/pages/donate.py
  verenigingen/tests/backend/components/test_donate_page.py
  verenigingen/tests/backend/components/test_donate_page_mollie.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donate): restore distinct draft/final log_error calls in create_donation
  verenigingen/services/donation/public_donation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(donate): move payment dispatch to service; delete PaymentHook-superseded dead processors
  verenigingen/services/donation/public_donation_service.py
  verenigingen/templates/pages/donate.py
  verenigingen/tests/backend/components/test_donate_page.py
  verenigingen/tests/backend/components/test_donate_page_mollie.py
  verenigingen/tests/backend/portal/test_guest_donation_flow.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(donate): move submit orchestration to service; thin submit_donation endpoint
  verenigingen/services/donation/public_donation_service.py
  verenigingen/templates/pages/donate.py
  verenigingen/tests/backend/portal/test_guest_donation_flow.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(donate): extract get_context return-status resolver; thin status/paid/retry endpoints
  verenigingen/services/donation/public_donation_service.py
  verenigingen/templates/pages/donate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donate): restore original retry_payment failure-path Error Log + generic message behavior
  verenigingen/services/donation/public_donation_service.py
  verenigingen/templates/pages/donate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(mollie): design for Mollie admin page dedup (audit KISS-3)
  docs/superpowers/specs/2026-07-18-mollie-admin-dedup-design.md
Due: none

docs(mollie): fold SME security review into dedup spec
  docs/superpowers/specs/2026-07-18-mollie-admin-dedup-design.md
Due: none

docs(mollie): implementation plan + access-check-injection spec refinement
  docs/superpowers/plans/2026-07-18-mollie-admin-dedup.md
  docs/superpowers/specs/2026-07-18-mollie-admin-dedup-design.md
Due: none

refactor(mollie): extract sanitize_csv_field into shared csv_utils
  verenigingen/templates/pages/mollie_bulk_payment_creation.py
  verenigingen/templates/pages/mollie_subscription_recreation.py
  verenigingen/verenigingen_payments/mollie/services/shared/csv_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mollie): consolidate bulk_process_member_payments + batch worker into service
  verenigingen/templates/pages/mollie_payment_processing.py
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/tests/backend/portal/test_page_mollie_payment_processing.py
  verenigingen/verenigingen_payments/mollie/services/bulk_payment_admin_service.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_payment_processing.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_payments_debug.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_payments_debug_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mollie): consolidate bulk_retrieve (superset) + orphan helper into service
  verenigingen/templates/pages/mollie_payment_processing.py
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/tests/backend/portal/test_page_mollie_payment_processing.py
  verenigingen/verenigingen_payments/mollie/services/bulk_payment_admin_service.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_payment_processing.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mollie): consolidate retrieve_customer_payments + batch_process_dues into service
  verenigingen/templates/pages/mollie_payment_processing.py
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/tests/backend/portal/test_page_mollie_payment_processing.py
  verenigingen/tests/backend/portal/test_page_mollie_payments_debug.py
  verenigingen/verenigingen_payments/mollie/services/bulk_payment_admin_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): retarget stale MollieDebugService patches after admin dedup
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_payment_processing.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_payments_debug_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(mollie): note why the now-indirect MollieDebugService import stays
  verenigingen/templates/pages/mollie_payment_processing.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(financial): guard + test the destructive nuke utilities; prune dead code
  codecov.yml
  verenigingen/services/infrastructure/README.md
  verenigingen/services/infrastructure/__init__.py
  verenigingen/services/infrastructure/service_testing.py
  verenigingen/tests/financial/test_nuke_financial_data_safeguards.py
  verenigingen/utils/nuke_financial_data.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): repair broken membership_type filter in DD batch invoice loader
  verenigingen/tests/payment/test_sepa_batch_ui.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

refactor(sepa): remove dead direct-debit-batch code island
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/patches.txt
  verenigingen/patches/v2_2/remove_dead_dd_batch_critical_operation_rules.py
  verenigingen/tests/sepa/test_sepa_sequence_type_compliance.py
  verenigingen/verenigingen/doctype/membership/dues_schedule_manager.py
  verenigingen/verenigingen/doctype/membership/test_dues_schedule_manager.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/tests/test_api_regression.py
  verenigingen/verenigingen_payments/tests/test_direct_debit_batch_refactoring.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
