Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

feat(payments): allow Payment Plan Payment on payment-success page (A3)
  verenigingen/templates/pages/payment_success.py
  verenigingen/tests/backend/portal/test_payment_success_plan_payment.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(payments): payment-plan installment pay page (A3)
  verenigingen/templates/pages/payment_plan_pay.html
  verenigingen/templates/pages/payment_plan_pay.py
  verenigingen/tests/backend/portal/test_page_payment_plan_pay.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(plan): correct Task 3 redirect-url extraction to data.url (A3 review fix)
  docs/superpowers/plans/2026-07-11-payment-plan-make-payment-mollie.md
Due: none

feat(payments): route Make Payment button to the pay page (A3)
  verenigingen/templates/pages/payment_plans.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

fix(payments): double-payment guard, orphan-intent cleanup, stronger tests (A3 final review)
  verenigingen/api/payment_plan_management.py
  verenigingen/tests/backend/portal/test_payment_success_plan_payment.py
  verenigingen/tests/payment/test_payment_plan_payment_webhook.py
  verenigingen/verenigingen_payments/mollie/services/payment_plan_payment_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(audit): mark D + A1/A3/A4/A5 FIXED; A2 accepted; A3 Phase 2 (Pay.nl) remains
  docs/audits/2026-07-10-todo-unfinished-features-audit.md
Due: none

docs(spec): A3 Phase 2 - payment plan Make Payment via Pay.nl (ING Checkout)
  docs/superpowers/specs/2026-07-11-payment-plan-make-payment-paynl-phase2-design.md
Due: none

docs(spec): revise A3 Phase 2 design after skeptical review
  docs/superpowers/specs/2026-07-11-payment-plan-make-payment-paynl-phase2-design.md
Due: none

docs(spec): address second-pass review (A3 Phase 2)
  docs/superpowers/specs/2026-07-11-payment-plan-make-payment-paynl-phase2-design.md
Due: none

docs(plan): A3 Phase 2 implementation plan (payment plan Make Payment via Pay.nl)
  docs/superpowers/plans/2026-07-11-payment-plan-make-payment-paynl-phase2.md
Due: none

refactor(payments): extract gateway-agnostic payment-plan finalizer (A3 phase 2)
  verenigingen/tests/payment/test_payment_plan_finalization.py
  verenigingen/verenigingen_payments/mollie/services/payment_plan_payment_handler.py
  verenigingen/verenigingen_payments/services/payment_plan_finalization.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(ing): extract create_ideal_order core + add PPP doctype code (A3 phase 2)
  verenigingen/tests/payment/test_ing_create_ideal_order.py
  verenigingen/verenigingen_payments/ing_checkout/api/payment.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(payments): wire ING Checkout (Pay.nl iDEAL) into PaymentHook (A3 phase 2)
  verenigingen/tests/payment/test_payment_hook_ing.py
  verenigingen/verenigingen_payments/hooks/payment_hook.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(payments): finalize payment-plan installments from Pay.nl webhook (A3 phase 2)
  verenigingen/tests/payment/test_ing_payment_plan_webhook.py
  verenigingen/verenigingen_payments/ing_checkout/api/webhook.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(payments): handle_payment error->500 writes no dedup log for plan payments (A3 phase 2 review)
  verenigingen/tests/payment/test_ing_payment_plan_webhook.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(payments): offer Pay.nl on the pay page + record gateway on intent (A3 phase 2)
  verenigingen/api/payment_plan_management.py
  verenigingen/templates/pages/payment_plan_pay.py
  verenigingen/tests/api/test_payment_plan_make_payment.py
  verenigingen/tests/backend/portal/test_page_payment_plan_pay.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payments): ING gateway surfaces order failure; don't downgrade paid transaction (A3 phase 2 final review)
  verenigingen/tests/payment/test_ing_payment_plan_webhook.py
  verenigingen/tests/payment/test_payment_hook_ing.py
  verenigingen/verenigingen_payments/hooks/payment_hook.py
  verenigingen/verenigingen_payments/ing_checkout/api/webhook.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(retention): repair the latent live-path bugs in DataRetentionPolicy
  verenigingen/verenigingen_payments/core/compliance/data_retention_policy.py
  verenigingen/verenigingen_payments/doctype/mollie_audit_log/mollie_audit_log.json
  verenigingen/verenigingen_payments/tests/test_data_retention_latent_bug_fixes.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(import): spec for Procurios membership/mandate import + Member Import rename
  docs/superpowers/specs/2026-07-15-procurios-membership-mandate-import-design.md
Due: none

docs(import): implementation plan for Procurios membership/mandate import + rename
  docs/superpowers/plans/2026-07-15-procurios-membership-mandate-import.md
Due: none

feat(import): add Membership.procurios_membership_id idempotency field
  verenigingen/patches.txt
  verenigingen/patches/v15_0/add_procurios_membership_id_field.py
  verenigingen/tests/patches/__init__.py
  verenigingen/tests/patches/test_procurios_membership_id_field.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(import): ProcuriosMembershipValidator (CSV shape + status mapping)
  verenigingen/tests/utils/csv/test_procurios_membership_validator.py
  verenigingen/utils/csv/procurios_membership_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(import): cover Kwartaal, cancelled-cascade fallbacks, dues_rate fallback in membership validator
  verenigingen/tests/utils/csv/test_procurios_membership_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(import): Procurios Membership Type Mapping child doctype
  verenigingen/tests/doctype/__init__.py
  verenigingen/tests/doctype/test_procurios_membership_type_mapping.py
  verenigingen/verenigingen/doctype/procurios_membership_type_mapping/__init__.py
  verenigingen/verenigingen/doctype/procurios_membership_type_mapping/procurios_membership_type_mapping.json
  verenigingen/verenigingen/doctype/procurios_membership_type_mapping/procurios_membership_type_mapping.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(import): Procurios Membership Import doctype + validate/preview + type-mapping upsert
  verenigingen/tests/doctype/test_procurios_membership_import.py
  verenigingen/verenigingen/doctype/procurios_membership_import/__init__.py
  verenigingen/verenigingen/doctype/procurios_membership_import/procurios_membership_import.js
  verenigingen/verenigingen/doctype/procurios_membership_import/procurios_membership_import.json
  verenigingen/verenigingen/doctype/procurios_membership_import/procurios_membership_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(import): keep both row errors and dues-template warning in membership import error_log
  verenigingen/tests/doctype/test_procurios_membership_import.py
  verenigingen/verenigingen/doctype/procurios_membership_import/procurios_membership_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(import): Procurios membership import per-row processing + background job
  verenigingen/tests/doctype/test_procurios_membership_import_flow.py
  verenigingen/verenigingen/doctype/procurios_membership_import/procurios_membership_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(import): correct Expired status, cover admin elevation, reset grace flag, harden dues assertion
  verenigingen/tests/doctype/test_procurios_membership_import_flow.py
  verenigingen/verenigingen/doctype/procurios_membership_import/procurios_membership_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(import): rename Procurios CSV Import -> Member Import (series MEM-IMP-)
  verenigingen/patches.txt
  verenigingen/patches/v15_0/rename_procurios_csv_import_to_member_import.py
  verenigingen/tests/fixtures/procurios_csv_fixtures.py
  verenigingen/tests/known_test_failures.txt
  verenigingen/tests/member/test_member_import.py
  verenigingen/tests/patches/test_rename_member_import.py
  verenigingen/tests/payment/test_procurios_mandate_import.py
  verenigingen/tests/test_timings.json
  verenigingen/utils/csv/base_csv_import.py
  verenigingen/utils/csv_import_processor.py
  verenigingen/verenigingen/doctype/member_import/__init__.py
  verenigingen/verenigingen/doctype/member_import/member_import.js
  verenigingen/verenigingen/doctype/member_import/member_import.json
  verenigingen/verenigingen/doctype/member_import/member_import.py
  verenigingen/verenigingen/doctype/member_import/test_member_import_coverage.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(import): membership import must not re-save child table post-submit; cover submit path + mixed batch
  verenigingen/tests/doctype/test_procurios_membership_import_flow.py
  verenigingen/verenigingen/doctype/procurios_membership_import/procurios_membership_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(import): rename patch clears stale PROC-IMP- naming_series property setters
  verenigingen/patches/v15_0/rename_procurios_csv_import_to_member_import.py
  verenigingen/tests/patches/test_rename_member_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(import): create procurios_membership_id via get_custom_fields (fresh-install/CI)
  verenigingen/setup/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(reports): repair gap-analysis xlsx export + resolve payment report name collisions
  verenigingen/docs/testing/test-remediation/backlog-dead-code.md
  verenigingen/tests/payment/test_mollie_configuration_migration.py
  verenigingen/tests/report/test_membership_dues_coverage_analysis_actions.py
  verenigingen/tests/report/test_membership_revenue_projection.py
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
  verenigingen/verenigingen/report/overdue_member_payments/overdue_member_payments.js
  verenigingen/verenigingen/report/overdue_member_payments/overdue_member_payments.json
  verenigingen/verenigingen_payments/report/mollie_balance_report/__init__.py
  verenigingen/verenigingen_payments/report/mollie_balance_report/mollie_balance_report.json
  verenigingen/verenigingen_payments/report/mollie_balance_report/mollie_balance_report.py
  verenigingen/verenigingen_payments/report/overdue_member_payments/overdue_member_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(portal): remove dead wiring around the update_website_context hook
  verenigingen/hooks/__init__.py
  verenigingen/hooks/assets.py
  verenigingen/hooks/portal.py
  verenigingen/public/css/volunteer_portal.css
  verenigingen/tests/test_hooks_modules.py
  verenigingen/tests/test_portal_customization.py
  verenigingen/utils/portal_customization.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(portal): fix logo + board-chapter divergence, drop dead portal code
  docs/audits/2026-07-17-portal-pages-code-quality-audit.md
  verenigingen/services/chapter/chapter_permission_service.py
  verenigingen/templates/includes/address_list.html
  verenigingen/templates/includes/portal_sidebar.html
  verenigingen/templates/includes/skills_dashboard_widget.html
  verenigingen/templates/pages/addresses.py
  verenigingen/templates/pages/admin_tools.py
  verenigingen/templates/pages/brand_management.py
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/templates/pages/chapter_join.py
  verenigingen/templates/pages/contact_request.py
  verenigingen/templates/pages/donate.html
  verenigingen/templates/pages/manage_donations.py
  verenigingen/templates/pages/member_portal.py
  verenigingen/templates/pages/membership_application.py
  verenigingen/templates/pages/my_teams.py
  verenigingen/templates/pages/personal_details.py
  verenigingen/templates/pages/sepa_reconciliation_dashboard.py
  verenigingen/templates/pages/team_members.py
  verenigingen/templates/pages/verenigingen/join_chapter.py
  verenigingen/templates/pages/volunteer/expenses.py
  verenigingen/templates/pages/volunteer/skills.html
  verenigingen/templates/pages/volunteer/skills.py
  verenigingen/tests/backend/portal/test_page_brand_management.py
  verenigingen/tests/backend/portal/test_page_chapter_join.py
  verenigingen/tests/backend/portal/test_page_contact_request.py
  verenigingen/tests/backend/portal/test_page_join_chapter.py
  verenigingen/tests/backend/portal/test_page_manage_donations_coverage.py
  verenigingen/tests/backend/portal/test_page_member_portal_coverage.py
  verenigingen/tests/backend/portal/test_page_personal_details_coverage.py
  verenigingen/tests/backend/portal/test_page_portal_cluster.py
  verenigingen/tests/backend/portal/test_page_sepa_reconciliation_dashboard.py
  verenigingen/tests/backend/portal/test_page_team_members.py
  verenigingen/tests/integration/test_authentication_flows.py
  verenigingen/tests/integration/test_portal_authentication_security.py
  verenigingen/www/monitoring_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(portal): cover the shared board-chapter lookup and the logo fix
  verenigingen/tests/backend/portal/test_page_volunteer_skills.py
  verenigingen/tests/services/test_chapter_board_chapters.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(portal): scope + pin the staff chapter grant after external review
  docs/audits/2026-07-17-portal-pages-code-quality-audit.md
  verenigingen/services/chapter/chapter_permission_service.py
  verenigingen/tests/backend/portal/test_page_brand_management.py
  verenigingen/tests/services/test_chapter_board_chapters.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(portal): correct the security docstring; strengthen the staff tests
  docs/audits/2026-07-17-portal-pages-code-quality-audit.md
  verenigingen/services/chapter/chapter_permission_service.py
  verenigingen/tests/services/test_chapter_board_chapters.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): stop get_chapter_member_emails leaking across chapters via cache
  docs/audits/2026-07-17-portal-pages-code-quality-audit.md
  verenigingen/api/chapter_dashboard_api.py
  verenigingen/services/chapter/chapter_permission_service.py
  verenigingen/tests/services/test_chapter_board_chapters.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(portal): drop the test for the deleted addresses.py redirect stub
  verenigingen/tests/backend/portal/test_page_simple_controllers_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
