Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

updated email service, templates
  docs/architecture/EMAIL_SERVICE_ARCHITECTURE.md
  scripts/fix_remaining_xss.py
  scripts/fix_template_xss.py
  scripts/test_email_consolidation.py
  verenigingen/api/email_api.py
  verenigingen/api/enhanced_membership_application.py
  verenigingen/api/membership_application_review.py
  verenigingen/api/payment_processing.py
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/fixtures/email_template.json
  verenigingen/services/communication/__init__.py
  verenigingen/services/communication/compatibility.py
  verenigingen/services/communication/email_service.py
  verenigingen/services/communication/notification_dispatcher.py
  verenigingen/services/communication/template_manager.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_email_service_security.py
  verenigingen/tests/test_email_template_xss_protection.py
  verenigingen/utils/expense_notifications.py
  verenigingen/verenigingen/doctype/analytics_alert_rule/analytics_alert_rule.py
  verenigingen/verenigingen/doctype/chapter/managers/communication_manager.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
  verenigingen/verenigingen/doctype/membership/scheduler.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
  verenigingen/verenigingen/web_form/membership_application.py
  verenigingen/verenigingen_payments/api/sepa_batch_notifications.py
  verenigingen/verenigingen_payments/utils/sepa_notifications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

email service and template migration
  deprecated_functions_report.md
  docs/testing/EMAIL_NOTIFICATION_TEST_REPORT.md
  scripts/validation/email_template_precommit_check.py
  verenigingen/api/payment_plan_management.py
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/events/subscribers/payment_history_queue.py
  verenigingen/events/subscribers/team_subscribers.py
  verenigingen/fixtures/email_template.json
  verenigingen/integrations/mollie/api/payment_webhook.py
  verenigingen/integrations/mollie/api/simple_donation_webhook.py
  verenigingen/services/communication/email_service.py
  verenigingen/services/payment_processing_service.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_email_service_integration.py
  verenigingen/tests/test_email_system_edge_cases.py
  verenigingen/tests/test_email_template_xss_protection.py
  verenigingen/tests/test_sepa_payment_notifications_integration.py
  verenigingen/utils/payment_retry.py
  verenigingen/verenigingen/doctype/chapter/chapter.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/verenigingen_payments/api/sepa_batch_notifications.py
  verenigingen/verenigingen_payments/doctype/payment_plan/payment_plan.py
  verenigingen/verenigingen_payments/utils/sepa_notifications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test suite fixes, chapter join email template added
  verenigingen/api/chapter_validation.py
  verenigingen/api/sepa_reconciliation.py
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/events/subscribers/team_subscribers.py
  verenigingen/fixtures/email_template.json
  verenigingen/integrations/mollie/tests/test_mollie_core_integration.py
  verenigingen/integrations/mollie/tests/test_mollie_refund_chargeback_integration.py
  verenigingen/integrations/mollie/tests/test_mollie_webhook_security.py
  verenigingen/services/communication/email_service.py
  verenigingen/services/communication/notification_dispatcher.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/setup/dutch-validators.js
  verenigingen/tests/test_enhanced_factory.py
  verenigingen/tests/test_mollie_core_integration.py
  verenigingen/tests/test_mollie_refund_chargeback_integration.py
  verenigingen/tests/test_mollie_webhook_security.py
  verenigingen/tests/test_runner.py
  verenigingen/utils/sepa_notifications.py
  verenigingen/utils/team_role_profile_manager.py
  verenigingen/verenigingen/doctype/chapter/chapter.js
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

bidirectional volunteer/member updates, email system fixes
  detailed_security_audit_report.md
  docs/testing/team-training-guide.md
  docs/validation/enhanced-js-calls-review.csv
  docs/validation/enhanced-js-calls-review.md
  fix_donation_template.py
  scripts/run_n_plus_one_analysis.py
  test_bidirectional_sync.py
  test_service_infrastructure.py
  verenigingen/email/analytics_tracker.py.disabled
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/events/subscribers/team_subscribers.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/fixtures/email_template.json
  verenigingen/hooks.py
  verenigingen/integrations/mollie/services/complete_payment_service.py
  verenigingen/public/js/donation_form.js
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_bank_integration_boundaries.py
  verenigingen/tests/test_fee_override_migration.py
  verenigingen/tests/unit/doctype/test_donation_controller_comprehensive.test.js
  verenigingen/utils/email_analytics.py
  verenigingen/utils/email_bounce_handler.py
  verenigingen/utils/email_campaign.py
  verenigingen/utils/email_tracking.py
  verenigingen/utils/newsletter_integration.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/donation/donation.js
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/sepa_processor.py
  verenigingen/verenigingen_payments/tests/test_direct_debit_batch_refactoring.py
  verenigingen/verenigingen_payments/utils/sepa_config_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

mollie payments improvements, debug page added
  verenigingen/integrations/mollie/core/client.py
  verenigingen/integrations/mollie/utils/test_helpers.py
  verenigingen/services/mollie_debug_service.py
  verenigingen/templates/pages/bank_details.html
  verenigingen/templates/pages/bank_details.py
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_payments_debug.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie payments, webhook auth
  MOLLIE_TEST_SUITE_SUMMARY.md
  security_reports/security_dashboard_20250729_115122.json
  verenigingen/api/check_mollie_config.py
  verenigingen/api/check_webhook_logs.py
  verenigingen/api/test_specific_transaction.py
  verenigingen/api/test_webhook_signature.py
  verenigingen/integrations/mollie/api/payment_webhook.py
  verenigingen/integrations/mollie/core/client.py
  verenigingen/integrations/mollie/tests/test_failed_payment_processing.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_payment_failure_email_templates.py
  verenigingen/utils/member_financial_history_manager.py
  verenigingen/utils/payment_gateways.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.py
  verenigingen/verenigingen_payments/utils/secure_webhook_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

workspace fix, mollie fix
  test_background_approval.py
  test_bidirectional_sync.py
  test_service_infrastructure.py
  verenigingen/api/payment_processing.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/integrations/mollie/services/refund_chargeback_service.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service.py
  verenigingen/utils/dutch_name_utils.py
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
  verenigingen/verenigingen/doctype/member/member.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie test fixes, contribution amendment handling fixes
  verenigingen/fixtures/email_template.json
  verenigingen/hooks.py
  verenigingen/integrations/mollie/api/payment_webhook.py
  verenigingen/integrations/mollie/services/refund_chargeback_service.py
  verenigingen/integrations/mollie/utils/date_parser.py
  verenigingen/templates/pages/bank_details_confirm.py
  verenigingen/templates/pages/membership_fee_adjustment.py
  verenigingen/tests/test_amendment_fee_change_fix.py
  verenigingen/tests/test_mollie_refund_integration_fixes.py
  verenigingen/tests/test_mollie_refund_service_fixes.py
  verenigingen/utils/account_group_project_framework.py
  verenigingen/utils/account_group_validation_hooks.py
  verenigingen/verenigingen/doctype/account_group_project_mapping/account_group_project_mapping.py
  verenigingen/verenigingen/doctype/chapter/chapter.json
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

typo fixes
  verenigingen/integrations/mollie/services/refund_chargeback_service.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie payment refactor
  verenigingen/api/mollie_payment.py
  verenigingen/integrations/mollie/api/payment_webhook.py
  verenigingen/integrations/mollie/services/generic_webhook_service.py
  verenigingen/integrations/mollie/services/payment_context_resolver.py
  verenigingen/integrations/mollie/services/payment_entry_factory.py
  verenigingen/integrations/mollie/services/payment_processors.py
  verenigingen/integrations/mollie/tests/test_payment_context_resolver.py
  verenigingen/integrations/mollie/tests/test_payment_processors.py
  verenigingen/integrations/mollie/tests/test_webhook_security.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/verenigingen/doctype/donation/donation.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

legacy code cleaning
  verenigingen/integrations/mollie/api/payment_webhook.py
  verenigingen/integrations/mollie/api/unified_payment_api.py
  verenigingen/integrations/mollie/api/webhooks.py
  verenigingen/integrations/mollie/services/payment_entry_factory.py
  verenigingen/integrations/mollie/services/webhook_service.py
  verenigingen/integrations/mollie/utils/monitoring.py
  verenigingen/public/css/tailwind.css
  verenigingen/utils/payment_gateways.py
  verenigingen/web_form/donation_form/donation_form.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie refund processing logic working
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/hooks.py
  verenigingen/integrations/mollie/api/payment_webhook.py
  verenigingen/integrations/mollie/core/client.py
  verenigingen/integrations/mollie/services/refund_chargeback_service.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service.py
  verenigingen/overrides/payment_entry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

dues invoicing system improvements
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/email/automated_campaigns.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/integrations/mollie/api/unified_payment_api.py
  verenigingen/tasks/address_optimization.py
  verenigingen/utils/security/types.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/verenigingen_settings/test_verenigingen_settings.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/www/dues-invoice-debugger.html
  verenigingen/www/dues-invoice-debugger.py
  verenigingen/www/dues-invoice-manager.html
  verenigingen/www/dues-invoice-manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

idpot fixes
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/integrations/mollie/api/unified_payment_api.py
  verenigingen/integrations/mollie/services/refund_chargeback_service.py
  verenigingen/integrations/mollie/services/unified_idempotency_manager.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/www/dues-invoice-manager.html
  verenigingen/www/dues-invoice-manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie implementation improvements
  .gitignore
  package-lock.json
  package.json
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/api/refund_processor.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/integrations/mollie/__init__.py
  verenigingen/integrations/mollie/api/payment_webhook.py
  verenigingen/integrations/mollie/api/simple_donation_webhook.py
  verenigingen/integrations/mollie/api/unified_payment_api.py
  verenigingen/integrations/mollie/services/__init__.py
  verenigingen/integrations/mollie/services/complete_payment_service.py
  verenigingen/integrations/mollie/services/generic_webhook_service.py
  verenigingen/integrations/mollie/services/unified_idempotency_manager.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/integrations/mollie/tests/test_failed_payment_processing.py
  verenigingen/integrations/mollie/utils/error_recovery.py
  verenigingen/integrations/mollie/utils/unified_payment_entry_creator.py
  verenigingen/integrations/mollie/utils/webhook_security.py
  verenigingen/integrations/mollie/utils/webhook_utilities.py
  verenigingen/tests/test_mollie_refund_integration_fixes.py
  verenigingen/tests/test_mollie_refund_service_fixes.py
  verenigingen/utils/payment_gateways.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/verenigingen_payments/doctype/mollie_audit_log/mollie_audit_log.json
  verenigingen/verenigingen_payments/utils/secure_webhook_handler.py
  verenigingen/www/dues-invoice-manager.html
  verenigingen/www/dues-invoice-manager.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

small mollie improvements
  verenigingen/integrations/mollie/services/unified_idempotency_manager.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service_unified.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

sepa dd system fixes
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/services/sepa_configuration_service.py
  verenigingen/verenigingen_payments/services/sepa_xml_generation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fixed custom docperms
  verenigingen/fixtures/custom_docperm.json
  verenigingen/verenigingen/doctype/donor/donor.json
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.json
Due: email-template-validator

webhook user role profile fixes, mollie integration tests, webhook debugging function, superfluous role consolidation
  docs/security/ROLE_PROFILE_INTEGRATION_GUIDE.md
  docs/subsystems/security-and-permissions.md
  scripts/setup/auto_assign_profiles.py
  scripts/setup/configure_role_profiles.py
  scripts/setup/deploy_role_profiles.py
  scripts/setup/migrate_role_profile_configuration.py
  scripts/setup/validate_role_profile_db_config.py
  verenigingen/fixtures/module_profile.json
  verenigingen/fixtures/role_profile.json
  verenigingen/hooks.py
  verenigingen/integrations/mollie/services/webhook_service.py
  verenigingen/integrations/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/integrations/mollie/utils/unified_payment_entry_creator.py
  verenigingen/integrations/mollie/utils/webhook_security.py
  verenigingen/services/mollie_debug_service.py
  verenigingen/setup/role_profile_setup.py
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/tests/security/test_role_profile_integration.py
  verenigingen/tests/security/test_security_vulnerability_regression.py
  verenigingen/tests/test_unified_webhook_error_scenarios.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/donation/donation.json
  verenigingen/verenigingen/doctype/donor/donor.json
  verenigingen/verenigingen/doctype/member/member.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie improvements
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/integrations/mollie/events/__init__.py
  verenigingen/integrations/mollie/events/amendment_events.py
  verenigingen/integrations/mollie/services/mollie_subscription_sync_service.py
  verenigingen/services/mollie_debug_service.py
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.json
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

added some CORs for applications, added initial support for membership type changes to the mollie contribution request update handler
  scripts/database/create_sepa_indexes.py
  scripts/validation/ast_field_analyzer_original.py
  scripts/validation/check_sepa_indexes.py
  scripts/validation/unified_validation_engine.py
  verenigingen/api/check_roles.py
  verenigingen/api/check_sepa_indexes.py
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/api/payment_dashboard.py
  verenigingen/api/validate_sql_fixes.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/integrations/mollie/services/mollie_subscription_sync_service.py
  verenigingen/templates/pages/membership_fee_adjustment.html
  verenigingen/templates/pages/membership_fee_adjustment.py
  verenigingen/utils/billing_frequency_transition_manager.py
  verenigingen/utils/create_sepa_indexes.py
  verenigingen/utils/optimized_queries.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.js
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.json
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/www/dues-invoice-manager.html
  verenigingen/www/dues-invoice-manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

mollie sub bulk recreation tool, dues invoice generation fixes
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/hooks.py
  verenigingen/patches/v1_0/add_coverage_duplicate_check_indexes.py
  verenigingen/templates/pages/bank_details_confirm.py
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_subscription_recreation.html
  verenigingen/templates/pages/mollie_subscription_recreation.py
  verenigingen/utils/optimized_queries.py
  verenigingen/utils/payment_history_builder.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen_payments/services/batch_processing_service.py
  verenigingen/verenigingen_payments/utils/sepa_race_condition_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

payment history updater fixed, made description for mollie sub recreation configurable
  verenigingen/patches/v1_0/populate_dynamic_link_doctype_fields.py
  verenigingen/templates/pages/mollie_subscription_recreation.html
  verenigingen/templates/pages/mollie_subscription_recreation.py
  verenigingen/utils/financial_history_batch_processor.py
  verenigingen/utils/member_financial_history_manager.py
  verenigingen/utils/optimized_queries.py
  verenigingen/utils/payment_history_builder.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/member/mixins/sepa_mixin.py
  verenigingen/verenigingen/doctype/member_fee_change_history/member_fee_change_history.json
  verenigingen/verenigingen/doctype/volunteer_expense/volunteer_expense.json
  verenigingen/verenigingen_payments/api/sepa_mandate_management.py
  verenigingen/verenigingen_payments/doctype/member_payment_history/member_payment_history.json
  verenigingen/verenigingen_payments/doctype/member_sepa_mandate_link/member_sepa_mandate_link.json
  verenigingen/verenigingen_payments/page/sepa_mandate_diagnostics/sepa_mandate_diagnostics.js
  verenigingen/verenigingen_payments/page/sepa_mandate_diagnostics/sepa_mandate_diagnostics.json
  verenigingen/verenigingen_payments/page/sepa_mandate_diagnostics/sepa_mandate_diagnostics.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

mollie sub webhook url
  verenigingen/services/mollie_debug_service.py
  verenigingen/templates/pages/mollie_subscription_recreation.html
  verenigingen/templates/pages/mollie_subscription_recreation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

debug form
  verenigingen/templates/pages/mollie_payments_debug.html
Due: enhanced-field-validator, email-template-validator

mollie stuff
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/services/mollie_debug_service.py
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_subscription_recreation.html
  verenigingen/templates/pages/mollie_subscription_recreation.py
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie form adjustments
  verenigingen/templates/pages/mollie_subscription_recreation.html
  verenigingen/templates/pages/mollie_subscription_recreation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie form adjustments
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_subscription_recreation.html
  verenigingen/templates/pages/mollie_subscription_recreation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

volunteer activity expansion, dues invoice management page updates
  docs/features/VOLUNTEER_ACTIVITY_ENHANCEMENTS.md
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/public/css/tailwind.css
  verenigingen/templates/pages/mollie_subscription_recreation.py
  verenigingen/utils/check_coverage_mismatch.py
  verenigingen/utils/optimized_queries.py
  verenigingen/utils/sales_invoice_account_handler.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen/doctype/volunteer_activity/volunteer_activity.json
  verenigingen/verenigingen/doctype/volunteer_activity_tag/__init__.py
  verenigingen/verenigingen/doctype/volunteer_activity_tag/volunteer_activity_tag.json
  verenigingen/verenigingen/doctype/volunteer_activity_tag/volunteer_activity_tag.py
  verenigingen/verenigingen_payments/page/sepa_mandate_diagnostics/sepa_mandate_diagnostics.js
  verenigingen/verenigingen_payments/page/sepa_mandate_diagnostics/sepa_mandate_diagnostics.py
  verenigingen/www/dues-invoice-manager.html
  verenigingen/www/dues_invoice_manager.py
  verenigingen/www/e-boekhouden-dashboard.html
  verenigingen/www/e_boekhouden_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

financial child table managers, volunteering system fixes
  verenigingen/services/anbi_validation_service.py
  verenigingen/services/donation_donor_service.py
  verenigingen/tests/test_anbi_validation_service.py
  verenigingen/utils/member_financial_history_manager.py
  verenigingen/utils/member_history_integrity.py
  verenigingen/utils/secure_operations.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/periodic_donation_agreement/periodic_donation_agreement.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen/doctype/volunteer_activity/volunteer_activity.py
  verenigingen/web_form/donation_form/donation_form.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

ws
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: email-template-validator

mjnrood import fixes, test factory teardown improvements
  QC_REVIEW_TEST_INFRASTRUCTURE_IMPROVEMENTS.md
  detailed_security_audit_report.md
  verenigingen/api/membership_application_review.py
  verenigingen/services/member/validation/__init__.py
  verenigingen/services/member/validation/member_duplicate_detection_service.py
  verenigingen/templates/pages/bank_details.html
  verenigingen/tests/backend/components/test_member_iban_history.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_member_duplicate_detection.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/page/membership_application_review/membership_application_review.js
  verenigingen/verenigingen/report/chapter_expense_report/chapter_expense_report.js
  verenigingen/verenigingen/report/chapter_expense_report/chapter_expense_report.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

mijnrood import process improvements, application form improvements.
  docs/refactoring/MIJNROOD_CSV_IMPORT_REFACTORING_PLAN.md
  verenigingen/api/enhanced_membership_application.py
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/events/subscribers/team_subscribers.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/integrations/mollie/core/legacy_integration.py
  verenigingen/integrations/mollie/core/legacy_payment_service.py
  verenigingen/integrations/mollie/utils/legacy_transaction_manager.py
  verenigingen/public/css/membership_application.css
  verenigingen/public/css/tailwind.css
  verenigingen/public/js/membership_application.js
  verenigingen/templates/pages/admin_tools.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_api_security_framework.py
  verenigingen/tests/test_csv_data_transformers.py
  verenigingen/tests/test_csv_import_integration.py
  verenigingen/tests/test_secure_csv_parser.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/bulk_chapter_assignment.py
  verenigingen/utils/bulk_volunteer_creation.py
  verenigingen/utils/csv/__init__.py
  verenigingen/utils/csv/data_transformers.py
  verenigingen/utils/csv/secure_csv_parser.py
  verenigingen/utils/csv_import_processor.py
  verenigingen/utils/debug_list_permissions.py
  verenigingen/utils/member_import_cleanup.py
  verenigingen/utils/optimized_chapter_lookup.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/security/audit_logging.py
  verenigingen/utils/security/types.py
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.json
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.json
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

mijnrood refactor
  verenigingen/tests/test_csv_data_validator.py
  verenigingen/utils/csv/csv_data_validator.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
