Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

fix(security): fail closed on a non-ASCII return token, in the helper
  verenigingen/tests/backend/portal/test_page_ponto_pay.py
  verenigingen/utils/security/guest_return_tokens.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-09-07c — the instrument is not the claim
  docs/handoffs/2026-09-07c-the-instrument-is-not-the-claim.md
Due: none

fix(security): close the existence-timing oracle in payment status access (#1105)
  scripts/validation/log_error_arg_order_baseline.txt
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/templates/pages/payment_success.py
  verenigingen/tests/backend/components/test_setup_critical_operation_rules.py
  verenigingen/tests/backend/portal/test_page_payment_success.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): make #1105's rate limit reach existing sites, not just fresh installs
  verenigingen/patches.txt
  verenigingen/patches/v2_2/add_refresh_payment_status_critical_operation_rule.py
  verenigingen/tests/backend/components/test_setup_critical_operation_rules.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(security): close the SQL-only blind spot an independent review defeated (#1105)
  verenigingen/tests/backend/portal/test_page_payment_success.py
  verenigingen/tests/backend/portal/test_page_payment_success_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(bank): stop the Internal Transfer fixture building both legs on one account (#1111)
  verenigingen/tests/services/test_bank_transaction_creator_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-09-09 — four retractions and a dependency that moved
  docs/handoffs/2026-09-09-four-retractions-and-a-dependency-that-moved.md
Due: none

test(security): close the enqueue channel, and assert the two logs I left unasserted
  verenigingen/tests/backend/portal/test_page_payment_success.py
  verenigingen/tests/backend/portal/test_page_payment_success_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(error-log-guard): add assertErrorLog() and fix vacuous log-claim tests (#1112)
  verenigingen/tests/backend/unit/api/test_membership_application_review_coverage.py
  verenigingen/tests/chapter/test_board_role_failure_propagation.py
  verenigingen/tests/events/test_expense_events_coverage.py
  verenigingen/tests/member/test_account_creation_api_sweep.py
  verenigingen/tests/sepa/test_dd_batch_pipeline_coverage.py
  verenigingen/tests/sepa/test_sepa_batch_processor_returns_coverage.py
  verenigingen/tests/services/test_mollie_sync_service_integration.py
  verenigingen/tests/services/test_user_role_profile_calculator_sweep.py
  verenigingen/tests/utils/error_log_guard.py
  verenigingen/tests/utils/test_error_log_guard.py
  verenigingen/tests/volunteer/test_expense_handlers_coverage.py
  verenigingen/tests/volunteer/test_volunteer_activation_service_coverage.py
  verenigingen/tests/volunteer/test_volunteer_statistics_coverage.py
  verenigingen/tests/www/test_mollie_www_pages_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(tests): warn that a log guard nested inside assertRaises is inert
  verenigingen/tests/utils/error_log_guard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(security): use the shared assertErrorLog now that #1116 has landed
  verenigingen/tests/backend/portal/test_page_payment_success_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(validation): gate the vacuous log-claiming test class shut (#1112)
  .github/workflows/code-validation.yml
  .pre-commit-config.yaml
  scripts/validation/tests/test_vacuous_error_log_test_validator.py
  scripts/validation/vacuous_error_log_test_validator.py
  verenigingen/services/billing/test_billing_period_calculator.py
  verenigingen/services/billing/test_bulk_invoice_generation_service.py
  verenigingen/tests/e_boekhouden/test_migration_controller_helpers_coverage.py
  verenigingen/tests/e_boekhouden/test_payment_entry_handler_allocation.py
  verenigingen/tests/e_boekhouden/test_payment_processor_coverage.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/test_mijnrood_csv_import_reports.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/test_sepa_mandate_audit_hooks.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(validation): close the review's bypass of the gate's own soundness check
  scripts/validation/tests/test_vacuous_error_log_test_validator.py
  scripts/validation/vacuous_error_log_test_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(validation): require the soundness signal to be a QUERY, not just a call argument
  scripts/validation/tests/test_vacuous_error_log_test_validator.py
  scripts/validation/vacuous_error_log_test_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(validation): the mute call cannot be its own evidence -- delete the duplicated walk
  scripts/validation/tests/test_vacuous_error_log_test_validator.py
  scripts/validation/vacuous_error_log_test_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(validation): a mute in setUp() is still a mute, and a call that is only defined is not evidence
  scripts/validation/tests/test_vacuous_error_log_test_validator.py
  scripts/validation/vacuous_error_log_test_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-09-10 — four bypasses, and a premise I had been handed
  docs/handoffs/2026-09-10-four-bypasses-and-a-premise-i-had-been-handed.md
Due: none

fix(logging): widen the arg-order validator for the bare-Name/bare-Name swap, and fix the 12 confirmed sites
  scripts/validation/log_error_arg_order_validator.py
  scripts/validation/tests/test_log_error_arg_order_validator.py
  verenigingen/api/admin_membership_operations.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/migration_error_logger.py
  verenigingen/services/member/approval/application_helpers.py
  verenigingen/utils/employee_user_link.py
  verenigingen/utils/safe_error_logging.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(test-harness): the Error-Log strict flag is an audit tool, and #1122's gate documented a false reason for its scope
  scripts/validation/vacuous_error_log_test_validator.py
  verenigingen/tests/utils/error_log_guard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(test-harness): correct the spot-check figures -- 1,136/81 modules, not 697/13, and say plainly that it was a stopped partial run
  verenigingen/tests/utils/error_log_guard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): make test_money.py's docstring raw to stop a SyntaxWarning
  verenigingen/verenigingen_payments/tests/utils_shared/test_money.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): give zero-assertion tests real, mutation-proven assertions
  verenigingen/tests/backend/components/test_chapter_edge_cases.py
  verenigingen/tests/backend/components/test_membership_dues_edge_cases.py
  verenigingen/tests/backend/components/test_termination_system.py
  verenigingen/tests/backend/components/test_volunteer_api.py
  verenigingen/tests/backend/components/test_volunteer_edge_cases.py
  verenigingen/tests/backend/security/test_security_comprehensive.py
  verenigingen/tests/backend/validation/test_import_validation_integration.py
  verenigingen/tests/chapter/test_chapter_join_request.py
  verenigingen/tests/chapter/test_team_role_integration.py
  verenigingen/tests/financial/test_mollie_financial_safeguards.py
  verenigingen/tests/volunteer/test_volunteer_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(logging): guard the 5 safe_log_error clones against a None title, and correct one test that asserted the swapped placement
  verenigingen/api/admin_membership_operations.py
  verenigingen/services/member/approval/application_helpers.py
  verenigingen/tests/utils/test_safe_log_error_none_title_regression.py
  verenigingen/utils/employee_user_link.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
  verenigingen/verenigingen/doctype/account_creation_request/test_account_creation_request_coverage.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(ci): trim volunteer.py's comment under the controller-size gate, and drop two unneeded commits from the regression test
  verenigingen/tests/utils/test_safe_log_error_none_title_regression.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

revert(tests): drop test_temporal_validation's fix -- it only works around #1134
  verenigingen/tests/financial/test_mollie_financial_safeguards.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-09-14 — "done" kept being declared before the evidence existed
  docs/handoffs/2026-09-14-done-kept-being-declared-before-the-evidence-existed.md
Due: none

docs(handoff): record that the push-only gate simulation was itself broken twice
  docs/handoffs/2026-09-14-done-kept-being-declared-before-the-evidence-existed.md
Due: none

fix(validation): match 'title' as a trailing segment, not a substring anywhere (#1131)
  scripts/validation/log_error_arg_order_validator.py
  scripts/validation/tests/test_log_error_arg_order_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(validation): name the two blind spots the review found, not just the two I admitted
  scripts/validation/log_error_arg_order_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(e-boekhouden): make the probe teardown's swallowed failure loud (#1150)
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(e-boekhouden): pin the LOGGING, not just the return value (#1150 review)
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(e-boekhouden): delete the Expense Claim Account rows the probe strands (#1150)
  scripts/validation/order_dependence_baseline.txt
  scripts/validation/tests/test_harness_logger_teardown_census.py
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(e-boekhouden): pin the property the fix is built on, and unpick two weak tests (#1150 review)
  scripts/validation/order_dependence_baseline.txt
  scripts/validation/tests/test_harness_logger_teardown_census.py
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(e-boekhouden): stop this file's own tests publishing the real alarm tag (#1150)
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): sweep the Company orphans the drain's own force-delete strands (#1154)
  scripts/validation/harness_logger_teardown_baseline.txt
  scripts/validation/order_dependence_baseline.txt
  scripts/validation/tests/test_harness_logger_teardown_census.py
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_harness_leak_attribution.py
  verenigingen/tests/utils/company_orphans.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): cover the sibling force-delete, and make the drift guard able to drift (#1154 review)
  scripts/validation/tests/test_harness_logger_teardown_census.py
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/harness_logger.py
  verenigingen/tests/support/test_sepa_test_company.py
  verenigingen/tests/test_harness_leak_attribution.py
  verenigingen/tests/utils/company_orphans.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-09-18 — six rounds, and every blocking defect was in the instrument
  docs/handoffs/2026-09-18-every-defect-was-in-the-instrument-not-the-fix.md
Due: none

fix(sepa): consolidate LIKE-wildcard escaping into one shared helper
  verenigingen/api/periodic_donation_operations.py
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/tests/e_boekhouden/test_rest_migration_payments.py
  verenigingen/tests/services/test_sepa_mandate_manager.py
  verenigingen/tests/utils/test_sql_like.py
  verenigingen/utils/__init__.py
  verenigingen/utils/sql_like.py
  verenigingen/verenigingen_payments/mollie/utils/reversal_idempotency.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): sweep Company orphans when the delete RAISES, not only when it returns (#1154)
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_harness_leak_attribution.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
