Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(tests): stop force_unique_name from guaranteeing a collision (#1404)
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_enhanced_test_factory_force_unique_name.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(members): close can_review_application's existence oracle
  verenigingen/api/membership_application_review.py
  verenigingen/tests/chapter/test_chapter_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(fixtures): purge ledger rows in ~26 more cancel-then-delete cleanup sites
  verenigingen/services/billing/test_bulk_invoice_generation_service.py
  verenigingen/services/billing/test_invoice_generation_orchestrator.py
  verenigingen/services/billing/test_sales_invoice_hooks.py
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/backend/integration/test_erpnext_integration_complete.py
  verenigingen/tests/backend/integration/test_sepa_duplicate_prevention_core.py
  verenigingen/tests/backend/workflows/test_member_lifecycle_complete.py
  verenigingen/tests/e_boekhouden/test_migration_single_mutation_dispatch.py
  verenigingen/tests/e_boekhouden/test_opening_balance_import.py
  verenigingen/tests/e_boekhouden/test_rest_orchestration_start.py
  verenigingen/tests/financial/test_mollie_financial_safeguards.py
  verenigingen/tests/fixtures/enhanced_test_cleanup.py
  verenigingen/tests/member/test_member_merge.py
  verenigingen/tests/payment/test_payment_api_mutations.py
  verenigingen/tests/payment/test_payment_gateways_coverage.py
  verenigingen/tests/payment/test_payment_gateways_subscription_sweep.py
  verenigingen/tests/payment/test_sepa_race_condition_manager.py
  verenigingen/tests/sepa/test_sepa_bank_reconciliation_coverage.py
  verenigingen/tests/services/test_member_cleanup_service.py
  verenigingen/tests/test_fixture_isolation_invariants.py
  verenigingen/tests/utils/factories.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(fixtures): drop the now-merged #1391 baseline entry; add scope caveats
  verenigingen/tests/test_fixture_isolation_invariants.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donor): refuse ambiguous donor_email matches instead of picking one arbitrarily
  verenigingen/services/member/donor/donor_management_service.py
  verenigingen/services/member/donor/donor_member_reconciliation.py
  verenigingen/services/member/integration/member_donor_integration_service.py
  verenigingen/tests/backend/components/test_history_audit_improvements.py
  verenigingen/tests/backend/unit/services/test_member_history_update_service.py
  verenigingen/tests/donor/test_donor_member_reconciliation_coverage.py
  verenigingen/tests/services/test_donor_management_service.py
  verenigingen/tests/services/test_donor_member_reconciliation.py
  verenigingen/tests/services/test_member_donor_integration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donor): consult the authoritative Donor.member link before email; stop leaking donor names on ambiguity
  verenigingen/services/member/donor/donor_management_service.py
  verenigingen/services/member/donor/donor_member_reconciliation.py
  verenigingen/services/member/integration/member_donor_integration_service.py
  verenigingen/tests/services/test_donor_management_service.py
  verenigingen/tests/services/test_donor_member_reconciliation.py
  verenigingen/tests/services/test_member_donor_integration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore: delete abandoned verenigingen/fixes/ workspace
  pyrightconfig.json
  scripts/validation/doctype_name_baseline.txt
  scripts/validation/duplicate_helper_baseline.txt
  scripts/validation/log_error_arg_order_baseline.txt
  verenigingen/fixes/IMMEDIATE_ACTION_PLAN.md
  verenigingen/fixes/account_mapping_plan.md
  verenigingen/fixes/api_alignment_issues.md
  verenigingen/fixes/correct_implementation_example.py
  verenigingen/fixes/eboekhouden_utils.py
  verenigingen/fixes/error_handling_plan.md
  verenigingen/fixes/field_mapping_summary.md
  verenigingen/fixes/implementation_plan_revised.md
  verenigingen/fixes/implementation_roadmap.md
  verenigingen/fixes/invoice_metadata_plan.md
  verenigingen/fixes/multi_line_item_plan.md
  verenigingen/fixes/party_deduplication_plan.md
  verenigingen/fixes/payment_api_analysis_complete.md
  verenigingen/fixes/payment_api_analysis_results.md
  verenigingen/fixes/payment_implementation_plan_updated.md
  verenigingen/fixes/payment_import_improvement_detailed_plan.md
  verenigingen/fixes/payment_import_improvement_plan.md
  verenigingen/fixes/payment_import_plan_api_aware.md
  verenigingen/fixes/payment_import_plan_v3_verified.md
  verenigingen/fixes/performance_optimization_plan.md
  verenigingen/fixes/proper_field_mapping.md
  verenigingen/fixes/reconciliation_audit_plan.md
  verenigingen/fixes/revised_implementation_assessment.md
  verenigingen/fixes/step1_fix_data_fetching.py
  verenigingen/fixes/vat_handling_plan.md
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/patches.txt
  verenigingen/patches/v2_2/remove_dead_fixes_module_critical_operation_rules.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(donor): unify Donor-resolution query with the #1392 helper; strengthen weak fall-through test
  verenigingen/api/member/general_api.py
  verenigingen/services/member/donor/donor_member_reconciliation.py
  verenigingen/tests/backend/unit/api/test_member_api_extracted.py
  verenigingen/tests/services/test_donor_member_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(portal): equalize team_members query cost for unknown vs foreign team
  verenigingen/templates/pages/team_members.py
  verenigingen/tests/backend/portal/test_page_team_members.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(member): surface an ambiguous donor match as a dashboard indicator
  verenigingen/verenigingen/doctype/member/member.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(member): read check_donor_exists's nested OperationResult envelope in JS
  verenigingen/public/js/utils/operation-result-helpers.js
  verenigingen/tests/unit/operation-result-helpers.test.js
  verenigingen/verenigingen/doctype/member/member.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(billing): allow single-day Daily coverage in derive_coverage_from_invoice_data
  verenigingen/services/billing/billing_period_calculator.py
  verenigingen/services/billing/test_billing_period_calculator.py
  verenigingen/tests/integration/services/test_duplicate_invoice_detector.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(portal): use an impossible sentinel, not None, for unresolved team/chapter
  verenigingen/templates/pages/team_members.py
  verenigingen/tests/backend/portal/test_page_team_members.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: remap invalid log_security_event() event_type literals to valid options
  verenigingen/api/background_approval_api.py
  verenigingen/api/membership_application_review.py
  verenigingen/services/member/validation/member_duplicate_detection_service.py
  verenigingen/tests/backend/unit/api/test_membership_application_review_coverage.py
  verenigingen/tests/security/test_log_security_event_valid_types.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ci(validation): wire harness_super_skip and harness_factory_shadow validators into CI (#1372)
  .github/workflows/code-validation.yml
Due: none

fix(security): mitigate frappe.client existence oracle via override_whitelisted_methods
  verenigingen/hooks/__init__.py
  verenigingen/hooks/whitelisted_methods.py
  verenigingen/tests/security/test_core_client_permission_oracle.py
  verenigingen/utils/security/core_client_permission_oracle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: close ratchet blind spot for module-attribute log_security_event calls
  verenigingen/tests/security/test_log_security_event_valid_types.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(ponto): refuse a misconfigured Ponto Payment Request before it moves money
  scripts/validation/tests/test_harness_logger_teardown_census.py
  verenigingen/tests/payment/test_ponto_doctype_unit.py
  verenigingen/tests/payment/test_ponto_payment_request_paid_after_pe.py
  verenigingen/tests/payment/test_ponto_payment_request_reference_before_submit.py
  verenigingen/tests/sepa/test_ponto_payment_initiation_service.py
  verenigingen/tests/support/sepa_test_company.py
  verenigingen/verenigingen_payments/doctype/ponto_payment_request/ponto_payment_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): clear message_log leak, verify session-auth masking, fix citation
  scripts/validation/order_dependence_baseline.txt
  verenigingen/tests/security/test_core_client_permission_oracle.py
  verenigingen/utils/security/core_client_permission_oracle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(security): fix PR #1416 status, widen commit rationale docstring
  verenigingen/tests/security/test_core_client_permission_oracle.py
  verenigingen/utils/security/core_client_permission_oracle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(team): clear queued messages so the oracle doesn't reopen in _server_messages
  verenigingen/api/team_management.py
  verenigingen/tests/api/test_team_management_permission_oracle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(ponto): mark Ponto Payment Link status only after the PE succeeds
  verenigingen/tests/payment/test_ponto_payment_entry_creation.py
  verenigingen/tests/sepa/test_ponto_webhook_handler.py
  verenigingen/verenigingen_payments/ponto/api/webhook_handlers.py
  verenigingen/verenigingen_payments/ponto/services/payment_entry_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(ponto): give refresh_status() its own savepoint; scope PermissionError no-op to Guest
  verenigingen/tests/payment/test_ponto_payment_entry_creation.py
  verenigingen/tests/payment/test_ponto_payment_request_paid_after_pe.py
  verenigingen/utils/transaction_errors.py
  verenigingen/verenigingen_payments/doctype/ponto_payment_link/ponto_payment_link.py
  verenigingen/verenigingen_payments/doctype/ponto_payment_request/ponto_payment_request.py
  verenigingen/verenigingen_payments/ponto/services/payment_entry_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): correct get_doc_permissions shape reasoning, close has_permission message-log leak on exists path
  verenigingen/tests/security/test_core_client_permission_oracle.py
  verenigingen/utils/security/core_client_permission_oracle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payment-plan): annotate initiate_installment_payment parameters (#1380)
  verenigingen/api/payment_plan_management.py
  verenigingen/tests/payment/test_installment_payment_type_safety.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(api): guard validate_sepa_eligibility on invoice currency
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/tests/api/test_dues_invoice_workflow.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): redesign get_doc_permissions to close User-Permission oracle (Finding A)
  scripts/validation/test_quality_enforcer.py
  verenigingen/tests/security/test_core_client_permission_oracle.py
  verenigingen/utils/security/core_client_permission_oracle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: stop chapter board-history endpoints swallowing their own permission refusal
  verenigingen/tests/chapter/test_chapter_board_history_button.py
  verenigingen/tests/chapter/test_chapter_controller.py
  verenigingen/verenigingen/doctype/chapter/chapter.js
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/chapter/test_chapter_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(api): fail closed on blank currency in validate_sepa_eligibility
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/tests/api/test_dues_invoice_workflow.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(e-boekhouden): stop ensure_root_cost_center() raising MandatoryError
  verenigingen/e_boekhouden/utils/eboekhouden_cost_center_fix.py
  verenigingen/tests/e_boekhouden/test_cost_center_fix.py
  verenigingen/tests/utils/secure_operation_race_helpers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(e-boekhouden): make the non-duplicate-failure control discriminate
  verenigingen/tests/e_boekhouden/test_cost_center_fix.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(validation): record _persist_eur_company clone-share change in duplicate-helper baseline
  scripts/validation/duplicate_helper_baseline.txt
Due: none

docs: 2026-09-26 session handoff — an unknown record must look exactly like a forbidden one
  docs/handoffs/2026-09-26-an-unknown-record-must-look-exactly-like-a-forbidden-one.md
Due: none

docs(handoff): apply review corrections (#1416 condition, #1440 comment, worktree list)
  docs/handoffs/2026-09-26-an-unknown-record-must-look-exactly-like-a-forbidden-one.md
Due: none

fix: refuse ambiguous %Ponto% bank-account fallback instead of picking one
  verenigingen/tests/payment/test_ponto_payment_entry_creation.py
  verenigingen/verenigingen_payments/ponto/services/payment_entry_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: exclude disabled accounts from the Ponto ambiguity candidate set
  verenigingen/tests/payment/test_ponto_payment_entry_creation.py
  verenigingen/verenigingen_payments/ponto/services/payment_entry_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(member): read refresh_fee_change_history's nested OperationResult envelope in JS
  verenigingen/tests/services/test_member_history_update_service_realdb.py
  verenigingen/tests/unit/doctype/test_member_fee_history_button.test.js
  verenigingen/tests/unit/doctype/test_member_suspension_operation_result.test.js
  verenigingen/verenigingen/doctype/member/member.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(members): close approve/reject application review existence oracle
  scripts/validation/duplicate_helper_baseline.txt
  verenigingen/api/membership_application_review.py
  verenigingen/tests/member/test_member_approval_permissions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donor): refuse ambiguous donor_email matches in the 3 remaining #1396 sites
  verenigingen/services/donation/donor_service.py
  verenigingen/templates/pages/donate.py
  verenigingen/tests/backend/portal/test_donation_web_form.py
  verenigingen/tests/backend/portal/test_page_donate.py
  verenigingen/tests/services/test_donor_service.py
  verenigingen/verenigingen/web_form/donation_form/donation_form.py
  verenigingen/verenigingen_payments/mollie/services/complete_payment_service.py
  verenigingen/verenigingen_payments/mollie/tests/test_complete_payment_service_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): close has_permission existence oracle at 12 more call sites
  verenigingen/api/team_management.py
  verenigingen/email/advanced_segmentation.py
  verenigingen/email/automated_campaigns.py
  verenigingen/email/newsletter_templates.py
  verenigingen/email/simplified_email_manager.py
  verenigingen/tests/security/test_permission_existence_oracle_sweep.py
  verenigingen/utils/address_formatter.py
  verenigingen/utils/member_performance_optimizer.py
  verenigingen/utils/security/permission_existence_guard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
