Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(e-boekhouden): delete dead account-mapping config API (#1212)
  docs/plans/2026-06-23-deadcode-and-report-sweep-handoff.md
  scripts/validation/log_error_arg_order_baseline.txt
  verenigingen/e_boekhouden/doctype/e_boekhouden_account_mapping/api.py
  verenigingen/tests/e_boekhouden/test_account_mapping_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): hide Load Unpaid Invoices button when Staff cannot pass its CRITICAL gate
  verenigingen/tests/unit/doctype/test_direct_debit_batch_load_button_permission.test.js
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/test_can_load_unpaid_invoices.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(sepa): exclude invoices already in an open batch from the loader
  verenigingen/tests/payment/test_sepa_batch_ui.py
  verenigingen/tests/payment/test_sepa_batch_ui_secure.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(sepa): dedupe the #1217 batch-loader test helper across both test files
  verenigingen/tests/payment/sepa_batch_loader_test_helpers.py
  verenigingen/tests/payment/test_sepa_batch_ui.py
  verenigingen/tests/payment/test_sepa_batch_ui_secure.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): read can_load_unpaid_invoices' required level off the endpoint itself
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/test_can_load_unpaid_invoices.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): stranded-batch carve-out for the #1217 exclusion (review finding)
  verenigingen/tests/payment/sepa_batch_loader_test_helpers.py
  verenigingen/tests/payment/test_sepa_batch_ui.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): stop on_submit's CRITICAL gate from blocking Staff's own submit (#1224)
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/test_staff_submit_not_blocked_by_critical_gate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): stop misattributing a non-auth PermissionError to "no permission" (review)
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/test_staff_submit_not_blocked_by_critical_gate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(sepa): remove unnecessary frappe.db.commit() from test teardown (CI)
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/test_staff_submit_not_blocked_by_critical_gate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore: ignore .review-scratch/ local session scratch
  .gitignore
Due: none

docs: session handoff for 2026-09-21 — confirming vs discriminating evidence
  docs/handoffs/2026-09-21-the-evidence-fit-two-worlds-every-time.md
Due: none

docs: correct the handoff footer's over-broad verification claim
  docs/handoffs/2026-09-21-the-evidence-fit-two-worlds-every-time.md
Due: none

fix(reports): route Weekly/Semi-Annual catch-up periods through the running-period calculator (#1196)
  verenigingen/tests/report/test_membership_dues_coverage_analysis.py
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): persist post-submit batch_log/status via db_set, not save() (#1230)
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/test_post_submit_batch_log_writes.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): correlate returns only to batches that actually got a SEPA file
  verenigingen/tests/payment/test_sepa_reconciliation.py
  verenigingen/verenigingen_payments/api/sepa_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): alias membership_dues_schedule_display in load_unpaid_invoices_secure (#1227)
  verenigingen/tests/payment/test_sepa_batch_ui_secure.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(reports): re-anchor the non-discriminating semi-annual book-year test (review finding)
  verenigingen/tests/report/test_membership_dues_coverage_analysis.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): declare Cancelled as a valid status option; drop dead except-path db_set
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.json
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/test_post_submit_batch_log_writes.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): narrow #1232's evidence claims per skeptical review
  verenigingen/tests/payment/test_sepa_reconciliation.py
  verenigingen/verenigingen_payments/api/sepa_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(sepa): rename #1227 test to telegraph its actual scope (review finding)
  verenigingen/tests/payment/test_sepa_batch_ui_secure.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(sepa): correct the trigger this fix claims — _secure has no JS caller
  verenigingen/tests/payment/test_sepa_batch_ui_secure.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): resolve the real Membership in load_unpaid_invoices (#1239)
  verenigingen/tests/payment/test_sepa_batch_ui.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(sepa): extend the #1239 membership fix to the _secure twin, and de-flake the tests
  verenigingen/tests/payment/test_sepa_batch_ui.py
  verenigingen/tests/payment/test_sepa_batch_ui_secure.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: 2026-09-22 session handoff — a prior fix is not a verified precedent
  docs/handoffs/2026-09-22-a-prior-fix-is-not-a-verified-precedent.md
Due: none

fix(sepa): require sepa_file_generated for an exact batch-reference match (#1253)
  verenigingen/tests/backend/components/test_sepa_reconciliation.py
  verenigingen/tests/payment/test_bank_reconciliation_matching.py
  verenigingen/tests/payment/test_bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): resolve the real Membership in sepa_race_condition_manager (#1249)
  verenigingen/tests/payment/test_sepa_race_condition_manager.py
  verenigingen/verenigingen_payments/utils/sepa_race_condition_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): uniquify a factory email only when it is actually taken
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/fixtures/test_factory_email_uniquification_1254.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): repair Direct Debit Batch child-table handlers and dues-schedule alias
  verenigingen/tests/payment/test_sepa_batch_ui.py
  verenigingen/tests/payment/test_sepa_batch_ui_secure.py
  verenigingen/tests/test_js_form_on_registration_targets.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(tests): cancel a submitted doc before force-deleting it in _cleanup_tracked_docs
  verenigingen/tests/test_harness_cleanup_tracked_docs_dangling_link.py
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: rename probe helpers to avoid the duplicate-helper name census
  verenigingen/tests/test_harness_cleanup_tracked_docs_dangling_link.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): second mandate_date/mandate_sign_date instance, plus a generalized gate
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/test_js_field_writes_match_schema.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(tests): carve out ledger-bearing docs from the cancel-before-delete fix
  scripts/validation/order_dependence_baseline.txt
  verenigingen/tests/test_harness_cleanup_tracked_docs_dangling_link.py
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): harden the field-write gate to fail loud on unparseable calls
  verenigingen/tests/test_js_form_on_registration_targets.py
  verenigingen/tests/utils/js_source_scan.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/test_js_field_writes_match_schema.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(tests): make the donor-permission denial sentinel unrelated by construction
  verenigingen/tests/donor/test_donor_permissions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): stop parsing object literals; refuse them, don't parse them
  verenigingen/tests/utils/js_source_scan.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/test_js_field_writes_match_schema.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: remove a confound that made the non-ledger test unable to fail
  verenigingen/tests/test_harness_cleanup_tracked_docs_dangling_link.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: 2026-09-22b session handoff — every blocking finding was in a test or an instrument
  docs/handoffs/2026-09-22b-every-blocking-finding-was-in-a-test-or-an-instrument.md
Due: none

fix(tests): run-scope the chapter board roles instead of taking global names (#1272)
  verenigingen/verenigingen/doctype/chapter/test_chapter_volunteer_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payments): close #1258's amount+reference matcher gaps
  verenigingen/tests/payment/test_bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): require a generated SEPA file before marking a batch paid
  verenigingen/tests/sepa/test_dd_batch_pipeline_coverage.py
  verenigingen/verenigingen_payments/services/batch_processing_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
