Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

docs(handoff): 2026-09-03 — three ways to pass without checking anything
  docs/handoffs/2026-09-03-three-ways-to-pass-without-checking-anything.md
Due: none

fix(volunteer): surface server rejection reasons on the public application form
  verenigingen/api/volunteer_application.py
  verenigingen/public/js/utils/operation-result-helpers.js
  verenigingen/templates/pages/volunteer/apply.html
  verenigingen/tests/api/test_volunteer_application.py
  verenigingen/tests/unit/operation-result-helpers.test.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

chore(setup): delete dead Simple DD Workflow setup, prune orphaned COR rows
  scripts/validation/error_swallow_baseline.txt
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/patches.txt
  verenigingen/patches/v2_2/remove_dead_simple_dd_workflow_critical_operation_rules.py
  verenigingen/setup/simple_dd_workflow_setup.py
  verenigingen/tests/test_simple_dd_workflow_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): close #624's dead SEPA-mandate guards; #617 was already fixed
  verenigingen/api/member/sepa_api.py
  verenigingen/public/js/member/js_modules/sepa-utils.js
  verenigingen/tests/backend/components/test_sepa_mandate_creation.py
  verenigingen/tests/workflows/test_member_portal_self_service.py
  verenigingen/verenigingen/doctype/member/member_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(billing): dedupe dues-schedule auto-creator to one row per member (#663)
  verenigingen/services/billing/dues_schedule_auto_creator.py
  verenigingen/services/billing/test_dues_schedule_auto_creator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: correct web form placement and donation-form guest bugs (#755)
  scripts/validation/log_error_arg_order_baseline.txt
  verenigingen/services/donation/public_donation_service.py
  verenigingen/tests/backend/portal/test_donation_web_form.py
  verenigingen/utils/secure_operations.py
  verenigingen/verenigingen/web_form/donation_form/__init__.py
  verenigingen/verenigingen/web_form/donation_form/donation_form.json
  verenigingen/verenigingen/web_form/donation_form/donation_form.py
  verenigingen/verenigingen/web_form/periodic_donation_agreement_form/__init__.py
  verenigingen/verenigingen/web_form/periodic_donation_agreement_form/periodic_donation_agreement_form.json
  verenigingen/verenigingen/web_form/periodic_donation_agreement_form/periodic_donation_agreement_form.py
  verenigingen/web_form/membership_application/__init__.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: propagate lost-connection and non-resumable errors in eBoekhouden import (#726, #731)
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/tests/e_boekhouden/test_rest_full_migration_helpers_coverage.py
  verenigingen/tests/e_boekhouden/test_rest_orchestration_batch.py
  verenigingen/tests/e_boekhouden/test_rest_orchestration_dispatch.py
  verenigingen/tests/e_boekhouden/test_rest_orchestration_start.py
  verenigingen/tests/e_boekhouden/test_rest_party_dispatch.py
  verenigingen/tests/support/non_resumable_errors.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(ci): stop ratchet baselines reddening on pure shrinkage
  .github/workflows/code-validation.yml
  scripts/validation/baseline_shrink_gate.py
  scripts/validation/tests/test_baseline_shrink_gate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(import): a deadlock or timeout no longer gets counted as one bad row, and Procurios rows no longer commit what they report skipped
  verenigingen/services/csv_import/membership_import_service.py
  verenigingen/services/member/approval/membership_creation_service.py
  verenigingen/tests/doctype/test_procurios_membership_import_row_atomicity.py
  verenigingen/tests/payment/test_procurios_mandate_import.py
  verenigingen/tests/payment/test_procurios_mandate_import_row_atomicity.py
  verenigingen/tests/services/test_membership_creation_service.py
  verenigingen/tests/support/procurios_import_stubs.py
  verenigingen/tests/unit/test_csv_import_processor_deadlock.py
  verenigingen/utils/csv_import_processor.py
  verenigingen/verenigingen/doctype/member_import/member_import.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/test_mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/procurios_membership_import/procurios_membership_import.py
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: de-duplicate _make_donor/_make_form_data flagged by the helper ratchet
  verenigingen/tests/backend/portal/test_donation_web_form.py
  verenigingen/tests/backend/portal/test_guest_donation_flow.py
  verenigingen/tests/support/donation_form_data.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): rename coincidentally-colliding _row/_run_import helpers
  verenigingen/tests/unit/test_csv_import_processor_deadlock.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-09-03b — the checks that were checking me
  docs/handoffs/2026-09-03b-the-checks-that-were-checking-me.md
Due: none

fix(679): delete unreachable dd_batch_management_enhanced.js
  .pre-commit-config.yaml
  scripts/validation/public_js_endpoint_baseline.txt
  scripts/validation/public_js_endpoint_resolver.py
  verenigingen/public/js/dd_batch_management_enhanced.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix: refuse ambiguous membership mandate in bulk lookup instead of guessing (#708)
  verenigingen/tests/sepa/test_sepa_performance_optimizations.py
  verenigingen/verenigingen_payments/utils/batch_performance_optimizer.py
  verenigingen/verenigingen_payments/utils/mandate_candidates.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(430): SEPA reconciliation decorator order + campaign donation endpoint
  verenigingen/api/donation_api.py
  verenigingen/verenigingen_payments/api/sepa_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(ci): scope the duplicate-helper sync gate to genuine clone families (#769)
  .github/workflows/code-validation.yml
  scripts/validation/baseline_shrink_gate.py
  scripts/validation/tests/test_baseline_shrink_gate.py
  scripts/validation/tests/test_duplicate_helper_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(679): make the resolver follow import-* re-exports; correct a false claim
  scripts/validation/public_js_endpoint_baseline.txt
  scripts/validation/public_js_endpoint_resolver.py
  scripts/validation/tests/test_public_js_endpoint_resolver.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(430): implement payment_dashboard exports/settings, repoint DD batch optimizer, whitelist create_initial_email_groups, delete two dead dev tools
  verenigingen/api/payment_dashboard.py
  verenigingen/email/email_group_sync.py
  verenigingen/fixtures/custom_html_block.json
  verenigingen/templates/pages/eboekhouden_item_mapping.html
  verenigingen/templates/pages/eboekhouden_item_mapping.py
  verenigingen/templates/pages/generate_test_data.html
  verenigingen/templates/pages/generate_test_data.py
  verenigingen/tests/backend/portal/test_page_simple_controllers_coverage.py
  verenigingen/tests/backend/unit/api/test_payment_dashboard_api.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/www/batch-optimizer.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: null active_sepa_mandate on refusal too, and assert the refusal reaches an operator
  verenigingen/tests/sepa/test_sepa_performance_optimizations.py
  verenigingen/verenigingen_payments/utils/batch_performance_optimizer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(430): guard shipped page API calls against frappe.whitelisted
  verenigingen/tests/backend/portal/shipped_broken_api_calls.txt
  verenigingen/tests/backend/portal/test_shipped_api_calls_are_whitelisted.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(ci): refuse a --require-marker filter that matches nothing on either side
  scripts/validation/baseline_shrink_gate.py
  scripts/validation/tests/test_baseline_shrink_gate.py
  scripts/validation/tests/test_duplicate_helper_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donations): validate periodic agreement payment_method before assigning to Select (#744)
  verenigingen/api/periodic_donation_operations.py
  verenigingen/tests/api/test_periodic_donation_operations.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donations): refuse SEPA Direct Debit in periodic agreement form instead of a broken mandate (#762)
  verenigingen/tests/backend/portal/test_periodic_donation_agreement_form.py
  verenigingen/verenigingen/web_form/periodic_donation_agreement_form/periodic_donation_agreement_form.json
  verenigingen/verenigingen/web_form/periodic_donation_agreement_form/periodic_donation_agreement_form.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): read OperationResult via .success, not dict .get(), in subscription notifier
  verenigingen/tests/payment/test_payment_failure_email_templates.py
  verenigingen/verenigingen_payments/mollie/api/sync.py
  verenigingen/verenigingen_payments/mollie/tests/test_webhook_integration_comprehensive.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(430): campaign donation silently lied about payment, had zero tests
  verenigingen/api/donation_api.py
  verenigingen/services/donation/public_donation_service.py
  verenigingen/templates/pages/campaign.html
  verenigingen/tests/backend/unit/api/test_donation_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(430): close the last member of the decorator-order class
  verenigingen/api/member_management.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(430): restore eboekhouden_item_mapping (repoint, don't delete) + close guard blind spots
  verenigingen/fixtures/custom_html_block.json
  verenigingen/templates/pages/eboekhouden_item_mapping.html
  verenigingen/templates/pages/eboekhouden_item_mapping.py
  verenigingen/templates/pages/eboekhouden_mapping_review.html
  verenigingen/tests/backend/portal/shipped_broken_api_calls.txt
  verenigingen/tests/backend/portal/test_page_simple_controllers_coverage.py
  verenigingen/tests/backend/portal/test_shipped_api_calls_are_whitelisted.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(430): payment_dashboard review findings -- truncated export, write-only settings, GET-reachable write, bool() coercion, weak tests
  verenigingen/api/payment_dashboard.py
  verenigingen/templates/pages/payment_dashboard.py
  verenigingen/tests/backend/portal/test_page_payment_dashboard.py
  verenigingen/tests/backend/unit/api/test_payment_dashboard_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(api): three log_error calls raise inside their own except handler
  verenigingen/api/membership_application.py
  verenigingen/api/payment_processing.py
  verenigingen/tests/test_log_error_context_is_a_mapping.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(validation): the public/js baseline holds 16 entries, not 18
  .pre-commit-config.yaml
Due: none

test: assert Exception, not AttributeError, for a string context
  verenigingen/tests/test_log_error_context_is_a_mapping.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): cache_with_ttl key ignored the session user (#782)
  verenigingen/services/volunteer/skill_query_service.py
  verenigingen/tests/test_cache_with_ttl_is_per_user.py
  verenigingen/utils/error_handling.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: read the session through frappe.local, so the fallback actually works
  verenigingen/tests/test_cache_with_ttl_is_per_user.py
  verenigingen/utils/error_handling.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(names): a tussenvoegsel is used because the member has one (#780)
  verenigingen/services/member/account/member_user_account_service.py
  verenigingen/services/member/approval/application_helpers.py
  verenigingen/tests/test_dutch_name_is_per_record.py
  verenigingen/utils/dutch_name_service.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-09-03b — the green was borrowed
  docs/handoffs/2026-09-03b-the-green-was-borrowed.md
Due: none

docs(handoff): renumber to 03c and record the final merge state
  docs/handoffs/2026-09-03c-the-green-was-borrowed.md
Due: none

fix(sepa): make optimized batch invoice shortfalls visible (#774)
  verenigingen/tests/sepa/test_sepa_batch_shortfall_visibility.py
  verenigingen/tests/sepa/test_sepa_integration_performance.py
  verenigingen/verenigingen_payments/services/sepa_batch_processor.py
  verenigingen/verenigingen_payments/utils/batch_performance_optimizer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): delete dead account_type=="Expense" fallback and its class (#461)
  verenigingen/tests/payment/test_bank_transaction_reconciliation.py
  verenigingen/tests/workflows/test_volunteer_board_finance_persona.py
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(780): declare whether Dutch name fields are offered, instead of scanning companies
  verenigingen/patches.txt
  verenigingen/patches/v2_2/seed_enable_dutch_name_fields.py
  verenigingen/tests/member/test_member_lifecycle_workflows.py
  verenigingen/tests/test_dutch_name_fields_setting.py
  verenigingen/tests/test_dutch_name_is_per_record.py
  verenigingen/utils/dutch_name_utils.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): make send_overdue_payment_reminders partial-failure tests able to fail
  verenigingen/tests/backend/components/test_payment_processing_api.py
  verenigingen/tests/backend/components/test_payment_processing_api_real.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
