Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

refactor(organization-document): move getdate import to module level
  verenigingen/verenigingen/doctype/organization_document/organization_document.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(date-extraction): add extract_date_with_precision helper
  verenigingen/tests/backend/unit/utils/test_date_extraction.py
  verenigingen/utils/date_extraction.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(date-extraction): clarify regex comments in extract_date_with_precision
  verenigingen/utils/date_extraction.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(organization-document): heal legacy upload_date overload via applies_on
  verenigingen/patches.txt
  verenigingen/patches/v2_2/clean_overloaded_upload_date.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(patches): use logger + has_column guard in clean_overloaded_upload_date
  verenigingen/patches/v2_2/clean_overloaded_upload_date.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mijnrood-sync): add source_folder_id backfill command
  verenigingen/mijnrood_sync/services/source_folder_backfill.py
  verenigingen/tests/integration/test_source_folder_backfill.py
  verenigingen/verenigingen/doctype/organization_document/organization_document.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(organization-document): revert source_folder_id 0/None hack; fix test assertions instead
  verenigingen/tests/integration/test_source_folder_backfill.py
  verenigingen/verenigingen/doctype/organization_document/organization_document.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mijnrood-sync): harden backfill — batch_size guard, hasattr check, tighter test
  verenigingen/mijnrood_sync/services/source_folder_backfill.py
  verenigingen/tests/integration/test_source_folder_backfill.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(test): relax test_backfill_matches_by_hash to tolerate suite cross-talk
  verenigingen/tests/integration/test_source_folder_backfill.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mijnrood-sync): write applies_on + source_folder_id; stop overloading upload_date
  verenigingen/mijnrood_sync/services/document_import_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mijnrood-sync): reclassify_documents service for Organization Documents
  verenigingen/mijnrood_sync/services/document_reclassify_service.py
  verenigingen/tests/integration/test_document_reclassify_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

harden(mijnrood-sync): empty-entity guard, per-field error isolation, logging in reclassify
  verenigingen/mijnrood_sync/services/document_reclassify_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(organization-document): JS precision snap-to-1 + reclassify form button
  verenigingen/verenigingen/doctype/organization_document/organization_document.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

refactor(organization-document): tighten form JS — Invalid Date guard, drop unused param, add fileoverview
  verenigingen/verenigingen/doctype/organization_document/organization_document.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

feat(organization-document): list-view bulk Reclassify action
  verenigingen/verenigingen/doctype/organization_document/organization_document_list.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(mijnrood-sync): parent-chain walking in reclassify (year-subfolder support)
  verenigingen/mijnrood_sync/services/document_reclassify_service.py
  verenigingen/tests/integration/test_document_reclassify_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(organization-document): list-view always previews; alert surfaces write_errors
  verenigingen/verenigingen/doctype/organization_document/organization_document.js
  verenigingen/verenigingen/doctype/organization_document/organization_document_list.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(mijnrood-sync): auto-classify treats 'Other' as placeholder; fetch leaves document_type blank
  verenigingen/mijnrood_sync/services/document_import_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(mijnrood-sync): drop dead 'already_exists' variable in _dry_run_summary
  verenigingen/mijnrood_sync/services/document_import_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mijnrood-sync): stop emitting hardcoded category names that may not exist
  verenigingen/mijnrood_sync/services/document_import_service.py
  verenigingen/utils/folder_category_detector.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(chapter-board): remove board-member role via parent User save
  verenigingen/tests/chapter/test_chapter_board_member.py
  verenigingen/verenigingen/doctype/chapter_board_member/chapter_board_member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(chapter-board): manage DocPerm via parent DocType save
  verenigingen/services/chapter/chapter_board_permissions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mijnrood-sync): tolerate orphan team rows; only run role actions on transition
  verenigingen/mijnrood_sync/services/event_application_service.py
  verenigingen/tests/services/test_event_application_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mijnrood-sync): split default team into Beheer + Secretariaat, add first-time setup
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_settings/mijnrood_sync_settings.js
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_settings/mijnrood_sync_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(mijnrood-sync): accept legacy ssh-rsa/ssh-dss host keys
  verenigingen/mijnrood_sync/client.py
  verenigingen/mijnrood_sync/sftp_client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mijnrood-sync): paramiko regression + audit quick wins
  verenigingen/mijnrood_sync/client.py
  verenigingen/mijnrood_sync/doctype/mijnrood_role_mapping/mijnrood_role_mapping.json
  verenigingen/mijnrood_sync/doctype/mijnrood_status_mapping/mijnrood_status_mapping.json
  verenigingen/mijnrood_sync/services/polling_service.py
  verenigingen/mijnrood_sync/sftp_client.py
  verenigingen/mijnrood_sync/ssh_auth.py
  verenigingen/utils/file_storage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mijnrood-sync): tier A audit follow-ups
  verenigingen/mijnrood_sync/client.py
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_log/mijnrood_sync_log.json
  verenigingen/mijnrood_sync/services/event_application_service.py
  verenigingen/mijnrood_sync/sftp_client.py
  verenigingen/mijnrood_sync/ssh_auth.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mijnrood-sync): tier B audit follow-ups
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_settings/mijnrood_sync_settings.js
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_settings/mijnrood_sync_settings.json
  verenigingen/mijnrood_sync/services/polling_service.py
  verenigingen/mijnrood_sync/ssh_auth.py
  verenigingen/mijnrood_sync/tasks.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

docs(mijnrood-sync): design for event_application_service refactor
  docs/plans/2026-05-12-event-application-service-refactor-design.md
Due: none

docs(mijnrood-sync): implementation plan for mapping_service extraction
  docs/plans/2026-05-12-event-application-mapping-service-extraction-plan.md
Due: none

chore(mijnrood-sync): scaffold event_application sub-package
  verenigingen/mijnrood_sync/services/event_application/__init__.py
  verenigingen/tests/services/event_application/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mijnrood-sync): add MijnRoodMappingService with extract_email
  verenigingen/mijnrood_sync/services/event_application/mapping_service.py
  verenigingen/tests/services/event_application/test_mapping_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mijnrood-sync): add resolve_division_id to MijnRoodMappingService
  verenigingen/mijnrood_sync/services/event_application/mapping_service.py
  verenigingen/tests/services/event_application/test_mapping_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mijnrood-sync): pin paramiko to <4
  pyproject.toml
Due: none

fix(mijnrood-sync): use production state_key separator in test fixture
  verenigingen/tests/services/event_application/test_mapping_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mijnrood-sync): add map_member_fields to MijnRoodMappingService
  verenigingen/mijnrood_sync/services/event_application/mapping_service.py
  verenigingen/tests/services/event_application/test_mapping_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mijnrood-sync): delegate mapping concerns to MijnRoodMappingService
  verenigingen/mijnrood_sync/services/event_application_service.py
  verenigingen/tests/services/test_event_application_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mijnrood-sync): add SSH auth diagnostic endpoint
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_settings/mijnrood_sync_settings.js
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_settings/mijnrood_sync_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(fixtures): stop shipping standard reports as fixtures
  verenigingen/fixtures/report.json
  verenigingen/hooks/fixtures.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(refactor): add Phase 1 PR #2 plan (member_sync_service extraction)
  docs/plans/2026-05-13-event-application-member-sync-service-extraction-plan.md
Due: none
