Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

fix(security): cap Rule 5 individual-role fallback at MEDIUM
  verenigingen/tests/security/test_authorization_engine_policy_coverage.py
  verenigingen/utils/security/authorization_policy.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): harden self-service ownership enforcement
  verenigingen/tests/security/test_self_service_operations.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/security/self_service_access_controller.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): don't return spoofable leftmost XFF when all hops trusted
  verenigingen/tests/security/test_client_ip_coverage.py
  verenigingen/utils/security/client_ip.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): namespace rate-limit counter keys per site
  verenigingen/tests/security/test_cor_rate_limiting.py
  verenigingen/utils/security/rate_limit_engine.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): bring two guest read endpoints under @public_api (audit #10)
  verenigingen/api/get_user_chapters.py
  verenigingen/templates/pages/membership_application.py
  verenigingen/tests/security/test_api_security_framework.py
  verenigingen/tests/security/test_csrf_ratelimit_cache_coverage.py
  verenigingen/tests/security/test_enhanced_validation_coverage.py
  verenigingen/tests/security/test_public_api_coverage_additions.py
  verenigingen/utils/security/authorization.py
  verenigingen/utils/security/csrf_protection.py
  verenigingen/utils/security/enhanced_validation.py
  verenigingen/verenigingen/doctype/member/member_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): address skeptical review of the audit fixes
  verenigingen/tests/security/test_authorization_coverage.py
  verenigingen/tests/security/test_public_api_coverage_additions.py
  verenigingen/tests/security/test_self_service_operations.py
  verenigingen/utils/security/authorization.py
  verenigingen/utils/security/self_service_access_controller.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(security): fix admin-tools tests broken by the Rule-5 cap
  verenigingen/tests/security/test_admin_tools_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): close three pre-existing gaps surfaced by the coverage sweep
  verenigingen/utils/csv_import_processor.py
  verenigingen/utils/project_permissions.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): require token auth on guest Zabbix metrics/health endpoints
  scripts/monitoring/zabbix_integration.py
  verenigingen/monitoring/zabbix_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): authenticate the Zabbix auto-remediation webhook (was dead + fail-open)
  scripts/monitoring/zabbix_integration.py
  verenigingen/monitoring/zabbix_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): stop rate limiter from aborting install/migrate (dead CI setup)
  verenigingen/services/document/document_portal_service.py
  verenigingen/templates/pages/board/document_browser.py
  verenigingen/tests/security/test_cor_rate_limiting.py
  verenigingen/utils/document_categories.py
  verenigingen/utils/security/rate_limit_engine.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(security): grant role profiles in decorator tests broken by Rule-5 cap
  verenigingen/tests/security/test_api_security_decorators.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): break-glass access for the Administrator bootstrap account
  verenigingen/tests/security/test_authorization_engine_policy_coverage.py
  verenigingen/utils/security/authorization_engine.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(security): as_role() assigns the matching role profile, not just its roles
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(security): assign role profile to monitoring-dashboard admin test user
  verenigingen/tests/www/test_monitoring_dashboard_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(security): grant role profiles to privileged users in per-file auth suites
  verenigingen/tests/backend/components/test_membership_analytics_permissions.py
  verenigingen/tests/fixtures/role_profile_helper.py
  verenigingen/tests/integration/test_membership_approval.py
  verenigingen/tests/www/test_mollie_www_pages_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(setup)+test: clear functional residual (member-debug dict, dotless email, webhook module profile)
  verenigingen/setup/public_document_creator_setup.py
  verenigingen/setup/webhook_user_setup.py
  verenigingen/tests/backend/unit/services/test_member_debug_tools_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(security): role profiles for factory admin + permission-scenario + chapter board
  verenigingen/tests/backend/components/test_chapter_dashboard_page.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(test)+refactor: align CI tests with security-hardening branch + extract skill query
  verenigingen/services/volunteer/skill_query_service.py
  verenigingen/tests/backend/portal/test_page_personal_details_coverage.py
  verenigingen/tests/backend/portal/test_page_volunteer_expenses.py
  verenigingen/tests/backend/unit/api/test_member_management_api_coverage.py
  verenigingen/tests/backend/unit/api/test_payment_dashboard_api.py
  verenigingen/tests/backend/unit/services/test_member_debug_tools_api.py
  verenigingen/tests/e_boekhouden/test_create_custom_fields_coverage.py
  verenigingen/tests/email/test_email_newsletter_system.py
  verenigingen/tests/security/test_toctou.py
  verenigingen/tests/sepa/test_sepa_security_comprehensive.py
  verenigingen/tests/setup/__init__.py
  verenigingen/tests/test_document_links.py
  verenigingen/tests/utils/test_api_classifier.py
  verenigingen/tests/utils/test_member_portal_utils.py
  verenigingen/verenigingen/doctype/volunteer/test_volunteer_coverage.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(volunteer): grant Expense Approver role reliably to role-profiled users
  verenigingen/services/volunteer/expense_approver_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(spec): design for building 5 missing Member payment development dashboard charts
  docs/superpowers/specs/2026-07-04-member-payment-development-dashboard-charts-design.md
Due: none

docs(plan): implementation plan for Member payment development dashboard charts
  docs/superpowers/plans/2026-07-04-member-payment-development-dashboard-charts.md
Due: none

feat(dashboard): add 5 Member payment development dashboard charts
  verenigingen/verenigingen_payments/dashboard_chart/dues_revenue_by_payment_status/dues_revenue_by_payment_status.json
  verenigingen/verenigingen_payments/dashboard_chart/dues_revenue_by_quarter/dues_revenue_by_quarter.json
  verenigingen/verenigingen_payments/dashboard_chart/monthly_dues_revenue/monthly_dues_revenue.json
  verenigingen/verenigingen_payments/dashboard_chart/outstanding_dues_invoices_by_month/outstanding_dues_invoices_by_month.json
  verenigingen/verenigingen_payments/dashboard_chart/sepa_payment_status/sepa_payment_status.json
Due: email-template-validator

fix(dashboard): rename dues charts + wire up Member payment development links
  docs/ADMIN_GUIDE.md
  verenigingen/fixtures/dashboard.json
  verenigingen/hooks/fixtures.py
  verenigingen/tests/test_payment_dashboard_charts.py
  verenigingen/verenigingen_payments/verenigingen_payments_dashboard/member_payment_development/member_payment_development.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(billing): route fixtures through factory, add skip_dues_schedule_creation
  verenigingen/services/billing/test_bulk_invoice_generation_service.py
  verenigingen/services/billing/test_fee_change_tracking_service.py
  verenigingen/services/billing/test_invoice_management.py
  verenigingen/services/billing/test_sales_invoice_hooks.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(security): reframe missing-COR log, hide dead fields, add config-density report
  docs/plans/2026-07-06-critical-operation-rule-density-and-profiles.md
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.json
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
  verenigingen/verenigingen/report/critical_operation_rule_config_density/__init__.py
  verenigingen/verenigingen/report/critical_operation_rule_config_density/critical_operation_rule_config_density.js
  verenigingen/verenigingen/report/critical_operation_rule_config_density/critical_operation_rule_config_density.json
  verenigingen/verenigingen/report/critical_operation_rule_config_density/critical_operation_rule_config_density.py
  verenigingen/verenigingen/report/critical_operation_rule_config_density/test_critical_operation_rule_config_density.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

docs(security): record COR config coverage curve; defer named-profiles refactor
  docs/plans/2026-07-06-critical-operation-rule-density-and-profiles.md
Due: none

fix(csv-import): xlsx NaN/float leakage, Procurios column mapping, day-first dates
  verenigingen/tests/member/test_csv_data_transformers.py
  verenigingen/tests/member/test_procurios_csv_import.py
  verenigingen/tests/member/test_secure_csv_parser_unit.py
  verenigingen/utils/csv/data_transformers.py
  verenigingen/utils/csv/procurios_data_validator.py
  verenigingen/utils/csv/secure_csv_parser.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(csv-import): VIP validator reuses shared parse_date (day-first)
  verenigingen/utils/csv/vip_data_validator.py
  verenigingen/verenigingen/doctype/vip_import/test_vip_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(test-remediation): add false-confidence remediation design and plan
  verenigingen/docs/testing/test-remediation/2026-07-08-false-confidence-remediation-design.md
  verenigingen/docs/testing/test-remediation/2026-07-08-false-confidence-remediation-plan.md
Due: none

docs(test-remediation): scaffold roadmap, tracker, and backlogs
  verenigingen/docs/testing/test-remediation/REMEDIATION-ROADMAP.md
  verenigingen/docs/testing/test-remediation/REMEDIATION-TRACKER.md
  verenigingen/docs/testing/test-remediation/backlog-dead-code.md
  verenigingen/docs/testing/test-remediation/backlog-missing-coverage.md
Due: none

docs(test-remediation): widen scope to bounded unhappy gap-fill
  verenigingen/docs/testing/test-remediation/2026-07-08-false-confidence-remediation-design.md
  verenigingen/docs/testing/test-remediation/2026-07-08-false-confidence-remediation-plan.md
  verenigingen/docs/testing/test-remediation/REMEDIATION-ROADMAP.md
  verenigingen/docs/testing/test-remediation/REMEDIATION-TRACKER.md
Due: none

test(sepa): remediate false-confidence tests
  verenigingen/tests/api/test_sepa_health.py
  verenigingen/tests/sepa/test_enhanced_sepa_integration.py
  verenigingen/tests/sepa/test_sepa_integration_performance.py
  verenigingen/tests/unit/test_sepa_business_logic_unit.py
  verenigingen/verenigingen_payments/doctype/sepa_audit_log/test_sepa_audit_log.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/test_sepa_mandate_comprehensive.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(payments): remediate false-confidence tests
  verenigingen/verenigingen_payments/mollie/tests/test_payment_context_resolver.py
  verenigingen/verenigingen_payments/mollie/tests/test_payment_entry.py
  verenigingen/verenigingen_payments/mollie/tests/test_subscription_creation.py
  verenigingen/verenigingen_payments/mollie/tests/test_subscription_fixes.py
  verenigingen/verenigingen_payments/mollie/tests/test_webhook_directly.py
  verenigingen/verenigingen_payments/tests/test_api_regression.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(billing): remediate false-confidence tests
  verenigingen/tests/backend/optimization/test_chapter_dashboard_api.py
  verenigingen/tests/backend/optimization/test_member_management.py
  verenigingen/tests/backend/optimization/test_payment_dashboard.py
  verenigingen/tests/backend/optimization/test_sepa_batch_ui.py
  verenigingen/tests/backend/optimization/test_sepa_reconciliation.py
  verenigingen/tests/backend/performance/test_api_performance.py
  verenigingen/tests/payment/test_dues_schedule_system.py
  verenigingen/tests/payment/test_payment_baseline_comparison.py
  verenigingen/tests/payment/test_payment_integration_workflows.py
  verenigingen/tests/payment/test_payment_plan_system.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/test_membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(test-remediation): record Wave 1 results + backlogs
  verenigingen/docs/testing/test-remediation/2026-07-08-false-confidence-remediation-plan.md
  verenigingen/docs/testing/test-remediation/REMEDIATION-TRACKER.md
  verenigingen/docs/testing/test-remediation/backlog-dead-code.md
  verenigingen/docs/testing/test-remediation/backlog-missing-coverage.md
Due: none

test(member-financial): remediate false-confidence tests
  verenigingen/tests/unit/test_member_lifecycle_mock_elimination.py
  verenigingen/tests/unit/test_member_lifecycle_mock_elimination_fixed.py
  verenigingen/tests/unit/test_member_lifecycle_production_issues_discovered.py
  verenigingen/tests/unit/test_member_lifecycle_unit.py
  verenigingen/tests/unit/test_payment_direction.py
  verenigingen/verenigingen/doctype/membership_termination_request/test_membership_termination_request_critical.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(e_boekhouden): remediate false-confidence tests
  verenigingen/tests/e_boekhouden/test_cost_center_ui_integration.py
  verenigingen/tests/e_boekhouden/test_payment_processor_sweep.py
  verenigingen/tests/e_boekhouden/test_transaction_type_classification.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(membership): remediate false-confidence tests
  verenigingen/verenigingen/doctype/membership/test_membership.py
  verenigingen/verenigingen/doctype/membership_termination_request/test_membership_termination_request.py
  verenigingen/verenigingen/doctype/membership_type/test_membership_type.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
