Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

fix: two real bugs surfaced by the de-noised JS<->Python validator
  verenigingen/utils/bulk_retry_processor.py
  verenigingen/verenigingen/doctype/expulsion_report_entry/expulsion_report_entry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: integration coverage for B6/B9 UI-action backends
  verenigingen/tests/backend/integration/test_b6_b9_backends.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): close IDOR/guest leaks/SQLi and harden audit + IP controls
  verenigingen/permissions.py
  verenigingen/services/member/approval/application_helpers.py
  verenigingen/services/volunteer/native_expense_helpers.py
  verenigingen/utils/member_performance_optimizer.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/security/audit_logging.py
  verenigingen/verenigingen/doctype/event_contact_campaign/event_contact_campaign.py
  verenigingen/verenigingen_payments/core/security/encryption_handler.py
  verenigingen/verenigingen_payments/core/security/webhook_validator.py
  verenigingen/verenigingen_payments/mollie/api/donation_status_checker.py
  verenigingen/www/e_boekhouden_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(payments): remove unused core/security EncryptionHandler & WebhookValidator
  verenigingen/tests/backend/security/test_anbi_security.py
  verenigingen/tests/e2e/test_workflow_validation.py
  verenigingen/tests/performance/test_performance_scenarios.py
  verenigingen/tests/security/test_security_penetration.py
  verenigingen/tests/test_harness.py
  verenigingen/verenigingen_payments/core/security/__init__.py
  verenigingen/verenigingen_payments/core/security/encryption_handler.py
  verenigingen/verenigingen_payments/core/security/webhook_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(ing-checkout): add Pay.nl sandbox credential plumbing + live tests
  verenigingen/verenigingen_payments/ing_checkout/tests/fixtures/__init__.py
  verenigingen/verenigingen_payments/ing_checkout/tests/fixtures/ing_checkout_test_helper.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_client_live.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(ing-checkout): make Pay.nl mandate payloads match the REST v2 spec
  verenigingen/verenigingen_payments/doctype/ing_checkout_mandate/ing_checkout_mandate.py
  verenigingen/verenigingen_payments/ing_checkout/client.py
  verenigingen/verenigingen_payments/ing_checkout/services/mandate_service.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_mandate_payload_spec_unit.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_mandate_service_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(ing-checkout): flag three incasso items unverifiable until Pay.nl DD is live
  verenigingen/verenigingen_payments/ing_checkout/services/mandate_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(payment-dashboard): spec for contextual dues-adjustment action
  docs/superpowers/specs/2026-06-12-payment-dashboard-dues-adjust-visibility-design.md
Due: none

docs(payment-dashboard): implementation plan for contextual dues-adjust action
  docs/superpowers/plans/2026-06-12-payment-dashboard-dues-adjust-visibility.md
Due: none

feat(payment-dashboard): move dues-adjust action into schedule details panel
  verenigingen/templates/pages/payment_dashboard.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

feat(payment-dashboard): add inline dues-adjust link next to current rate in SEPA card
  verenigingen/templates/pages/payment_dashboard.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

style(payment-dashboard): drop fake hover affordance on metric cards, delete dead quick-action CSS
  verenigingen/templates/pages/payment_dashboard.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

fix(security): add Critical Operation Rules for Mollie portal self-service endpoints
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/patches.txt
  verenigingen/patches/v2_2/add_mollie_portal_self_service_critical_operation_rules.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): stop missing-COR lookups leaking 'not found' messages to clients
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
  verenigingen/verenigingen/doctype/critical_operation_rule/test_critical_operation_rule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): revoke the actual old mandate on bank-account update, persist mandate at creation
  verenigingen/api/mollie_payment.py
  verenigingen/tests/payment/test_mollie_subscription_consolidation.py
  verenigingen/verenigingen_payments/mollie/services/complete_payment_service.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_portal_endpoints_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): stop security penetration suite permanently overwriting live Mollie Settings
  verenigingen/tests/security/test_security_penetration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(mollie): spec for PATCH-based amendment sync with drift repair
  docs/superpowers/specs/2026-06-13-mollie-amount-patch-sync-design.md
Due: none

docs(mollie): implementation plan for PATCH-based amendment sync (TDD throughout)
  docs/superpowers/plans/2026-06-13-mollie-amount-patch-sync.md
  docs/superpowers/specs/2026-06-13-mollie-amount-patch-sync-design.md
Due: none

feat(mollie): canonical member subscription description helper
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/verenigingen_payments/mollie/services/subscription_description.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mollie): review fixes for description helper (test isolation, docs)
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/verenigingen_payments_settings.json
  verenigingen/verenigingen_payments/mollie/services/subscription_description.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mollie): add MollieClient.update_subscription PATCH wrapper
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/verenigingen_payments/mollie/core/client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mollie): review fixes for update_subscription wrapper and fake harness
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/verenigingen_payments/mollie/core/client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mollie): expose webhook_url and mandate_id in subscription status
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/verenigingen_payments/mollie/services/subscription_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(mollie): PATCH amount-only amendments in place with drift repair
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/verenigingen_payments/mollie/services/mollie_subscription_sync_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): cover replacement-path mandate failures; share amount tolerance constant
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/verenigingen_payments/mollie/services/mollie_subscription_sync_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mollie): gateway subscription creation uses canonical description helper
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): amendment sync outcomes always land in a visible status
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.json
  verenigingen/verenigingen_payments/mollie/events/amendment_events.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): warning-level logging for failed syncs, guard notification message lookup
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
  verenigingen/verenigingen_payments/mollie/events/amendment_events.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): patch to re-sync amendments stuck by the mandate-id gate
  verenigingen/patches.txt
  verenigingen/patches/v2_2/resync_stuck_mollie_amendment_syncs.py
  verenigingen/tests/payment/test_mollie_amendment_subscription_sync.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(mollie): final-review polish - tolerance comment accuracy, consolidation fake SDK parity
  verenigingen/tests/payment/test_mollie_subscription_consolidation.py
  verenigingen/verenigingen_payments/mollie/services/mollie_subscription_sync_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): live sandbox coverage for subscription PATCH
  verenigingen/verenigingen_payments/mollie/tests/test_subscription_service_live.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ci(coverage): wire Codecov for Python and JS coverage
  .github/workflows/_base-server-tests.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/server-tests.yml
  codecov.yml
Due: none

ci: bump server-tests Node 18->20, restrict Codecov to explicit files
  .github/workflows/_base-server-tests.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/server-tests.yml
Due: none

fix(ci): gate on bench redis readiness before install-app
  .github/actions/setup/action.yml
Due: none

fix(ci): serve redis from job service containers, not bench start
  .github/actions/setup/action.yml
  .github/workflows/_base-server-tests.yml
Due: none

fix(ci): install coverage pkg + upload coverage past the failure gate
  .github/actions/setup/action.yml
  .github/workflows/_base-server-tests.yml
Due: none

fix(ci): upload python coverage per-shard to Codecov, drop broken aggregate
  .github/workflows/_base-server-tests.yml
Due: none

fix(ci): point Codecov at sites/coverage.xml where frappe writes it
  .github/workflows/_base-server-tests.yml
Due: none

ci: split server tests across 8 shards (was 4) to fit the timeout
  .github/workflows/server-tests.yml
Due: none
