Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

diag(account-creation): temporary CI logging to surface v15 Phase 3 failure mode
  verenigingen/services/member/account/account_creation_manager.py
  verenigingen/services/member/account/user_role_profile_calculator.py
  verenigingen/tests/member/test_account_creation_pipeline.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(account-creation): tolerate missing Module Profile in Phase 3 sync
  verenigingen/services/member/account/account_creation_manager.py
  verenigingen/services/member/account/user_role_profile_calculator.py
  verenigingen/tests/member/test_account_creation_pipeline.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(account-creation): refuse group-node Customer Group + correct log_error args (#54)
  verenigingen/services/member/account/account_creation_manager.py
  verenigingen/services/member/account/user_role_profile_calculator.py
  verenigingen/services/member/approval/application_payments.py
  verenigingen/tests/member/test_account_creation_pipeline.py
  verenigingen/tests/services/test_customer_handling_service_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(customer): share customer_group resolver across all 7 production sites
  verenigingen/e_boekhouden/utils/transaction_utils.py
  verenigingen/services/customer_group_resolver.py
  verenigingen/services/donation/donor_service.py
  verenigingen/services/donation/financial_service.py
  verenigingen/services/member/approval/application_payments.py
  verenigingen/tests/services/test_customer_handling_service_integration.py
  verenigingen/verenigingen/doctype/donor/donor.py
  verenigingen/verenigingen_payments/services/mollie_payment_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(customer): address PR #55 review - migrate 6 more sites + docstring fix + unit tests
  verenigingen/e_boekhouden/utils/consolidated/party_manager.py
  verenigingen/e_boekhouden/utils/party_resolver.py
  verenigingen/services/customer_group_resolver.py
  verenigingen/services/customer_handling_service.py
  verenigingen/services/member/approval/application_payments.py
  verenigingen/tests/services/test_customer_group_resolver.py
  verenigingen/verenigingen/doctype/donor/donor.py
  verenigingen/verenigingen_payments/mollie/api/payment_webhook.py
  verenigingen/verenigingen_payments/mollie/services/payment_entry_factory.py
  verenigingen/verenigingen_payments/mollie/services/shared/payment_entry_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(customer): share customer_group resolver across all 7 production sites (#55)
  verenigingen/e_boekhouden/utils/consolidated/party_manager.py
  verenigingen/e_boekhouden/utils/party_resolver.py
  verenigingen/e_boekhouden/utils/transaction_utils.py
  verenigingen/services/customer_group_resolver.py
  verenigingen/services/customer_handling_service.py
  verenigingen/services/donation/donor_service.py
  verenigingen/services/donation/financial_service.py
  verenigingen/services/member/approval/application_payments.py
  verenigingen/tests/services/test_customer_group_resolver.py
  verenigingen/tests/services/test_customer_handling_service_integration.py
  verenigingen/verenigingen/doctype/donor/donor.py
  verenigingen/verenigingen_payments/mollie/api/payment_webhook.py
  verenigingen/verenigingen_payments/mollie/services/payment_entry_factory.py
  verenigingen/verenigingen_payments/mollie/services/shared/payment_entry_factory.py
  verenigingen/verenigingen_payments/services/mollie_payment_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(plan): T4.1 design - retire MemberLifecycleService approval orchestrator
  docs/plans/2026-05-21-t4.1-second-orchestrator-retirement-design.md
Due: none

test: red test for pending chapter activation via canonical approval path
  verenigingen/tests/integration/test_canonical_approval_chapter_activation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(membership-review): activate pre-existing pending chapter memberships in canonical approve path
  verenigingen/api/membership_application_review.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: red tests for retirement of MemberLifecycleService approval orchestrator
  verenigingen/tests/backend/unit/services/test_approval_unification.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(approval): repoint or delete tests that exercise the deprecated lifecycle approval path
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/backend/integration/test_concurrency_safety.py
  verenigingen/tests/backend/unit/api/test_member_api.py
  verenigingen/tests/backend/unit/controllers/test_member_controller.py
  verenigingen/tests/backend/workflows/test_chapter_membership_workflow.py
  verenigingen/tests/integration/test_chapter_membership_approval_integration.py
  verenigingen/tests/services/test_operation_result_migration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(member): delete deprecated approve_application/reject_application doctype methods
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(member): delete MemberLifecycleService, move is_application_member to status service
  verenigingen/services/member/core/member_lifecycle_service.py
  verenigingen/services/member/core/member_status_service.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(t4.1): retire MemberLifecycleService approval orchestrator (#56)
  docs/plans/2026-05-21-t4.1-second-orchestrator-retirement-design.md
  verenigingen/api/membership_application_review.py
  verenigingen/services/member/core/member_lifecycle_service.py
  verenigingen/services/member/core/member_status_service.py
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/backend/integration/test_concurrency_safety.py
  verenigingen/tests/backend/unit/api/test_member_api.py
  verenigingen/tests/backend/unit/controllers/test_member_controller.py
  verenigingen/tests/backend/unit/services/test_approval_unification.py
  verenigingen/tests/backend/workflows/test_chapter_membership_workflow.py
  verenigingen/tests/integration/test_canonical_approval_chapter_activation.py
  verenigingen/tests/integration/test_chapter_membership_approval_integration.py
  verenigingen/tests/services/test_operation_result_migration.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): clean up test_chapter_membership_approval_integration teardown + 2 latent bugs
  verenigingen/tests/integration/test_chapter_membership_approval_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): clean up test_chapter_membership_approval_integration teardown + 2 latent bugs (#57)
  verenigingen/tests/integration/test_chapter_membership_approval_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(account-creation): preserve real Member PII in Phase 1 + log_error kw args
  verenigingen/services/member/account/account_creation_api.py
  verenigingen/services/member/account/account_creation_manager.py
  verenigingen/tests/member/test_account_creation_pipeline.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(account-creation): expand log_error sweep + address review feedback
  verenigingen/services/member/account/account_creation_manager.py
  verenigingen/services/member/account/base_role_profile_manager.py
  verenigingen/services/member/account/member_user_account_service.py
  verenigingen/services/member/account/user_role_profile_calculator.py
  verenigingen/tests/member/test_account_creation_pipeline.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(account-creation): preserve real Member PII in Phase 1 + log_error kw args (PR #54 follow-up) (#58)
  verenigingen/services/member/account/account_creation_api.py
  verenigingen/services/member/account/account_creation_manager.py
  verenigingen/services/member/account/base_role_profile_manager.py
  verenigingen/services/member/account/member_user_account_service.py
  verenigingen/services/member/account/user_role_profile_calculator.py
  verenigingen/tests/member/test_account_creation_pipeline.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): repair stale ANBI clarity tests + delete dead donation-agreement test
  verenigingen/tests/backend/features/test_anbi_clarity_lifecycle.py
  verenigingen/verenigingen/doctype/donation/test_donation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): address PR #60 review — dedup BSN generator, narrow cleanup, drop stale field
  verenigingen/tests/backend/features/test_anbi_clarity_lifecycle.py
  verenigingen/tests/fixtures/dutch_validation_helpers.py
  verenigingen/verenigingen/doctype/donation/test_donation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): repair stale ANBI clarity tests + delete dead donation-agreement test (#60)
  verenigingen/tests/backend/features/test_anbi_clarity_lifecycle.py
  verenigingen/tests/fixtures/dutch_validation_helpers.py
  verenigingen/verenigingen/doctype/donation/test_donation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): eliminate synchronous workflow-action-email hang in test mode
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/setup/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: repair test_chapter_volunteer_integration, delete dead test_advanced_workflows
  verenigingen/tests/backend/workflows/test_advanced_workflows.py
  verenigingen/verenigingen/doctype/chapter/test_chapter_volunteer_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(ci): remove legacy tests.yml workflow tied to scrapped self-hosted runner
  .github/workflows/tests.yml
Due: none

fix(tests): log instead of swallow when disable_workflow_action_emails fails to import
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(ci): remove legacy tests.yml workflow tied to scrapped self-hosted runner (#64)
  .github/workflows/tests.yml
Due: none

fix(tests): eliminate workflow-action-email hang that froze the test suite (#63)
  verenigingen/tests/backend/workflows/test_advanced_workflows.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/setup/__init__.py
  verenigingen/verenigingen/doctype/chapter/test_chapter_volunteer_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: design doc for Issue #66 (CI runs zero tests)
  docs/plans/2026-05-23-ci-test-discovery-rewire-design.md
Due: none

docs: implementation plan for Issue #66 CI rewire
  docs/plans/2026-05-23-ci-test-discovery-rewire.md
Due: none

ci(base-tests): drop test-modules/test-pattern inputs
  .github/workflows/_base-server-tests.yml
Due: none

ci(server-tests): collapse 9 category jobs to single 4-shard matrix
  .github/workflows/server-tests.yml
Due: none

ci(server-tests): drop vestigial pre-check job
  .github/workflows/server-tests.yml
Due: none

ci(tests-hosted): fix the same zero-test-discovery bug
  .github/workflows/tests-hosted.yml
Due: none

fix(volunteer): correct source_doctype for Board Position assignments
  verenigingen/services/volunteer/assignment_query_builder.py
  verenigingen/tests/services/test_volunteer_assignment_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ci: address double-review findings (dual aggregator + .deprecated cruft)
  .github/workflows/_base-server-tests.yml
  .github/workflows/tests-hosted.yml.deprecated
  docs/plans/2026-05-23-ci-test-discovery-rewire-design.md
Due: none

test: restore super().tearDown() in 20 EnhancedTestCase test files
  verenigingen/tests/backend/components/test_chapter_assignment_edge_cases.py
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/backend/components/test_membership_type_minimum_period.py
  verenigingen/tests/backend/components/test_team_assignment_history.py
  verenigingen/tests/backend/comprehensive/test_doctype_validation.py
  verenigingen/tests/backend/comprehensive/test_termination_workflow_edge_cases.py
  verenigingen/tests/backend/features/test_application_submission_validation.py
  verenigingen/tests/backend/integration/test_policy_expense_integration.py
  verenigingen/tests/backend/workflows/test_chapter_membership_workflow.py
  verenigingen/tests/member/test_membership_application_skills.py
  verenigingen/tests/member/test_membership_commitment_period.py
  verenigingen/tests/sepa/test_sepa_week3_features.py
  verenigingen/verenigingen/doctype/chapter/test_chapter_head.py
  verenigingen/verenigingen/doctype/chapter/test_chapter_volunteer_integration.py
  verenigingen/verenigingen/doctype/chapter_role/test_chapter_role.py
  verenigingen/verenigingen/doctype/team/test_team.py
  verenigingen/verenigingen/doctype/volunteer/test_volunteer_aggregated.py
  verenigingen/verenigingen/doctype/volunteer_interest_category/test_volunteer_interest_category.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/test_sepa_mandate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: restore super().tearDown() in 20 EnhancedTestCase test files (#62)
  verenigingen/tests/backend/components/test_chapter_assignment_edge_cases.py
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/backend/components/test_membership_type_minimum_period.py
  verenigingen/tests/backend/components/test_team_assignment_history.py
  verenigingen/tests/backend/comprehensive/test_doctype_validation.py
  verenigingen/tests/backend/comprehensive/test_termination_workflow_edge_cases.py
  verenigingen/tests/backend/features/test_application_submission_validation.py
  verenigingen/tests/backend/integration/test_policy_expense_integration.py
  verenigingen/tests/backend/workflows/test_chapter_membership_workflow.py
  verenigingen/tests/member/test_membership_application_skills.py
  verenigingen/tests/member/test_membership_commitment_period.py
  verenigingen/tests/sepa/test_sepa_week3_features.py
  verenigingen/verenigingen/doctype/chapter/test_chapter_head.py
  verenigingen/verenigingen/doctype/chapter/test_chapter_volunteer_integration.py
  verenigingen/verenigingen/doctype/chapter_role/test_chapter_role.py
  verenigingen/verenigingen/doctype/team/test_team.py
  verenigingen/verenigingen/doctype/volunteer/test_volunteer_aggregated.py
  verenigingen/verenigingen/doctype/volunteer_interest_category/test_volunteer_interest_category.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/test_sepa_mandate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(ci): make server-tests.yml actually run the test suite (Issue #66) (#67)
  .github/workflows/_base-server-tests.yml
  .github/workflows/server-tests.yml
  .github/workflows/tests-hosted.yml
  .github/workflows/tests-hosted.yml.deprecated
  docs/plans/2026-05-23-ci-test-discovery-rewire-design.md
  docs/plans/2026-05-23-ci-test-discovery-rewire.md
Due: none

fix(volunteer): correct source_doctype for Board Position assignments (#68)
  verenigingen/services/volunteer/assignment_query_builder.py
  verenigingen/tests/services/test_volunteer_assignment_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
