Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

mollie log doctype added
  docs/mollie-audit/PHASE_2_3_4_CONSOLIDATION_ROADMAP.md
  verenigingen/integrations/mollie/core/mollie_client.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen_payments/doctype/mollie_reconciliation_log/__init__.py
  verenigingen/verenigingen_payments/doctype/mollie_reconciliation_log/mollie_reconciliation_log.json
  verenigingen/verenigingen_payments/doctype/mollie_reconciliation_log/mollie_reconciliation_log.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

automated (recent) member payment retrieval logic added, mollie bank transaction logic consolidation
  scripts/test_bulk_payment_checker.py
  verenigingen/api/member_management.py
  verenigingen/integrations/mollie/api/payment_webhook.py
  verenigingen/integrations/mollie/api/unified_payment_api.py
  verenigingen/integrations/mollie/core/client.py
  verenigingen/integrations/mollie/services/bulk_payment_checker.py
  verenigingen/services/communication/email_service.py
  verenigingen/services/donation_reporting_service.py
  verenigingen/services/infrastructure/service_metrics.py
  verenigingen/services/mollie_debug_service.py
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/services/payment_processing_service.py
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/templates/pages/mollie_subscription_recreation.py
  verenigingen/tests/integration/test_bank_transaction_security.py
  verenigingen/utils/bank_integration.py
  verenigingen/utils/debug_list_permissions.py
  verenigingen/utils/manual_camt_import.py
  verenigingen/utils/services/sepa_service.py
  verenigingen/utils/user_role_profile_calculator.py
  verenigingen/utils/validation/api_validators.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen_payments/api/balance_transaction_processing.py
  verenigingen/verenigingen_payments/api/sepa_batch_notifications.py
  verenigingen/verenigingen_payments/api/sepa_mandate_management.py
  verenigingen/verenigingen_payments/clients/bulk_transaction_importer.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
  verenigingen/www/e_boekhouden_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: Phase 3.1 MollieConfigurationService migration with security hardening
  docs/mollie-audit/PHASE_3_1_ANALYSIS.md
  docs/mollie-audit/PHASE_3_1_CALLER_ANALYSIS.md
  docs/mollie-audit/PHASE_3_1_SECURITY_FIXES.md
  scripts/validation/database_field_reference_validator.py
  verenigingen/templates/pages/mollie_payments_debug.py
  verenigingen/utils/payment_services/mollie_payment_service.py
  verenigingen/verenigingen/report/mollie_balance_report/mollie_balance_report.py
  verenigingen/verenigingen_payments/services/mollie_configuration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: Phase 3.2 GL Account Validation consolidation with comprehensive testing
  docs/mollie-audit/PHASE_3_2_GL_ACCOUNT_VALIDATION_PLAN.md
  docs/mollie-audit/PHASE_3_2_IMPLEMENTATION_SUMMARY.md
  verenigingen/verenigingen_payments/services/mollie_configuration_service.py
  verenigingen/verenigingen_payments/services/test_mollie_configuration_service.py
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: Complete Phase 3.2 GL Account Validation - migrate remaining files
  verenigingen/verenigingen_payments/services/balance_transaction_processor.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
  verenigingen/verenigingen_payments/services/settlement_bank_transaction_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie bulk payment discoverer
  verenigingen/integrations/mollie/services/bulk_payment_checker.py
  verenigingen/verenigingen_payments/page/mollie_bulk_payment_discovery/mollie_bulk_payment_discovery.js
  verenigingen/verenigingen_payments/page/mollie_bulk_payment_discovery/mollie_bulk_payment_discovery.json
  verenigingen/verenigingen_payments/page/mollie_bulk_payment_discovery/mollie_bulk_payment_discovery.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

feat: Phase 3.3 Company Validation consolidation
  verenigingen/verenigingen_payments/services/mollie_configuration_service.py
  verenigingen/verenigingen_payments/services/test_mollie_configuration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: Phase 3.3 - Migrate 13 files from hardcoded company fallbacks to centralized validation
  verenigingen/api/payment_plan_management.py
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/events/subscribers/payment_history_queue.py
  verenigingen/events/subscribers/team_subscribers.py
  verenigingen/integrations/mollie/services/payment_entry_factory.py
  verenigingen/utils/expense_notifications.py
  verenigingen/utils/payment_retry.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
  verenigingen/verenigingen/doctype/membership/scheduler.py
  verenigingen/verenigingen_payments/api/sepa_batch_notifications.py
  verenigingen/verenigingen_payments/doctype/payment_plan/payment_plan.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

more code quality improvement
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/events/subscribers/team_subscribers.py
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
  verenigingen/verenigingen_payments/page/mollie_bulk_payment_discovery/mollie_bulk_payment_discovery.js
  verenigingen/verenigingen_payments/page/mollie_bulk_payment_discovery/mollie_bulk_payment_discovery.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
  verenigingen/verenigingen_payments/services/mollie_configuration_service.py
  verenigingen/verenigingen_payments/services/test_mollie_configuration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

mollie error handler, initial work on ebh BT creation
  docs/mollie-audit/PHASE_3_1_ANALYSIS.md
  docs/mollie-audit/PHASE_3_1_CALLER_ANALYSIS.md
  docs/mollie-audit/PHASE_3_1_SECURITY_FIXES.md
  docs/mollie-audit/PHASE_3_2_GL_ACCOUNT_VALIDATION_PLAN.md
  docs/mollie-audit/PHASE_3_2_IMPLEMENTATION_SUMMARY.md
  verenigingen/e_boekhouden/utils/payment_processing/payment_entry_handler.py
  verenigingen/verenigingen_payments/clients/payments_client.py
  verenigingen/verenigingen_payments/clients/settlements_client.py
  verenigingen/verenigingen_payments/core/error_handler.py
  verenigingen/verenigingen_payments/core/mollie_base_client.py
  verenigingen/verenigingen_payments/core/test_error_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: Phase 4.3 Pagination - Safety enhancements and documentation
  docs/mollie-audit/PAGINATION_PATTERNS.md
  docs/mollie-audit/PHASE_4_3_COMPLETION_SUMMARY.md
  docs/mollie-audit/PHASE_4_3_PAGINATION_ANALYSIS.md
  verenigingen/verenigingen_payments/core/mollie_base_client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: Phase 4.2 Response Parsing - Foundation complete with comprehensive tests
  docs/mollie-audit/PHASE_4_2_COMPLETION_SUMMARY.md
  docs/mollie-audit/PHASE_4_2_RESPONSE_PARSING_ANALYSIS.md
  verenigingen/e_boekhouden/utils/payment_processing/payment_entry_handler.py
  verenigingen/verenigingen_payments/core/error_handler.py
  verenigingen/verenigingen_payments/core/mollie_base_client.py
  verenigingen/verenigingen_payments/core/test_response_parsing.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: Phase 4.2 Client Migration - All clients migrated to centralized parsing
  docs/mollie-audit/PHASE_4_2_COMPLETION_SUMMARY.md
  verenigingen/e_boekhouden/utils/payment_processing/payment_entry_handler.py
  verenigingen/verenigingen_payments/clients/balances_client.py
  verenigingen/verenigingen_payments/clients/chargebacks_client.py
  verenigingen/verenigingen_payments/clients/invoices_client.py
  verenigingen/verenigingen_payments/clients/settlements_client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: Critical bugs in Phase 4.2 Response Parsing
  verenigingen/verenigingen_payments/core/mollie_base_client.py
  verenigingen/verenigingen_payments/core/test_response_parsing.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: Document QCE review and critical bug fixes for Phase 4.2
  docs/mollie-audit/PHASE_4_2_COMPLETION_SUMMARY.md
Due: none

feat: Implement Martin Fowler's high-priority recommendations
  verenigingen/verenigingen_payments/core/mollie_base_client.py
  verenigingen/verenigingen_payments/core/test_response_parsing.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Phase 4.4: Implement response caching with LRU+TTL strategy
  docs/mollie-audit/CACHING_USAGE_EXAMPLES.md
  docs/mollie-audit/PHASE_4_4_CACHING_STRATEGY.md
  verenigingen/verenigingen_payments/core/mollie_base_client.py
  verenigingen/verenigingen_payments/core/response_cache.py
  verenigingen/verenigingen_payments/core/test_response_cache.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: Complete cache integration fixes from QCE review
  verenigingen/tests/test_balances_client.py
  verenigingen/verenigingen_payments/clients/balances_client.py
  verenigingen/verenigingen_payments/clients/settlements_client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: Phase 4.4 completion summary
  docs/mollie-audit/PHASE_4_4_COMPLETION_SUMMARY.md
Due: none

ACR fix
  scripts/add_search_balance_transactions_rule.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/utils/account_creation_manager.py
  verenigingen/verenigingen_payments/api/balance_transaction_processing.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: Add Mollie payment metrics to Zabbix integration
  scripts/monitoring/zabbix_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: Phase 4.5 Performance Monitoring completion summary
  docs/mollie-audit/PHASE_4_5_COMPLETION_SUMMARY.md
Due: none

fix: Critical bugs in Phase 4.5 Mollie monitoring (QCE review)
  scripts/monitoring/zabbix_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie fixes, ACR fixes
  scripts/import_tracking_monitor.py
  verenigingen/fixtures/report.json
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/admin_tools.py
  verenigingen/tests/test_account_creation_manager_comprehensive.py
  verenigingen/tests/test_csv_import_user_linking.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/orphaned_child_table_cleanup.py
  verenigingen/utils/retry_utilities.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/report/orphaned_child_table_records/__init__.py
  verenigingen/verenigingen/report/orphaned_child_table_records/orphaned_child_table_records.json
  verenigingen/verenigingen/report/orphaned_child_table_records/orphaned_child_table_records.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

added orphaned data cleanup functions
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/public/css/tailwind.css
  verenigingen/templates/pages/admin_tools.py
  verenigingen/utils/member_import_cleanup.py
  verenigingen/utils/orphaned_child_table_cleanup.py
  verenigingen/verenigingen/doctype/api_audit_log/api_audit_log.js
  verenigingen/verenigingen/doctype/api_audit_log/api_audit_log.py
  verenigingen/verenigingen/doctype/api_audit_log/api_audit_log_list.js
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen_payments/services/test_mollie_configuration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

mollie integration tests, ACR fixes
  verenigingen/integrations/mollie/tests/fixtures/test_factory.py
  verenigingen/tests/test_balances_client.py
  verenigingen/tests/test_chargebacks_client.py
  verenigingen/tests/test_organizations_client.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request_list.js
  verenigingen/verenigingen_payments/clients/balances_client.py
  verenigingen/verenigingen_payments/clients/chargebacks_client.py
  verenigingen/verenigingen_payments/clients/organizations_client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

ACR status tracking, import logic fixes
  verenigingen/utils/account_creation_manager.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/report/account_creation_status/__init__.py
  verenigingen/verenigingen/report/account_creation_status/account_creation_status.json
  verenigingen/verenigingen/report/account_creation_status/account_creation_status.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ACR en mijnrood import fix
  verenigingen/utils/orphaned_child_table_cleanup.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/report/account_creation_status/account_creation_status.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ACR retry logic fix
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/member_import_cleanup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mijnrood join date preservatien
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

dev mode check disabled for import cleanup
  verenigingen/templates/pages/admin_tools.py
  verenigingen/utils/member_import_cleanup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: implement Repository Pattern with security & performance fixes
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/invoice_helpers.py
  verenigingen/e_boekhouden/utils/payment_processing/payment_entry_handler.py
  verenigingen/repositories/__init__.py
  verenigingen/repositories/dues_schedule_repository.py
  verenigingen/repositories/sepa_mandate_repository.py
  verenigingen/tests/repositories/__init__.py
  verenigingen/tests/repositories/test_sepa_mandate_repository.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership/membership.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: migrate remaining repository queries and add DuesScheduleRepository tests
  verenigingen/api/performance_measurement.py
  verenigingen/e_boekhouden/services/__init__.py
  verenigingen/e_boekhouden/services/account_classification_service.py
  verenigingen/services/member_merge_service.py
  verenigingen/tests/repositories/test_dues_schedule_repository.py
  verenigingen/tests/unit/test_account_classification_service.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin_optimized.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

debug: DuesScheduleRepository tests - 11/15 passing
  docs/e_boekhouden/ACCOUNT_CLASSIFICATION_SERVICE_INTEGRATION.md
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/services/account_classification_service.py
  verenigingen/services/billing/invoice_generator.py
  verenigingen/tests/repositories/test_dues_schedule_repository.py
  verenigingen/tests/unit/test_account_classification_service.py
  verenigingen/utils/settings_utils.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Fix DuesScheduleRepository bugs and complete test suite (15/15 passing)
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/utils/eboekhouden_cost_center_fix.py
  verenigingen/repositories/dues_schedule_repository.py
  verenigingen/tests/repositories/test_dues_schedule_repository.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule_hooks.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

ebh return invoice generation and payment handling
  docs/e_boekhouden/PAYMENT_ENTRY_AMOUNT_BUG_FIX.md
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.json
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/invoice_helpers.py
  verenigingen/e_boekhouden/utils/payment_processing/overpayment_detector.py
  verenigingen/e_boekhouden/utils/payment_processing/payment_entry_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

eboekhouden processor handling updated to use new coordinator
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/utils/bank_transaction_parser.py
  verenigingen/e_boekhouden/utils/cleanup_utils.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/processors/invoice_processor.py
  verenigingen/e_boekhouden/utils/processors/journal_processor.py
  verenigingen/e_boekhouden/utils/processors/payment_processor.py
  verenigingen/e_boekhouden/utils/processors/stock_processor.py
  verenigingen/e_boekhouden/utils/processors/transaction_coordinator.py
  verenigingen/e_boekhouden/utils/stock_opening_balance_handler.py
  verenigingen/templates/pages/admin_tools.py
  verenigingen/utils/member_import_cleanup.py
  verenigingen/utils/nuke_financial_data_fast.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

secure operations error propagation and retry fix
  verenigingen/utils/secure_operations.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mijnrood csv importer improved with explicit check for user account creation, eboekhouden importer improved with mollie bank fee adjustment handling
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.json
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/payment_processing/payment_entry_handler.py
  verenigingen/e_boekhouden/utils/processors/journal_processor.py
  verenigingen/e_boekhouden/utils/processors/payment_processor.py
  verenigingen/e_boekhouden/utils/processors/transaction_coordinator.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/secure_operations.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

eboekhouden credit invoice handling seems to work now
  verenigingen/e_boekhouden/utils/cleanup_utils.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/invoice_helpers.py
  verenigingen/e_boekhouden/utils/payment_processing/payment_entry_handler.py
  verenigingen/e_boekhouden/utils/processors/payment_processor.py
  verenigingen/services/billing/invoice_generator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
