Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

Refactor: Consolidate customer_service into CustomerHandlingService and deprecate legacy module
  verenigingen/services/customer_handling_service.py
  verenigingen/services/customer_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Refactor: Move donation services to verenigingen/services/donation/ and update imports
  verenigingen/services/donation/__init__.py
  verenigingen/services/donation/donor_service.py
  verenigingen/services/donation/financial_service.py
  verenigingen/services/donation/management_service.py
  verenigingen/services/donation/reporting_service.py
  verenigingen/services/donation/validation_service.py
  verenigingen/tests/backend/unit/services/test_donation_reporting_api.py
  verenigingen/tests/services/test_donation_refactoring_integration.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/web_form/donation_form/donation_form.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Test: Add unit tests for MemberMembershipService and CustomerHandlingService (Note: Requires bench environment)
  verenigingen/tests/unit/services/test_customer_handling_service.py
  verenigingen/tests/unit/services/test_member_membership_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixes
  verenigingen/services/billing/coverage_calculator.py
  verenigingen/services/customer_handling_service.py
  verenigingen/tests/services/test_customer_handling_service_integration.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Add SEPA Mandate Issues report and mandate/member mismatch detection
  verenigingen/verenigingen_payments/page/sepa_mandate_diagnostics/sepa_mandate_diagnostics.py
  verenigingen/verenigingen_payments/report/sepa_mandate_issues/__init__.py
  verenigingen/verenigingen_payments/report/sepa_mandate_issues/sepa_mandate_issues.json
  verenigingen/verenigingen_payments/report/sepa_mandate_issues/sepa_mandate_issues.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Fix circular import and multiple production bugs
  verenigingen/api/payment_processing.py
  verenigingen/services/member/core/member_address_service.py
  verenigingen/services/member/core/member_lifecycle_service.py
  verenigingen/tests/integration/test_payment_processing_api_integration.py
  verenigingen/utils/bank_integration.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen_payments/doctype/sepa_audit_log/sepa_audit_log.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix
  verenigingen/templates/pages/chapter_dashboard.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

fixes
  verenigingen/hooks.py
  verenigingen/services/member/lifecycle/member_cleanup_service.py
  verenigingen/utils/member_import_cleanup.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.json
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.json
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix
  verenigingen/services/billing/dues_schedule_validation_service.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixes
  verenigingen/integrations/mollie/services/dues_payment_processor.py
  verenigingen/services/mollie_debug_service.py
  verenigingen/templates/pages/includes/mollie_dues_payment_processor.html
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/payment_processing_recovery.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member_contact_request/member_contact_request.py
  verenigingen/verenigingen_payments/page/sepa_mandate_diagnostics/sepa_mandate_diagnostics.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixes
  verenigingen/utils/optimized_queries.py
  verenigingen/verenigingen_payments/api/dd_batch_optimizer.py
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/batch_performance_optimizer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix
  verenigingen/templates/pages/mollie_payments_debug.html
Due: enhanced-field-validator, email-template-validator

fix
  verenigingen/templates/pages/includes/mollie_dues_payment_processor.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

fix(security): add GDPR audit logging for permission bypasses in member cleanup
  verenigingen/services/member/lifecycle/member_cleanup_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

analytics metric fix
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

member merge fix
  verenigingen/verenigingen/doctype/member/member_list.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

member merge fix
  verenigingen/services/member_merge_service.py
  verenigingen/verenigingen/doctype/member/member_list.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

membership analytics fixes
  verenigingen/utils/constants.py
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

vip import plus coverage check code fixes
  .pre-commit-config-light.yaml
  scripts/validation/doctype_loader.py
  scripts/validation/framework/ast_field_analyzer.py
  scripts/validation/framework/ast_field_analyzer_core.py
  scripts/validation/hooks_parser.py
  verenigingen/integrations/mollie/services/dues_payment_processor.py
  verenigingen/services/billing/__init__.py
  verenigingen/services/billing/coverage_overlap_detector.py
  verenigingen/services/billing/duplicate_invoice_detector.py
  verenigingen/utils/csv/vip_data_validator.py
  verenigingen/utils/member_import_cleanup.py
  verenigingen/utils/payment_processing_recovery.py
  verenigingen/verenigingen/doctype/api_audit_log/api_audit_log.json
  verenigingen/verenigingen/doctype/vip_import/__init__.py
  verenigingen/verenigingen/doctype/vip_import/test_vip_import.py
  verenigingen/verenigingen/doctype/vip_import/vip_import.js
  verenigingen/verenigingen/doctype/vip_import/vip_import.json
  verenigingen/verenigingen/doctype/vip_import/vip_import.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

vip import fix
  verenigingen/utils/csv/vip_data_validator.py
  verenigingen/verenigingen/doctype/vip_import/vip_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: dynamic path resolution for CI controller tests
  verenigingen/tests/setup/controller-loader.js
  verenigingen/tests/setup/test-paths.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

github runner
  scripts/setup-github-runner.sh
Due: none

fix: add missing frappe mocks for controller tests
  verenigingen/tests/setup/controller-loader.js
  verenigingen/tests/setup/frappe-mocks.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

feat: complete MemberUserAccountService migration with documentation improvements
  verenigingen/api/membership_application_review.py
  verenigingen/fixtures/membership_dues_schedule.json
  verenigingen/fixtures/membership_type.json
  verenigingen/public/js/membership_application.js
  verenigingen/repositories/dues_schedule_repository.py
  verenigingen/services/member/account/member_role_service.py
  verenigingen/services/member/account/member_user_account_service.py
  verenigingen/services/member/approval/membership_creation_service.py
  verenigingen/templates/pages/member_portal.py
  verenigingen/templates/pages/membership_adjustment.html
  verenigingen/templates/pages/membership_adjustment.py
  verenigingen/tests/integration/test_membership_approval_real.py
  verenigingen/tests/integration/test_membership_type_change_integration.py
  verenigingen/tests/services/test_volunteer_expense_approver_service.py
  verenigingen/tests/test_billing_frequency_transition_manager.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/application_payments.py
  verenigingen/utils/billing_frequency_transition_manager.py
  verenigingen/utils/contribution_amendment_utilities.py
  verenigingen/utils/member_account_service.py
  verenigingen/utils/membership_type_role_profile.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership/test_membership.py
  verenigingen/verenigingen/doctype/membership_type/membership_type.json
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
  verenigingen/verenigingen/doctype/membership_type/test_membership_type.py
  verenigingen/verenigingen/doctype/membership_type_history_entry/__init__.py
  verenigingen/verenigingen/doctype/membership_type_history_entry/membership_type_history_entry.json
  verenigingen/verenigingen/doctype/membership_type_history_entry/membership_type_history_entry.py
  verenigingen/verenigingen/report/members_without_dues_schedule/members_without_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

vip import fixes
  verenigingen/verenigingen/doctype/bulk_operation_tracker/bulk_operation_tracker.json
  verenigingen/verenigingen/doctype/vip_import/vip_import.json
  verenigingen/verenigingen/doctype/vip_import/vip_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

vip import fixes
  verenigingen/utils/member_import_cleanup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

dues rate fix
  verenigingen/services/member/approval/membership_creation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixes
  verenigingen/utils/member_import_cleanup.py
  verenigingen/verenigingen/doctype/vip_import/vip_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

code fix
  verenigingen/services/billing/template_creation_service.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.json
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

code fix
  .github/workflows/tests.yml
Due: none

Add GitHub-hosted CI following Frappe pattern
  .github/actions/setup/action.yml
  .github/helper/db/mariadb.json
  .github/helper/install.sh
  .github/workflows/_base-server-tests.yml
  .github/workflows/server-tests.yml
  .github/workflows/tests-hosted.yml.deprecated
Due: email-template-validator

Add organization document upload portal with security hardening
  verenigingen/api/document_portal.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/hooks.py
  verenigingen/services/document/__init__.py
  verenigingen/services/document/document_portal_service.py
  verenigingen/templates/pages/board/document_upload.html
  verenigingen/templates/pages/board/document_upload.py
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/utils/file_storage.py
  verenigingen/verenigingen/doctype/organization_document/__init__.py
  verenigingen/verenigingen/doctype/organization_document/organization_document.json
  verenigingen/verenigingen/doctype/organization_document/organization_document.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Add Critical Operation Rule defaults for document portal APIs
  verenigingen/fixtures/critical_operation_rule.json
Due: email-template-validator

test
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/templates/pages/admin_tools.py
  verenigingen/utils/member_import_cleanup.py
  verenigingen/utils/version_cleanup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Add document browser portal and update member portal welcome message
  verenigingen/api/document_portal.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/hooks.py
  verenigingen/services/document/document_portal_service.py
  verenigingen/templates/pages/board/document_browser.html
  verenigingen/templates/pages/board/document_browser.py
  verenigingen/templates/pages/member_portal.html
  verenigingen/templates/pages/member_portal.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixes
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/setup/__init__.py
  verenigingen/setup/public_document_creator_setup.py
  verenigingen/templates/pages/bank_details.py
  verenigingen/templates/pages/donate.py
  verenigingen/templates/pages/payment_success.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

webhook fix attempt
  verenigingen/integrations/mollie/utils/webhook_security.py
  verenigingen/verenigingen_payments/services/mollie_configuration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Fix Mollie donation webhook processing issues and add regression tests
  verenigingen/integrations/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/integrations/mollie/tests/test_core_integration.py
  verenigingen/tests/test_mollie_donation_webhook_regression.py
  verenigingen/utils/donation_history_manager.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
  verenigingen/verenigingen_payments/services/donation_journal_entry_creator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
