Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(validation): support modular hooks/ package in all hook parsers
  scripts/validation/framework/ast_field_analyzer.py
  scripts/validation/framework/ast_field_analyzer_core.py
  scripts/validation/hooks_parser.py
  scripts/validation/production/enhanced_doctype_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(validation): fix hardcoded paths in archived validators too
  scripts/validation/archived/ast_field_analyzer_improved_complete.py
  scripts/validation/archived/hooks_parser.py
  scripts/validation/archived/validation_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(department-sync): use correct DocType name for board member queries
  verenigingen/utils/department_hierarchy.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(utils): move payment/banking files to verenigingen_payments/utils/
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/hooks/doc_events.py
  verenigingen/hooks/scheduler.py
  verenigingen/utils/bank_reconciliation.py
  verenigingen/utils/dd_security_enhancements.py
  verenigingen/utils/iban_history_manager.py
  verenigingen/utils/mt940_import_auto.py
  verenigingen/utils/payment_gateways.py
  verenigingen/utils/payment_plan_validator.py
  verenigingen/utils/sepa_notifications.py
  verenigingen/utils/webhook_payment_gateway_access.py
  verenigingen/verenigingen_payments/utils/bank_integration.py
  verenigingen/verenigingen_payments/utils/bank_utils.py
  verenigingen/verenigingen_payments/utils/mollie_data_validator.py
  verenigingen/verenigingen_payments/utils/mt940_enhanced_fields.py
  verenigingen/verenigingen_payments/utils/mt940_import.py
  verenigingen/verenigingen_payments/utils/payment_alert_service.py
  verenigingen/verenigingen_payments/utils/payment_entry_cleanup.py
  verenigingen/verenigingen_payments/utils/payment_notifications.py
  verenigingen/verenigingen_payments/utils/payment_processing_recovery.py
  verenigingen/verenigingen_payments/utils/payment_retry.py
  verenigingen/verenigingen_payments/utils/payment_services/__init__.py
  verenigingen/verenigingen_payments/utils/payment_services/constants.py
  verenigingen/verenigingen_payments/utils/payment_services/logging_utils.py
  verenigingen/verenigingen_payments/utils/payment_services/mollie_payment_service.py
  verenigingen/verenigingen_payments/utils/payment_services/refund_utility.py
  verenigingen/verenigingen_payments/utils/payment_utils.py
  verenigingen/verenigingen_payments/utils/sepa_parser.py
  verenigingen/verenigingen_payments/utils/sepa_sandbox.py
  verenigingen/verenigingen_payments/utils/webhook/__init__.py
  verenigingen/verenigingen_payments/utils/webhook/logging.py
  verenigingen/verenigingen_payments/utils/webhook/testing.py
  verenigingen/verenigingen_payments/utils/webhook_error_handler.py
  verenigingen/verenigingen_payments/utils/webhook_rate_limiter.py
  verenigingen/verenigingen_payments/utils/webhook_security.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(imports): fix broken imports and stale paths from Phase 1-3 moves
  verenigingen/public/js/member/js_modules/volunteer-utils.js
  verenigingen/services/member/approval/application_helpers.py
  verenigingen/services/termination/termination_execution_service.py
  verenigingen/services/termination/termination_operations.py
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/backend/comprehensive/test_dd_batch_edge_cases_comprehensive.py
  verenigingen/tests/test_all_imports.py
  verenigingen/verenigingen_payments/mollie/tests/test_integration_boundaries.py
  verenigingen/verenigingen_payments/utils/mt940_import.py
  verenigingen/verenigingen_payments/utils/payment_retry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

refactor(utils): move billing domain files to services/billing/
  verenigingen/hooks/doc_events.py
  verenigingen/hooks/scheduler.py
  verenigingen/services/billing/billing_constants.py
  verenigingen/services/billing/billing_date_service.py
  verenigingen/services/billing/billing_debug_utilities.py
  verenigingen/services/billing/billing_period_calculator.py
  verenigingen/services/billing/bulk_invoice_generation_service.py
  verenigingen/services/billing/coverage_calculator.py
  verenigingen/services/billing/dues_schedule_auto_creator.py
  verenigingen/services/billing/dues_schedule_health_manager.py
  verenigingen/services/billing/duplicate_invoice_detector.py
  verenigingen/services/billing/invoice_error_handler_service.py
  verenigingen/services/billing/invoice_generation_orchestrator.py
  verenigingen/services/billing/invoice_management.py
  verenigingen/services/billing/sales_invoice_account_handler.py
  verenigingen/services/billing/sales_invoice_hooks.py
  verenigingen/setup/security_setup.py
  verenigingen/templates/pages/admin_tools.py
  verenigingen/templates/pages/auto_create_dues_schedules.html
  verenigingen/templates/pages/dues_schedule_admin.py
  verenigingen/tests/backend/components/test_sales_invoice_chapter_population.py
  verenigingen/tests/test_billing_constants.py
  verenigingen/tests/test_dues_schedule_health_manager.py
  verenigingen/tests/unit/utils/test_billing_period_calculator.py
  verenigingen/utils/billing_constants.py
  verenigingen/utils/billing_debug_utilities.py
  verenigingen/utils/billing_period_calculator.py
  verenigingen/utils/contribution_amendment_utilities.py
  verenigingen/utils/dues_invoice_tracking.py
  verenigingen/utils/dues_schedule_auto_creator.py
  verenigingen/utils/dues_schedule_health_manager.py
  verenigingen/utils/invoice_management.py
  verenigingen/utils/sales_invoice_account_handler.py
  verenigingen/utils/sales_invoice_hooks.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/test_membership_dues_schedule.py
  verenigingen/verenigingen/doctype/verenigingen_settings/test_verenigingen_settings.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(utils): Phase 6 — move misc files and clean up
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/smart_tegenrekening_mapper.py
  verenigingen/tests/support/__init__.py
  verenigingen/tests/support/sepa_payment_failure_scenarios.py
  verenigingen/tests/utils/base.py
  verenigingen/utils/smart_tegenrekening_mapper.py
  verenigingen/utils/testing/sepa_payment_failure_scenarios.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(imports): fix shim chain imports and JS API paths from Phases 4-6
  verenigingen/services/chapter/chapter_role_profile_hooks.py
  verenigingen/services/chapter/chapter_role_profile_manager.py
  verenigingen/services/chapter/chapter_utils.py
  verenigingen/services/volunteer/volunteer_activation_service.py
  verenigingen/services/volunteer/volunteer_role_profile_hooks.py
  verenigingen/tests/backend/components/test_sales_invoice_chapter_population.py
  verenigingen/verenigingen/doctype/chapter/chapter.js
  verenigingen/verenigingen/page/membership_application_review/membership_application_review.js
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(tests): fix Sales Invoice chapter population tests
  verenigingen/tests/backend/components/test_sales_invoice_chapter_population.py
  verenigingen/tests/fixtures/test_data_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(audit): update utils directory audit with post-reorganization LOC counts
  docs/audits/utils-directory-audit-2026-02-27.md
Due: none

fix(imports): fix private name import through re-export shim
  verenigingen/utils/team_role_profile_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(imports): fix underscore name import through chapter_role_profile_manager shim
  verenigingen/tests/test_api_contracts.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(documents): add date extraction and folder-based auto-categorization for MijnRood import
  verenigingen/mijnrood_sync/services/document_import_service.py
  verenigingen/services/document/document_portal_service.py
  verenigingen/setup/__init__.py
  verenigingen/tests/backend/unit/utils/test_date_extraction.py
  verenigingen/tests/backend/unit/utils/test_folder_category_detector.py
  verenigingen/utils/date_extraction.py
  verenigingen/utils/folder_category_detector.py
  verenigingen/verenigingen/doctype/board_document_category/board_document_category.json
  verenigingen/verenigingen/doctype/organization_document/organization_document.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(roles): merge role profiles and auto-enable desk settings for volunteers
  docs/KASCOMMISSIE_SETUP.md
  docs/ROLE_PROFILES.md
  docs/security/ROLE_PROFILE_INTEGRATION_GUIDE.md
  docs/subsystems/security-and-permissions.md
  scripts/setup/auto_assign_profiles.py
  scripts/setup/migrate_role_profile_configuration.py
  verenigingen/constants/profile_mappings.py
  verenigingen/hooks/doc_events.py
  verenigingen/patches.txt
  verenigingen/patches/v2_1/enable_desk_settings_for_volunteers.py
  verenigingen/services/member/account/user_role_profile_calculator.py
  verenigingen/utils/user_desk_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(toolchain): remove broken validation orchestrator and stale references
  .pre-commit-config-light.yaml
  .pre-commit-config.yaml
  run-impacted-tests.sh
  scripts/validation/archived/validation_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(audit): add test suite audit report and Phase 1 deletion plan
  docs/audits/test-suite-audit-2026-03-03.md
  docs/plans/2026-03-03-test-suite-dead-code-deletion-design.md
  docs/plans/2026-03-03-test-suite-dead-code-deletion.md
  verenigingen/public/css/tailwind.css
Due: none

docs(audit): add Phase 2 duplicate consolidation design
  docs/plans/2026-03-04-test-suite-duplicate-consolidation-design.md
Due: none

docs(plans): add Phase 2 duplicate consolidation implementation plan
  docs/plans/2026-03-04-test-suite-duplicate-consolidation.md
Due: none

chore(tests): delete 17 duplicate/broken test files — Tier A (-3.9K LOC)
  verenigingen/tests/backend/components/test_anbi_donation_summary_report_minimal_real.py
  verenigingen/tests/backend/components/test_fee_override_integration.py
  verenigingen/tests/backend/components/test_overdue_payments_mock_elimination_demo.py
  verenigingen/tests/backend/components/test_overdue_payments_simple_real.py
  verenigingen/tests/backend/components/test_payment_interval_fix.py
  verenigingen/tests/backend/components/test_payment_processing_api_minimal.py
  verenigingen/tests/backend/components/test_payment_processing_api_optimized.py
  verenigingen/tests/backend/workflows/test_enhanced_termination.py
  verenigingen/tests/backend/workflows/test_member_lifecycle_basic.py
  verenigingen/tests/backend/workflows/test_suspension_api_import_fallback.py
  verenigingen/tests/backend/workflows/test_suspension_runner.py
  verenigingen/tests/backend/workflows/test_suspension_system.py
  verenigingen/tests/integration/test_payment_api_a_plus_demo.py
  verenigingen/tests/integration/test_phase4d_mock_elimination_demo_simple.py
  verenigingen/tests/integration/test_query_optimization_suite_old.py
  verenigingen/tests/test_billing_transitions_simplified.py
  verenigingen/tests/test_chapter_members_basic.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): delete 1 verified-duplicate test file — Tier B (-153 LOC)
  verenigingen/tests/backend/integration/test_suspension_simple_real.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(termination): use frappe.database.savepoint() context manager
  verenigingen/services/termination/termination_execution_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): resolve infinite recursion in _get_bank_account_config()
  verenigingen/verenigingen_payments/services/mollie_payment_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(customer): replace frappe.db.begin() with savepoint in create_customer_for_member()
  verenigingen/services/member/approval/application_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(plans): add Phase 3 test directory reorganization design
  docs/plans/2026-03-09-test-directory-reorganization-design.md
Due: none

docs(plans): add Phase 3 test directory reorganization plan
  docs/plans/2026-03-09-test-directory-reorganization.md
Due: none

chore(tests): create domain subdirectories for test reorganization
  verenigingen/tests/chapter/__init__.py
  verenigingen/tests/donor/__init__.py
  verenigingen/tests/email/__init__.py
  verenigingen/tests/member/__init__.py
  verenigingen/tests/payment/__init__.py
  verenigingen/tests/sepa/__init__.py
  verenigingen/tests/volunteer/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): move 31 SEPA/banking tests to tests/sepa/
  verenigingen/tests/sepa/test_bank_integration_boundaries.py
  verenigingen/tests/sepa/test_enhanced_sepa_integration.py
  verenigingen/tests/sepa/test_iban_validator.py
  verenigingen/tests/sepa/test_ponto_client.py
  verenigingen/tests/sepa/test_ponto_oauth2_service.py
  verenigingen/tests/sepa/test_ponto_webhook_handler.py
  verenigingen/tests/sepa/test_sepa_input_validation.py
  verenigingen/tests/sepa/test_sepa_integration_performance.py
  verenigingen/tests/sepa/test_sepa_integration_real.py
  verenigingen/tests/sepa/test_sepa_invoice_validation.py
  verenigingen/tests/sepa/test_sepa_mandate_identity_service.py
  verenigingen/tests/sepa/test_sepa_mandate_integration.py
  verenigingen/tests/sepa/test_sepa_mandate_lifecycle.py
  verenigingen/tests/sepa/test_sepa_mandate_lifecycle_service.py
  verenigingen/tests/sepa/test_sepa_mandate_member_integration_service.py
  verenigingen/tests/sepa/test_sepa_mandate_naming.py
  verenigingen/tests/sepa/test_sepa_mandate_regression.py
  verenigingen/tests/sepa/test_sepa_mandate_runner.py
  verenigingen/tests/sepa/test_sepa_mandate_service_integration.py
  verenigingen/tests/sepa/test_sepa_mandate_validation_service.py
  verenigingen/tests/sepa/test_sepa_optimizations_integration.py
  verenigingen/tests/sepa/test_sepa_option_ac_workflow.py
  verenigingen/tests/sepa/test_sepa_payment_notifications_integration.py
  verenigingen/tests/sepa/test_sepa_performance_optimization.py
  verenigingen/tests/sepa/test_sepa_performance_optimizations_comprehensive.py
  verenigingen/tests/sepa/test_sepa_performance_regression.py
  verenigingen/tests/sepa/test_sepa_realistic_business_scenarios.py
  verenigingen/tests/sepa/test_sepa_security_comprehensive.py
  verenigingen/tests/sepa/test_sepa_sequence_type_validation.py
  verenigingen/tests/sepa/test_sepa_week3_features.py
  verenigingen/tests/sepa/test_sepa_week4_monitoring.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): move 33 member/membership tests to tests/member/
  verenigingen/tests/member/test_account_creation_dutch_rules.py
  verenigingen/tests/member/test_account_creation_pipeline.py
  verenigingen/tests/member/test_account_creation_security.py
  verenigingen/tests/member/test_bulk_account_creation.py
  verenigingen/tests/member/test_csv_data_transformers.py
  verenigingen/tests/member/test_csv_data_validator.py
  verenigingen/tests/member/test_csv_import_integration.py
  verenigingen/tests/member/test_csv_import_user_linking.py
  verenigingen/tests/member/test_customer_member_link_integration.py
  verenigingen/tests/member/test_dutch_business_logic_integration.py
  verenigingen/tests/member/test_enhanced_membership_portal.py
  verenigingen/tests/member/test_member_address_service.py
  verenigingen/tests/member/test_member_doctype_integration.py
  verenigingen/tests/member/test_member_doctype_integration_fixed.py
  verenigingen/tests/member/test_member_duplicate_detection.py
  verenigingen/tests/member/test_member_lifecycle_comprehensive.py
  verenigingen/tests/member/test_member_lifecycle_workflows.py
  verenigingen/tests/member/test_member_merge.py
  verenigingen/tests/member/test_member_performance_optimization.py
  verenigingen/tests/member/test_member_permissions.py
  verenigingen/tests/member/test_member_renewal_edge_cases.py
  verenigingen/tests/member/test_member_status_transitions_enhanced.py
  verenigingen/tests/member/test_member_utils.py
  verenigingen/tests/member/test_membership_application_integration.py
  verenigingen/tests/member/test_membership_application_skills.py
  verenigingen/tests/member/test_membership_application_skills_enhanced.py
  verenigingen/tests/member/test_membership_application_skills_secure.py
  verenigingen/tests/member/test_membership_application_workflow.py
  verenigingen/tests/member/test_membership_commitment_period.py
  verenigingen/tests/member/test_membership_type_change.py
  verenigingen/tests/member/test_secure_csv_parser.py
  verenigingen/tests/member/test_secure_member_list_performance.py
  verenigingen/tests/member/test_user_member_image_sync.py
  verenigingen/tests/run_member_status_tests.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): move 19 chapter/board tests to tests/chapter/
  verenigingen/tests/chapter/test_board_role_profile_sync.py
  verenigingen/tests/chapter/test_chapter_board_document.py
  verenigingen/tests/chapter/test_chapter_board_permissions.py
  verenigingen/tests/chapter/test_chapter_board_permissions_comprehensive.py
  verenigingen/tests/chapter/test_chapter_board_permissions_final.py
  verenigingen/tests/chapter/test_chapter_board_permissions_fixed.py
  verenigingen/tests/chapter/test_chapter_join_request_comprehensive.py
  verenigingen/tests/chapter/test_chapter_members_enhanced.py
  verenigingen/tests/chapter/test_chapter_members_integration.py
  verenigingen/tests/chapter/test_chapter_members_phase_5_2_mock_elimination.py
  verenigingen/tests/chapter/test_chapter_permissions.py
  verenigingen/tests/chapter/test_regression_chapter_join_member_lookup.py
  verenigingen/tests/chapter/test_role_profile_integration.py
  verenigingen/tests/chapter/test_role_profile_managers.py
  verenigingen/tests/chapter/test_team_role_basic.py
  verenigingen/tests/chapter/test_team_role_integration.py
  verenigingen/tests/chapter/test_team_role_migration.py
  verenigingen/tests/chapter/test_team_role_profile_sync.py
  verenigingen/tests/chapter/test_team_role_validation.py
  verenigingen/tests/run_chapter_members_tests.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): move 16 donor/ANBI tests to tests/donor/
  verenigingen/tests/donor/test_anbi_donation_agreement_validation.py
  verenigingen/tests/donor/test_anbi_validation_service.py
  verenigingen/tests/donor/test_campaign_donation_integration.py
  verenigingen/tests/donor/test_donation_agreement.py
  verenigingen/tests/donor/test_donor_auto_creation.py
  verenigingen/tests/donor/test_donor_auto_creation_comprehensive.py
  verenigingen/tests/donor/test_donor_customer_api.py
  verenigingen/tests/donor/test_donor_customer_integration.py
  verenigingen/tests/donor/test_donor_customer_sync_utils.py
  verenigingen/tests/donor/test_donor_permissions.py
  verenigingen/tests/donor/test_donor_permissions_security.py
  verenigingen/tests/donor/test_donor_security_comprehensive.py
  verenigingen/tests/donor/test_donor_security_core.py
  verenigingen/tests/donor/test_donor_security_enhanced.py
  verenigingen/tests/donor/test_donor_security_enhanced_fixed.py
  verenigingen/tests/donor/test_donor_security_working.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): move 14 security tests to tests/security/
  verenigingen/tests/security/test_admin_tools_security.py
  verenigingen/tests/security/test_api_security_decorators.py
  verenigingen/tests/security/test_api_security_framework.py
  verenigingen/tests/security/test_auth_hooks_critical_security.py
  verenigingen/tests/security/test_auth_hooks_security.py
  verenigingen/tests/security/test_cor_rate_limiting.py
  verenigingen/tests/security/test_integrated_security_payment_system.py
  verenigingen/tests/security/test_link_sanitizer.py
  verenigingen/tests/security/test_performance_security_fixes.py
  verenigingen/tests/security/test_project_permissions.py
  verenigingen/tests/security/test_secure_operations_security_audit.py
  verenigingen/tests/security/test_security_framework_comprehensive.py
  verenigingen/tests/security/test_security_modules.py
  verenigingen/tests/security/test_security_setup.py
  verenigingen/tests/security_test_suite.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): move 36 email/volunteer/financial/validation tests
  verenigingen/tests/backend/validation/test_api_contracts.py
  verenigingen/tests/backend/validation/test_api_endpoints_comprehensive.py
  verenigingen/tests/backend/validation/test_approval_helpers.py
  verenigingen/tests/backend/validation/test_bsn_rsin_validation_fix_verification.py
  verenigingen/tests/backend/validation/test_comprehensive_validation.py
  verenigingen/tests/backend/validation/test_erpnext_inspired_validations.py
  verenigingen/tests/backend/validation/test_error_recovery_and_rollback.py
  verenigingen/tests/backend/validation/test_event_subscriber_defensive_coding.py
  verenigingen/tests/backend/validation/test_field_sync_service_integration.py
  verenigingen/tests/backend/validation/test_field_sync_service_unit.py
  verenigingen/tests/backend/validation/test_fuzzy_logic_modernization_validation.py
  verenigingen/tests/backend/validation/test_import_validation_integration.py
  verenigingen/tests/backend/validation/test_n_plus_one_optimization.py
  verenigingen/tests/backend/validation/test_production_scenario_validation.py
  verenigingen/tests/backend/validation/test_validation_utilities.py
  verenigingen/tests/e_boekhouden/test_e_boekhouden_migration_integration.py
  verenigingen/tests/e_boekhouden/test_intelligent_item_creation.py
  verenigingen/tests/email/test_email_functionality.py
  verenigingen/tests/email/test_email_newsletter_system.py
  verenigingen/tests/email/test_email_service_integration.py
  verenigingen/tests/email/test_email_service_security.py
  verenigingen/tests/email/test_email_system_edge_cases.py
  verenigingen/tests/email/test_email_system_smoke.py
  verenigingen/tests/email/test_email_template_xss_protection.py
  verenigingen/tests/email/test_notification_suppression.py
  verenigingen/tests/financial/test_expense_claim_queries.py
  verenigingen/tests/financial/test_expense_event_handlers.py
  verenigingen/tests/financial/test_expense_full_integration.py
  verenigingen/tests/financial/test_expense_validation.py
  verenigingen/tests/financial/test_expense_workflow.py
  verenigingen/tests/financial/test_financial_utils.py
  verenigingen/tests/financial/test_revenue_recognition_automation.py
  verenigingen/tests/test_validation_regression.py
  verenigingen/tests/volunteer/test_volunteer_details_html.py
  verenigingen/tests/volunteer/test_volunteer_skills_api.py
  verenigingen/tests/volunteer/test_volunteer_skills_api_enhanced.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): clean up 17 stale iterative suffixes
  verenigingen/tests/backend/components/test_financial_reconciliation.py
  verenigingen/tests/backend/components/test_membership_status.py
  verenigingen/tests/backend/comprehensive/test_dd_batch_edge_cases.py
  verenigingen/tests/backend/comprehensive/test_doctype_validation.py
  verenigingen/tests/backend/performance/test_api_optimization.py
  verenigingen/tests/backend/validation/test_api_endpoints.py
  verenigingen/tests/backend/workflows/test_suspension_api_import_fallback.py
  verenigingen/tests/chapter/test_chapter_join_request.py
  verenigingen/tests/docs/VALIDATION_TESTS_README.md
  verenigingen/tests/e_boekhouden/test_cost_center_creation.py
  verenigingen/tests/integration/run_authentication_test_suite.py
  verenigingen/tests/integration/test_authentication_flows.py
  verenigingen/tests/integration/test_employee_user_link_security.py
  verenigingen/tests/integration/test_membership_approval.py
  verenigingen/tests/integration/test_monitoring_system.py
  verenigingen/tests/integration/test_sepa_payment_workflow.py
  verenigingen/tests/security/test_toctou.py
  verenigingen/tests/sepa/test_sepa_performance_optimizations.py
  verenigingen/tests/workflows/run_all_workflow_tests.py
  verenigingen/tests/workflows/test_financial_workflows.py
  verenigingen/www/monitoring_dashboard.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): delete dead test_enhanced_factory.py, finalize Phase 3
  verenigingen/tests/test_enhanced_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
