Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

test fixes
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/fixtures/sepa_test_factory.py
  verenigingen/tests/test_member_lifecycle_workflows.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Fix permission bypass violations in termination approval tests
  cypress/fixtures/termination-test-data.json
  cypress/integration/membership-termination-request-controller.spec.js
  cypress/support/commands.js
  verenigingen/services/approval/__init__.py
  verenigingen/services/approval/termination_approval_service.py
  verenigingen/tests/fixtures/dutch_validation_helpers.py
  verenigingen/tests/services/__init__.py
  verenigingen/tests/services/test_termination_approval_service.py
  verenigingen/tests/services/test_termination_operations.py
  verenigingen/tests/test_bank_integration_boundaries.py
  verenigingen/utils/termination_operations.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Fix SEPA audit log preventing all mandate saves
  verenigingen/api/expense_claim_queries.py
  verenigingen/verenigingen_payments/doctype/sepa_operation_audit_log/sepa_operation_audit_log.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test fixes
  verenigingen/api/onboarding_info.py
  verenigingen/api/quick_stock_check.py
  verenigingen/api/team_admin_utilities.py
  verenigingen/e_boekhouden/utils/party_resolver.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chapter management functions
  verenigingen/public/css/tailwind.css
  verenigingen/public/js/chapter_dashboard.js
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/verenigingen/doctype/chapter/chapter.json
  verenigingen/verenigingen/report/members_without_active_memberships/members_without_active_memberships.js
  verenigingen/verenigingen/report/members_without_active_memberships/members_without_active_memberships.py
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

link toegevoegd
  verenigingen/templates/pages/member_portal.html
  verenigingen/templates/pages/member_portal.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

bank details pages fixes
  verenigingen/api/payment_dashboard.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/integrations/mollie/services/complete_payment_service.py
  verenigingen/integrations/mollie/tests/test_common_helpers.py
  verenigingen/integrations/mollie/utils/common_helpers.py
  verenigingen/services/mollie_debug_service.py
  verenigingen/templates/pages/bank_details.html
  verenigingen/templates/pages/bank_details.py
  verenigingen/templates/pages/fix_account_types.html
  verenigingen/templates/pages/fix_account_types.py
  verenigingen/templates/pages/migration_redesign_proposal.md
  verenigingen/templates/pages/payment_dashboard.html
  verenigingen/verenigingen/doctype/member/scheduler.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chapter document upload functionality
  verenigingen/public/js/chapter_board_document.js
  verenigingen/templates/pages/bank_details.html
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/templates/pages/member_portal.html
  verenigingen/templates/pages/membership_adjustment.html
  verenigingen/templates/pages/membership_adjustment.py
  verenigingen/tests/test_chapter_board_document.py
  verenigingen/utils/document_categories.py
  verenigingen/utils/file_storage.py
  verenigingen/utils/migrate_board_documents.py
  verenigingen/verenigingen/doctype/board_document_category/__init__.py
  verenigingen/verenigingen/doctype/board_document_category/board_document_category.json
  verenigingen/verenigingen/doctype/board_document_category/board_document_category.py
  verenigingen/verenigingen/doctype/chapter/chapter.json
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/chapter_board_document/__init__.py
  verenigingen/verenigingen/doctype/chapter_board_document/chapter_board_document.json
  verenigingen/verenigingen/doctype/chapter_board_document/chapter_board_document.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

chapter fixes
  verenigingen/verenigingen/doctype/chapter/chapter.json
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixes
  admin_tools/README.md
  admin_tools/fix_chapter_member_status.py
  admin_tools/fix_chapter_member_status_apply.py
  admin_tools/fix_chapter_member_status_dryrun.py
  scripts/fix_chapter_document_permissions.py
  scripts/migration/migrate_fee_overrides_to_dues_schedules.py
  scripts/testing/integration/test_fee_override.py
  scripts/testing/test_fee_functions.py
  scripts/update_membership_type_references.py
  scripts/validation/features/validate_configurable_email.py
  scripts/validation/migrations/validate_contribution_amendment_rename.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/public/css/tailwind.css
  verenigingen/public/js/chapter_board_document.js
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/templates/pages/me.html
  verenigingen/templates/pages/me.py
  verenigingen/templates/pages/member_dashboard.html
  verenigingen/templates/pages/member_dashboard.py
  verenigingen/templates/pages/member_portal.html
  verenigingen/templates/pages/membership_adjustment.html
  verenigingen/tests/test_fee_override_migration.py
  verenigingen/tests/test_membership_dues_handler.py
  verenigingen/tests/test_real_world_dues_amendment_scenarios.py
  verenigingen/tests/test_validation_regression.py
  verenigingen/utils/create_test_member.py
  verenigingen/utils/csv/data_transformers.py
  verenigingen/utils/csv/membership_dues_handler.py
  verenigingen/utils/debug/membership_fee_adjustment_debugger.py
  verenigingen/utils/debug/membership_types_api_tester.py
  verenigingen/utils/file_storage.py
  verenigingen/utils/final_test_report.py
  verenigingen/verenigingen/doctype/chapter/chapter.js
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fixes
  docs/features/USER_MEMBER_IMAGE_SYNC.md
  verenigingen/hooks.py
  verenigingen/templates/macros/brand_css.html
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/financial_dashboard.html
  verenigingen/templates/pages/my_dues_schedule.html
  verenigingen/tests/test_user_member_image_sync.py
  verenigingen/utils/brand_css_generator.py
  verenigingen/utils/user_member_image_sync.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/www/dues-coverage-manager.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fixes
  verenigingen/templates/pages/financial_dashboard.html
  verenigingen/templates/pages/financial_dashboard.py
  verenigingen/templates/pages/member_portal.html
  verenigingen/templates/pages/member_portal.py
  verenigingen/utils/user_member_image_sync.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

typo
  verenigingen/templates/pages/financial_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

link block update, chapter fixes, donation dashboard fixes
  archived/donation_agreement_scheduler/donation_agreement_scheduler.py
  verenigingen/api/anbi_operations.py
  verenigingen/fixtures/custom_html_block.json
  verenigingen/fixtures/property_setter.json
  verenigingen/templates/pages/donation_dashboard.html
  verenigingen/templates/pages/donation_dashboard.py
  verenigingen/templates/pages/member_portal.html
  verenigingen/tests/backend/components/test_anbi_donation_summary_report.py
  verenigingen/tests/backend/components/test_anbi_donation_summary_report_minimal_real.py
  verenigingen/tests/backend/components/test_anbi_donation_summary_report_optimized_real.py
  verenigingen/tests/backend/components/test_anbi_donation_summary_report_real.py
  verenigingen/tests/test_anbi_donation_agreement_validation.py
  verenigingen/translations/nl.csv
  verenigingen/verenigingen/report/donation_summary/__init__.py
  verenigingen/verenigingen/report/donation_summary/donation_summary.js
  verenigingen/verenigingen/report/donation_summary/donation_summary.json
  verenigingen/verenigingen/report/donation_summary/donation_summary.py
  verenigingen/www/chapter.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

eboekhouden import logic accurate
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.json
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.py
  verenigingen/e_boekhouden/services/account_diagnostics_service.py
  verenigingen/e_boekhouden/services/account_organization_service.py
  verenigingen/e_boekhouden/utils/account_type_validator.py
  verenigingen/e_boekhouden/utils/debug_helpers.py
  verenigingen/e_boekhouden/utils/eboekhouden_account_group_fix.py
  verenigingen/e_boekhouden/utils/eboekhouden_migration_enhancements.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_iterator.py
  verenigingen/e_boekhouden/utils/invoice_classifier.py
  verenigingen/e_boekhouden/utils/invoice_helpers.py
  verenigingen/e_boekhouden/utils/processors/base_processor.py
  verenigingen/e_boekhouden/utils/processors/payment_processor.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/public/css/tailwind.css
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/tests/e_boekhouden/test_cost_center_parsing.py
  verenigingen/utils/debug_mutation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

css fix attempt
  verenigingen/templates/pages/admin_tools.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

Delete verenigingen/verenigingen/doctype/national_board_member_role/__init__.py
  verenigingen/verenigingen/doctype/national_board_member_role/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

workspace update
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: email-template-validator

subscription audit
  scripts/audit_subscriptions.py
  verenigingen/public/js/member_counter.js
  verenigingen/utils/admin_utilities/run_audit.py
  verenigingen/utils/admin_utilities/subscription_audit.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member_id_manager.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.html
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.js
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.py
  verenigingen/verenigingen/report/mollie_subscription_audit/__init__.py
  verenigingen/verenigingen/report/mollie_subscription_audit/mollie_subscription_audit.json
  verenigingen/verenigingen/report/mollie_subscription_audit/mollie_subscription_audit.py
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
  verenigingen/www/mollie_subscription_audit.html
  verenigingen/www/mollie_subscription_audit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

import fix
  verenigingen/utils/admin_utilities/subscription_audit.py
  verenigingen/www/mollie_subscription_audit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

import fix
  verenigingen/utils/admin_utilities/subscription_audit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix
  verenigingen/fixtures/email_template.json
  verenigingen/setup/__init__.py
  verenigingen/templates/pages/install_email_templates.html
  verenigingen/templates/pages/install_email_templates.py
  verenigingen/templates/pages/team_members.html
  verenigingen/templates/pages/team_members.py
  verenigingen/utils/admin_utilities/subscription_audit.py
  verenigingen/verenigingen/module_onboarding/verenigingen/verenigingen.json
  verenigingen/verenigingen/onboarding_step/verenigingen_install_email_templates/verenigingen_install_email_templates.json
  verenigingen/www/mollie_subscription_audit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie additions
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/utils/admin_utilities/mandate_sync_utility.py
  verenigingen/utils/admin_utilities/subscription_audit.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/report/mollie_subscription_audit/mollie_subscription_audit.py
  verenigingen/www/mollie_member_reconciliation.html
  verenigingen/www/mollie_member_reconciliation.py
  verenigingen/www/mollie_subscription_audit.py
  verenigingen/www/monitoring_dashboard.html
  verenigingen/www/monitoring_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

admin tool cleanup, expense claim system fixes
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/fixtures/custom_html_block.json
  verenigingen/templates/pages/admin_tools.py
  verenigingen/templates/pages/expense_claim.html
  verenigingen/templates/pages/expense_claim.py
  verenigingen/templates/pages/expense_claim_new.html
  verenigingen/templates/pages/expense_claim_new.py
  verenigingen/templates/pages/financial_dashboard.html
  verenigingen/templates/pages/test_mollie.html
  verenigingen/templates/pages/volunteer-portal/expense_claim_new.html
  verenigingen/templates/pages/volunteer-portal/expense_claim_new.py
  verenigingen/templates/pages/volunteer/__init__.py
  verenigingen/templates/pages/volunteer/expense_claim.py
  verenigingen/templates/pages/volunteer/expense_claim_new.py
  verenigingen/utils/deleted_document_cleanup.py
  verenigingen/utils/payment_entry_cleanup.py
  verenigingen/utils/version_cleanup.py
  verenigingen/utils/volunteer_expense_setup.py
  verenigingen/verenigingen/doctype/bulk_operation_tracker/bulk_operation_tracker.js
  verenigingen/verenigingen/doctype/bulk_operation_tracker/bulk_operation_tracker.json
  verenigingen/verenigingen/doctype/bulk_operation_tracker/test_bulk_operation_tracker.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/report/database_table_size_analysis/README.md
  verenigingen/verenigingen/report/database_table_size_analysis/__init__.py
  verenigingen/verenigingen/report/database_table_size_analysis/database_table_size_analysis.js
  verenigingen/verenigingen/report/database_table_size_analysis/database_table_size_analysis.json
  verenigingen/verenigingen/report/database_table_size_analysis/database_table_size_analysis.py
  verenigingen/www/dues-invoice-manager.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

page fixes
  docs/ADMIN_GUIDE.md
  scripts/workspace_reorganization.py
  verenigingen/api/workspace_reorganizer.py
  verenigingen/public/js/mobile_dues_schedule.js
  verenigingen/templates/pages/address_change.py
  verenigingen/templates/pages/financial_dashboard.html
  verenigingen/templates/pages/member_portal.py
  verenigingen/templates/pages/member_portal_new.html
  verenigingen/templates/pages/member_portal_new.py
  verenigingen/templates/pages/membership_adjustment.py
  verenigingen/templates/pages/my_dues_schedule.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

portal page fixes
  verenigingen/api/payment_dashboard.py
  verenigingen/public/css/tailwind.css
  verenigingen/services/mollie_debug_service.py
  verenigingen/templates/pages/apply_for_membership.py
  verenigingen/templates/pages/financial_dashboard.html
  verenigingen/templates/pages/member_portal.html
  verenigingen/templates/pages/member_portal.py
  verenigingen/templates/pages/membership_portal.html
  verenigingen/templates/pages/membership_portal.py
  verenigingen/templates/pages/my_account.html
  verenigingen/templates/pages/my_account.py
  verenigingen/templates/pages/my_dues_schedule.html
  verenigingen/templates/pages/payment_dashboard.html
  verenigingen/templates/pages/payment_dashboard.py
  verenigingen/templates/pages/volunteer/skills.html
  verenigingen/templates/pages/volunteer/skills.py
  verenigingen/utils/deleted_document_cleanup.py
  verenigingen/utils/version_cleanup.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

code fixes
  docs/BRAND_SETTINGS_COMPLETE_GUIDE.md
  docs/VOLUNTEER_ASSIGNMENT_ARCHITECTURE_CHANGE.md
  docs/VOLUNTEER_ASSIGNMENT_HISTORY_FIX.md
  scripts/check_volunteer_history.py
  test_cleanup.py
  test_event_driven_sync.py
  verenigingen/hooks.py
  verenigingen/permissions.py
  verenigingen/public/css/tailwind.css
  verenigingen/services/member/utils/membership_duration_service.py
  verenigingen/templates/pages/apply_for_membership.html
  verenigingen/templates/pages/bank_details.html
  verenigingen/templates/pages/bank_details.py
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/templates/pages/payment_dashboard.html
  verenigingen/templates/pages/payment_dashboard.py
  verenigingen/tests/backend/components/TEST_VOLUNTEER_ASSIGNMENT_README.md
  verenigingen/tests/backend/components/test_volunteer_assignment_event_driven.py
  verenigingen/tests/backend/components/test_volunteer_assignment_history_bugs.py
  verenigingen/tests/backend/unit/controllers/test_member_controller.py
  verenigingen/tests/test_volunteer_details_html.py
  verenigingen/utils/assignment_history_manager.py
  verenigingen/utils/cleanup_duplicate_assignments.py
  verenigingen/utils/termination_integration.py
  verenigingen/utils/termination_operations.py
  verenigingen/verenigingen/doctype/chapter/chapter.js
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/scheduler.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.json
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
  verenigingen/verenigingen/report/members_without_payment_info/__init__.py
  verenigingen/verenigingen/report/members_without_payment_info/members_without_payment_info.js
  verenigingen/verenigingen/report/members_without_payment_info/members_without_payment_info.json
  verenigingen/verenigingen/report/members_without_payment_info/members_without_payment_info.py
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

yarn
  package.json
  yarn.lock
Due: email-template-validator

fixes
  verenigingen/hooks.py
  verenigingen/patches/v2_1/add_chapter_dashboard_performance_indexes.py
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/chapter_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixes
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/templates/pages/financial_dashboard.html
  verenigingen/tests/integration/test_chapter_membership_approval_integration.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/chapter_membership_history_manager.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/chapter_member/chapter_member.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixes
  verenigingen/public/js/chapter_dashboard.js
  verenigingen/templates/pages/chapter_dashboard.html
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, template-variable-validator, js-python-parameter-validator, email-template-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

pre-push hook
  run-impacted-tests.sh
  scripts/testing/TEST_IMPACT_ANALYSIS.md
  scripts/testing/test_impact_analyzer.py
  verenigingen/utils/account_creation_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixes
  test_repository_integration.py
  verenigingen/fixtures/custom_field.json
  verenigingen/fixtures/role_profile.json
  verenigingen/public/js/member/js_modules/sepa-utils.js
  verenigingen/services/member/account/__init__.py
  verenigingen/services/member/account/member_role_service.py
  verenigingen/services/member/account/member_user_account_service.py
  verenigingen/services/member/core/member_lifecycle_service.py
  verenigingen/services/member/core/member_membership_service.py
  verenigingen/services/member/display/__init__.py
  verenigingen/services/member/display/member_address_display_service.py
  verenigingen/services/member/financial/member_fee_calculation_service.py
  verenigingen/services/member/history/__init__.py
  verenigingen/services/member/history/member_history_update_service.py
  verenigingen/templates/pages/volunteer-portal/expense_claim_new.py
  verenigingen/templates/pages/volunteer/expenses.py
  verenigingen/tests/backend/unit/api/test_member_api.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_account_creation_manager_comprehensive.py
  verenigingen/tests/test_project_permissions.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/employee_user_link.py
  verenigingen/utils/member_utils.py
  verenigingen/utils/project_permissions.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/donor/donor.json
  verenigingen/verenigingen/doctype/donor/donor.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

feat: Phase 2D service extraction - display methods (-289 LOC) + test fix
  verenigingen/services/member/display/member_address_display_service.py
  verenigingen/services/member/display/member_volunteer_display_service.py
  verenigingen/tests/test_member_address_service.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: Phase 2D completion - history & donor services (-271 LOC)
  verenigingen/services/member/history/member_history_update_service.py
  verenigingen/services/member/integration/__init__.py
  verenigingen/services/member/integration/member_donor_integration_service.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Phase 2D Tier 2A: Fee change services extraction (-227 LOC)
  verenigingen/services/member/core/member_fee_change_service.py
  verenigingen/services/member/history/member_fee_change_history_service.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Phase 2D Tier 2B: Membership and chapter display extraction (-249 LOC)
  verenigingen/services/member/display/member_chapter_display_service.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Phase 2D Code Quality Fixes: Security, Performance, and Documentation
  verenigingen/services/member/core/member_fee_change_service.py
  verenigingen/services/member/display/member_chapter_display_service.py
  verenigingen/services/member/history/member_fee_change_history_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
