Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

mijnrood import logic consolidation
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/tests/test_membership_dues_handler.py
  verenigingen/utils/csv/membership_dues_handler.py
  verenigingen/utils/csv_import_processor.py
  verenigingen/utils/debug_members.py
  verenigingen/utils/member_import_cleanup.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.json
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/www/dues-invoice-manager.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mijnrood import refactor
  verenigingen/public/css/tailwind.css
  verenigingen/public/js/member/js_modules/volunteer-utils.js
  verenigingen/utils/delete_cancelled_invoices.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

various fixes plus Consolidate membership approval workflow and fix timestamp mismatch issues
  archived/api/membership_application.py.archived
  archived/web_forms/membership_application.py.archived
  docs/analysis/APPROVAL_CLEANUP_SUMMARY.md
  docs/analysis/MEMBERSHIP_APPROVAL_INVENTORY.md
  docs/testing/TEST_INFRASTRUCTURE_ISSUES.md
  scripts/validation/ast_field_analyzer_original.py
  verenigingen/api/membership_application_review.py
  verenigingen/api/suspension_api.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/services/member/core/member_lifecycle_service.py
  verenigingen/tests/test_membership_application_workflow.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/chapter_membership_history_manager.py
  verenigingen/utils/document_coordination.py
  verenigingen/utils/document_save_retry.py
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

application approval logic reworked & made more robust
  docs/analysis/APPROVAL_CLEANUP_SUMMARY.md
  scripts/test_fixture_validator.py
  scripts/validation/block_inappropriate_mocks.py
  verenigingen/api/membership_application.py
  verenigingen/api/membership_application_review.py
  verenigingen/api/suspension_api.py
  verenigingen/fixtures/region.json
  verenigingen/fixtures/role.json
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_membership_application_workflow.py
  verenigingen/tests/utils/base.py
  verenigingen/tests/utils/fixture_validator.py
  verenigingen/tests/workflows/test_volunteer_board_finance_persona.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/application_payments.py
  verenigingen/utils/termination_integration.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member_utils.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test factory fixes
  scripts/validation/test_quality_enforcer.py
  test_cleanup.py
  verenigingen/api/membership_application_review.py
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/admin_tools.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/integration/test_member_lifecycle_complete_real.py
  verenigingen/utils/invoice_management.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test factory fixes
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/fixtures/custom_field.json
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/integration/test_member_lifecycle_complete_real.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test data factory fixes, dues invoice manager fix
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/events/subscribers/approval_subscribers.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/integration/test_member_lifecycle_complete_real.py
  verenigingen/www/dues-invoice-manager.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test data factory teardown fixes
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/integration/test_member_lifecycle_complete_real.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test data factory fixes
  verenigingen/tests/integration/test_member_lifecycle_complete_real.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

volunteer assignment history manager fixes, chapter dashboard fixes
  package-lock.json
  package.json
  test_cleanup.py
  verenigingen/api/membership_application_review.py
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/public/css/tailwind.css
  verenigingen/public/js/chapter_dashboard.js
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/assignment_history_manager.py
  verenigingen/utils/chapter_role_profile_manager.py
  verenigingen/utils/dutch_name_utils.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/chapter/managers/board_manager.py
  verenigingen/verenigingen/doctype/chapter/managers/volunteer_integration_manager.py
  verenigingen/verenigingen/doctype/chapter_membership_history/chapter_membership_history.json
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/volunteer_assignment/volunteer_assignment.json
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fixed termination request logic, role profile setter
  scripts/setup/deploy_role_profiles.py
  verenigingen/constants/__init__.py
  verenigingen/constants/profile_mappings.py
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/events/subscribers/payment_history_subscriber.py
  verenigingen/events/subscribers/team_subscribers.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/hooks.py
  verenigingen/public/css/tailwind.css
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/chapter_role_profile_hooks.py
  verenigingen/utils/chapter_role_profile_manager.py
  verenigingen/utils/optimized_queries.py
  verenigingen/utils/team_role_profile_hooks.py
  verenigingen/utils/team_role_profile_manager.py
  verenigingen/utils/termination_integration.py
  verenigingen/utils/user_role_profile_calculator.py
  verenigingen/utils/volunteer_role_profile_hooks.py
  verenigingen/validations.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.js
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.json
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/team/team.py
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.html
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.js
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.py
  verenigingen/verenigingen/report/member_end_date_reconstruction/__init__.py
  verenigingen/verenigingen/report/member_end_date_reconstruction/member_end_date_reconstruction.js
  verenigingen/verenigingen/report/member_end_date_reconstruction/member_end_date_reconstruction.json
  verenigingen/verenigingen/report/member_end_date_reconstruction/member_end_date_reconstruction.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

termination fix
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/public/js/member/js_modules/termination-utils.js
  verenigingen/tests/unit/doctype/test_membership_termination_request_controller_focused.test.js
  verenigingen/utils/termination_integration.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.js
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.json
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

termination controller updates, custom field cleanup
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/fixtures/custom_field.json
  verenigingen/public/js/member/js_modules/termination-utils.js
  verenigingen/utils/termination_integration.py
  verenigingen/utils/termination_utils.py
  verenigingen/verenigingen/doctype/donor/donor.json
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member_list.js
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.json
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

MTR logic fixes
  verenigingen/utils/termination_integration.py
  verenigingen/verenigingen/doctype/member/member_utils.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

MTR cleanup
  archived/api/membership_application.py.archived
  archived/web_forms/membership_application.py.archived
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.js
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.json
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

services refactor started, phases 2a-2c done
  docs/patterns/ERROR_HANDLING_PATTERNS.md
  docs/patterns/SYSTEM_UPDATE_PATTERN.md
  verenigingen/services/member/approval/membership_creation_service.py
  verenigingen/services/member/chapter/__init__.py
  verenigingen/services/member/chapter/chapter_management_service.py
  verenigingen/services/member/debug/__init__.py
  verenigingen/services/member/debug/member_debug_service.py
  verenigingen/services/member/donor/__init__.py
  verenigingen/services/member/donor/donor_management_service.py
  verenigingen/services/member/financial/__init__.py
  verenigingen/services/member/identification/__init__.py
  verenigingen/services/member/identification/member_id_service.py
  verenigingen/tests/backend/unit/services/__init__.py
  verenigingen/tests/backend/unit/services/test_chapter_management_service.py
  verenigingen/tests/backend/unit/services/test_donor_management_service.py
  verenigingen/tests/backend/unit/services/test_member_debug_service.py
  verenigingen/tests/backend/unit/services/test_member_id_service.py
  verenigingen/tests/test_member_lifecycle_workflows.py
  verenigingen/utils/services/sepa_service.py
  verenigingen/utils/validation_utilities.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/member_utils.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chapter board membership card, test fixes
  verenigingen/tests/test_member_lifecycle_workflows.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/membership/membership.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

old payment code cleanup, chapter membership management refactor
  QC_REVIEW_TEST_INFRASTRUCTURE_IMPROVEMENTS.md
  verenigingen/public/js/member/js_modules/payment-utils.js
  verenigingen/services/member/chapter/chapter_management_service.py
  verenigingen/services/payment/__init__.py
  verenigingen/services/payment/validation_service.py
  verenigingen/tests/backend/unit/services/test_payment_validation_service.py
  verenigingen/tests/safety/test_payment_mixin_dead_code_verification.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/mixins/chapter_mixin.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/member/test_member_advanced.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

dues schedule controller refactor phase 1
  docs/services/ERROR_HANDLING_STANDARDS.md
  scripts/testing/pytest_precommit_runner.py
  verenigingen/services/billing/__init__.py
  verenigingen/services/billing/duplicate_invoice_detector.py
  verenigingen/tests/integration/services/test_duplicate_invoice_detector.py
  verenigingen/tests/unit/services/__init__.py
  verenigingen/tests/unit/utils/__init__.py
  verenigingen/tests/unit/utils/test_billing_period_calculator.py
  verenigingen/utils/billing_period_calculator.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

dues invoice, coverage, eligibility determination logic service refactored
  scripts/validation/validation_orchestrator.py
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/services/billing/coverage_calculator.py
  verenigingen/services/billing/eligibility_checker.py
  verenigingen/services/billing/invoice_generator.py
  verenigingen/tests/integration/services/test_coverage_calculator.py
  verenigingen/tests/integration/services/test_eligibility_checker.py
  verenigingen/tests/integration/services/test_invoice_generator.py
  verenigingen/tests/integration/test_invoice_generator_integration.py
  verenigingen/utils/populate_payment_history_coverage_dates.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen_payments/doctype/member_payment_history/member_payment_history.json
  verenigingen/www/dues-invoice-manager.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

dues scheduling logic bugfixes
  archived_unused/legacy_validation_code/README.md
  archived_unused/legacy_validation_code/validations.py
  scripts/validation/validation_orchestrator.py
  verenigingen/services/billing/eligibility_checker.py
  verenigingen/tests/integration/services/test_eligibility_checker.py
  verenigingen/tests/test_all_imports.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

etf fix
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

amendment request email, small volunteering fixes
  docs/GETTING_STARTED.md
  docs/README.md
  verenigingen/fixtures/email_template.json
  verenigingen/templates/emails/amendment_rejected.html
  verenigingen/templates/emails/mollie_sync_failed.html
  verenigingen/tests/backend/integration/test_erpnext_expense_integration.py
  verenigingen/tests/backend/validation/test_recent_code_changes.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: verify AST analyzer QueryBuilder fix
  scripts/validation/ast_field_analyzer.py
  verenigingen/tests/backend/components/test_member_iban_history.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

further payments-related refactors
  verenigingen/patches.txt
  verenigingen/patches/v2_1/clear_deprecated_retry_queue.py
  verenigingen/services/billing/dues_schedule_creation_service.py
  verenigingen/tests/backend/components/test_member_iban_history.py
  verenigingen/utils/dues_schedule_auto_creator.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

sql leak risk
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

cleanup
  MOLLIE_TEST_SUITE_SUMMARY.md
  PRAGMATIC_SECURITY_STRATEGY.md
  REQUIRED_CUSTOM_FIELDS_INSERT.json
  SECURITY_MIGRATION_FINAL_STATUS.md
  fix_donation_template.py
  run_failed_payment_tests.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

bug fixes
  verenigingen/services/billing/dues_schedule_creation_service.py
  verenigingen/utils/dues_schedule_auto_creator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

consolidate SEPA mandate operations into centralized service
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/tests/services/test_sepa_mandate_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactoring work, donation and member financial services
  .gitignore
  deprecated_functions_report.md
  detailed_security_audit_report.md
  docs/refactoring/PAYMENT_MODULE_DUPLICATION_AUDIT.md
  verenigingen/services/donation_reporting_service.py
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/templates/emails/donation_confirmation.html
  verenigingen/templates/emails/donation_payment_confirmation.html
  verenigingen/templates/emails/periodic_agreement_cancellation.html
  verenigingen/templates/emails/periodic_agreement_confirmation.html
  verenigingen/templates/emails/periodic_agreement_expiry.html
  verenigingen/tests/fixtures/anbi_test_personas.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/services/test_sepa_mandate_manager.py
  verenigingen/utils/donation_emails.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/member_utils.py
  verenigingen/verenigingen/doctype/member/mixins/sepa_mixin.py
  verenigingen/verenigingen/doctype/periodic_donation_agreement/periodic_donation_agreement.py
  verenigingen/verenigingen_payments/utils/sepa_utilities.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactoring work, iban validation and donation financial services pt 2
  deprecated_functions_report.md
  docs/refactoring/PAYMENT_MODULE_DUPLICATION_AUDIT.md
  verenigingen/api/anbi_operations.py
  verenigingen/api/enhanced_membership_application.py
  verenigingen/services/donation_financial_service.py
  verenigingen/services/donation_reporting_service.py
  verenigingen/templates/emails/anbi_consent_request.html
  verenigingen/utils/services/sepa_service.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen_payments/clients/bulk_transaction_importer.py
  verenigingen/verenigingen_payments/core/compliance/financial_validator.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/tests/test_direct_debit_batch_refactoring.py
  verenigingen/verenigingen_payments/utils/sepa_utilities.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

payment entry creation logic refactor
  scripts/add_email_templates_to_fixture.py
  verenigingen/fixtures/email_template.json
  verenigingen/tests/services/test_donation_refactoring_integration.py
  verenigingen/tests/services/test_payment_entry_creation_service.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/services/batch_processing_service.py
  verenigingen/verenigingen_payments/services/payment/__init__.py
  verenigingen/verenigingen_payments/services/payment/payment_entry_creation_service.py
  verenigingen/verenigingen_payments/utils/sepa_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

This rename clarifies that the module handles reconciliation for both SEPA and Mollie payment types, not just SEPA.
  verenigingen/hooks.py
  verenigingen/services/donation_financial_service.py
  verenigingen/tests/backend/components/test_sepa_reconciliation.py
  verenigingen/tests/setup/api-contract-simple.js
  verenigingen/tests/test_all_imports.py
  verenigingen/tests/unit/financial-api-contracts.test.js
  verenigingen/utils/README.md
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

mijnrood import fixes
  verenigingen/utils/csv/membership_dues_handler.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

import forgotten
  verenigingen/utils/validation/api_validators.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mijnrood import fixes
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/validation/api_validators.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

bulk import fixes
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/csv/csv_data_validator.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member.json
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.json
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Refactor: Replace custom CSRF implementation with Frappe native wrapper
  docs/archived_implementations/security_implementations/CSRF_ARCHIVAL_NOTES.md
  docs/archived_implementations/security_implementations/csrf_protection.py
  verenigingen/utils/security/csrf_protection.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

archived unused custom csrf implementation in favor of a wrapper for native implementation
  verenigingen/verenigingen/doctype/system_alert/__init__.py
  verenigingen/verenigingen/doctype/system_alert/system_alert.json
  verenigingen/verenigingen/doctype/system_alert/system_alert.py
  verenigingen/www/monitoring_dashboard.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

employee data
  verenigingen/utils/employee_user_link.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
