Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

fix(tests): make EnhancedTestDataFactory last_name suffix process-global
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(tests): triage + remediation plan for the red Server Tests baseline
  docs/plans/2026-05-29-server-tests-red-baseline-triage.md
Due: none

test+docs: pin process-global suffix invariant; record B1 findings + Core gap
  docs/plans/2026-05-29-server-tests-red-baseline-triage.md
  verenigingen/tests/test_enhanced_test_factory_drain.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ci(server-tests): gate on NEW test failures vs a committed baseline
  .github/workflows/_base-server-tests.yml
  docs/plans/2026-05-29-server-tests-red-baseline-triage.md
  scripts/testing/check_new_test_failures.py
  verenigingen/tests/known_test_failures.txt
  verenigingen/tests/test_check_new_test_failures.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ci(server-tests): harden no-new-failures gate (close false-pass hole)
  .github/workflows/_base-server-tests.yml
  scripts/testing/check_new_test_failures.py
  verenigingen/tests/known_test_failures.txt
  verenigingen/tests/test_check_new_test_failures.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): drain ALL committed inserts in tearDown (order-independence)
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_enhanced_test_factory_drain.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): address review — uninstall capture before drain, document limits
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_enhanced_test_factory_drain.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): drain ALL committed inserts in tearDown for order-independence (#115)
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_enhanced_test_factory_drain.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ci(server-tests): gate on NEW test failures vs a committed baseline (#114)
  .github/workflows/_base-server-tests.yml
  docs/plans/2026-05-29-server-tests-red-baseline-triage.md
  scripts/testing/check_new_test_failures.py
  verenigingen/tests/known_test_failures.txt
  verenigingen/tests/test_check_new_test_failures.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): factory template + process-global unique suffix (B1) (#113)
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_enhanced_test_factory_drain.py
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): stop builtins.open mock from hanging shard 1 (mimetypes OOM)
  verenigingen/tests/backend/components/test_payment_processing_api.py
  verenigingen/tests/backend/components/test_payment_processing_api_real.py
  verenigingen/tests/backend/integration/test_payment_report_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payment): serialize OperationResult to flat dict on whitelisted endpoints
  verenigingen/api/payment_processing.py
  verenigingen/tests/backend/components/test_payment_response_serialization.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payment): flatten critical_api's NESTED envelope, not the OperationResult
  verenigingen/api/payment_processing.py
  verenigingen/tests/backend/components/test_payment_response_serialization.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): stop builtins.open mock from hanging shard 1 (mimetypes OOM) (#117)
  verenigingen/tests/backend/components/test_payment_processing_api.py
  verenigingen/tests/backend/components/test_payment_processing_api_real.py
  verenigingen/tests/backend/integration/test_payment_report_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payment): flatten critical_api nested envelope so report buttons work (#119)
  verenigingen/api/payment_processing.py
  verenigingen/tests/backend/components/test_payment_response_serialization.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): regenerate no-new-failures baseline from a complete develop run
  verenigingen/tests/known_test_failures.txt
Due: none

chore(tests): regenerate no-new-failures baseline from a complete develop run (#120)
  verenigingen/tests/known_test_failures.txt
Due: none

fix(tests): map removed contribution_mode 'Calculator' -> 'Income-Based' (B5)
  verenigingen/tests/payment/test_advanced_prorating.py
  verenigingen/tests/payment/test_billing_transitions_proper.py
  verenigingen/tests/payment/test_comprehensive_prorating.py
  verenigingen/tests/payment/test_dues_schedule_date_validation.py
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(baseline): add v16 known-test-failures baseline
  verenigingen/tests/known_test_failures_v16.txt
Due: none

test(cleanup): remove self-mocked tests written against removed schema
  verenigingen/tests/backend/components/test_volunteer_member_integration.py
  verenigingen/tests/fixtures/test_data_factory_extended.py
  verenigingen/tests/utils/base.py
  verenigingen/tests/workflows/test_portal_functionality_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): baseline 3 order-dependent stragglers (false-NEW from single-run baseline)
  verenigingen/tests/known_test_failures.txt
Due: none

fix(tests): Calculator→Income-Based (B5) + v16 baseline + self-mock cleanup + stragglers (#121)
  verenigingen/tests/backend/components/test_volunteer_member_integration.py
  verenigingen/tests/fixtures/test_data_factory_extended.py
  verenigingen/tests/known_test_failures_v16.txt
  verenigingen/tests/payment/test_advanced_prorating.py
  verenigingen/tests/payment/test_billing_transitions_proper.py
  verenigingen/tests/payment/test_comprehensive_prorating.py
  verenigingen/tests/payment/test_dues_schedule_date_validation.py
  verenigingen/tests/utils/base.py
  verenigingen/tests/workflows/test_portal_functionality_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): v16 baseline triage Wave 1 — mandatory-field auto-defaults + factory repairs
  docs/audits/v16-baseline-error-triage-2026-05-31.md
  verenigingen/services/chapter/chapter_validation_service.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/verenigingen/doctype/chapter_join_request/chapter_join_request.py
  verenigingen/verenigingen/doctype/chapter_member/chapter_member.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(v16): baseline triage Wave 2 — result-shape, base-class & missing-master fixes
  verenigingen/services/infrastructure/tests/test_service_infrastructure.py
  verenigingen/tests/backend/components/test_membership_analytics_permissions.py
  verenigingen/tests/backend/components/test_overdue_payments_report_real.py
  verenigingen/tests/backend/integration/test_suspension_integration_real.py
  verenigingen/tests/backend/security/test_sepa_security_validation.py
  verenigingen/tests/backend/unit/services/test_donation_reporting_api.py
  verenigingen/tests/backend/unit/services/test_member_merge_api.py
  verenigingen/tests/backend/unit/services/test_sepa_mandate_api.py
  verenigingen/tests/backend/unit/services/test_service_integration_api.py
  verenigingen/tests/backend/validation/test_error_recovery_and_rollback.py
  verenigingen/tests/backend/validation/test_field_sync_service_unit.py
  verenigingen/tests/chapter/test_chapter_board_permissions_fixed.py
  verenigingen/tests/chapter/test_team_role_basic.py
  verenigingen/tests/chapter/test_team_role_integration.py
  verenigingen/tests/chapter/test_team_role_migration.py
  verenigingen/tests/donor/test_donor_customer_integration.py
  verenigingen/tests/donor/test_donor_customer_sync_utils.py
  verenigingen/tests/member/test_customer_member_link_integration.py
  verenigingen/tests/member/test_member_duplicate_detection.py
  verenigingen/tests/member/test_member_permissions.py
  verenigingen/tests/repositories/test_dues_schedule_repository.py
  verenigingen/tests/sepa/test_sepa_input_validation.py
  verenigingen/tests/sepa/test_sepa_mandate_regression.py
  verenigingen/tests/utils/base.py
  verenigingen/tests/utils/test_utils.py
  verenigingen/tests/workflows/test_communication_system_integration.py
  verenigingen/verenigingen/doctype/team/test_team.py
  verenigingen/verenigingen_payments/tests/test_sepa_xml_compliance.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(v16): fix sendmail mocks returning bool (the bool.message artifact)
  verenigingen/tests/backend/components/test_payment_api_real_working.py
  verenigingen/tests/backend/components/test_payment_processing_api.py
  verenigingen/tests/backend/components/test_payment_processing_api_real.py
  verenigingen/tests/backend/integration/test_payment_report_integration.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/member/test_membership_application_integration.py
  verenigingen/tests/sepa/test_sepa_week3_features.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(v16): baseline triage Wave 3 — finish B5 Calculator migration + drop dead deprecated-API tests
  verenigingen/tests/backend/components/test_enhanced_sepa_processing.py
  verenigingen/tests/backend/components/test_membership_dues_edge_cases.py
  verenigingen/tests/backend/components/test_membership_dues_enhanced_features.py
  verenigingen/tests/backend/components/test_membership_dues_real_world_scenarios.py
  verenigingen/tests/backend/components/test_membership_dues_security_validation.py
  verenigingen/tests/backend/components/test_membership_dues_stress_testing.py
  verenigingen/tests/backend/components/test_membership_dues_system.py
  verenigingen/tests/member/test_membership_application_skills.py
  verenigingen/tests/member/test_membership_application_skills_enhanced.py
  verenigingen/tests/member/test_membership_application_skills_secure.py
  verenigingen/tests/payment/test_contribution_system.py
  verenigingen/tests/sepa/test_enhanced_sepa_integration.py
  verenigingen/tests/workflows/test_volunteer_board_finance_persona.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(fixtures): correct invalid audit_level/operation_type in Critical Operation Rule seed
  verenigingen/fixtures/critical_operation_rule.json
Due: email-template-validator

docs(plans): add Procurios SEPA mandate import design
  docs/plans/2026-05-27-procurios-mandate-import-design.md
Due: none

fix(security): don't block Critical Operation Rule creation on missing notification recipients during install/migrate
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(plans): add Procurios SEPA mandate import implementation plan
  docs/plans/2026-05-31-procurios-mandate-import.md
Due: none

feat(procurios-mandate-import): scaffold DocType skeleton
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/__init__.py
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.json
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(procurios-mandate-import): add ProcuriosMandateValidator with unit tests
  verenigingen/tests/payment/test_procurios_mandate_validator.py
  verenigingen/utils/csv/procurios_mandate_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(procurios-mandate-import): validate + preview CSV flow
  verenigingen/tests/payment/test_procurios_mandate_import.py
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(procurios-mandate-import): per-row create/update/skip with caches
  verenigingen/tests/payment/test_procurios_mandate_import.py
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(procurios-mandate-import): wire background job + finalize
  verenigingen/tests/payment/test_procurios_mandate_import.py
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(procurios-mandate-import): client form script (validate + auto-refresh)
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

test(procurios-mandate-import): 500-row scale smoke test
  verenigingen/tests/payment/test_procurios_mandate_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(procurios-mandate-import): post-review hardening
  docs/plans/2026-05-27-procurios-mandate-import-design.md
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.json
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
