Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

feat(email): Migrate SEPA payment notification files to EmailService
  verenigingen/verenigingen_payments/utils/sepa_notification_manager.py
  verenigingen/verenigingen_payments/utils/sepa_rollback_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(email): Migrate security monitoring files to EmailService
  verenigingen/utils/security/audit_logging.py
  verenigingen/utils/security/security_monitoring.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(analytics): Migrate analytics_engine.py to OperationResult pattern
  verenigingen/utils/analytics_engine.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: Implement Controller Growth Prevention Policy and enforcement
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/controller-size-check.yml
  docs/policies/CONTROLLER_GROWTH_PREVENTION.md
  scripts/check_controller_size.py
  verenigingen/utils/alert_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(utils): Migrate portal_menu_enhancer.py to OperationResult pattern
  verenigingen/utils/portal_menu_enhancer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(email): Migrate member contact files to EmailService (part 2/2)
  verenigingen/verenigingen/doctype/expulsion_report_entry/expulsion_report_entry.py
  verenigingen/verenigingen/doctype/member_contact_request/contact_request_automation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

role profile fix
  verenigingen/setup/role_profile_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(email): Migrate donation email utilities to EmailService
  verenigingen/api/periodic_donation_operations.py
  verenigingen/utils/donation_emails.py
  verenigingen/web_form/donation_form/donation_form.py
  verenigingen/web_form/periodic_donation_agreement_form/periodic_donation_agreement_form.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(email): Migrate application and monitoring utilities to EmailService
  verenigingen/constants/profile_mappings.py
  verenigingen/setup/role_profile_setup.py
  verenigingen/utils/application_notifications.py
  verenigingen/utils/auth_monitoring.py
  verenigingen/utils/business_logic_monitor.py
  verenigingen/utils/performance_optimizer.py
  verenigingen/verenigingen_payments/monitoring/balance_monitor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(utils): Migrate orphaned_child_table_cleanup.py to OperationResult pattern
  verenigingen/api/membership_application_review.py
  verenigingen/utils/application_notifications.py
  verenigingen/utils/orphaned_child_table_cleanup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(www): Migrate e_boekhouden_dashboard.py to OperationResult pattern
  verenigingen/www/e_boekhouden_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(www): Migrate mollie_member_reconciliation.py to OperationResult pattern
  verenigingen/www/mollie_member_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(www): Complete web dashboard migration to OperationResult pattern
  verenigingen/www/dues_coverage_manager.py
  verenigingen/www/mollie_member_reconciliation.py
  verenigingen/www/mollie_subscription_audit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 4 API files to OperationResult + remove debug utility
  verenigingen/api/analyze_failing_mutations.py
  verenigingen/api/anbi_operations.py
  verenigingen/api/audit_reports_dashboards.py
  verenigingen/api/background_approval_api.py
  verenigingen/api/background_job_status.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 4 more API files to OperationResult pattern
  verenigingen/api/cache_invalidation_api.py
  verenigingen/api/chapter_join.py
  verenigingen/api/chapter_validation.py
  verenigingen/api/check_account_types.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 6 check_* files to OperationResult pattern
  verenigingen/api/check_and_fix_workspace.py
  verenigingen/api/check_customer_permissions.py
  verenigingen/api/check_eboekhouden_fields.py
  verenigingen/api/check_error_logs.py
  verenigingen/api/check_opening_balance_date.py
  verenigingen/api/check_past_imports.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 3 member/financial API files to OperationResult
  verenigingen/api/customer_member_link.py
  verenigingen/api/donor_customer_management.py
  verenigingen/api/dues_invoice_workflow.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 5 email/application API files to OperationResult
  verenigingen/api/email_api.py
  verenigingen/api/email_template_manager.py
  verenigingen/api/enhanced_membership_application.py
  verenigingen/api/get_unreconciled_payments.py
  verenigingen/api/get_user_chapters.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 2 job/performance API files to OperationResult
  verenigingen/api/job_status.py
  verenigingen/api/member_performance_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate manual_invoice_generation.py to OperationResult
  verenigingen/api/manual_invoice_generation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 5 payment/onboarding API files to OperationResult
  verenigingen/api/mollie_payment.py
  verenigingen/api/onboarding_info.py
  verenigingen/api/payment_dashboard.py
  verenigingen/api/payment_plan_management.py
  verenigingen/api/payment_processing.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 5 workflow/team API files to OperationResult
  verenigingen/api/suspension_api.py
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/tests/backend/components/test_sepa_mandate_creation.py
  verenigingen/tests/backend/unit/controllers/test_member_controller.py
  verenigingen/tests/test_customer_member_link_integration.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/mixins/sepa_mixin.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 5 volunteer/monitoring API files to OperationResult
  verenigingen/api/security_monitoring_dashboard.py
  verenigingen/api/unified_security_monitoring.py
  verenigingen/api/volunteer_application.py
  verenigingen/api/volunteer_skills.py
  verenigingen/api/workspace_health.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate periodic_donation_operations.py to OperationResult
  verenigingen/api/periodic_donation_operations.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 8 remaining check_* files to OperationResult
  verenigingen/api/check_auto_invoice_settings.py
  verenigingen/api/check_mollie_config.py
  verenigingen/api/check_payment_history_sync.py
  verenigingen/api/check_sepa_indexes.py
  verenigingen/api/check_specific_report_permissions.py
  verenigingen/api/check_user.py
  verenigingen/api/check_webhook_logs.py
  verenigingen/api/check_workspace.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 3 admin/background API files to OperationResult
  verenigingen/api/donor_auto_creation_management.py
  verenigingen/api/enhanced_background_jobs_api.py
  verenigingen/api/schedule_maintenance.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(member): Remove 74 lines of dead code from member.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate 3 SEPA/chart API files to OperationResult
  verenigingen/api/dashboard_charts.py
  verenigingen/api/sepa_period_duplicate_prevention.py
  verenigingen/api/sepa_workflow_wrapper.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(payment): Remove N+1 fallback code from PaymentMixin
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate membership_application.py to OperationResult (46 APIs)
  verenigingen/api/membership_application.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixes
  verenigingen/api/anbi_operations.py
  verenigingen/api/audit_reports_dashboards.py
  verenigingen/api/background_approval_api.py
  verenigingen/api/background_job_status.py
  verenigingen/api/cache_invalidation_api.py
  verenigingen/api/chapter_join.py
  verenigingen/api/check_eboekhouden_fields.py
  verenigingen/api/check_opening_balance_date.py
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/api/email_api.py
  verenigingen/api/get_user_chapters.py
  verenigingen/api/manual_invoice_generation.py
  verenigingen/api/mollie_payment.py
  verenigingen/api/onboarding_info.py
  verenigingen/api/payment_plan_management.py
  verenigingen/api/payment_processing.py
  verenigingen/api/periodic_donation_operations.py
  verenigingen/api/security_monitoring_dashboard.py
  verenigingen/api/suspension_api.py
  verenigingen/api/team_admin_utilities.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/hooks.py
  verenigingen/repositories/dues_schedule_repository.py
  verenigingen/services/member/display/member_volunteer_display_service.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/www/dues_coverage_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixes
  scripts/validation/production/template_field_validator.py
  verenigingen/api/enhanced_membership_application.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/public/css/tailwind.css
  verenigingen/public/js/membership_application.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

test(integration): Add public API guest access integration tests
  verenigingen/tests/integration/test_public_api_guest_access.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(api): Migrate member_management.py to OperationResult (19 endpoints)
  verenigingen/api/member_management.py
  verenigingen/public/js/chapter_dashboard.js
  verenigingen/templates/pages/mt940_import.html
  verenigingen/verenigingen/doctype/member/member.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(api): Resolve security decorator whitelist registration + centralize JS helpers
  verenigingen/api/payment_dashboard.py
  verenigingen/hooks.py
  verenigingen/public/js/customer_member_link.js
  verenigingen/public/js/services/api-service.js
  verenigingen/public/js/utils/operation-result-helpers.js
  verenigingen/services/member/history/member_history_update_service.py
  verenigingen/templates/includes/skills_dashboard_widget.html
  verenigingen/templates/pages/campaign.html
  verenigingen/templates/pages/eboekhouden_item_mapping.html
  verenigingen/templates/pages/payment_dashboard.html
  verenigingen/templates/pages/payment_plans.html
  verenigingen/templates/pages/schedule_maintenance.html
  verenigingen/templates/pages/sepa_reconciliation_dashboard.html
  verenigingen/templates/pages/volunteer/apply.html
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/chapter/chapter.js
  verenigingen/verenigingen/doctype/chapter_join_request/chapter_join_request_list.js
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/www/batch-optimizer.html
  verenigingen/www/chapter.html
  verenigingen/www/dues-invoice-debugger.html
  verenigingen/www/dues-invoice-manager.html
  verenigingen/www/mollie_member_reconciliation.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(js): Fix member.js OperationResult handling
  verenigingen/verenigingen/doctype/member/member.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(js): Add unwrapOperationResult handling to member JS modules
  verenigingen/public/js/member/js_modules/chapter-utils.js
  verenigingen/public/js/member/js_modules/payment-utils.js
  verenigingen/public/js/member/js_modules/sepa-utils.js
  verenigingen/public/js/member/js_modules/ui-utils.js
  verenigingen/public/js/member/js_modules/volunteer-utils.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(js): Add OperationResult unwrapping to payment JS files
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.js
  verenigingen/www/batch-optimizer.html
  verenigingen/www/mollie_dashboard.html
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, template-variable-validator, js-python-parameter-validator, email-template-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix: Multiple bug fixes for termination, email, and Mollie
  verenigingen/api/membership_application_review.py
  verenigingen/integrations/mollie/core/client.py
  verenigingen/services/termination/termination_execution_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
