Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

test: self-seed base masters and restore Settings Single (order-dependence)
  verenigingen/tests/backend/integration/test_volunteer_portal_integration.py
  verenigingen/tests/donor/test_donor_auto_creation.py
  verenigingen/tests/integration/test_membership_approval.py
  verenigingen/tests/payment/test_invoice_generation_and_payment_history_sync.py
  verenigingen/tests/payment/test_regression_payment_history_draft_status.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(chapter): self-heal stale Verenigingen Settings.company for cost-center resolver
  verenigingen/tests/backend/integration/test_chapter_cost_center_seeding.py
  verenigingen/tests/setup/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(donor): create a distinct income account when CoA has only one
  verenigingen/tests/donor/test_donor_auto_creation_comprehensive.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(membership): approval is final — reject must refuse an Approved application
  verenigingen/api/membership_application_review.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(comprehensive): repair dead setUpClass, drop obsolete tests for removed models
  verenigingen/tests/backend/comprehensive/test_financial_integration_edge_cases.py
  verenigingen/tests/backend/comprehensive/test_termination_workflow_edge_cases.py
  verenigingen/tests/e_boekhouden/test_party_extractor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: flush batched payment history; assert net_total for tax-independent invoice
  verenigingen/tests/backend/integration/test_erpnext_integration_complete.py
  verenigingen/tests/payment/test_payment_system_functionality.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(isolation): make order-dependent assertions independent of leftover rows
  verenigingen/tests/chapter/test_chapter_board_lifecycle_notifications.py
  verenigingen/tests/financial/test_expense_claim_queries.py
  verenigingen/tests/unit/test_mollie_bulk_transaction_core_functionality.py
  verenigingen/tests/volunteer/test_volunteer_skills_api_enhanced.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(determinism): remove date-boundary and concurrent-naming flakiness
  verenigingen/tests/backend/components/test_chapter_expense_report_unit.py
  verenigingen/tests/backend/validation/test_error_recovery_and_rollback.py
  verenigingen/tests/sepa/test_sepa_input_validation.py
  verenigingen/tests/sepa/test_sepa_mandate_lifecycle_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(isolation): fix member_lifecycle dues-schedule + notification-suppression order dependence
  verenigingen/tests/email/test_notification_suppression.py
  verenigingen/tests/integration/test_member_lifecycle_complete_real.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(audit): repair ImmutableAuditTrail.verify_integrity chain verification
  verenigingen/tests/payment/test_audit_trail_integrity.py
  verenigingen/verenigingen_payments/core/compliance/audit_trail.py
  verenigingen/verenigingen_payments/mollie/utils/audit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(email): repair payment-reminder fallback + stale template cache
  verenigingen/api/payment_processing.py
  verenigingen/hooks/doc_events.py
  verenigingen/services/communication/email_service.py
  verenigingen/tests/backend/components/test_payment_processing_real_template_handling.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(portal,volunteer): real integration coverage for member portal + volunteer status gating
  verenigingen/tests/volunteer/test_volunteer_member_status_integration.py
  verenigingen/tests/workflows/test_portal_functionality_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(portal): inventory member self-service endpoints locked out by over-elevated security decorators
  docs/plans/2026-06-09-member-portal-self-service-lockout-inventory.md
Due: none

fix(portal): unlock member self-service endpoints (batch 1)
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/templates/pages/address_change.py
  verenigingen/templates/pages/contact_request.py
  verenigingen/templates/pages/membership_adjustment.py
  verenigingen/templates/pages/my_dues_schedule.py
  verenigingen/tests/workflows/test_member_portal_self_service.py
  verenigingen/tests/workflows/test_portal_functionality_integration.py
  verenigingen/verenigingen/doctype/member_contact_request/member_contact_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(portal): unlock member SEPA direct-debit self-service (batch 2)
  verenigingen/api/member/sepa_api.py
  verenigingen/public/js/member/js_modules/sepa-utils.js
  verenigingen/tests/workflows/test_member_portal_self_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(portal): unlock member payment-plan + chapter-join self-service (batch 3)
  verenigingen/api/chapter_join.py
  verenigingen/api/payment_plan_management.py
  verenigingen/tests/backend/components/test_payment_plan_system.py
  verenigingen/tests/workflows/test_member_portal_self_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(portal,security): member self-service follow-ups (personal details, SEPA mandate scoping, resolver alignment)
  verenigingen/hooks/permissions.py
  verenigingen/permissions.py
  verenigingen/templates/pages/personal_details.py
  verenigingen/tests/workflows/test_member_portal_self_service.py
  verenigingen/utils/security/self_service_access_controller.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(portal): unlock member Mollie subscription self-service (batch 4)
  verenigingen/api/mollie_payment.py
  verenigingen/tests/workflows/test_member_portal_self_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(mollie): relocate subscription ops off debug service, drop dead endpoints
  verenigingen/api/mollie_payment.py
  verenigingen/services/mollie_debug_service.py
  verenigingen/verenigingen_payments/mollie/services/subscription_service.py
  verenigingen/verenigingen_payments/mollie/tests/test_core_integration.py
  verenigingen/verenigingen_payments/mollie/tests/test_subscription_service_list.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): add key-gated live integration tests for SubscriptionService
  verenigingen/verenigingen_payments/mollie/tests/mollie_test_helper.py
  verenigingen/verenigingen_payments/mollie/tests/test_subscription_service_live.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(permissions): collapse Donor + SEPA Mandate permission pairs into a factory
  verenigingen/permissions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(workflow): let Verenigingen Staff approve memberships (complete wave8 decision)
  verenigingen/patches.txt
  verenigingen/patches/v2_2/add_staff_to_membership_workflow.py
  verenigingen/setup/membership_application_workflow_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(infra): make ensure_membership_type_exists race-safe (TOCTOU)
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/tests/fixtures/test_factory_concurrency.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(sepa): make reconciliation setUp robust under parallel load
  verenigingen/tests/backend/components/test_sepa_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(member): unique chapter names in secure-list perf setUp
  verenigingen/tests/member/test_secure_member_list_performance.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(volunteer): scope skill-search assertions to own volunteers
  verenigingen/tests/volunteer/test_volunteer_skills_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): fix email_address->email kwarg in real_api setUp
  verenigingen/verenigingen_payments/mollie/tests/integration/test_real_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(perf): gate perf-timing benchmarks behind RUN_HEAVY_SCALABILITY
  verenigingen/tests/scalability/test_small_scale_only.py
  verenigingen/tests/workflows/test_performance_comprehensive.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): rewrite real_api tests against production SubscriptionService; drop orphan relationship managers
  verenigingen/verenigingen_payments/mollie/tests/integration/test_real_api.py
  verenigingen/verenigingen_payments/mollie/utils/mollie_relationship_manager.py
  verenigingen/verenigingen_payments/mollie/utils/relationship_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): UTC-safe SEPA signature date + live portal endpoint tests
  verenigingen/api/mollie_payment.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_portal_endpoints_live.py
  verenigingen/verenigingen_payments/mollie/tests/test_subscription_service_live.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): add portal endpoint unit + live coverage
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_portal_endpoints_live.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_portal_endpoints_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): extract mollie_signature_date helper, fix 2nd site + canceled typo
  verenigingen/api/mollie_payment.py
  verenigingen/verenigingen_payments/mollie/services/complete_payment_service.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_portal_endpoints_live.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_portal_endpoints_unit.py
  verenigingen/verenigingen_payments/mollie/utils/common_helpers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): extract PortalSelfServiceTestMixin, de-dup portal helpers
  verenigingen/tests/fixtures/portal_self_service_mixin.py
  verenigingen/tests/security/test_self_service_doc_method_regression.py
  verenigingen/tests/security/test_self_service_operations.py
  verenigingen/tests/workflows/test_member_portal_self_service.py
  verenigingen/tests/workflows/test_portal_functionality_integration.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_portal_endpoints_live.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_portal_endpoints_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(validation): recognize self_service_api as a security decorator
  scripts/validation/security/api_security_validator.py
  scripts/validation/security/insecure_api_detector.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(js): fix stale chapter/donation controller tests
  verenigingen/tests/setup/controller-loader.js
  verenigingen/tests/unit/doctype/test_chapter_controller.test.js
  verenigingen/tests/unit/doctype/test_donation_controller_comprehensive.test.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

chore(types): resolve forward-ref annotations, align pyright to py3.14
  pyrightconfig.json
  verenigingen/services/approval/termination_approval_service.py
  verenigingen/services/termination/termination_operations.py
  verenigingen/verenigingen/doctype/vip_import/vip_import.py
  verenigingen/verenigingen_payments/ing_checkout/client.py
  verenigingen/verenigingen_payments/ing_checkout/services/mandate_service.py
  verenigingen/verenigingen_payments/services/batch_processing_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(js): remove unachievable global coverage threshold
  jest.config.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

small stuff
  scripts/testing/generate_test_timings.py
  verenigingen/public/css/email_brand.css
  verenigingen/tests/test_timings.json
Due: email-template-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking

docs(chapter): correct over-promising JSDoc on child-table handlers
  verenigingen/verenigingen/doctype/chapter/chapter.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

test(js): add enforced per-file coverage gate; fix jest/glob threshold tooling
  jest.config.js
  package.json
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, email-template-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
