Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(tests): five setUpClass helpers configured a Single behind a try/except and none had ever succeeded
  verenigingen/tests/support/sepa_test_configuration.py
  verenigingen/tests/support/test_sepa_test_configuration.py
  verenigingen/tests/test_webhook_user_setup.py
  verenigingen/verenigingen_payments/tests/test_api_regression.py
  verenigingen/verenigingen_payments/tests/test_direct_debit_batch_refactoring.py
  verenigingen/verenigingen_payments/tests/test_sepa_xml_adapter.py
  verenigingen/verenigingen_payments/tests/test_sepa_xml_compliance.py
  verenigingen/verenigingen_payments/tests/test_service_layer_validation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): book the settlement payout leg, so clearing nets to zero (#508)
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-23d — my own instruments were broken
  docs/handoffs/2026-08-23d-my-own-instruments-were-broken.md
Due: none

test(mollie): name the settlement run helper distinctively (duplicate-helper ratchet)
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): correct three claims this change made that were not true (review)
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(tests): parents[3] from tests/backend/portal is the package, not the app root
  verenigingen/tests/utils/paths.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(validation): record _restore's fourth copy in the ratchet baseline
  scripts/validation/duplicate_helper_baseline.txt
Due: none

fix(mollie): the fee entry must be booked LAST, and the allocation must repair (review)
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-23 — the fix sections that were hypotheses
  docs/handoffs/2026-08-23-the-fix-sections-that-were-hypotheses.md
Due: none

docs(handoff): the #526 shard failure is co-tenancy, with the bisect list
  docs/handoffs/2026-08-23-the-fix-sections-that-were-hypotheses.md
  scripts/testing/notes/526-shard5-unique-predecessors.txt
Due: none

docs(handoff): both red shards exonerate their PRs; develop has latent order-dependence
  docs/handoffs/2026-08-23-the-fix-sections-that-were-hypotheses.md
Due: none

docs(handoff): final CI results for all four PRs
  docs/handoffs/2026-08-23-the-fix-sections-that-were-hypotheses.md
Due: none

fix(mollie): the settlement gate must compare Bank Accounts, not GL accounts (#523)
  verenigingen/tests/payment/test_bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-23e — the key that had to be written last
  docs/handoffs/2026-08-23e-the-key-that-had-to-be-written-last.md
Due: none

fix(tests): the builder re-raises the linkage it cannot write, and says which link
  verenigingen/tests/test_harness_leak_attribution.py
  verenigingen/tests/utils/factories.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(harness): pin the call this fix depends on, which nothing did (#516)
  verenigingen/tests/test_harness_setup_fatal.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): the ninth Territory site, and a guard that reads calls not comments
  verenigingen/tests/test_harness_leak_attribution.py
  verenigingen/tests/test_harness_territory_root.py
  verenigingen/tests/utils/source_probes.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(tests): drop a db.exists count that was wrong on both bases
  verenigingen/tests/setup/__init__.py
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): the configuration landed in setUpClass and was reverted before every body
  verenigingen/tests/support/sepa_test_configuration.py
  verenigingen/tests/support/test_sepa_test_configuration.py
  verenigingen/verenigingen_payments/tests/test_api_regression.py
  verenigingen/verenigingen_payments/tests/test_direct_debit_batch_refactoring.py
  verenigingen/verenigingen_payments/tests/test_sepa_xml_compliance.py
  verenigingen/verenigingen_payments/tests/test_service_layer_validation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): 13 places asked for "a EUR company" and got whichever one ran last
  verenigingen/services/termination/test_termination_integration.py
  verenigingen/services/termination/test_termination_integration_coverage.py
  verenigingen/services/termination/test_termination_integration_extra_coverage.py
  verenigingen/services/termination/test_termination_utils.py
  verenigingen/tests/backend/comprehensive/test_chapter_membership_validation_edge_cases.py
  verenigingen/tests/backend/comprehensive/test_termination_system_comprehensive.py
  verenigingen/tests/e_boekhouden/test_processors_base.py
  verenigingen/tests/e_boekhouden/test_settings.py
  verenigingen/tests/scalability/payment_history_test_factory.py
  verenigingen/tests/support/eur_company_decoy.py
  verenigingen/tests/support/test_eur_company_decoy.py
  verenigingen/tests/test_no_company_scan_by_currency.py
  verenigingen/verenigingen_payments/tests/test_sepa_xml_compliance.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): the base-master gate must not close on a root this PR now forges
  verenigingen/tests/setup/__init__.py
  verenigingen/tests/test_harness_territory_root.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): the decoy could permanently poison a CI site, and the worst site was allowlisted
  verenigingen/services/termination/test_termination_integration_extra_coverage.py
  verenigingen/tests/backend/integration/test_chapter_cost_center_seeding.py
  verenigingen/tests/e_boekhouden/test_processors_base.py
  verenigingen/tests/setup/__init__.py
  verenigingen/tests/support/eur_company_decoy.py
  verenigingen/tests/support/test_eur_company_decoy.py
  verenigingen/tests/test_no_company_scan_by_currency.py
  verenigingen/verenigingen_payments/tests/test_sepa_xml_compliance.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(tests): CI shards do not share a database
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): one owning file per fixed chapter fixture name
  verenigingen/tests/backend/integration/test_suspension_integration_real.py
  verenigingen/tests/chapter/test_chapter_join_request.py
  verenigingen/tests/email/test_email_newsletter_system.py
  verenigingen/tests/email/test_email_service_integration.py
  verenigingen/tests/integration/test_dutch_business_rules_phase3.py
  verenigingen/tests/integration/test_membership_approval.py
  verenigingen/tests/member/test_member_doctype_integration.py
  verenigingen/tests/member/test_member_doctype_integration_fixed.py
  verenigingen/tests/member/test_member_lifecycle_workflows.py
  verenigingen/tests/member/test_member_status_transitions_enhanced.py
  verenigingen/tests/test_fixture_isolation_invariants.py
  verenigingen/verenigingen/doctype/chapter_join_request/test_chapter_join_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): a restore must not need the controller's permission
  verenigingen/tests/fixtures/singleton_backup.py
  verenigingen/tests/test_singleton_backup_restoration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(harness): the delete-audit control seeds the root it links to
  verenigingen/tests/test_delete_audit_selftest.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): the settlement gate compares two different namespaces (#523)
  verenigingen/tests/payment/test_bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): member_id must not rest on the clock alone (#549)
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/tests/fixtures/test_member_id_uniqueness.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(validation): _persist_eur_company's near-identical share moved 32% -> 33%
  scripts/validation/duplicate_helper_baseline.txt
Due: none

chore(validation): record two new name collisions in the ratchet baseline
  scripts/validation/duplicate_helper_baseline.txt
Due: none

docs(tests): correct three false claims this PR was about to ship
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/tests/fixtures/test_member_id_uniqueness.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): the settlement gate must not resolve to ONE Bank Account (#544)
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-23b — the fixes that removed a guarantee
  docs/handoffs/2026-08-23b-the-fixes-that-removed-a-guarantee.md
Due: none

docs(handoff): 2026-08-23f — the recommended fix was the regression
  docs/handoffs/2026-08-23f-the-recommended-fix-was-the-regression.md
Due: none

chore(validation): record _make_party_bank_account in the duplicate baseline
  scripts/validation/duplicate_helper_baseline.txt
Due: none

fix(tests): close the member_id class — the deterministic one, and two siblings (#552)
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/tests/fixtures/test_member_id_uniqueness.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

perf(mollie): fetch the settlement window once per run, not per transaction (#546)
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): a settlement must not auto-post on amount and date alone (#547)
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): one settlement-payload builder, on MollieBase
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(tests): three guards were justified by a CI topology that does not exist
  verenigingen/tests/backend/components/test_setup_custom_fields.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/fixtures/fake_cache.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
