Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

refactor: extract services from e_boekhouden_migration controller
  docs/audits/DOCTYPE_CONTROLLER_INVENTORY_AND_AUDIT.md
  docs/audits/TEST_FIXES_BACKLOG.md
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/services/account_migration_service.py
  verenigingen/e_boekhouden/services/migration_data_quality_service.py
  verenigingen/e_boekhouden/utils/migration_error_logger.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: fail hard when ledger mapping has no ERPNext account
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/processors/payment_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: determine payment direction from amount sign, not just mutation type
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/e_boekhouden/utils/processors/payment_processor.py
  verenigingen/tests/unit/test_payment_direction.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: consolidate member ID generation to atomic implementation
  docs/audits/DOCTYPE_CONTROLLER_INVENTORY_AND_AUDIT.md
  docs/audits/MEMBER_ID_CONSOLIDATION_PLAN.md
  verenigingen/services/member/core/member_id_service.py
  verenigingen/verenigingen/doctype/member/member_id_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

security: add API security decorators to e_boekhouden_account_mapping
  docs/audits/DOCTYPE_CONTROLLER_INVENTORY_AND_AUDIT.md
  verenigingen/e_boekhouden/doctype/e_boekhouden_account_mapping/api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: update sepa_processor.py assessment in audit doc
  docs/audits/DOCTYPE_CONTROLLER_INVENTORY_AND_AUDIT.md
Due: none

docs: add approval workflow consolidation analysis to audit doc
  docs/audits/DOCTYPE_CONTROLLER_INVENTORY_AND_AUDIT.md
Due: none

refactor: extract ContributionAmendmentApprovalService and enhance TAS notifications
  verenigingen/notification_registry.py
  verenigingen/services/approval/__init__.py
  verenigingen/services/approval/contribution_amendment_approval_service.py
  verenigingen/services/approval/termination_approval_service.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: mark ContributionAmendmentApprovalService extraction complete in audit
  docs/audits/DOCTYPE_CONTROLLER_INVENTORY_AND_AUDIT.md
Due: none

fix: approval notification bugs and member ID transaction error
  verenigingen/services/approval/contribution_amendment_approval_service.py
  verenigingen/services/approval/termination_approval_service.py
  verenigingen/tests/backend/unit/services/test_approval_notifications.py
  verenigingen/verenigingen/doctype/member/member_id_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add termination_rejected email template
  verenigingen/fixtures/email_template.json
  verenigingen/tests/backend/unit/services/test_approval_notifications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add brand-aware email CSS generation
  verenigingen/fixtures/email_template.json
  verenigingen/hooks.py
  verenigingen/services/communication/email_service.py
  verenigingen/tests/backend/unit/services/test_approval_notifications.py
  verenigingen/utils/brand_css_generator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: move email CSS to app assets folder for premailer compatibility
  verenigingen/hooks.py
  verenigingen/public/css/email_brand.css
  verenigingen/utils/brand_css_generator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: convert all email templates to use CSS classes
  verenigingen/fixtures/email_template.json
Due: email-template-validator

security: fix XSS vulnerabilities and color contrast in email templates
  verenigingen/fixtures/email_template.json
  verenigingen/utils/brand_css_generator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add ANBI account group setup API with security hardening
  cypress/integration/e-boekhouden-settings-controller.spec.js
  cypress/support/index.js
  verenigingen/api/anbi_account_setup.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_group_type_mapping/__init__.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_group_type_mapping/e_boekhouden_group_type_mapping.json
  verenigingen/e_boekhouden/doctype/e_boekhouden_group_type_mapping/e_boekhouden_group_type_mapping.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.json
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.py
  verenigingen/e_boekhouden/services/account_hierarchy_service.py
  verenigingen/e_boekhouden/services/account_migration_service.py
  verenigingen/utils/security/api_security_framework.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

feat: add COR rules for account hierarchy and type mapping APIs
  verenigingen/fixtures/critical_operation_rule.json
Due: email-template-validator

fix: restore expense approver service from archived
  verenigingen/services/volunteer/__init__.py
  verenigingen/services/volunteer/expense_approver_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

eboekhouden account organization fixes
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.py
  verenigingen/e_boekhouden/services/account_hierarchy_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

feat: add Staff ANBI Allocation DocType for personnel cost tracking
  verenigingen/verenigingen/doctype/staff_anbi_allocation/__init__.py
  verenigingen/verenigingen/doctype/staff_anbi_allocation/staff_anbi_allocation.js
  verenigingen/verenigingen/doctype/staff_anbi_allocation/staff_anbi_allocation.json
  verenigingen/verenigingen/doctype/staff_anbi_allocation/staff_anbi_allocation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

feat: add ANBI Expense Report for annual compliance reporting
  verenigingen/verenigingen/report/anbi_expense_report/__init__.py
  verenigingen/verenigingen/report/anbi_expense_report/anbi_expense_report.js
  verenigingen/verenigingen/report/anbi_expense_report/anbi_expense_report.json
  verenigingen/verenigingen/report/anbi_expense_report/anbi_expense_report.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix: use nested set model for ANBI expense hierarchy
  verenigingen/verenigingen/report/anbi_expense_report/anbi_expense_report.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: move Financial & SEPA Settings to Verenigingen Payments Settings
  .gitignore
  verenigingen/api/sepa_period_duplicate_prevention.py
  verenigingen/patches.txt
  verenigingen/patches/v2_1/migrate_financial_settings_to_payments.py
  verenigingen/templates/pages/donate.py
  verenigingen/templates/pages/ponto_api_debug.py
  verenigingen/tests/test_sepa_mandate_identity_service.py
  verenigingen/tests/test_sepa_mandate_naming.py
  verenigingen/tests/test_sepa_mandate_regression.py
  verenigingen/tests/test_sepa_mandate_service_integration.py
  verenigingen/tests/utils/base.py
  verenigingen/utils/dues_schedule_auto_creator.py
  verenigingen/utils/security/authorization.py
  verenigingen/utils/settings_utils.py
  verenigingen/verenigingen/doctype/member/mixins/sepa_mixin.py
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/verenigingen_payments_settings.json
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/verenigingen_payments_settings.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.py
  verenigingen/verenigingen_payments/api/dd_batch_scheduler.py
  verenigingen/verenigingen_payments/api/sepa_batch_notifications.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/sepa_processor.py
  verenigingen/verenigingen_payments/doctype/ponto_payment_link/ponto_payment_link.py
  verenigingen/verenigingen_payments/hooks/payment_hook.py
  verenigingen/verenigingen_payments/mollie/utils/webhook_security.py
  verenigingen/verenigingen_payments/services/sepa_configuration_service.py
  verenigingen/verenigingen_payments/services/sepa_mandate_identity_service.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
  verenigingen/verenigingen_payments/utils/sepa_config_manager.py
  verenigingen/verenigingen_payments/utils/sepa_xml_enhanced_generator.py
  verenigingen/www/mollie_member_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: use proper IBAN validation and add ANBI test coverage
  verenigingen/tests/backend/components/test_anbi_expense_report.py
  verenigingen/tests/backend/components/test_staff_anbi_allocation.py
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/verenigingen_payments_settings.py
  verenigingen/verenigingen/report/anbi_expense_report/anbi_expense_report.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add ING Checkout (Pay.nl) integration with security hardening
  verenigingen/hooks.py
  verenigingen/public/js/sales_invoice_ing_checkout.js
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/verenigingen_payments_settings.json
  verenigingen/verenigingen_payments/doctype/ing_checkout_mandate/__init__.py
  verenigingen/verenigingen_payments/doctype/ing_checkout_mandate/ing_checkout_mandate.json
  verenigingen/verenigingen_payments/doctype/ing_checkout_mandate/ing_checkout_mandate.py
  verenigingen/verenigingen_payments/doctype/ing_checkout_settings/__init__.py
  verenigingen/verenigingen_payments/doctype/ing_checkout_settings/ing_checkout_settings.json
  verenigingen/verenigingen_payments/doctype/ing_checkout_settings/ing_checkout_settings.py
  verenigingen/verenigingen_payments/doctype/ing_checkout_transaction/__init__.py
  verenigingen/verenigingen_payments/doctype/ing_checkout_transaction/ing_checkout_transaction.json
  verenigingen/verenigingen_payments/doctype/ing_checkout_transaction/ing_checkout_transaction.py
  verenigingen/verenigingen_payments/ing_checkout/__init__.py
  verenigingen/verenigingen_payments/ing_checkout/api/__init__.py
  verenigingen/verenigingen_payments/ing_checkout/api/mandate.py
  verenigingen/verenigingen_payments/ing_checkout/api/payment.py
  verenigingen/verenigingen_payments/ing_checkout/api/webhook.py
  verenigingen/verenigingen_payments/ing_checkout/client.py
  verenigingen/verenigingen_payments/ing_checkout/services/__init__.py
  verenigingen/verenigingen_payments/ing_checkout/services/mandate_service.py
  verenigingen/verenigingen_payments/ing_checkout/tests/__init__.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_api.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_client.py
  verenigingen/verenigingen_payments/ing_checkout/utils/__init__.py
  verenigingen/verenigingen_payments/ing_checkout/utils/webhook_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix: address code review findings for ING Checkout integration
  docs/plans/ing-checkout-integration-plan.md
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/verenigingen_payments_settings.py
  verenigingen/verenigingen_payments/doctype/ing_checkout_transaction/ing_checkout_transaction.json
  verenigingen/verenigingen_payments/doctype/ing_checkout_transaction/ing_checkout_transaction.py
  verenigingen/verenigingen_payments/doctype/webhook_processing_log/webhook_processing_log.json
  verenigingen/verenigingen_payments/ing_checkout/api/payment.py
  verenigingen/verenigingen_payments/ing_checkout/api/webhook.py
  verenigingen/verenigingen_payments/ing_checkout/client.py
  verenigingen/verenigingen_payments/ing_checkout/utils/webhook_security.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: add comprehensive ING Checkout test suite (85 tests)
  verenigingen/verenigingen_payments/ing_checkout/tests/test_transaction.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_webhook_handlers.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_webhook_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: unify payment status page for all payment providers
  verenigingen/templates/pages/payment_success.py
  verenigingen/verenigingen_payments/ing_checkout/api/payment.py
  verenigingen/verenigingen_payments/ponto/api/betaalverzoek_callback.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: remove unused Razorpay integration to fix CI
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: correct Mollie test module path in CI workflow
  .github/workflows/tests.yml
Due: none

fix: use hostname without port for webhook domain validation
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: clarify webhook security model - signature is primary defense
  verenigingen/verenigingen_payments/ing_checkout/utils/webhook_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

documentation update
  docs/archived_implementations/security_implementations/CSRF_ARCHIVAL_NOTES.md
  docs/archived_implementations/security_implementations/csrf_protection.py
  docs/audits/DOCTYPE_CONTROLLER_INVENTORY_AND_AUDIT.md
  docs/audits/MEMBER_ID_CONSOLIDATION_PLAN.md
  docs/audits/TEST_FIXES_BACKLOG.md
  docs/mollie-audit/CACHING_USAGE_EXAMPLES.md
  docs/mollie-audit/PAGINATION_PATTERNS.md
  docs/mollie-audit/PHASE_4_2_COMPLETION_SUMMARY.md
  docs/mollie-audit/PHASE_4_2_RESPONSE_PARSING_ANALYSIS.md
  docs/mollie-audit/PHASE_4_3_COMPLETION_SUMMARY.md
  docs/mollie-audit/PHASE_4_3_PAGINATION_ANALYSIS.md
  docs/mollie-audit/PHASE_4_4_CACHING_STRATEGY.md
  docs/mollie-audit/PHASE_4_4_COMPLETION_SUMMARY.md
  docs/mollie-audit/PHASE_4_5_COMPLETION_SUMMARY.md
  docs/mollie/BALANCE_TRANSACTION_PROCESSING.md
  docs/mollie/WEBHOOK_ROUTING_INTEGRATION.md
  verenigingen/verenigingen_payments/ing_checkout/README.md
  verenigingen/verenigingen_payments/mollie/README.md
  verenigingen/verenigingen_payments/ponto/README.md
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

redundant docs deleted
  docs/security/detailed_security_audit_report.md
  docs/testing/BACKGROUND_JOB_TESTING.md
Due: none

fix: log error when payment alert recipients not configured
  verenigingen/verenigingen_payments/doctype/ing_checkout_transaction/ing_checkout_transaction.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: use Decimal for currency conversion to prevent precision loss
  verenigingen/verenigingen_payments/ing_checkout/api/payment.py
  verenigingen/verenigingen_payments/ing_checkout/api/webhook.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

security: add API security decorators to ING Checkout endpoints
  verenigingen/verenigingen_payments/ing_checkout/api/mandate.py
  verenigingen/verenigingen_payments/ing_checkout/api/payment.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs update
  docs/MOLLIE_INTEGRATION_USER_GUIDE.md
Due: none

ci: add payments app to CI environment
  .github/actions/setup/action.yml
Due: none

ci: add Customer fixture to before_tests setup
  verenigingen/tests/setup/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
