Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

test(membership-application): strengthen regression assertions
  verenigingen/tests/backend/components/test_membership_application_page_imports.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(bucket-a): align 4 tests across 3 modules with current contracts
  verenigingen/tests/frontend/integration/test_iban_validation_integration.py
  verenigingen/tests/member/test_membership_application_workflow.py
  verenigingen/tests/sepa/test_ponto_webhook_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(workflow): correct ignore_status_validation flag rationale
  verenigingen/tests/member/test_membership_application_workflow.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(lifecycle): address reviewer MAJORs — per-method skips + triage doc
  docs/plans/2026-05-27-test-failure-triage-plan.md
  verenigingen/tests/workflows/test_enhanced_membership_lifecycle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(membership-application): replace removed module-level import with service accessor (P1) (#97)
  verenigingen/services/member/approval/application_helpers.py
  verenigingen/templates/pages/apply_for_membership.py
  verenigingen/tests/backend/components/test_membership_application_page_imports.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(lifecycle): skip class — Membership Type schema migrated away (Bucket B) (#98)
  docs/plans/2026-05-27-test-failure-triage-plan.md
  verenigingen/tests/workflows/test_enhanced_membership_lifecycle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(bucket-a): align 4 tests across 3 modules with current contracts (#99)
  verenigingen/tests/frontend/integration/test_iban_validation_integration.py
  verenigingen/tests/member/test_membership_application_workflow.py
  verenigingen/tests/sepa/test_ponto_webhook_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(g3-sweep): clean up 8-file enhanced_membership_application dead-import cluster
  verenigingen/tests/backend/components/test_membership_dues_enhanced_features.py
  verenigingen/tests/backend/components/test_membership_dues_security_validation.py
  verenigingen/tests/backend/components/test_membership_dues_stress_testing.py
  verenigingen/tests/backend/components/test_membership_dues_system.py
  verenigingen/tests/integration/test_public_api_guest_access.py
  verenigingen/tests/member/test_enhanced_membership_portal.py
  verenigingen/tests/run_membership_dues_tests.py
  verenigingen/tests/unit/api-enhanced-membership-application.test.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

test(g3-sweep): address reviewer MINORs — extract skip_reasons + accuracy fixes
  verenigingen/tests/backend/components/test_membership_dues_enhanced_features.py
  verenigingen/tests/backend/components/test_membership_dues_security_validation.py
  verenigingen/tests/backend/components/test_membership_dues_stress_testing.py
  verenigingen/tests/backend/components/test_membership_dues_system.py
  verenigingen/tests/utils/skip_reasons.py
  verenigingen/tests/workflows/test_enhanced_membership_lifecycle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(g3-sweep): clean up 8-file enhanced_membership_application dead-import cluster (#100)
  verenigingen/tests/backend/components/test_membership_dues_enhanced_features.py
  verenigingen/tests/backend/components/test_membership_dues_security_validation.py
  verenigingen/tests/backend/components/test_membership_dues_stress_testing.py
  verenigingen/tests/backend/components/test_membership_dues_system.py
  verenigingen/tests/integration/test_public_api_guest_access.py
  verenigingen/tests/member/test_enhanced_membership_portal.py
  verenigingen/tests/run_membership_dues_tests.py
  verenigingen/tests/unit/api-enhanced-membership-application.test.js
  verenigingen/tests/utils/skip_reasons.py
  verenigingen/tests/workflows/test_enhanced_membership_lifecycle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(g4): repair Frappe API drift — frappe.cache module, csrf wrapper, fixture path, orphan DocTypes
  verenigingen/patches.txt
  verenigingen/patches/v2_2/drop_orphan_volunteer_doctype_rows.py
  verenigingen/setup/security_setup.py
  verenigingen/tests/email/test_email_template_xss_protection.py
  verenigingen/tests/security/test_security_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(g4): address reviewer MAJORs — LocalProxy guard, decorator order, DROP TABLE, docstring accuracy
  verenigingen/patches/v2_2/drop_orphan_volunteer_doctype_rows.py
  verenigingen/setup/security_setup.py
  verenigingen/tests/email/test_email_template_xss_protection.py
  verenigingen/tests/security/test_security_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(g4): repair Frappe API drift — frappe.cache module, csrf wrapper, fixture path, orphan DocTypes (#101)
  verenigingen/patches.txt
  verenigingen/patches/v2_2/drop_orphan_volunteer_doctype_rows.py
  verenigingen/setup/security_setup.py
  verenigingen/tests/email/test_email_template_xss_protection.py
  verenigingen/tests/security/test_security_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(group-c): skip 25 tests dependent on archived Volunteer Expense DocType
  verenigingen/tests/backend/comprehensive/test_volunteer_portal_edge_cases.py
  verenigingen/tests/backend/integration/test_erpnext_expense_integration.py
  verenigingen/tests/backend/integration/test_erpnext_expense_integration_real.py
  verenigingen/tests/backend/security/test_volunteer_portal_security.py
  verenigingen/tests/chapter/test_chapter_board_permissions_comprehensive.py
  verenigingen/tests/member/test_member_renewal_edge_cases.py
  verenigingen/tests/payment/test_payment_integration.py
  verenigingen/tests/utils/skip_reasons.py
  verenigingen/tests/workflows/test_portal_functionality_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(group-c): extend skip coverage to remaining 13 files with Volunteer Expense refs
  verenigingen/tests/backend/components/test_volunteer_member_integration.py
  verenigingen/tests/backend/comprehensive/test_comprehensive_suite_demo.py
  verenigingen/tests/backend/comprehensive/test_financial_integration_edge_cases.py
  verenigingen/tests/backend/comprehensive/test_termination_workflow_edge_cases.py
  verenigingen/tests/backend/security/test_security_comprehensive.py
  verenigingen/tests/backend/unit/api/test_member_management_api.py
  verenigingen/tests/backend/unit/controllers/test_volunteer_controller.py
  verenigingen/tests/backend/workflows/test_member_lifecycle.py
  verenigingen/tests/backend/workflows/test_member_lifecycle_complete.py
  verenigingen/tests/backend/workflows/test_volunteer_journey.py
  verenigingen/tests/chapter/test_chapter_board_permissions.py
  verenigingen/tests/workflows/test_performance_comprehensive.py
  verenigingen/tests/workflows/test_volunteer_board_finance_persona.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(group-c): skip 45 tests dependent on archived Volunteer Expense DocType (#102)
  verenigingen/tests/backend/components/test_volunteer_member_integration.py
  verenigingen/tests/backend/comprehensive/test_comprehensive_suite_demo.py
  verenigingen/tests/backend/comprehensive/test_financial_integration_edge_cases.py
  verenigingen/tests/backend/comprehensive/test_termination_workflow_edge_cases.py
  verenigingen/tests/backend/comprehensive/test_volunteer_portal_edge_cases.py
  verenigingen/tests/backend/integration/test_erpnext_expense_integration.py
  verenigingen/tests/backend/integration/test_erpnext_expense_integration_real.py
  verenigingen/tests/backend/security/test_security_comprehensive.py
  verenigingen/tests/backend/security/test_volunteer_portal_security.py
  verenigingen/tests/backend/unit/api/test_member_management_api.py
  verenigingen/tests/backend/unit/controllers/test_volunteer_controller.py
  verenigingen/tests/backend/workflows/test_member_lifecycle.py
  verenigingen/tests/backend/workflows/test_member_lifecycle_complete.py
  verenigingen/tests/backend/workflows/test_volunteer_journey.py
  verenigingen/tests/chapter/test_chapter_board_permissions.py
  verenigingen/tests/chapter/test_chapter_board_permissions_comprehensive.py
  verenigingen/tests/member/test_member_renewal_edge_cases.py
  verenigingen/tests/payment/test_payment_integration.py
  verenigingen/tests/utils/skip_reasons.py
  verenigingen/tests/workflows/test_performance_comprehensive.py
  verenigingen/tests/workflows/test_portal_functionality_integration.py
  verenigingen/tests/workflows/test_volunteer_board_finance_persona.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(hygiene): defer in-body imports of removed enhanced_membership_application module
  verenigingen/tests/backend/components/test_membership_dues_enhanced_features.py
  verenigingen/tests/backend/components/test_membership_dues_security_validation.py
  verenigingen/tests/backend/components/test_membership_dues_stress_testing.py
  verenigingen/tests/backend/components/test_membership_dues_system.py
  verenigingen/tests/workflows/test_enhanced_membership_lifecycle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(hygiene): defer in-body imports of removed enhanced_membership_application module (#103)
  verenigingen/tests/backend/components/test_membership_dues_enhanced_features.py
  verenigingen/tests/backend/components/test_membership_dues_security_validation.py
  verenigingen/tests/backend/components/test_membership_dues_stress_testing.py
  verenigingen/tests/backend/components/test_membership_dues_system.py
  verenigingen/tests/workflows/test_enhanced_membership_lifecycle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security-setup): close 6 test errors + 1 fail in test_security_setup
  verenigingen/setup/security_setup.py
  verenigingen/tests/security/test_security_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security-setup): close 6 test errors + 1 fail in test_security_setup (#104)
  verenigingen/setup/security_setup.py
  verenigingen/tests/security/test_security_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security-rate-limit): replace check-then-set with atomic INCR+EXPIRE
  verenigingen/setup/security_setup.py
  verenigingen/tests/security/test_security_setup.py
  verenigingen/tests/security_property_tests.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security-rate-limit): address PR #106 review feedback
  verenigingen/setup/security_setup.py
  verenigingen/tests/security/test_security_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security-rate-limit): replace check-then-set with atomic INCR+EXPIRE (#106)
  verenigingen/setup/security_setup.py
  verenigingen/tests/security/test_security_setup.py
  verenigingen/tests/security_property_tests.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(error-handling): correct PermissionError hierarchy (HTTP 403 + isinstance)
  verenigingen/tests/test_error_handling_hierarchy.py
  verenigingen/utils/error_handling.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(error-handling): address PR #107 review feedback
  verenigingen/tests/test_error_handling_hierarchy.py
  verenigingen/utils/error_handling.py
  verenigingen/utils/exceptions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(error-handling): correct PermissionError hierarchy (HTTP 403 + isinstance) (#107)
  verenigingen/tests/test_error_handling_hierarchy.py
  verenigingen/utils/error_handling.py
  verenigingen/utils/exceptions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

cleanup(security): delete dead no-op rate_limited() decorator + dead helpers
  verenigingen/utils/security_decorators.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

cleanup(security): delete dead no-op rate_limited() decorator + dead helpers (#108)
  verenigingen/utils/security_decorators.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

cleanup(tests): delete 2 class-skipped portal test files
  verenigingen/tests/backend/comprehensive/test_volunteer_portal_edge_cases.py
  verenigingen/tests/backend/security/test_volunteer_portal_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

cleanup(tests): delete 2 class-skipped portal test files (#109)
  verenigingen/tests/backend/comprehensive/test_volunteer_portal_edge_cases.py
  verenigingen/tests/backend/security/test_volunteer_portal_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

lint(except-order): add pre-commit validator + fix 6 latent PR-#107 bugs
  .pre-commit-config.yaml
  scripts/validation/except_order_validator.py
  scripts/validation/tests/test_except_order_validator.py
  verenigingen/api/termination_api.py
  verenigingen/services/member/account/base_role_profile_manager.py
  verenigingen/services/volunteer/bulk_volunteer_creation_service.py
  verenigingen/utils/api_response.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen_payments/utils/webhook_error_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

lint(except-order): address PR #110 review feedback
  scripts/validation/except_order_validator.py
  verenigingen/tests/test_except_order_validator.py
  verenigingen/verenigingen_payments/utils/webhook_error_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

lint(except-order): add pre-commit validator + fix 6 latent PR-#107 bugs (#110)
  .pre-commit-config.yaml
  scripts/validation/except_order_validator.py
  verenigingen/api/termination_api.py
  verenigingen/services/member/account/base_role_profile_manager.py
  verenigingen/services/volunteer/bulk_volunteer_creation_service.py
  verenigingen/tests/test_except_order_validator.py
  verenigingen/utils/api_response.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen_payments/utils/webhook_error_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

cleanup(tests): delete test_enhanced_membership_lifecycle.py cluster (-682 LOC)
  verenigingen/tests/run_comprehensive_membership_dues_tests.py
  verenigingen/tests/utils/skip_reasons.py
  verenigingen/tests/workflows/test_enhanced_membership_lifecycle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

cleanup(tests): delete test_enhanced_membership_lifecycle.py cluster (-682 LOC) (#111)
  verenigingen/tests/run_comprehensive_membership_dues_tests.py
  verenigingen/tests/utils/skip_reasons.py
  verenigingen/tests/workflows/test_enhanced_membership_lifecycle.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

cleanup(security): delete placeholder validate_api_security endpoint
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/utils/security_decorators.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

cleanup(security): delete placeholder validate_api_security endpoint (#112)
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/utils/security_decorators.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): stop create_test_membership_type linking a nonexistent template
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): address review — drop 2 more no-op fields, correct comment
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(tests): triage + remediation plan for the red Server Tests baseline
  docs/plans/2026-05-29-server-tests-red-baseline-triage.md
Due: none

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
