Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

test(mollie): Add contract tests for MollieClient required methods
  verenigingen/integrations/mollie/tests/test_core_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: Add JavaScript handling section to OperationResult migration guide
  docs/development/OPERATION_RESULT_MIGRATION_EXAMPLE.md
Due: none

refactor(volunteer): Consolidate expense submission into service layer
  verenigingen/services/volunteer/expense_submission_service.py
  verenigingen/templates/pages/volunteer-portal/expense_claim_new.py
  verenigingen/templates/pages/volunteer/expenses.py
  verenigingen/utils/cost_center_resolver.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(testing): Add tiered test impact analyzer v2
  scripts/testing/test_impact_analyzer_v2.py
Due: api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking

feat(ci): Add comprehensive test workflows + lighter pre-commit option
  .github/workflows/tests-hosted.yml
  .github/workflows/tests.yml
  .pre-commit-config-light.yaml
  scripts/testing/TEST_IMPACT_ANALYSIS.md
Due: none

chore: exclude GitHub Actions runner from git tracking
  .gitignore
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/fixtures/custom_html_block.json
  verenigingen/services/member/core/member_lifecycle_service.py
  verenigingen/services/volunteer/expense_submission_service.py
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/includes/mollie_dues_payment_processor.html
  verenigingen/templates/pages/member_portal.html
  verenigingen/templates/pages/mollie_bulk_payment_creation.html
  verenigingen/templates/pages/mollie_bulk_payment_creation.py
  verenigingen/templates/pages/mollie_payments_debug.html
  verenigingen/templates/pages/mollie_subscription_recreation.html
  verenigingen/templates/pages/personal_details.html
  verenigingen/templates/pages/volunteer/dashboard.html
  verenigingen/templates/pages/volunteer/expense_claim_new.html
  verenigingen/templates/pages/volunteer/expenses.html
  verenigingen/tests/integration/test_chapter_membership_approval_integration.py
  verenigingen/utils/admin_utilities/subscription_audit.py
  verenigingen/utils/chapter_membership_history_manager.py
  verenigingen/utils/termination_integration.py
  verenigingen/verenigingen_payments/workspace/verenigingen_payments/verenigingen_payments.json
  verenigingen/www/dues-coverage-manager.html
  verenigingen/www/mollie_member_reconciliation.html
  verenigingen/www/mollie_subscription_audit.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): Make Mollie integration tests realistic with real database records
  verenigingen/integrations/mollie/tests/test_core_integration.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): Fix broken imports in expense test files
  verenigingen/tests/backend/comprehensive/test_erpnext_expense_edge_cases.py
  verenigingen/tests/backend/integration/test_erpnext_expense_mock_elimination.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test fixes
  scripts/testing/TEST_MODULES.md
  scripts/testing/run_test_files.py
  scripts/testing/run_test_modules.py
  scripts/testing/setup_test_fixtures.py
  verenigingen/services/termination/termination_execution_service.py
  verenigingen/tests/backend/components/test_banking_import.py
  verenigingen/tests/backend/components/test_chapter_edge_cases.py
  verenigingen/tests/backend/components/test_chapter_matching.py
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/backend/components/test_payment_retry.py
  verenigingen/tests/backend/components/test_volunteer_edge_cases.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/services/test_chapter_permission_service_integration.py
  verenigingen/tests/services/test_payment_entry_creation_service.py
  verenigingen/tests/services/test_termination_execution_service.py
  verenigingen/tests/services/test_volunteer_expense_approver_service.py
  verenigingen/utils/payment_retry.py
  verenigingen/utils/sales_invoice_account_handler.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
  verenigingen/verenigingen_payments/doctype/member_payment_history/member_payment_history.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

yarn fix
  yarn.lock
Due: none

fix(tests): Fix integration tests and improve test quality enforcer
  scripts/validation/test_quality_enforcer.py
  verenigingen/tests/backend/integration/test_erpnext_expense_integration.py
  verenigingen/tests/backend/integration/test_erpnext_integration_complete.py
  verenigingen/tests/backend/integration/test_member_contact_request_integration.py
  verenigingen/tests/backend/workflows/test_member_lifecycle_basic.py
  verenigingen/tests/backend/workflows/test_periodic_donation_agreement.py
  verenigingen/tests/backend/workflows/test_suspension_api_import_fallback_real.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): Rewrite volunteer portal integration tests for ERPNext Expense Claim
  verenigingen/tests/backend/integration/test_volunteer_portal_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): Address code review issues in volunteer portal tests
  verenigingen/tests/backend/integration/test_volunteer_portal_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(ci): Remove incorrect path prefix from workflow scripts
  .github/workflows/code-validation.yml
  .github/workflows/controller-size-check.yml
Due: none

fix(ci): Fix validation scripts for CI environment
  .github/workflows/code-validation.yml
  scripts/testing/runners/validation_test_runner.py
Due: api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking

ci update
  .github/workflows/ci.yml
Due: none

code fixes
  verenigingen/utils/application_helpers.py
  verenigingen/utils/config_manager.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.json
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

CI fixes
  .github/workflows/quality-assurance.yml
  package-lock.json
  yarn.lock
Due: email-template-validator

operationresult fixes
  verenigingen/public/js/chapter_email_integration.js
  verenigingen/public/js/dd_batch_management_enhanced.js
  verenigingen/public/js/donation_form.js
  verenigingen/public/js/eboekhouden_migration_config.js
  verenigingen/public/js/member/js_modules/sepa-utils.js
  verenigingen/public/js/member_counter.js
  verenigingen/public/js/membership_application.js
  verenigingen/services/billing/coverage_calculator.py
  verenigingen/templates/pages/address_change.html
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/bank_details.html
  verenigingen/templates/pages/brand_management.html
  verenigingen/templates/pages/campaign.html
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/templates/pages/donation_dashboard.html
  verenigingen/templates/pages/dues_schedule_admin.html
  verenigingen/templates/pages/eboekhouden_item_mapping.html
  verenigingen/templates/pages/generate_test_data.html
  verenigingen/templates/pages/membership_adjustment.html
  verenigingen/templates/pages/payment_dashboard.html
  verenigingen/templates/pages/sepa_reconciliation_dashboard.html
  verenigingen/templates/pages/volunteer/expenses.html
  verenigingen/templates/pages/workflow_demo.html
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/integration/services/test_coverage_calculator.py
  verenigingen/www/dues-coverage-manager.html
  verenigingen/www/dues-invoice-manager.html
  verenigingen/www/e-boekhouden-dashboard.html
  verenigingen/www/mollie_member_reconciliation.html
  verenigingen/www/monitoring_dashboard.html
  verenigingen/www/onboarding_member_setup.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix
  yarn.lock
Due: none

fixes
  package-lock.json
  package.json
  verenigingen/services/billing/coverage_calculator.py
  verenigingen/tests/integration/services/test_coverage_calculator.py
  verenigingen/utils/operation_result.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

dep management update
  .github/workflows/quality-assurance.yml
  package-lock.json
  package.json
  pyproject.toml
  verenigingen/hooks.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Add donation journal entry creator with proper permissions
  verenigingen/fixtures/custom_docperm.json
  verenigingen/tests/services/test_donation_journal_entry_creator.py
  verenigingen/verenigingen_payments/services/donation_journal_entry_creator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

code quality impr.
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/integration/services/test_coverage_calculator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Migrate services to StatelessService with unified logging
  verenigingen/services/account/account_creation_service.py
  verenigingen/services/approval/termination_approval_service.py
  verenigingen/services/billing/dues_schedule_creation_service.py
  verenigingen/services/billing/template_configuration_service.py
  verenigingen/services/billing/template_creation_service.py
  verenigingen/services/communication/compatibility.py
  verenigingen/services/communication/email_service.py
  verenigingen/services/communication/notification_dispatcher.py
  verenigingen/services/communication/template_manager.py
  verenigingen/services/customer_service.py
  verenigingen/services/donation_donor_service.py
  verenigingen/services/donation_financial_service.py
  verenigingen/services/donation_management_service.py
  verenigingen/services/donation_validation_service.py
  verenigingen/services/field_sync_service.py
  verenigingen/services/infrastructure/service_integration.py
  verenigingen/services/member/approval/member_approval_service.py
  verenigingen/services/member/approval/membership_creation_service.py
  verenigingen/services/member/core/member_address_service.py
  verenigingen/services/member/core/member_id_service.py
  verenigingen/services/member/core/member_lifecycle_service.py
  verenigingen/services/member/core/member_status_service.py
  verenigingen/services/member/debug/member_debug_service.py
  verenigingen/services/member/identification/member_id_service.py
  verenigingen/services/member/validation/member_duplicate_detection_service.py
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/services/payment_processing_service.py
  verenigingen/services/team_service.py
  verenigingen/services/termination/termination_audit_service.py
  verenigingen/services/termination/termination_execution_service.py
  verenigingen/services/volunteer/activity_service.py
  verenigingen/services/volunteer/expense_approver_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Refactor billing services to BaseService architecture
  verenigingen/services/billing/coverage_calculator.py
  verenigingen/services/billing/dues_schedule_validation_service.py
  verenigingen/services/billing/invoice_generator.py
  verenigingen/services/billing/template_configuration_service.py
  verenigingen/services/billing/template_creation_service.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/www/dues_invoice_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Complete service architecture refactoring phases 2-5
  docs/architecture/SERVICE_REFACTORING_SPECIFICATION.md
  verenigingen/api/team_admin_utilities.py
  verenigingen/api/team_management.py
  verenigingen/services/approval/termination_approval_service.py
  verenigingen/services/chapter/chapter_event_service.py
  verenigingen/services/donation_financial_service.py
  verenigingen/services/member/approval/membership_creation_service.py
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/services/team_service.py
  verenigingen/services/termination/termination_audit_service.py
  verenigingen/services/termination/termination_execution_service.py
  verenigingen/tests/backend/unit/services/test_payment_validation_service.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/integration/services/test_coverage_calculator.py
  verenigingen/tests/integration/services/test_invoice_generator.py
  verenigingen/tests/services/test_termination_approval_service.py
  verenigingen/tests/services/test_termination_execution_service.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
  verenigingen/verenigingen/doctype/team/team.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Fix test quality issues in donation integration test
  verenigingen/tests/services/test_donation_refactoring_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Migrate MemberAddressService to StatelessService
  verenigingen/services/member/core/member_address_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Migrate services to StatelessService with bug fixes
  verenigingen/services/account/account_creation_service.py
  verenigingen/services/anbi_validation_service.py
  verenigingen/services/billing/dues_schedule_creation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Consolidate deprecated result classes to OperationResult
  verenigingen/services/billing/coverage_calculator.py
  verenigingen/services/billing/dues_schedule_creation_service.py
  verenigingen/verenigingen/doctype/membership/membership.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Remove InvoiceGenerationResult in favor of OperationResult[Any]
  verenigingen/api/membership_application.py
  verenigingen/services/billing/invoice_generator.py
  verenigingen/tests/integration/services/test_invoice_generator.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Fix static method bug pattern in StatelessService classes
  verenigingen/services/billing/coverage_calculator.py
  verenigingen/services/member/core/member_membership_service.py
  verenigingen/tests/services/test_chapter_permission_service_integration.py
  verenigingen/tests/services/test_member_chapter_display_service.py
  verenigingen/tests/services/test_member_cleanup_service.py
  verenigingen/tests/services/test_member_fee_change_history_service.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/member/mixins/chapter_mixin.py
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Continue StatelessService migration and factory function updates
  verenigingen/services/chapter/chapter_assignment_service.py
  verenigingen/services/chapter/chapter_matching_service.py
  verenigingen/services/chapter/chapter_permission_service.py
  verenigingen/services/member/core/member_fee_change_service.py
  verenigingen/tests/services/test_member_fee_change_service.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Fix MemberRoleService static method calls
  verenigingen/services/member/account/member_user_account_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Add factory functions to 15 StatelessService classes
  verenigingen/services/anbi_validation_service.py
  verenigingen/services/approval/termination_approval_service.py
  verenigingen/services/billing/dues_schedule_creation_service.py
  verenigingen/services/donation_donor_service.py
  verenigingen/services/donation_financial_service.py
  verenigingen/services/donation_management_service.py
  verenigingen/services/donation_reporting_service.py
  verenigingen/services/member/approval/membership_creation_service.py
  verenigingen/services/payment_processing_service.py
  verenigingen/services/team_service.py
  verenigingen/services/termination/termination_audit_service.py
  verenigingen/services/termination/termination_execution_service.py
  verenigingen/services/volunteer/activity_service.py
  verenigingen/services/volunteer/assignment_service.py
  verenigingen/services/volunteer/expense_approver_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Add factory functions to billing StatelessService classes
  verenigingen/services/billing/duplicate_invoice_detector.py
  verenigingen/services/billing/eligibility_checker.py
  verenigingen/services/billing/invoice_generator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Refactor remaining services to inherit from StatelessService
  verenigingen/services/communication/email_service.py
  verenigingen/services/communication/notification_dispatcher.py
  verenigingen/services/communication/template_manager.py
  verenigingen/services/donation_validation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
