Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(donations): scope get_donation_status to Donation's own read permissions
  verenigingen/services/donation/public_donation_service.py
  verenigingen/tests/backend/portal/test_page_donate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: add Weekly and Semi-Annual to hand-maintained billing-frequency lists
  verenigingen/services/billing/invoice_generator.py
  verenigingen/tests/integration/services/test_invoice_generator_branches.py
  verenigingen/tests/report/test_membership_dues_coverage_analysis.py
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.js
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(payments): set paid_from/paid_to/company on three more Payment Entry sites (#1200)
  verenigingen/tests/payment/test_payment_plan_create_payment_entry.py
  verenigingen/tests/payment/test_ponto_doctype_coverage_extra.py
  verenigingen/verenigingen/doctype/member/mixins/financial_mixin.py
  verenigingen/verenigingen/doctype/member/mixins/test_financial_mixin.py
  verenigingen/verenigingen_payments/doctype/payment_plan/payment_plan.py
  verenigingen/verenigingen_payments/doctype/ponto_payment_request/ponto_payment_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payments): guard SEPA invoice picker on currency+member link, report truncation
  verenigingen/public/js/utils/operation-result-helpers.js
  verenigingen/tests/payment/test_sepa_batch_ui.py
  verenigingen/tests/payment/test_sepa_batch_ui_secure.py
  verenigingen/tests/unit/operation-result-helpers.test.js
  verenigingen/verenigingen_payments/api/sepa_batch_ui.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

test(payments): dedupe customer_only_invoice across the two SEPA loader test files
  verenigingen/tests/payment/sepa_batch_loader_test_helpers.py
  verenigingen/tests/payment/test_sepa_batch_ui.py
  verenigingen/tests/payment/test_sepa_batch_ui_secure.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): Ponto Settings singleton needs sandbox_client_id before save (#1200 review)
  verenigingen/tests/payment/test_ponto_doctype_coverage_extra.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(billing): stop live delete paths bypassing dues schedule link guard
  verenigingen/services/billing/invoice_management.py
  verenigingen/services/billing/test_invoice_management.py
  verenigingen/services/member/lifecycle/member_cleanup_service.py
  verenigingen/tests/test_harness_cleanup_tracked_docs_dangling_link.py
  verenigingen/verenigingen/doctype/membership/membership.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(chapter): whitelist board history via existing gated endpoint (#1208)
  verenigingen/tests/chapter/test_chapter_board_history_button.py
  verenigingen/verenigingen/doctype/chapter/chapter.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(security): grant additive User roles that survive role-profile resync
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/events/subscribers/test_chapter_subscribers.py
  verenigingen/services/member/account/account_creation_manager.py
  verenigingen/services/member/account/member_role_service.py
  verenigingen/services/volunteer/expense_approver_service.py
  verenigingen/services/volunteer/native_expense_helpers.py
  verenigingen/setup/public_document_creator_setup.py
  verenigingen/tests/utils/test_department_hierarchy.py
  verenigingen/tests/utils/test_user_role_grant.py
  verenigingen/utils/__init__.py
  verenigingen/utils/department_hierarchy.py
  verenigingen/utils/team_role_profile_hooks.py
  verenigingen/utils/user_role_grant.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): scope shared Chapter Role fixtures to stop cross-test leaks and name collisions
  verenigingen/tests/backend/components/test_volunteer_assignment_history_bugs.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/services/event_application/test_volunteer_sync_service.py
  verenigingen/tests/test_harness_leak_attribution.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): close #1195's add_roles() blind spot, fix dead audit log
  scripts/migration/migrate_to_native_expense_system.py
  verenigingen/mijnrood_sync/services/event_application/volunteer_sync_service.py
  verenigingen/services/member/account/account_creation_manager.py
  verenigingen/tests/services/event_application/test_volunteer_sync_service.py
  verenigingen/utils/user_role_grant.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(member): stop customer-creation retry and application_id-collision paths from double-logging
  scripts/validation/log_error_arg_order_baseline.txt
  verenigingen/api/payment_processing.py
  verenigingen/events/subscribers/approval_subscribers.py
  verenigingen/services/member/approval/application_helpers.py
  verenigingen/services/member/approval/application_payments.py
  verenigingen/tests/events/test_approval_events_coverage.py
  verenigingen/tests/services/test_application_helpers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): stop #1274's class-cleanup commit from reddening the order-dependence ratchet
  scripts/validation/order_dependence_baseline.txt
  verenigingen/tests/backend/components/test_volunteer_assignment_history_bugs.py
  verenigingen/tests/test_harness_leak_attribution.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(chapter): stop on_update from swallowing update_chapters_with_role's HIGH-gate denial
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/chapter_role/chapter_role.py
  verenigingen/verenigingen/doctype/chapter_role/test_chapter_role_on_update_permission_gate.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/test_staff_submit_not_blocked_by_critical_gate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): stop SEPA reconciliation test leak and reference_number collision
  verenigingen/tests/backend/components/test_sepa_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(billing): close the 5th delete path and fix the back-link regression it exposed
  verenigingen/api/membership_application_review.py
  verenigingen/services/billing/invoice_management.py
  verenigingen/services/billing/test_invoice_management.py
  verenigingen/services/member/lifecycle/member_cleanup_service.py
  verenigingen/services/member_merge_service.py
  verenigingen/tests/backend/unit/api/test_membership_application_review_coverage.py
  verenigingen/tests/member/test_member_merge.py
  verenigingen/tests/services/test_member_cleanup_service.py
  verenigingen/tests/test_harness_cleanup_tracked_docs_dangling_link.py
  verenigingen/tests/utils/dues_schedule_test_cleanup.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule_hooks.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payments): bound FinancialErrorHandler.error_log to prevent unbounded growth
  verenigingen/tests/payment/test_financial_error_handler.py
  verenigingen/verenigingen_payments/utils/financial_error_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(chapter): name the real recovery action in the deferred-propagation message
  verenigingen/verenigingen/doctype/chapter_role/chapter_role.py
  verenigingen/verenigingen/doctype/chapter_role/test_chapter_role_on_update_permission_gate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): bound MolliePerformanceMonitor.metrics with a deque
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_performance_monitor_unit.py
  verenigingen/verenigingen_payments/mollie/utils/monitoring.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donations): check Donation read permission before fetching by id
  verenigingen/services/donation/public_donation_service.py
  verenigingen/tests/backend/portal/test_page_donate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: delete dead JS handler and broken dashboard links to nonexistent doctypes
  verenigingen/tests/test_js_form_on_registration_targets.py
  verenigingen/tests/test_sepa_mandate_dashboard.py
  verenigingen/verenigingen/doctype/expulsion_report_entry/expulsion_report_entry.js
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(billing): close gate evasion, deterministic fixture, and atomic back-link clearing
  verenigingen/services/billing/invoice_management.py
  verenigingen/services/member/lifecycle/member_cleanup_service.py
  verenigingen/services/member_merge_service.py
  verenigingen/tests/backend/unit/api/test_membership_application_review_coverage.py
  verenigingen/tests/services/test_member_cleanup_service.py
  verenigingen/tests/test_harness_cleanup_tracked_docs_dangling_link.py
  verenigingen/tests/utils/dues_schedule_test_cleanup.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule_hooks.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: avoid a copy-pasted _create_test_sepa_mandate name collision
  verenigingen/tests/test_sepa_mandate_dashboard.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(donations): stop share-recipients from reopening the #1284 existence oracle
  verenigingen/services/donation/public_donation_service.py
  verenigingen/tests/backend/portal/test_page_donate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: 2026-09-23 session handoff — the fixture lacked the state reality has
  docs/handoffs/2026-09-23-the-fixture-lacked-the-state-reality-has.md
Due: none

fix(payments): let staff cancel a member's subscription on their behalf (#1101)
  verenigingen/api/member/sepa_api.py
  verenigingen/api/mollie_payment.py
  verenigingen/tests/payment/test_payments_utils_gateways_endpoints_coverage.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payment-plan): mark installment Paid only after the PE succeeds
  verenigingen/tests/payment/test_payment_plan_paid_after_pe.py
  verenigingen/verenigingen_payments/doctype/payment_plan/payment_plan.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: escape SQL LIKE wildcards at 8 unescaped bank/Mollie/eBoekhouden identifier sites (#1277)
  verenigingen/e_boekhouden/utils/payment_processing/payment_entry_handler.py
  verenigingen/tests/e_boekhouden/test_payment_entry_handler_allocation.py
  verenigingen/tests/payment/test_audit_trail_integrity.py
  verenigingen/tests/payment/test_bank_integration.py
  verenigingen/tests/payment/test_mollie_sync_api.py
  verenigingen/tests/payment/test_mt940_import_integration.py
  verenigingen/tests/payment/test_unified_idempotency_manager.py
  verenigingen/verenigingen_payments/mollie/api/sync.py
  verenigingen/verenigingen_payments/mollie/services/unified_idempotency_manager.py
  verenigingen/verenigingen_payments/utils/bank_integration.py
  verenigingen/verenigingen_payments/utils/mt940_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(payment-plan): dedupe #1288 test fixtures to avoid two ratchets
  verenigingen/tests/payment/test_payment_plan_paid_after_pe.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: anonymize Member instead of force-deleting when a dues schedule is invoice-blocked
  scripts/validation/order_dependence_baseline.txt
  verenigingen/services/member/lifecycle/member_cleanup_service.py
  verenigingen/tests/member/test_member_merge.py
  verenigingen/tests/services/test_member_cleanup_service.py
  verenigingen/verenigingen_payments/core/compliance/data_retention_policy.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(payments): fix ownership-vs-tier-gate conflation in #1101's control test
  verenigingen/tests/payment/test_payments_utils_gateways_endpoints_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(testing): widen order-dependence scanner to helper modules and db.get_value
  scripts/testing/scan_order_dependence.py
  scripts/testing/tests/test_scan_order_dependence.py
  scripts/validation/order_dependence_baseline.txt
Due: api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking

fix(security): add ownership check to SEPA mandate and payment plan APIs
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/tests/backend/portal/test_payment_plan_from_application_ownership.py
  verenigingen/tests/backend/unit/pages/test_sepa_mandate_diagnostics_ownership.py
  verenigingen/tests/backend/unit/services/test_sepa_mandate_api.py
  verenigingen/tests/fixtures/member_ownership_probe_mixin.py
  verenigingen/tests/services/test_sepa_mandate_manager_api_ownership.py
  verenigingen/verenigingen_payments/doctype/payment_plan/payment_plan.py
  verenigingen/verenigingen_payments/page/sepa_mandate_diagnostics/sepa_mandate_diagnostics.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payments): close get_doc-before-permission-check existence oracle in payment_dashboard/manage_donations
  verenigingen/api/payment_dashboard.py
  verenigingen/templates/pages/manage_donations.py
  verenigingen/tests/backend/portal/test_donation_portal_behavior.py
  verenigingen/tests/backend/unit/api/test_payment_dashboard_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(patches): scope Bank Transaction reference uniqueness per bank account
  verenigingen/hooks/doc_events.py
  verenigingen/patches.txt
  verenigingen/patches/v2_1/add_bank_transaction_reference_unique_index.py
  verenigingen/patches/v2_2/__init__.py
  verenigingen/patches/v2_2/add_mollie_payment_entry_idempotency_key.py
  verenigingen/patches/v2_2/enforce_unique_bank_transaction_reference.py
  verenigingen/tests/services/test_bank_transaction_creator_duplicate_key_recovery.py
  verenigingen/tests/verenigingen_payments/test_bank_transaction_reference_backfill.py
  verenigingen/tests/verenigingen_payments/test_bank_transaction_reference_constraint.py
  verenigingen/tests/verenigingen_payments/test_bank_transaction_reference_key.py
  verenigingen/utils/unique_custom_field_patch.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
  verenigingen/verenigingen_payments/utils/bank_transaction_reference_key.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payments): stop retry_failed_payment conflating a missing invoice with a null-member one
  verenigingen/api/payment_dashboard.py
  verenigingen/tests/backend/unit/api/test_payment_dashboard_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): restore missing super() calls in three VereningingenTestCase subclasses
  .pre-commit-config.yaml
  scripts/validation/harness_super_skip_baseline.txt
  scripts/validation/harness_super_skip_validator.py
  scripts/validation/tests/test_harness_super_skip_validator.py
  verenigingen/tests/backend/components/test_sepa_reconciliation.py
  verenigingen/tests/backend/performance/test_performance_edge_cases.py
  verenigingen/tests/security/test_auth_hooks_critical_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: read-only pre-pass so multi-schedule Members are fully untouched, not partially deleted
  scripts/validation/order_dependence_baseline.txt
  verenigingen/services/member/lifecycle/member_cleanup_service.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/services/test_member_cleanup_service.py
  verenigingen/tests/test_harness_cleanup_tracked_docs_dangling_link.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): sync order-dependence baseline
  scripts/validation/order_dependence_baseline.txt
Due: none

docs(tests): correct _create_eur_default_company_if_needed's docstring
  verenigingen/tests/payment/test_payment_plan_paid_after_pe.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
