Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

chore(types): clear pyright error tail in tests (26->0)
  pyrightconfig.json
  verenigingen/tests/backend/components/test_chapter_assignment_edge_cases.py
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/backend/components/test_membership_utilities.py
  verenigingen/tests/backend/integration/test_volunteer_portal_integration.py
  verenigingen/tests/member/test_membership_application_workflow.py
  verenigingen/tests/payment/test_balances_client.py
  verenigingen/tests/payment/test_dues_fix.py
  verenigingen/tests/payment/test_payment_baseline_comparison.py
  verenigingen/tests/sepa/test_bank_integration_boundaries.py
  verenigingen/tests/sepa/test_sepa_optimizations_integration.py
  verenigingen/tests/test_runner.py
  verenigingen/tests/utils/test_email_mocking.py
  verenigingen/verenigingen_payments/utils/sepa_utilities.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(deps): bump vulnerable transitive deps to patched versions
  package.json
Due: email-template-validator

chore(ci): finish yarn->npm migration; drop stale yarn.lock
  .github/workflows/quality-assurance.yml
  yarn.lock
Due: none

fix(test): scope coverage gate to the full-suite config
  jest.config.js
  jest.coverage.config.js
  package.json
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, email-template-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

test(payment): delete harmful test_dues_fix scratch script
  verenigingen/tests/payment/test_dues_fix.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(deps): patch ajv ReDoS (GHSA-2g4f-4pwh-qvx6) in all subtrees
  package.json
Due: email-template-validator

test(js): cover public/js services + utils with real unit tests; ratchet gate
  jest.coverage.config.js
  verenigingen/tests/unit/api-service.test.js
  verenigingen/tests/unit/iban-masking.test.js
  verenigingen/tests/unit/operation-result-helpers.test.js
  verenigingen/tests/unit/password-autofill-suppression.test.js
  verenigingen/tests/unit/storage-service.test.js
  verenigingen/tests/unit/validation-service-real.test.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(security): unbreak the API Security Audit CI gate (false-red since June)
  .github/workflows/ci.yml
  verenigingen/tests/member/test_procurios_csv_import.py
  verenigingen/tests/payment/test_procurios_mandate_import.py
  verenigingen/verenigingen/doctype/procurios_csv_import/procurios_csv_import.py
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

build(eslint): migrate to flat config for ESLint v9 (npm run lint works again)
  .eslintignore
  .eslintrc.js
  eslint.config.js
  package.json
  verenigingen/tests/unit/storage-service.test.js
  verenigingen/tests/unit/validation-service-real.test.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, email-template-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

test(js): delete copy-based validation-service test; port its cases to the real one
  verenigingen/tests/unit/validation-service-real.test.js
  verenigingen/tests/unit/validation-service.test.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

style(js): apply eslint --fix to public/js
  verenigingen/public/js/member/js_modules/volunteer-utils.js
  verenigingen/public/js/member_counter.js
  verenigingen/public/js/membership_application.js
  verenigingen/public/js/sales_invoice_ing_checkout.js
  verenigingen/public/js/utils/iban-masking.js
  verenigingen/public/js/utils/operation-result-helpers.js
  verenigingen/public/js/utils/password_autofill_suppression.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

style(js): apply eslint --fix to doctype client scripts
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request_list.js
  verenigingen/verenigingen/doctype/api_audit_log/api_audit_log_list.js
  verenigingen/verenigingen/doctype/chapter/chapter.js
  verenigingen/verenigingen/doctype/event_contact_campaign/event_contact_campaign.js
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/member_list.js
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.js
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.js
  verenigingen/verenigingen/doctype/organization_document/organization_document.js
  verenigingen/verenigingen/doctype/organization_document/organization_document_list.js
  verenigingen/verenigingen/doctype/periodic_donation_agreement/periodic_donation_agreement.js
  verenigingen/verenigingen/doctype/procurios_csv_import/procurios_csv_import.js
  verenigingen/verenigingen/doctype/staff_anbi_allocation/staff_anbi_allocation.js
  verenigingen/verenigingen/doctype/verenigingen_email_configuration/verenigingen_email_configuration.js
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/verenigingen_payments_settings.js
  verenigingen/verenigingen/doctype/vip_import/vip_import.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

style(js): apply eslint --fix to mijnrood_sync
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event.js
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event_list.js
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_settings/mijnrood_sync_settings.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

style(js): apply eslint --fix to pages and reports
  verenigingen/verenigingen/page/chapter_dues_allocation/chapter_dues_allocation.js
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.js
  verenigingen/verenigingen/report/anbi_expense_report/anbi_expense_report.js
  verenigingen/verenigingen/report/chapter_dues_split/chapter_dues_split.js
  verenigingen/verenigingen/report/database_table_size_analysis/database_table_size_analysis.js
  verenigingen/verenigingen/report/members_without_payment_info/members_without_payment_info.js
  verenigingen/verenigingen/report/mijnrood_member_reconciliation/mijnrood_member_reconciliation.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

style(js): apply eslint --fix to verenigingen_payments and e_boekhouden
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration_list.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.js
  verenigingen/verenigingen_payments/doctype/ing_checkout_settings/ing_checkout_settings.js
  verenigingen/verenigingen_payments/doctype/mollie_bulk_run/mollie_bulk_run.js
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.js
  verenigingen/verenigingen_payments/doctype/ponto_settings/ponto_settings.js
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.js
  verenigingen/verenigingen_payments/page/mollie_bulk_payment_discovery/mollie_bulk_payment_discovery.js
  verenigingen/verenigingen_payments/page/sepa_mandate_diagnostics/sepa_mandate_diagnostics.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

style(js): apply eslint --fix to remaining JS (tests, utils, templates)
  verenigingen/tests/frontend/unit/member-form.spec.js
  verenigingen/tests/setup/controller-loader.js
  verenigingen/tests/setup/frappe-mocks.js
  verenigingen/tests/setup/jest-api-contract.config.js
  verenigingen/utils/doctype/bank_integration_settings/bank_integration_settings.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(pre-commit): correct ESLint hook to check-only on staged files
  .pre-commit-config.yaml
Due: none

fix(eslint): register app globals + cover tests/setup; clears 315 no-undef
  eslint.config.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(js): resolve high-signal lint findings in production code
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event.js
  verenigingen/public/js/membership_application.js
  verenigingen/verenigingen/doctype/chapter/config/ChapterConfig.js
  verenigingen/verenigingen/doctype/chapter/modules/CommunicationManager.js
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/report/database_table_size_analysis/database_table_size_analysis.js
  verenigingen/verenigingen/report/volunteer_activity_by_tag/volunteer_activity_by_tag.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(js): add radix to parseInt calls + allow app id conventions
  eslint.config.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.js
  verenigingen/verenigingen/doctype/chapter/modules/BoardManager.js
  verenigingen/verenigingen/doctype/chapter/utils/ChapterValidation.js
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.js
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
  verenigingen/verenigingen_payments/page/mollie_bulk_payment_discovery/mollie_bulk_payment_discovery.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(js): clear no-shadow renames + test-file lint one-offs
  verenigingen/tests/frontend/unit/sepa-utils.test.js
  verenigingen/tests/frontend/unit/volunteer-form.spec.js
  verenigingen/tests/unit/doctype/test_donor_controller.js
  verenigingen/verenigingen/doctype/event_contact_campaign/event_contact_campaign.js
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/member/test_member_comprehensive.js
  verenigingen/verenigingen/page/account_creation_dashboard/account_creation_dashboard.js
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.js
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(vip-import): actually display the import completion summary
  verenigingen/verenigingen/doctype/vip_import/vip_import.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(eslint): ignore framework-signature unused args (no-unused-vars)
  eslint.config.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

refactor(js): remove dead vars/functions, annotate onclick handlers
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.js
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event.js
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event_list.js
  verenigingen/verenigingen/doctype/chapter/modules/ChapterStatistics.js
  verenigingen/verenigingen/doctype/chapter/utils/ChapterAPI.js
  verenigingen/verenigingen/doctype/chapter/utils/ChapterValidation.js
  verenigingen/verenigingen/doctype/donor/donor.js
  verenigingen/verenigingen/doctype/event_contact_campaign/event_contact_campaign.js
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/page/account_creation_dashboard/account_creation_dashboard.js
  verenigingen/verenigingen/page/chapter_dues_allocation/chapter_dues_allocation.js
  verenigingen/verenigingen_payments/page/mollie_bulk_payment_discovery/mollie_bulk_payment_discovery.js
  verenigingen/verenigingen_payments/page/sepa_mandate_diagnostics/sepa_mandate_diagnostics.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

build(js): adopt Prettier as JS formatter
  .prettierignore
  .prettierrc.json
  eslint.config.js
  package.json
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, email-template-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

style(js): prettier public/js
  verenigingen/public/js/bank_transaction_list.js
  verenigingen/public/js/chapter_dashboard.js
  verenigingen/public/js/chapter_email_integration.js
  verenigingen/public/js/components/error-handler.js
  verenigingen/public/js/components/step-manager.js
  verenigingen/public/js/customer_member_link.js
  verenigingen/public/js/dd_batch_management_enhanced.js
  verenigingen/public/js/donation_form.js
  verenigingen/public/js/eboekhouden_migration_config.js
  verenigingen/public/js/expense_claim_custom.js
  verenigingen/public/js/expense_claim_form.vue
  verenigingen/public/js/member/js_modules/chapter-history-utils.js
  verenigingen/public/js/member/js_modules/chapter-utils.js
  verenigingen/public/js/member/js_modules/payment-utils.js
  verenigingen/public/js/member/js_modules/sepa-utils.js
  verenigingen/public/js/member/js_modules/termination-utils.js
  verenigingen/public/js/member/js_modules/ui-utils.js
  verenigingen/public/js/member/js_modules/volunteer-utils.js
  verenigingen/public/js/member_counter.js
  verenigingen/public/js/membership_application.js
  verenigingen/public/js/mobile_dues_schedule.js
  verenigingen/public/js/sales_invoice_ing_checkout.js
  verenigingen/public/js/services/api-service.js
  verenigingen/public/js/services/storage-service.js
  verenigingen/public/js/services/validation-service.js
  verenigingen/public/js/utils/iban-masking.js
  verenigingen/public/js/utils/iban-validator.js
  verenigingen/public/js/utils/operation-result-helpers.js
  verenigingen/public/js/utils/password_autofill_suppression.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

style(js): prettier payments / e_boekhouden / mijnrood_sync / utils
  verenigingen/e_boekhouden/doctype/e_boekhouden_dashboard/e_boekhouden_dashboard.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration_list.js
  verenigingen/e_boekhouden/doctype/e_boekhouden_settings/e_boekhouden_settings.js
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event.js
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event_list.js
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_settings/mijnrood_sync_settings.js
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.js
  verenigingen/verenigingen_payments/doctype/member_sepa_mandate_link/member_sepa_mandate_link.js
  verenigingen/verenigingen_payments/doctype/mollie_bulk_run/mollie_bulk_run.js
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.js
  verenigingen/verenigingen_payments/doctype/ponto_settings/ponto_settings.js
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.js
  verenigingen/verenigingen_payments/doctype/sepa_audit_log/sepa_audit_log.js
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.js
  verenigingen/verenigingen_payments/doctype/sepa_mandate_usage/sepa_mandate_usage.js
  verenigingen/verenigingen_payments/doctype/sepa_payment_retry/sepa_payment_retry.js
  verenigingen/verenigingen_payments/page/mollie_bulk_payment_discovery/mollie_bulk_payment_discovery.js
  verenigingen/verenigingen_payments/page/sepa_mandate_diagnostics/sepa_mandate_diagnostics.js
  verenigingen/verenigingen_payments/report/overdue_member_payments/overdue_member_payments.js
  verenigingen/verenigingen_payments/templates/includes/mollie_checkout.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

style(js): prettier tooling (config files, eslint-plugin, contract scripts)
  cypress.config.js
  eslint-plugins/eslint-plugin-frappe/index.js
  eslint-plugins/eslint-plugin-frappe/rules/doctype-field-validation.js
  eslint-plugins/eslint-plugin-frappe/rules/form-event-patterns.js
  eslint-plugins/eslint-plugin-frappe/rules/frappe-api-validation.js
  eslint-plugins/eslint-plugin-frappe/rules/no-direct-html-injection.js
  eslint-plugins/eslint-plugin-frappe/rules/require-frappe-call-error-handling.js
  eslint-plugins/eslint-plugin-frappe/rules/sepa-security-patterns.js
  eslint.config.js
  jest.config.js
  jest.coverage.config.js
  playwright.config.js
  scripts/generate-contract-report.js
  scripts/validate-contract-coverage.js
  tailwind.config.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

build(js): add prettier scripts + pre-commit check hook
  .pre-commit-config.yaml
  .prettierignore
  package.json
Due: email-template-validator

fix(scripts): drop duplicate criticalMethods key in coverage report
  scripts/validate-contract-coverage.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

feat(donor): wire up Generate ANBI Report button
  verenigingen/verenigingen/doctype/donor/donor.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

refactor(mollie): remove orphaned format_processed helper
  verenigingen/verenigingen_payments/page/mollie_bulk_payment_discovery/mollie_bulk_payment_discovery.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(js): clear pre-existing lint errors outside the lint gate
  scripts/generate-contract-report.js
  scripts/validate-contract-coverage.js
  tests/support/database-validator.js
  tests/support/dutch-test-data.js
  tests/support/global-setup.js
  tests/support/global-teardown.js
  tests/support/webhook-simulator.js
  verenigingen/verenigingen/report/expiring_memberships/expiring_memberships.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

fix(js): repair 4 broken frappe.call targets (JS<->Python validator group A)
  verenigingen/public/js/member_counter.js
  verenigingen/verenigingen/doctype/member/member_id_manager.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request.py
  verenigingen/verenigingen/doctype/membership_termination_request/membership_termination_request_list.js
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix(js): correct stale frappe.call references (validator group B, part 1)
  verenigingen/public/js/member/js_modules/ui-utils.js
  verenigingen/verenigingen/doctype/chapter/modules/CommunicationManager.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

feat: implement missing backends for two broken UI actions (validator group B, part 2)
  verenigingen/services/member/account/member_user_account_service.py
  verenigingen/utils/expense_notifications.py
  verenigingen/verenigingen/doctype/member/member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(validator): de-noise JS<->Python parameter validator
  scripts/validation/production/js_python_parameter_validator_enhanced.py
  scripts/validation/production/validator_config.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
