Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(tests): own the test company's bank account by name, not by recency (#581)
  scripts/validation/duplicate_helper_baseline.txt
  verenigingen/tests/payment/test_bank_transaction_reconciliation.py
  verenigingen/tests/payment/test_sepa_reconciliation.py
  verenigingen/tests/sepa/test_sepa_bank_reconciliation_coverage.py
  verenigingen/tests/support/sepa_test_company.py
  verenigingen/tests/support/test_sepa_test_company.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): what the skeptical review changed, including a regression of mine
  verenigingen/tests/payment/test_sepa_reconciliation.py
  verenigingen/tests/support/sepa_test_company.py
  verenigingen/tests/support/test_sepa_test_company.py
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): rename _delete_doc, which collided with the Ponto suite's
  verenigingen/tests/support/test_sepa_test_company.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): one Active mandate per member, and refuse rather than order (#584)
  verenigingen/api/member/sepa_api.py
  verenigingen/patches.txt
  verenigingen/patches/v2_2/report_members_with_multiple_active_mandates.py
  verenigingen/tests/backend/components/test_sepa_mandate_creation.py
  verenigingen/tests/backend/comprehensive/test_sepa_mandate_edge_cases.py
  verenigingen/tests/member/test_dutch_business_logic_integration.py
  verenigingen/tests/payment/test_mandate_candidates.py
  verenigingen/tests/sepa/test_sepa_invoice_validation.py
  verenigingen/tests/services/test_sepa_mandate_manager.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/test_sepa_mandate.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/test_sepa_mandate_comprehensive.py
  verenigingen/verenigingen_payments/utils/mandate_candidates.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): what the skeptical review changed — the class was 4x bigger than the diff
  verenigingen/api/member/sepa_api.py
  verenigingen/tests/backend/comprehensive/test_sepa_mandate_edge_cases.py
  verenigingen/tests/payment/test_mandate_candidates.py
  verenigingen/tests/services/test_sepa_mandate_manager.py
  verenigingen/verenigingen/doctype/member/member_utils.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/test_sepa_mandate.py
  verenigingen/verenigingen_payments/utils/mandate_candidates.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): scope the rule BY PURPOSE — CI showed the flat rule was wrong
  verenigingen/api/member/sepa_api.py
  verenigingen/patches/v2_2/report_members_with_multiple_active_mandates.py
  verenigingen/tests/member/test_member_lifecycle_workflows.py
  verenigingen/tests/payment/test_mandate_candidates.py
  verenigingen/tests/payment/test_sepa_mandate_management.py
  verenigingen/tests/payment/test_sepa_notifications_coverage.py
  verenigingen/tests/sepa/test_sepa_mandate_integration.py
  verenigingen/tests/sepa/test_sepa_mandate_lifecycle.py
  verenigingen/tests/sepa/test_sepa_mandate_member_integration_service.py
  verenigingen/tests/sepa/test_sepa_mandate_regression.py
  verenigingen/tests/sepa/test_sepa_mandate_runner.py
  verenigingen/tests/sepa/test_sepa_mandate_service_integration.py
  verenigingen/verenigingen/doctype/member/member_utils.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/test_sepa_mandate.py
  verenigingen/verenigingen_payments/tests/test_sepa_xml_compliance.py
  verenigingen/verenigingen_payments/utils/mandate_candidates.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): a bank change cancels the old mandate BEFORE activating the new one
  verenigingen/tests/member/test_member_renewal_edge_cases.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-26b — the discriminator I declared dead
  docs/handoffs/2026-08-26b-the-discriminator-i-declared-dead.md
Due: none

fix(swallow): a dict of zeros was hiding four handlers that already worked (#593)
  scripts/validation/error_swallow_baseline.txt
  verenigingen/services/chapter/chapter_query_service.py
  verenigingen/services/monitoring/monitoring_metrics_service.py
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/templates/pages/manage_donations.html
  verenigingen/templates/pages/manage_donations.py
  verenigingen/templates/pages/volunteer/dashboard.py
  verenigingen/templates/pages/volunteer/skills.html
  verenigingen/templates/pages/volunteer/skills.py
  verenigingen/tests/backend/portal/test_page_manage_donations_coverage.py
  verenigingen/tests/test_query_failure_is_not_a_zero.py
  verenigingen/utils/bulk_retry_processor.py
  verenigingen/verenigingen/doctype/system_alert/system_alert.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(monitoring): the growth-rate claim I made was wrong — one template does read those keys
  verenigingen/services/monitoring/monitoring_metrics_service.py
  verenigingen/www/monitoring_dashboard.html
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(swallow): what the skeptical review changed — two of my claims were false
  verenigingen/public/js/chapter_dashboard.js
  verenigingen/services/chapter/chapter_query_service.py
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/templates/pages/volunteer/dashboard.html
  verenigingen/templates/pages/volunteer/dashboard.py
  verenigingen/templates/pages/volunteer/skills.html
  verenigingen/tests/test_query_failure_is_not_a_zero.py
  verenigingen/utils/bulk_retry_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

test(swallow): rename _make_tracker — the duplicate-helper ratchet counts names
  verenigingen/tests/test_query_failure_is_not_a_zero.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): resolve mandates by purpose, not by recency, in the sites #584 left (#597)
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/tests/payment/test_mandate_purpose_scoped_resolution.py
  verenigingen/tests/payment/test_sepa_mandate_service.py
  verenigingen/utils/optimized_queries.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
  verenigingen/verenigingen_payments/utils/mandate_candidates.py
  verenigingen/verenigingen_payments/utils/sepa_mandate_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): close the class on the automated collection path, and fix the refusal log
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/tests/payment/test_mandate_purpose_scoped_resolution.py
  verenigingen/utils/optimized_queries.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
  verenigingen/verenigingen_payments/services/sepa_batch_processor.py
  verenigingen/verenigingen_payments/utils/batch_performance_optimizer.py
  verenigingen/verenigingen_payments/utils/mandate_candidates.py
  verenigingen/verenigingen_payments/utils/sepa_mandate_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): purpose-filter the two remaining row-multiplying joins on money paths
  verenigingen/tests/payment/test_mandate_purpose_scoped_resolution.py
  verenigingen/verenigingen_payments/api/dd_batch_api.py
  verenigingen/verenigingen_payments/api/dd_batch_optimizer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(sepa): name the batch-row and mandate-insert helpers for what they do
  verenigingen/tests/payment/test_mandate_purpose_scoped_resolution.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(sepa): cover the secure twin's ambiguity path, which had none
  verenigingen/tests/payment/test_mandate_purpose_scoped_resolution.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): warm the column-list cache, not just DocType meta (#608)
  verenigingen/tests/sepa/test_sepa_performance_optimization.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-27 — the comment I wrote was the search query
  docs/handoffs/2026-08-27-the-comment-i-wrote-was-the-search-query.md
Due: none

fix(sepa): resolve mandates by purpose in the remainder #604 enumerated (#605)
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/api/payment_plan_management.py
  verenigingen/templates/pages/chapter_dashboard.py
  verenigingen/tests/payment/test_mandate_purpose_blind_remainder.py
  verenigingen/verenigingen/doctype/member/member_utils.py
  verenigingen/verenigingen/report/member_end_date_reconstruction/member_end_date_reconstruction.py
  verenigingen/verenigingen/report/members_without_payment_info/members_without_payment_info.py
  verenigingen/verenigingen_payments/api/dd_batch_optimizer.py
  verenigingen/verenigingen_payments/api/sepa_mandate_management.py
  verenigingen/verenigingen_payments/services/sepa_xml_adapter.py
  verenigingen/verenigingen_payments/tests/test_sepa_xml_adapter_coverage.py
  verenigingen/verenigingen_payments/utils/sepa_memory_optimizer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): reject a Direct Debit Batch that lists one invoice twice
  verenigingen/tests/sepa/test_dd_batch_duplicate_invoice_guard.py
  verenigingen/tests/sepa/test_dd_batch_pipeline_coverage.py
  verenigingen/verenigingen_payments/api/dd_batch_optimizer.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/utils/batch_performance_optimizer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): delete the v16 baseline, and the stale copies of the answer it gave
  .github/workflows/_base-server-tests.yml
  scripts/testing/check_new_test_failures.py
  verenigingen/tests/known_test_failures.txt
  verenigingen/tests/known_test_failures_v16.txt
  verenigingen/tests/test_check_new_test_failures.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): an Active mandate with no purpose escaped the per-purpose guard
  verenigingen/tests/payment/test_mandate_active_requires_a_purpose.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): what the skeptical review changed — one of my claims was false
  verenigingen/tests/payment/test_mandate_active_requires_a_purpose.py
  verenigingen/tests/sepa/test_dd_batch_duplicate_invoice_guard.py
  verenigingen/tests/sepa/test_dd_batch_pipeline_coverage.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): what the skeptical review found — a daily job debiting the wrong IBAN
  verenigingen/api/member/sepa_api.py
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/tests/api/test_dues_invoice_workflow.py
  verenigingen/tests/payment/test_mandate_purpose_blind_remainder.py
  verenigingen/tests/payment/test_payment_retry.py
  verenigingen/tests/payment/test_procurios_mandate_import.py
  verenigingen/tests/services/test_sepa_mandate_manager.py
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.py
  verenigingen/verenigingen_payments/utils/payment_retry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(harness): make the class-teardown census re-runnable, and pin it
  .github/workflows/code-validation.yml
  scripts/validation/harness_logger_teardown_baseline.txt
  scripts/validation/harness_logger_teardown_validator.py
  scripts/validation/tests/test_harness_logger_teardown_census.py
  verenigingen/tests/harness_logger.py
  verenigingen/tests/test_harness_logger.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): the review found a regression I introduced, and four false claims
  verenigingen/api/member/sepa_api.py
  verenigingen/api/payment_dashboard.py
  verenigingen/public/js/member/js_modules/sepa-utils.js
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/tests/payment/test_mandate_purpose_blind_remainder.py
  verenigingen/tests/payment/test_payment_retry.py
  verenigingen/tests/payment/test_procurios_mandate_import.py
  verenigingen/verenigingen/doctype/member/member_utils.py
  verenigingen/verenigingen_payments/doctype/procurios_mandate_import/procurios_mandate_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

test(sepa): rename _mandate — the duplicate-helper ratchet counts names
  verenigingen/tests/payment/test_mandate_active_requires_a_purpose.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): what the skeptical review changed — the guard reddened a test
  verenigingen/tests/payment/test_mandate_active_requires_a_purpose.py
  verenigingen/tests/sepa/test_dd_batch_duplicate_invoice_guard.py
  verenigingen/verenigingen/doctype/membership/test_membership_coverage.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): the sign-date sentinel was on the wrong clock, and two red shards
  verenigingen/tests/payment/test_mandate_purpose_blind_remainder.py
  verenigingen/tests/security/test_security_framework_comprehensive.py
  verenigingen/verenigingen_payments/services/sepa_xml_adapter.py
  verenigingen/verenigingen_payments/tests/test_sepa_xml_adapter.py
  verenigingen/verenigingen_payments/tests/test_sepa_xml_adapter_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): the two failures that were really this branch's
  verenigingen/tests/payment/test_mollie_reversal_single_booking.py
  verenigingen/tests/unit/test_mollie_donation_webhook_regression.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mollie): rename _make_submitted_journal_entry — the ratchet counts names
  verenigingen/tests/payment/test_mollie_reversal_single_booking.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-28 — six checks are not forty-four
  docs/handoffs/2026-08-28-six-checks-are-not-forty-four.md
Due: none

docs(handoff): 2026-08-28b — the highest-risk site was a docstring
  docs/handoffs/2026-08-28b-the-highest-risk-site-was-a-docstring.md
Due: none

fix(payments): sweep due retries from the daily scheduler entry (#622)
  docs/ADMIN_GUIDE.md
  docs/OPERATIONS_RUNBOOK.md
  verenigingen/hooks/scheduler.py
  verenigingen/tests/payment/test_payment_retry.py
  verenigingen/verenigingen_payments/utils/payment_retry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(dates): judge "today" by the site timezone, not the server's (#628)
  verenigingen/services/billing/invoice_generator.py
  verenigingen/services/member/utils/member_age_service.py
  verenigingen/tests/integration/services/test_invoice_generator_branches.py
  verenigingen/tests/payment/test_ponto_models.py
  verenigingen/tests/payment/test_sepa_xml_enhanced_generator.py
  verenigingen/tests/sepa/test_sepa_week3_features.py
  verenigingen/tests/services/test_member_age_service.py
  verenigingen/tests/test_site_timezone_today.py
  verenigingen/utils/csv/procurios_mandate_validator.py
  verenigingen/utils/csv/procurios_membership_validator.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen_payments/mollie/services/dues_payment_processor.py
  verenigingen/verenigingen_payments/mollie/utils/validators.py
  verenigingen/verenigingen_payments/ponto/core/ponto_models.py
  verenigingen/verenigingen_payments/services/payment/payment_entry_creation_service.py
  verenigingen/verenigingen_payments/utils/sepa_rulebook_validator.py
  verenigingen/verenigingen_payments/utils/sepa_xml_enhanced_generator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(dates): rename _payment_info — the duplicate-helper ratchet counts names
  verenigingen/tests/test_site_timezone_today.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): a chargeback that could not book answered 200, and two swallows
  verenigingen/tests/payment/test_mollie_reversal_single_booking.py
  verenigingen/tests/payment/test_unified_webhook_wrapper_service.py
  verenigingen/tests/unit/test_mollie_donation_webhook_regression.py
  verenigingen/verenigingen_payments/mollie/api/unified_payment_api.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/verenigingen_payments/mollie/tests/test_unified_payment_api_webhook.py
  verenigingen/verenigingen_payments/mollie/tests/test_webhook_wrapper_unified_sweep.py
  verenigingen/verenigingen_payments/mollie/tests/test_webhook_wrapper_unified_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): CreDtTm is stamped on the site clock, so judge it on the site clock
  verenigingen/tests/test_site_timezone_today.py
  verenigingen/verenigingen_payments/utils/sepa_rulebook_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(dates): force the direction the one-way assertions need, and fix a false docstring
  verenigingen/tests/integration/services/test_invoice_generator_branches.py
  verenigingen/tests/test_site_timezone_today.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
