Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

Create volunteer_expense_testing_code.py
  verenigingen/tests/financial/volunteer_expense_testing_code.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Update expenses.py
  verenigingen/templates/pages/volunteer/expenses.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

phase 2
  verenigingen/api/create_onboarding_steps.py
  verenigingen/api/create_root_accounts.py
  verenigingen/doctype/sepa_audit_log/sepa_audit_log.py
  verenigingen/permissions.py
  verenigingen/templates/pages/volunteer/expenses.py
  verenigingen/utils/base_role_profile_manager.py
  verenigingen/verenigingen/doctype/brand_settings/brand_settings.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/member/member_id_manager.py
  verenigingen/verenigingen/doctype/member/member_utils.py
  verenigingen/verenigingen/doctype/member/scheduler.py
  verenigingen/verenigingen/doctype/member_contact_request/contact_request_automation.py
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
  verenigingen/verenigingen_payments/api/dd_batch_scheduler.py
  verenigingen/verenigingen_payments/api/sepa_mandate_management.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
  verenigingen/verenigingen_payments/utils/sepa_notifications.py
  verenigingen/verenigingen_payments/workflows/reconciliation_engine.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

folder created
  docs/testing/test_remediation_plan/PHASE_2_PERMISSION_BYPASS_ELIMINATION.md
  docs/testing/test_remediation_plan/PHASE_2_SECURITY_ACHIEVEMENTS_SUMMARY.md
  docs/testing/test_remediation_plan/PHASE_3_IMPLEMENTATION_PLAN.md
  docs/testing/test_remediation_plan/PHASE_3_TESTING_VALIDATION_REPORT.md
  docs/testing/test_remediation_plan/PHASE_4_IMPLEMENTATION_PLAN.md
  docs/testing/test_remediation_plan/TESTING_REFORMATION_PLAN.md
  docs/testing/test_remediation_plan/TESTING_STANDARDS.md
Due: none

Complete Phase 4 Week 3 mock elimination with child table compliance
  .pre-commit-config.yaml
  scripts/security/bandit-focused.sh
  verenigingen/tests/backend/components/test_payment_failure_scenarios.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Phase 4 Week 4: Eliminate critical SEPA business logic mocks
  verenigingen/tests/test_sepa_week3_features.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Phase 4 Week 4 continuation: Eliminate SEPA notification business logic mocks
  verenigingen/tests/backend/components/test_sepa_notifications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

removed mocking from tests, fixed http auth for api calls
  .bandit
  cookies.txt
  docs/testing/test_remediation_plan/PHASE_4_CONTINUATION_PLAN.md
  docs/testing/test_remediation_plan/PHASE_4_SYSTEMATIC_MOCK_ELIMINATION.md
  docs/testing/test_remediation_plan/TESTING_PATTERNS_GUIDE.md
  package-lock.json
  package.json
  verenigingen/api/enhanced_membership_application.py
  verenigingen/api/payment_processing.py
  verenigingen/templates/pages/bank_details_confirm.py
  verenigingen/tests/backend/components/test_payment_processing_api.py
  verenigingen/tests/backend/integration/test_payment_report_integration.py
  verenigingen/tests/backend/unit/api/test_enhanced_membership_application_api.py
  verenigingen/tests/backend/workflows/test_suspension_api.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/integration/test_membership_approval_real.py
  verenigingen/tests/integration/test_payment_processing_http_integration.py
  verenigingen/tests/integration/test_suspension_api_http_integration.py
  verenigingen/tests/workflows/test_enhanced_membership_lifecycle.py
  verenigingen/utils/analyze_missed_payments.py
  verenigingen/utils/application_payments.py
  verenigingen/utils/error_handling.py
  verenigingen/utils/safe_error_logging.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/security_audit_script.py
  verenigingen/web_form/periodic_donation_agreement_form/periodic_donation_agreement_form.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

added mollie subscription support testing
  docs/security/WEBHOOK_SECURITY_IMPLEMENTATION.md
  docs/testing/test_remediation_plan/PHASE_4D_PROPER_IMPLEMENTATION_SUCCESS.md
  verenigingen/public/js/donation_form.js
  verenigingen/templates/pages/donate.html
  verenigingen/templates/pages/donate.py
  verenigingen/tests/backend/performance/__init__.py
  verenigingen/tests/backend/performance/test_member_bulk_optimization.py
  verenigingen/tests/backend/performance/test_secure_bulk_sepa_operations.py
  verenigingen/tests/fixtures/mollie_test_factory.py
  verenigingen/tests/integration/test_mollie_subscription_e2e_complete.py
  verenigingen/tests/integration/test_mollie_subscription_lifecycle_e2e.py
  verenigingen/tests/integration/test_mollie_subscription_real_phase4d.py
  verenigingen/tests/test_sepa_mandate_integration.py
  verenigingen/utils/complete_payment_test.py
  verenigingen/utils/fix_mollie_customer_data.py
  verenigingen/utils/interactive_subscription_test.py
  verenigingen/utils/mollie_data_validator.py
  verenigingen/utils/mollie_payment_checker.py
  verenigingen/utils/real_payment_webhook_test.py
  verenigingen/utils/simple_webhook_test.py
  verenigingen/utils/test_payment_simulation.py
  verenigingen/utils/test_subscription_persona.py
  verenigingen/utils/webhook_security.py
  verenigingen/utils/webhook_testing.py
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.json
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.py
  verenigingen/verenigingen_payments/doctype/sepa_operation_audit_log/__init__.py
  verenigingen/verenigingen_payments/doctype/sepa_operation_audit_log/sepa_operation_audit_log.json
  verenigingen/verenigingen_payments/doctype/sepa_operation_audit_log/sepa_operation_audit_log.py
  verenigingen/verenigingen_payments/utils/batch_performance_optimizer.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
  verenigingen/verenigingen_payments/utils/secure_bulk_sepa_manager.py
  verenigingen/verenigingen_payments/utils/sepa_notifications.py
  verenigingen/verenigingen_payments/utils/sepa_performance_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

test framework documentation update, some code fixes
  docs/TESTING_FRAMEWORK_2025.md
  docs/architecture/SERVICE_LAYER_DESIGN_FOR_N_PLUS_ONE_OPTIMIZATION.md
  docs/performance/N_PLUS_ONE_ELIMINATION_INVENTORY_AND_PLAN.md
  docs/performance/N_PLUS_ONE_PHASE_0_VALIDATION_RESULTS.md
  docs/performance/REVISED_N_PLUS_ONE_IMPLEMENTATION_PLAN.md
  docs/performance/n_plus_one_analysis.md
  docs/performance/n_plus_one_executive_summary.md
  docs/performance/n_plus_one_report.json
  docs/performance/n_plus_one_report.txt
  docs/quality/FINANCIAL_SYSTEM_VALIDATION_FRAMEWORK.md
  performance_benchmark.py
  quick_performance_test.py
  scripts/run_n_plus_one_analysis.py
  test_query_patterns.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_chapter_board_permissions.py
  verenigingen/tests/test_chapter_board_permissions_fixed.py
  verenigingen/tests/unit/test_member_lifecycle_unit.py
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

donation form, volunteer expense & donation processing fixes
  verenigingen/check_donation_types.py
  verenigingen/code_quality_assessment.py
  verenigingen/debug_donation_test.py
  verenigingen/fix_test_issues.py
  verenigingen/security_validation_test.py
  verenigingen/templates/pages/donate.py
  verenigingen/tests/test_campaign_donation_integration.py
  verenigingen/tests/test_donation_agreement.py
  verenigingen/tests/unit/test_volunteer_statistics.py
  verenigingen/verenigingen/doctype/donation/donation.py
  verenigingen/verenigingen_payments/utils/sepa_operations_bulk_true.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

typo
  verenigingen/tests/integration/test_employee_user_link_security_fixed.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fully working mollie subscription logic, documentation
  benchmark_report_optimization.py
  docs/mollie-production-deployment.md
  docs/mollie-webhook-technical-guide.md
  docs/testing/test_remediation_plan/PHASE_4D_PAYMENT_GATEWAY_MOCK_ELIMINATION_DEMO.md
  docs/testing/test_remediation_plan/PHASE_5_1_TOTAL_BUSINESS_IMPACT.md
  docs/testing/test_remediation_plan/PHASE_5_2_EVIDENCE_BASED_FINDINGS.md
  docs/testing/test_remediation_plan/PHASE_5_2_TO_5_5_SYSTEMATIC_MOCK_ELIMINATION_PLAN.md
  docs/testing/test_remediation_plan/PHASE_5_PROGRESS_TRACKING.md
  verenigingen/templates/pages/donate.py
  verenigingen/tests/archived/test_mollie_subscription_integration_BACKUP_ORIGINAL.py
  verenigingen/tests/test_mollie_correct_flow.py
  verenigingen/tests/test_mollie_deep_api_exploration.py
  verenigingen/tests/test_mollie_donate_page_flow.py
  verenigingen/tests/test_mollie_integration_genuine.py
  verenigingen/tests/test_mollie_payment_first_flow.py
  verenigingen/tests/test_mollie_programmatic_completion.py
  verenigingen/tests/test_mollie_proper_flow.py
  verenigingen/tests/test_mollie_raw.py
  verenigingen/tests/test_mollie_sequencetype_fix.py
  verenigingen/tests/test_mollie_subscription_debug.py
  verenigingen/tests/test_mollie_subscription_flow_documentation.py
  verenigingen/tests/test_mollie_subscription_integration.py
  verenigingen/tests/test_mollie_subscription_integration_real.py
  verenigingen/tests/test_mollie_subscription_setup_complete.py
  verenigingen/tests/test_mollie_webhook_simulation_complete.py
  verenigingen/tests/test_mollie_working.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

typo
  verenigingen/tests/integration/run_authentication_test_suite.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test suite fixes, api security suite fixes, email template fixes
  scripts/setup/create_all_email_templates.py
  scripts/validation/template_variable_validator.py
  verenigingen/api/fix_race_condition_invoices.py
  verenigingen/api/member_management.py
  verenigingen/debug_anonymous_error.py
  verenigingen/public/css/tailwind.css
  verenigingen/setup/__init__.py
  verenigingen/setup/security_setup.py
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/admin_tools.py
  verenigingen/templates/pages/donate.py
  verenigingen/test_mollie_validation_fix.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_donation_agreement.py
  verenigingen/utils/donor_customer_sync.py
  verenigingen/utils/invoice_management.py
  verenigingen/utils/member_import_cleanup.py
  verenigingen/utils/mollie_data_validator.py
  verenigingen/utils/safe_member_optimizer.py
  verenigingen/utils/secure_operations.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/security/audit_logging.py
  verenigingen/utils/settings_utils.py
  verenigingen/verenigingen/doctype/donation_agreement/donation_agreement.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.js
  verenigingen/verenigingen_payments/utils/sepa_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

test suite fixes, api security suite fixes, email template fixes
  docs/performance/N_PLUS_ONE_PHASE_0_VALIDATION_RESULTS.md
  scripts/performance/performance_profiler.py
  scripts/validation/ast_field_analyzer_improved_complete.py
  scripts/validation/ast_validation_orchestrator.py
  vereinigen/utils/test_safe_member_optimizer_fix.py
  verenigingen/templates/pages/application_status.py
  verenigingen/templates/pages/financial_dashboard.py
  verenigingen/tests/integration/test_performance_with_real_data.py
  verenigingen/tests/integration/test_query_optimization_suite.py
  verenigingen/tests/integration/test_query_optimization_suite_old.py
  verenigingen/tests/test_payment_utils.py
  verenigingen/utils/cache_invalidation_hooks.py
  verenigingen/utils/chapter_utils.py
  verenigingen/utils/payment_utils.py
  verenigingen/utils/performance_testing.py
  verenigingen/verenigingen/doctype/chapter/chapter.py
  verenigingen/verenigingen/report/chapter_expense_report/chapter_expense_report.py
  verenigingen/verenigingen/report/members_without_active_memberships/members_without_active_memberships.py
  verenigingen/verenigingen/report/members_without_chapter/members_without_chapter.py
  verenigingen/verenigingen/report/new_members/new_members.py
  verenigingen/verenigingen/report/overdue_member_payments/overdue_member_payments.py
  verenigingen/verenigingen/report/pending_membership_applications/pending_membership_applications.py
  verenigingen/verenigingen/report/recent_chapter_changes/recent_chapter_changes.py
  verenigingen/verenigingen/report/volunteer_interest_analysis/volunteer_interest_analysis.py
  verenigingen/verenigingen_payments/report/overdue_member_payments/overdue_member_payments.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

validation orchestration update
  scripts/validation/validation_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

optimizations
  verenigingen/docs/api/API_REFERENCE.md
  verenigingen/docs/api/openapi.json
  verenigingen/docs/api/postman_collection.json
  verenigingen/verenigingen/doctype/membership_goal/membership_goal.py
  verenigingen/verenigingen/report/new_members/new_members.py
  verenigingen/verenigingen/report/overdue_member_payments/overdue_member_payments.py
  verenigingen/verenigingen/report/pending_membership_applications/pending_membership_applications.py
  verenigingen/verenigingen_payments/core/security/mollie_security_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

perf fixes
  docs/testing/SCHEDULER_PROTECTION_COMPREHENSIVE_TESTING_GUIDE.md
  scripts/test_scheduler_protection_comprehensive.py
  scripts/validate_scheduler_tests.py
  tests/test_scheduler_protection_edge_cases.py
  tests/test_scheduler_protection_realistic_scenarios.py
  verenigingen/api/member_management.py
  verenigingen/commands/performance_optimization.py
  verenigingen/hooks.py
  verenigingen/utils/performance_cache.py
  verenigingen/verenigingen/doctype/performance_optimization_setup/performance_optimization_setup.json
  verenigingen/verenigingen/doctype/performance_optimization_setup/performance_optimization_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixed donation form, recurring and single donation record creation, payment registration, webhook
  docs/development/CODEBASE_CLEANUP_SUMMARY.md
  docs/planning/stretch_goals.md
  docs/security/SECURITY_EXPERT_FEEDBACK.md
  verenigingen/api/migrate_donation_agreements.py
  verenigingen/api/mollie_subscription_sync.py
  verenigingen/api/payment_audit.py
  verenigingen/api/payment_sync_system.py
  verenigingen/api/refund_processor.py
  verenigingen/api/simple_donation_webhook.py
  verenigingen/patches/migrate_donation_agreements.py
  verenigingen/services/customer_handling_service.py
  verenigingen/services/donation_donor_service.py
  verenigingen/services/donation_financial_service.py
  verenigingen/services/donation_management_service.py
  verenigingen/services/donation_validation_service.py
  verenigingen/services/payment_processing_service.py
  verenigingen/tests/test_secure_webhook_integration.py
  verenigingen/utils/admin_utilities/__init__.py
  verenigingen/utils/admin_utilities/mollie_data_backfill_utility.py
  verenigingen/utils/admin_utilities/payment_entry_repair_utility.py
  verenigingen/utils/admin_utilities/subscription_management_utility.py
  verenigingen/utils/payment_gateways.py
  verenigingen/utils/webhook_error_handler.py
  verenigingen/utils/webhook_rate_limiter.py
  verenigingen/verenigingen/doctype/donation/donation_original.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin_optimized.py
  verenigingen/verenigingen/doctype/payment_history/__init__.py
  verenigingen/verenigingen/doctype/payment_history/payment_history.json
  verenigingen/verenigingen/doctype/payment_history/payment_history.py
  verenigingen/verenigingen_payments/doctype/mollie_settings/test_mollie_settings.py
  verenigingen/verenigingen_payments/doctype/webhook_processing_log/__init__.py
  verenigingen/verenigingen_payments/doctype/webhook_processing_log/webhook_processing_log.json
  verenigingen/verenigingen_payments/doctype/webhook_processing_log/webhook_processing_log.py
  verenigingen/verenigingen_payments/utils/frappe_native_sepa_operations_optimized.py
  verenigingen/verenigingen_payments/utils/secure_webhook_handler.py
  verenigingen/verenigingen_payments/utils/sepa_operations_bulk_true.py
  verenigingen/verenigingen_payments/utils/sepa_operations_simple.py
  verenigingen/www/__init__.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fixed mollie handling regressions
  docs/testing/MOLLIE_E2E_TESTING.md
  package-lock.json
  package.json
  playwright.config.js
  run_mollie_e2e_tests.sh
  tests/e2e/mollie-donation-flow.spec.js
  tests/support/database-validator.js
  tests/support/dutch-test-data.js
  tests/support/global-setup.js
  tests/support/global-teardown.js
  tests/support/mollie-test-helpers.js
  tests/support/webhook-simulator.js
  verenigingen/api/donation_reset.py
  verenigingen/api/donation_status_checker.py
  verenigingen/api/mollie_donation_webhook.py
  verenigingen/services/donation_management_service.py
  verenigingen/templates/pages/donate_optimized.py
  verenigingen/utils/payment_gateways.py
  verenigingen/utils/payment_services/donation_factory.py
  verenigingen/utils/payment_services/mollie_payment_service.py
  verenigingen/utils/payment_services/mollie_webhook_processor.py
  verenigingen/utils/webhook_security.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
  yarn.lock
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fixed mollie handling regressions
  tests/support/database-validator.js
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
Due: eslint, email-template-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

security improvements to mollie payments implementation
  verenigingen/api/enhanced_membership_application.py
  verenigingen/api/mollie_payment_webhook.py
  verenigingen/templates/pages/donate.html
  verenigingen/utils/payment_services/mollie_payment_service.py
  verenigingen/verenigingen/doctype/donation/donation.json
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.json
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

cleanup
  README.md
  docs/testing/TEST_QUALITY_ISSUES_INVENTORY.md
  docs/testing/TEST_SCENARIOS_REQUIRED.py
  fix_chapter_issue.py
  test_donation_portal_behavior.py
  verenigingen/hooks.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

webhook user role profile fix
  docs/testing/TEST_SCENARIOS_REQUIRED.py
  verenigingen/api/member_management.py
  verenigingen/api/mollie_payment_webhook.py
  verenigingen/api/payment_processing.py
  verenigingen/api/team_management.py
  verenigingen/api/volunteer_skills.py
  verenigingen/e_boekhouden/utils/configurable_account_mapper.py
  verenigingen/fixtures/custom_docperm.json
  verenigingen/tests/backend/components/test_membership_analytics_functionality.py
  verenigingen/tests/backend/components/test_payment_processing_api.py
  verenigingen/tests/backend/integration/test_eboekhouden_integration.py
  verenigingen/tests/backend/integration/test_erpnext_expense_integration_real_minimal.py
  verenigingen/tests/backend/integration/test_payment_report_integration.py
  verenigingen/tests/fixtures/test_personas.py
  verenigingen/tests/test_balances_client.py
  verenigingen/utils/member_performance_optimizer.py
  verenigingen/utils/validation/api_validators.py
  verenigingen/verenigingen/doctype/team/team.py
  verenigingen/verenigingen/page/membership_analytics/membership_analytics.py
  verenigingen/verenigingen/report/membership_dues_coverage_analysis/membership_dues_coverage_analysis.py
  verenigingen/verenigingen/report/termination_audit_report/termination_audit_report.py
  verenigingen/verenigingen_payments/clients/balances_client.py
  verenigingen/verenigingen_payments/report/overdue_member_payments/overdue_member_payments.js
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

team and contribution amendment python controller refactoring
  docs/refactoring/contribution_amendment_refactoring_log.md
  verenigingen/api/team_admin_utilities.py
  verenigingen/api/team_management.py
  verenigingen/services/team_service.py
  verenigingen/tests/integration/test_team_member_lifecycle.py
  verenigingen/tests/test_contribution_amendment_integration.py
  verenigingen/tests/test_team_role_validation.py
  verenigingen/tests/utils/contribution_amendment_test_utilities.py
  verenigingen/utils/assignment_history_manager.py
  verenigingen/utils/contribution_amendment_utilities.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/team/team.py
  verenigingen/verenigingen/doctype/team/team_original_backup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

workspace validation migration check
  docs/architecture/WORKSPACE_HEALTH_MIGRATION_SOLUTION.md
  docs/maintenance/WORKSPACE_TOOLS_ARCHIVAL_PLAN.md
  docs/refactoring/WORKSPACE_HEALTH_CONSOLIDATION_LOG.md
  verenigingen/api/payment_processing.py
  verenigingen/api/workspace_health.py
  verenigingen/commands/workspace_health.py
  verenigingen/commands/workspace_maintenance.py
  verenigingen/hooks.py
  verenigingen/patches/v2_1/workspace_health_migration.py
  verenigingen/utils/post_migration_hooks.py
  verenigingen/verenigingen/workspace/e_boekhouden/e_boekhouden.json
  verenigingen/verenigingen/workspace/verenigingen/verenigingen.json
  verenigingen/verenigingen_payments/workspace/verenigingen_payments/verenigingen_payments.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
