Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

test(infra): tighten over-broad assertions per skeptical review
  verenigingen/services/infrastructure/tests/test_base_service_and_metrics.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(api): cover small mollie/account-type/email-template endpoint gaps
  verenigingen/tests/api/test_check_account_types.py
  verenigingen/tests/api/test_email_template_manager.py
  verenigingen/verenigingen_payments/mollie/tests/test_mollie_portal_subscription_query_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(api): assert send_template_email dispatches rendered content
  verenigingen/tests/api/test_email_template_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(payment): remove dead+broken SEPA batch approval/state-machine services
  verenigingen/services/payment/__init__.py
  verenigingen/services/payment/sepa_batch_approval_service.py
  verenigingen/services/payment/sepa_batch_state_machine.py
  verenigingen/tests/services/payment/test_sepa_batch_approval.py
  verenigingen/tests/services/payment/test_sepa_batch_approval_integration.py
  verenigingen/tests/services/payment/test_sepa_batch_state_machine.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(sepa): remove dead+broken bulk_update_mandate_payment_history
  verenigingen/tests/utils/test_optimized_queries_coverage.py
  verenigingen/utils/optimized_queries.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(customer): remove dead+broken Mollie customer helpers
  verenigingen/services/customer_handling_service.py
  verenigingen/tests/services/test_customer_handling_service_coverage.py
  verenigingen/tests/unit/services/test_customer_handling_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(tests): drop stale timing entries for deleted SEPA batch test modules
  verenigingen/tests/test_timings.json
Due: email-template-validator

fix(billing): feed invoice name (not doc) to bulk payment-history + fix get_parallel_status job iteration
  verenigingen/services/billing/bulk_invoice_generation_service.py
  verenigingen/services/billing/test_bulk_invoice_generation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(departments): add missing f-prefix in national-team department name
  verenigingen/tests/utils/test_department_hierarchy.py
  verenigingen/utils/department_hierarchy.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(retry): correct retry_with_backoff docstring default behavior
  verenigingen/utils/retry_utilities.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(billing): warn that process_invoice_chunk invoice dict is hook-only
  verenigingen/services/billing/bulk_invoice_generation_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

style: drop imports left unused after flag-batch fixes/deletions
  verenigingen/services/billing/bulk_invoice_generation_service.py
  verenigingen/tests/unit/services/test_customer_handling_service.py
  verenigingen/utils/retry_utilities.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(fixtures): remove orphaned Critical Operation Rule for deleted op
  verenigingen/fixtures/critical_operation_rule.json
Due: email-template-validator

refactor(member): delete two dead+broken application-payment functions
  verenigingen/services/member/approval/application_payments.py
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/backend/workflows/test_member_lifecycle.py
  verenigingen/tests/integration/test_application_payments_invoice_paths.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(chapter): make national-chapter access branch reachable
  verenigingen/services/chapter/chapter_utils.py
  verenigingen/tests/chapter/test_chapter_utils.py
  verenigingen/utils/performance_cache.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(settings): remap drifted E-Boekhouden/Mollie settings helpers to real fields
  verenigingen/tests/utils/test_settings_utils.py
  verenigingen/utils/settings_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(service-config): map member-service config to real Verenigingen Settings fields
  verenigingen/services/infrastructure/service_config.py
  verenigingen/tests/services/infrastructure/test_service_config.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(api): lower get_suspension_status_safe gate to PUBLIC so its own access control runs
  verenigingen/api/suspension_api.py
  verenigingen/tests/backend/unit/api/test_suspension_api_extended.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(termination): soft-disable team memberships on suspend so unsuspend can restore them
  verenigingen/services/termination/termination_integration.py
  verenigingen/services/termination/test_termination_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(api): cover guest-with-explicit-member_name no-leak path on suspension status
  verenigingen/tests/backend/unit/api/test_suspension_api_extended.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(api): allow reapplication for rejected/pending applicants
  verenigingen/api/membership_application.py
  verenigingen/tests/backend/unit/api/test_membership_application_coverage.py
  verenigingen/utils/validation/application_validators.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(chapter): correct national-access test docstring (characterization, not fail-before)
  verenigingen/tests/chapter/test_chapter_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

style(tests): fix whitespace/import-sort in test_membership_application
  verenigingen/tests/backend/components/test_membership_application.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(termination): drop ignore_permissions in _add_team_membership helper
  verenigingen/services/termination/test_termination_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(permissions): read national_board_chapter, not phantom national_chapter
  verenigingen/api/membership_application_review.py
  verenigingen/permissions.py
  verenigingen/tests/security/test_national_chapter_access.py
  verenigingen/tests/security/test_permissions_coverage.py
  verenigingen/verenigingen/report/pending_membership_applications/pending_membership_applications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

style: drop imports unused after national_chapter follow-up fix
  verenigingen/permissions.py
  verenigingen/verenigingen/report/pending_membership_applications/pending_membership_applications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(logging): pass long detail as message, not title, to frappe.log_error
  verenigingen/api/membership_application_review.py
  verenigingen/services/chapter/chapter_board_permissions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: green order-dependent CI shard failures (shards 1/3/4/11)
  verenigingen/tests/backend/components/test_cache_invalidation_manager.py
  verenigingen/tests/backend/unit/api/test_membership_application_review_coverage.py
  verenigingen/tests/e_boekhouden/test_coa_import.py
  verenigingen/tests/e_boekhouden/test_invoice_helpers.py
  verenigingen/tests/utils/test_optimized_queries_coverage.py
  verenigingen/tests/volunteer/test_volunteer_expense_services_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(volunteer-expense): get-or-create the Expense Account fixture
  verenigingen/tests/volunteer/test_volunteer_expense_services_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(duplicate-detection): force shared emails deterministically
  verenigingen/tests/member/test_member_duplicate_detection.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(eboekhouden): record migration failure in error_log, not phantom error_message
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(eboekhouden): cover E-Boekhouden Migration controller (38 real-DB tests)
  verenigingen/tests/e_boekhouden/test_migration_controller_accounts_coverage.py
  verenigingen/tests/e_boekhouden/test_migration_controller_costcenter_coverage.py
  verenigingen/tests/e_boekhouden/test_migration_controller_guards_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(eboekhouden): use a draft JE for the import_single_mutation cascade test
  verenigingen/tests/e_boekhouden/test_migration_controller_guards_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mijnrood-sync): close coverage gaps + fix non-RSA key-file tunnel bug
  verenigingen/mijnrood_sync/client.py
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/test_mijnrood_sync_event.py
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_settings/test_mijnrood_sync_settings_remote.py
  verenigingen/mijnrood_sync/services/event_application/test_dispatcher.py
  verenigingen/mijnrood_sync/services/event_application/test_sync_services.py
  verenigingen/mijnrood_sync/services/test_application_approval_correlator.py
  verenigingen/mijnrood_sync/services/test_document_import_coverage.py
  verenigingen/mijnrood_sync/services/test_source_folder_backfill.py
  verenigingen/mijnrood_sync/test_client_coverage.py
  verenigingen/mijnrood_sync/test_field_mapping_and_utils.py
  verenigingen/mijnrood_sync/test_polling_service_coverage.py
  verenigingen/mijnrood_sync/test_sftp_client.py
  verenigingen/mijnrood_sync/test_ssh_auth.py
  verenigingen/mijnrood_sync/test_tasks.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(sepa): cover DD batch pipeline + bank reconciliation (56 real-DB tests)
  verenigingen/tests/sepa/test_dd_batch_pipeline_coverage.py
  verenigingen/tests/sepa/test_sepa_bank_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): repair retry-batch lifecycle + metrics deadlock; add coverage
  verenigingen/tests/sepa/test_sepa_mandate_retry_report_coverage.py
  verenigingen/verenigingen_payments/doctype/sepa_retry_batch/sepa_retry_batch.json
  verenigingen/verenigingen_payments/doctype/sepa_retry_batch/sepa_retry_batch.py
  verenigingen/verenigingen_payments/doctype/sepa_retry_operation/sepa_retry_operation.json
  verenigingen/verenigingen_payments/services/sepa_mandate_lifecycle_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(sepa): assert swallowed/intentional Error Logs in batch + reconciliation tests
  verenigingen/tests/sepa/test_dd_batch_pipeline_coverage.py
  verenigingen/tests/sepa/test_sepa_bank_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(security): cover utils/security/ + fix swallowed-audit & recursion bugs
  verenigingen/tests/security/test_api_security_framework_coverage.py
  verenigingen/tests/security/test_audit_emitter_coverage.py
  verenigingen/tests/security/test_audit_logging_coverage.py
  verenigingen/tests/security/test_authorization_coverage.py
  verenigingen/tests/security/test_authorization_engine_policy_coverage.py
  verenigingen/tests/security/test_client_ip_coverage.py
  verenigingen/tests/security/test_csrf_ratelimit_cache_coverage.py
  verenigingen/tests/security/test_enhanced_validation_coverage.py
  verenigingen/tests/security/test_input_environment_validators_coverage.py
  verenigingen/tests/security/test_security_monitoring_coverage.py
  verenigingen/utils/security/audit_logging.py
  verenigingen/utils/security/enhanced_validation.py
  verenigingen/utils/security/security_monitoring.py
  verenigingen/utils/security/types.py
  verenigingen/verenigingen/doctype/api_audit_log/api_audit_log.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(mijnrood-sync): isolate sync-lock tests per-test to fix CI parallel-shard race
  verenigingen/mijnrood_sync/test_polling_service_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): harden get_user_role_profiles against doctype-cache poisoning + cap log_error titles
  verenigingen/utils/security/authorization_engine.py
  verenigingen/utils/security/security_monitoring.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
