Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

ci: add faker to test dependencies
  pyproject.toml
Due: none

fix: restore volunteer_expense_setup module from archive
  verenigingen/utils/volunteer_expense_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: add requests-mock to test dependencies
  pyproject.toml
Due: none

fix: correct Mollie test bridge module paths
  .github/workflows/server-tests.yml
  verenigingen/tests/test_mollie_core_integration.py
  verenigingen/tests/test_mollie_refund_chargeback_integration.py
  verenigingen/tests/test_mollie_webhook_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: add all missing test dependencies to pyproject.toml
  pyproject.toml
Due: none

fix: archive test for non-existent payment_mixin_optimized module
  verenigingen/tests/test_payment_optimization.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: add user guides for ING Checkout and Ponto integrations
  docs/ING_CHECKOUT_USER_GUIDE.md
  docs/PONTO_USER_GUIDE.md
Due: none

fix: skip tests referencing non-existent DocTypes and fix schema mismatches
  verenigingen/tests/backend/integration/test_eboekhouden_integration.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/test_email_newsletter_integration_boundaries.py
  verenigingen/tests/test_integration_boundaries.py
  verenigingen/tests/test_membership_application_integration.py
  verenigingen/tests/test_settlements_client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: resolve parallel test failures from email collisions and archived tests
  verenigingen/e_boekhouden/cleanup_backups/archived_test_e_boekhouden_ledger_mapping.py
  verenigingen/e_boekhouden/cleanup_backups/archived_test_e_boekhouden_migration.py
  verenigingen/e_boekhouden/cleanup_backups/archived_test_e_boekhouden_migration_critical.py
  verenigingen/e_boekhouden/cleanup_backups/archived_test_eboekhouden_connection.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: preserve BusinessRuleError in test factory methods
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: correct frappe.log_error parameter order to prevent LinkValidationError
  verenigingen/templates/pages/address_change.py
  verenigingen/templates/pages/donate.py
  verenigingen/utils/csv/secure_csv_parser.py
  verenigingen/utils/volunteer_expense_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: correct frappe.log_error parameter order and attribute access in workflow_setup
  verenigingen/setup/workflow_setup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: add missing role_profile to Membership Type creation in test factories
  verenigingen/tests/backend/components/test_payment_failure_scenarios.py
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/fixtures/test_data_factory.py
  verenigingen/tests/utils/base.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: resolve frappe-specific validation issues across codebase
  .pre-commit-config.yaml
  scripts/validation/archived/validation_orchestrator.py
  verenigingen/api/chapter_dashboard_api.py
  verenigingen/api/generate_test_membership_types.py
  verenigingen/api/phase5a_test_execution.py
  verenigingen/patches/v15_0/add_sepa_performance_indexes.py
  verenigingen/patches/v15_0/add_volunteer_performance_indexes.py
  verenigingen/services/member/history/member_history_update_service.py
  verenigingen/templates/pages/verenigingen/join_chapter.py
  verenigingen/utils/account_group_validation_hooks.py
  verenigingen/utils/admin_utilities/payment_entry_repair_utility.py
  verenigingen/utils/cache_invalidation.py
  verenigingen/utils/chapter_membership_manager.py
  verenigingen/utils/create_period_closing_vouchers.py
  verenigingen/utils/native_expense_helpers.py
  verenigingen/utils/user_member_image_sync.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: restore payment_entry_repair_utility.py with proper company lookup
  verenigingen/utils/admin_utilities/payment_entry_repair_utility.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: resolve field reference issues found by AST validator
  .pre-commit-config.yaml
  verenigingen/e_boekhouden/utils/migration_api.py
  verenigingen/setup/role_profile_setup.py
  verenigingen/utils/migration/migration_date_chunking.py
  verenigingen/utils/migration/migration_dry_run.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: reduce false positives in child table creation validator
  scripts/validation/child_table_creation_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: improve child table creation validator and fix test patterns
  scripts/validation/child_table_creation_validator.py
  verenigingen/tests/backend/components/test_membership_analytics_permissions.py
  verenigingen/tests/backend/comprehensive/test_chapter_assignment_comprehensive.py
  verenigingen/tests/backend/comprehensive/test_sepa_mandate_edge_cases.py
  verenigingen/tests/integration/test_sepa_payment_workflow_real.py
  verenigingen/tests/test_chapter_board_document.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: extract SEPABatchProcessor to services layer
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/sepa_processor.py
  verenigingen/verenigingen_payments/services/sepa_batch_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

security: fix critical issues in SEPA batch processor
  pyproject.toml
  verenigingen/verenigingen_payments/doctype/direct_debit_batch_invoice/direct_debit_batch_invoice.json
  verenigingen/verenigingen_payments/services/sepa_batch_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: trust API layer for permission validation in SEPA service
  verenigingen/verenigingen_payments/services/sepa_batch_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

security: improve API security validator and add dev decorators
  scripts/validation/security/api_security_validator.py
  verenigingen/api/chapter_dashboard_api.py
  verenigingen/api/debug_opening_balance.py
  verenigingen/api/decorator_analysis_test.py
  verenigingen/api/decorator_compatibility_validator.py
  verenigingen/api/donation_reset.py
  verenigingen/api/final_decorator_test.py
  verenigingen/api/migrate_donation_agreements.py
  verenigingen/api/quick_stock_check.py
  verenigingen/api/test_specific_transaction.py
  verenigingen/api/test_webhook_signature.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: improve validator to skip SQL injection check for security-decorated functions
  scripts/validation/security/api_security_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

security: add @development_only decorator to debug/test utilities
  verenigingen/api/debug_member_membership.py
  verenigingen/api/doctype_permissions_inventory.py
  verenigingen/api/performance_measurement_api.py
  verenigingen/api/role_migration.py
  verenigingen/api/test_coverage_fields.py
  verenigingen/api/validate_coverage_report.py
  verenigingen/api/validate_sql_fixes.py
  verenigingen/api/verenigingen_permissions_audit.py
  verenigingen/api/verify_migration.py
  verenigingen/api/workspace_reorganizer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: reduce field validator false positives by 36%
  scripts/validation/production/comprehensive_field_reference_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: resolve SQL field reference issues across codebase
  scripts/import_tracking_monitor.py
  scripts/performance_benchmark.py
  scripts/validation/production/sql_field_reference_validator.py
  verenigingen/api/newsletter_demo.py
  verenigingen/e_boekhouden/utils/payment_processing/overpayment_detector.py
  verenigingen/email/advanced_segmentation.py
  verenigingen/email/email_group_sync.py
  verenigingen/email/simplified_email_manager.py
  verenigingen/events/subscribers/team_subscribers.py
  verenigingen/migrations/add_email_opt_out_field.py
  verenigingen/utils/__init__.py
  verenigingen/utils/address_matching/optimized_matcher.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/chapter_security.py
  verenigingen/utils/member_performance_optimizer.py
  verenigingen/utils/member_portal_utils.py
  verenigingen/utils/optimized_queries.py
  verenigingen/utils/project_permissions.py
  verenigingen/verenigingen/doctype/chapter/managers/communication_manager.py
  verenigingen/verenigingen/doctype/member_contact_request/contact_request_automation.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.json
  verenigingen/verenigingen_payments/mollie/utils/relationship_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: correct member.email_address to member.email in import_tracking_monitor
  scripts/import_tracking_monitor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: reduce production_ready_validator false positives
  scripts/validation/production/production_ready_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: add archived folder exclusions to enhanced_doctype_validator
  scripts/validation/production/enhanced_doctype_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: reduce validator false positives by 70% and fix field references
  scripts/validation/production/enhanced_doctype_validator.py
  verenigingen/check_donation_types.py
  verenigingen/services/customer_handling_service.py
  verenigingen/setup/__init__.py
  verenigingen/templates/pages/donate_optimized.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
  verenigingen/verenigingen_payments/api/sepa_reconciliation.py
  verenigingen/web_form/donation_form/donation_form.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: correct field references in termination, donor, and payment services
  verenigingen/services/donation/donor_service.py
  verenigingen/services/payment_processing_service.py
  verenigingen/utils/termination_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: rename Volunteer Team Member → Team Member DocType refs
  verenigingen/tests/test_volunteer_operations_phase_5_2b_mock_elimination.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: remove Customer.phone ref and delete placeholder test files
  verenigingen/services/customer_handling_service.py
  verenigingen/tests/test_email_newsletter_integration_boundaries.py
  verenigingen/tests/test_integration_boundaries.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: remove Membership Application DocType refs and fix field issues
  verenigingen/api/create_onboarding_steps.py
  verenigingen/api/create_smart_item_mapping.py
  verenigingen/api/enhanced_membership_application.py
  verenigingen/api/generate_test_applications.py
  verenigingen/api/generate_test_members.py
  verenigingen/api/membership_application.py
  verenigingen/api/newsletter_demo.py
  verenigingen/api/payment_dashboard.py
  verenigingen/api/periodic_donation_operations.py
  verenigingen/api/sepa_period_duplicate_prevention.py
  verenigingen/api/team_management.py
  verenigingen/tests/fixtures/enhanced_test_cleanup.py
  verenigingen/tests/test_chapter_board_permissions_comprehensive.py
  verenigingen/tests/utils/base.py
  verenigingen/utils/chapter_board_permissions.py
  verenigingen/utils/chapter_role_events.py
  verenigingen/utils/dues_schedule_health_manager.py
  verenigingen/utils/termination_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: remove dead email_bounce_handler.py with non-existent DocType
  verenigingen/utils/email_bounce_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add suppression comment support to enhanced_doctype_validator
  scripts/validation/production/enhanced_doctype_validator.py
  verenigingen/utils/chapter_role_events.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: add word boundaries to DocType inference patterns in validator
  scripts/validation/production/enhanced_doctype_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add hooks.py parsing to validator for event handler DocType inference
  scripts/validation/production/enhanced_doctype_validator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: correct field references in payment retry and notification modules
  verenigingen/utils/payment_notifications.py
  verenigingen/utils/payment_retry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
