Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat: add broken link scanner and improve orphan cleanup tools
  verenigingen/hooks.py
  verenigingen/templates/pages/admin_tools.py
  verenigingen/utils/member_import_cleanup.py
  verenigingen/utils/orphaned_child_table_cleanup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: add Critical Operation Rules for new admin tools
  verenigingen/fixtures/critical_operation_rule.json
Due: email-template-validator

fix: scope page-header CSS to avoid styling base template elements
  verenigingen/templates/pages/admin_tools.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

fix: scope page-header CSS in mollie_payment_processing template
  verenigingen/templates/pages/mollie_payment_processing.html
Due: enhanced-field-validator, template-field-validator, template-variable-validator, email-template-validator

deleted test files
  test_cleanup.py
  test_event_driven_sync.py
  test_repository_integration.py
Due: fast-method-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking

fix: change Erelid billing_frequency from invalid 'Lifetime' to 'Annual'
  verenigingen/fixtures/membership_dues_schedule.json
Due: email-template-validator

code fixes
  scripts/database/create_sepa_indexes.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/tests/test_account_creation_dutch_business_logic.py
  verenigingen/verenigingen/doctype/billing_frequency_transition_audit/__init__.py
  verenigingen/verenigingen/doctype/billing_frequency_transition_audit/billing_frequency_transition_audit.json
  verenigingen/verenigingen/doctype/billing_frequency_transition_audit/billing_frequency_transition_audit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: implement progressive income-based contribution calculator
  verenigingen/api/enhanced_membership_application.py
  verenigingen/public/css/tailwind.css
  verenigingen/public/js/membership_application.js
  verenigingen/services/billing/dues_schedule_validation_service.py
  verenigingen/templates/pages/apply_for_membership.html
  verenigingen/templates/pages/membership_application.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.json
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen/doctype/membership_type/membership_type.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

typo
  verenigingen/utils/member_import_cleanup.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: test_membership_application cleanup and production bug fixes
  verenigingen/services/communication/email_service.py
  verenigingen/services/member/approval/membership_creation_service.py
  verenigingen/services/member/core/member_lifecycle_service.py
  verenigingen/services/member/financial/member_fee_calculation_service.py
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/utils/application_helpers.py
  verenigingen/verenigingen/doctype/member/member.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

ponto client fixes, payment flow working
  verenigingen/fixtures/critical_operation_rule_ponto_debug.json
  verenigingen/hooks.py
  verenigingen/templates/pages/ponto_api_debug.py
  verenigingen/tests/resilience/test_error_recovery.py
  verenigingen/tests/services/test_operation_result_migration.py
  verenigingen/verenigingen_payments/doctype/ponto_settings/ponto_settings.json
  verenigingen/verenigingen_payments/doctype/webhook_processing_log/webhook_processing_log.json
  verenigingen/verenigingen_payments/ponto/api/betaalverzoek_callback.py
  verenigingen/verenigingen_payments/ponto/api/oauth2_callback.py
  verenigingen/verenigingen_payments/ponto/api/payment_callback.py
  verenigingen/verenigingen_payments/ponto/api/webhook.py
  verenigingen/verenigingen_payments/ponto/clients/accounts_client.py
  verenigingen/verenigingen_payments/ponto/clients/betaalverzoek_client.py
  verenigingen/verenigingen_payments/ponto/clients/payment_client.py
  verenigingen/verenigingen_payments/ponto/clients/sync_client.py
  verenigingen/verenigingen_payments/ponto/clients/transaction_importer.py
  verenigingen/verenigingen_payments/ponto/clients/transactions_client.py
  verenigingen/verenigingen_payments/ponto/core/ponto_client.py
  verenigingen/verenigingen_payments/ponto/services/configuration_service.py
  verenigingen/verenigingen_payments/ponto/services/oauth2_service.py
  verenigingen/verenigingen_payments/ponto/services/payment_initiation_service.py
  verenigingen/verenigingen_payments/ponto/services/transaction_import_service.py
  verenigingen/verenigingen_payments/ponto/utils/bank_account_creator.py
  verenigingen/verenigingen_payments/ponto/utils/secure_cert_manager.py
  verenigingen/verenigingen_payments/ponto/utils/token_manager.py
  verenigingen/verenigingen_payments/ponto/utils/webhook_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: move reference data from fixtures to after_install
  verenigingen/hooks.py
  verenigingen/setup/__init__.py
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: generalized billing-frequency-aware invoice matching
  verenigingen/integrations/mollie/services/dues_payment_processor.py
  verenigingen/services/billing/coverage_calculator.py
  verenigingen/utils/payment_processing_recovery.py
  verenigingen/verenigingen_payments/ponto/api/webhook.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: update test factory to handle auto-created templates
  verenigingen/tests/fixtures/enhanced_test_factory.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: ponto integration resilience and race condition fixes
  verenigingen/verenigingen_payments/doctype/ponto_bank_account_mapping/ponto_bank_account_mapping.json
  verenigingen/verenigingen_payments/doctype/ponto_settings/ponto_settings.json
  verenigingen/verenigingen_payments/doctype/ponto_settings/ponto_settings.py
  verenigingen/verenigingen_payments/ponto/api/webhook.py
  verenigingen/verenigingen_payments/ponto/services/configuration_service.py
  verenigingen/verenigingen_payments/ponto/utils/webhook_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: correct userinfo endpoint path duplication for mTLS mode
  verenigingen/verenigingen_payments/doctype/ponto_settings/ponto_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: security hardening and error handling for Ponto integration
  verenigingen/templates/pages/ponto_api_debug.html
  verenigingen/verenigingen_payments/doctype/ponto_payment_link/ponto_payment_link.json
  verenigingen/verenigingen_payments/doctype/ponto_payment_link/ponto_payment_link.py
  verenigingen/verenigingen_payments/doctype/ponto_settings/ponto_settings.json
  verenigingen/verenigingen_payments/ponto/clients/betaalverzoek_client.py
  verenigingen/verenigingen_payments/ponto/clients/transaction_importer.py
  verenigingen/verenigingen_payments/ponto/services/oauth2_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: Ponto payment status detection and webhook routing
  verenigingen/verenigingen_payments/doctype/ponto_payment_link/ponto_payment_link.json
  verenigingen/verenigingen_payments/doctype/ponto_payment_link/ponto_payment_link.py
  verenigingen/verenigingen_payments/doctype/ponto_settings/ponto_settings.js
  verenigingen/verenigingen_payments/ponto/api/webhook.py
  verenigingen/verenigingen_payments/ponto/clients/betaalverzoek_client.py
  verenigingen/verenigingen_payments/ponto/services/oauth2_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

fix: remove Redis caching for refresh tokens and add service user helper
  verenigingen/utils/service_user.py
  verenigingen/verenigingen_payments/ponto/api/webhook.py
  verenigingen/verenigingen_payments/ponto/services/oauth2_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: prevent OAuth2 tokens from being deleted on Ponto Settings save
  verenigingen/verenigingen_payments/doctype/ponto_settings/ponto_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: address code quality review findings from payment consolidation
  verenigingen/integrations/mollie/__init__.py
  verenigingen/utils/link_sanitizer.py
  verenigingen/verenigingen_payments/hooks/payment_hook.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: add payment mode fixtures and comprehensive tests
  verenigingen/setup/__init__.py
  verenigingen/tests/test_link_sanitizer.py
  verenigingen/tests/test_payment_hook.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: repair backwards-compatibility shims for Mollie migration
  verenigingen/integrations/mollie/__init__.py
  verenigingen/verenigingen_payments/mollie/api/webhooks.py
  verenigingen/verenigingen_payments/mollie/core/mollie_exceptions.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test: add comprehensive Ponto integration test suite
  verenigingen/tests/fixtures/ponto_test_data_factory.py
  verenigingen/tests/test_ponto_client.py
  verenigingen/tests/test_ponto_oauth2_service.py
  verenigingen/tests/test_ponto_webhook_handler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

mollie webhook display fix
  verenigingen/verenigingen_payments/doctype/mollie_settings/mollie_settings.py
  verenigingen/verenigingen_payments/mollie/core/client.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

singleton backup fix tool
  verenigingen/tests/fixtures/singleton_backup.py
  verenigingen/tests/test_ponto_client.py
  verenigingen/tests/test_ponto_oauth2_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

CORs notification service change to bulk emailing
  verenigingen/hooks.py
  verenigingen/verenigingen/doctype/critical_operation_rule/critical_operation_rule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: deprecate legacy Payment Entry mode, fix invoice linking in recovery
  verenigingen/utils/payment_processing_recovery.py
  verenigingen/verenigingen_payments/mollie/services/dues_payment_processor.py
  verenigingen/verenigingen_payments/services/mollie_configuration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: consolidate Mollie payment processing into unified orchestrator
  verenigingen/services/billing/invoice_matcher.py
  verenigingen/services/mollie_debug_service.py
  verenigingen/utils/payment_processing_recovery.py
  verenigingen/verenigingen_payments/mollie/services/bulk_payment_checker.py
  verenigingen/verenigingen_payments/services/bank_transaction_creator.py
  verenigingen/verenigingen_payments/services/mollie_payment_orchestrator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat: migrate notifications to Frappe native Notification system
  verenigingen/fixtures/email_template.json
  verenigingen/fixtures/notification.json
  verenigingen/hooks.py
  verenigingen/services/communication/email_service.py
  verenigingen/services/communication/notification_dispatcher.py
  verenigingen/utils/application_notifications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: prevent spurious approval emails from stale/CSV-imported ACRs
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: address code review findings for notification migration
  verenigingen/api/membership_application.py
  verenigingen/fixtures/notification.json
  verenigingen/verenigingen/doctype/account_creation_request/account_creation_request.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: simplify email service architecture, remove duplicate abstractions
  scripts/test_email_consolidation.py
  verenigingen/api/email_api.py
  verenigingen/services/communication/__init__.py
  verenigingen/services/communication/notification_dispatcher.py
  verenigingen/services/communication/template_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chapter role fix
  verenigingen/verenigingen/doctype/chapter_role/chapter_role.js
Due: enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, js-python-parameter-validator, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing

refactor: migrate admin notifications to Frappe Notification Log
  verenigingen/api/email_template_manager.py
  verenigingen/api/fix_stuck_dues_schedule.py
  verenigingen/templates/pages/membership_adjustment.py
  verenigingen/utils/csv_import_processor.py
  verenigingen/utils/expense_history_batch_processor.py
  verenigingen/utils/member_performance_optimizer.py
  verenigingen/utils/notification_helpers.py
  verenigingen/utils/secure_operations.py
  verenigingen/utils/termination_utils.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: resolve portal page errors for non-board members
  verenigingen/templates/pages/chapter_dashboard.html
  verenigingen/templates/pages/member_portal.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

notification system updates
  verenigingen/api/membership_application_review.py
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/patches.txt
  verenigingen/patches/v15_0/migrate_email_settings_to_configuration.py
  verenigingen/public/js/member/js_modules/volunteer-utils.js
  verenigingen/public/js/utils/operation-result-helpers.js
  verenigingen/services/communication/email_configuration_service.py
  verenigingen/services/communication/email_service.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/expense_notifications.py
  verenigingen/utils/notification_helpers.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/utils/termination_utils.py
  verenigingen/verenigingen/doctype/chapter/managers/base_manager.py
  verenigingen/verenigingen/doctype/chapter/managers/board_manager.py
  verenigingen/verenigingen/doctype/chapter_board_member/chapter_board_member.py
  verenigingen/verenigingen/doctype/email_configuration/__init__.py
  verenigingen/verenigingen/doctype/email_configuration/email_configuration.js
  verenigingen/verenigingen/doctype/email_configuration/email_configuration.json
  verenigingen/verenigingen/doctype/email_configuration/email_configuration.py
  verenigingen/verenigingen/doctype/email_notification_type/__init__.py
  verenigingen/verenigingen/doctype/email_notification_type/email_notification_type.json
  verenigingen/verenigingen/doctype/email_notification_type/email_notification_type.py
  verenigingen/verenigingen/doctype/member/member.js
  verenigingen/verenigingen/doctype/verenigingen_settings/verenigingen_settings.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.js
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen_payments/api/sepa_batch_notifications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

feat: wire up notification system for DocType lifecycle events
  verenigingen/patches.txt
  verenigingen/patches/v15_0/add_team_chapter_notification_types.py
  verenigingen/patches/v15_0/migrate_email_settings_to_configuration.py
  verenigingen/verenigingen/doctype/chapter_member/chapter_member.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/team_member/team_member.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
