Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)

fix(payments): a failed submit stranded the invoice forever, and the sweep was unbounded
  docs/ADMIN_GUIDE.md
  docs/OPERATIONS_RUNBOOK.md
  docs/subsystems/background-processing.md
  docs/subsystems/financial-operations.md
  verenigingen/tests/payment/test_payment_retry.py
  verenigingen/verenigingen_payments/utils/payment_retry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payments): document the ignore_permissions bypass on the batch discard
  verenigingen/verenigingen_payments/utils/payment_retry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): what the skeptical review changed — I fixed one twin and left the other
  verenigingen/tests/payment/test_mollie_reversal_single_booking.py
  verenigingen/verenigingen_payments/mollie/api/unified_payment_api.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/verenigingen_payments/mollie/tests/test_payment_webhook_helpers_unit.py
  verenigingen/verenigingen_payments/mollie/tests/test_unified_payment_api_webhook.py
  verenigingen/verenigingen_payments/mollie/tests/test_webhook_wrapper_unified_sweep.py
  verenigingen/verenigingen_payments/mollie/tests/test_webhook_wrapper_unified_unit.py
  verenigingen/verenigingen_payments/mollie/utils/webhook_utilities.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): _repair_reversal_history returns (ok, error) — the advisory line was a real gate
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(payments): correct the discard docstring — the rollback is what makes it safe
  verenigingen/verenigingen_payments/utils/payment_retry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): the one-day-ahead guard made two tests a scheduled red hour
  verenigingen/tests/test_site_timezone_today.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(test): the one-day-ahead lever was 25 hours, so it broke for one hour a day
  verenigingen/tests/test_site_timezone_today.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): a batch that can no longer collect must stop withholding its invoice
  verenigingen/tests/payment/test_payment_retry.py
  verenigingen/verenigingen_payments/api/dd_batch_optimizer.py
  verenigingen/verenigingen_payments/utils/payment_retry.py
  verenigingen/verenigingen_payments/utils/sepa_constants.py
  verenigingen/verenigingen_payments/utils/sepa_mandate_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(test): scope the auto-submit Error Log check to this test's own rows
  verenigingen/tests/payment/test_invoice_generation_and_payment_history_sync.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payments): let non-resumable DB errors through, and use the savepoint helper
  verenigingen/verenigingen_payments/utils/payment_retry.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(age): one owner for the birthday arithmetic, not four
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen_payments/mollie/utils/validators.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-28c — "not mine" and "advisory" are labels, not verdicts
  docs/handoffs/2026-08-28c-not-mine-and-advisory-are-labels.md
Due: none

fix(mollie): a refunded dues payment now reaches the ledger (#635)
  verenigingen/tests/payment/test_mollie_dues_reversal_booking.py
  verenigingen/tests/payment/test_mollie_reversal_single_booking.py
  verenigingen/tests/services/test_donation_journal_entry_creator.py
  verenigingen/tests/services/test_donation_journal_entry_creator_coverage.py
  verenigingen/tests/services/test_donation_refund_journal_entry_creator_coverage.py
  verenigingen/tests/support/mollie_settings.py
  verenigingen/tests/unit/test_mollie_donation_webhook_regression.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/verenigingen_payments/services/donation_journal_entry_creator.py
  verenigingen/verenigingen_payments/services/donation_refund_journal_entry_creator.py
  verenigingen/verenigingen_payments/services/dues_reversal_journal_entry_creator.py
  verenigingen/verenigingen_payments/services/journal_entry_booking_support.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mollie): a per-delivery refund ceiling is not the property anyone means
  verenigingen/tests/payment/test_mollie_dues_reversal_booking.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
  verenigingen/verenigingen_payments/mollie/utils/reversal_idempotency.py
  verenigingen/verenigingen_payments/services/dues_reversal_journal_entry_creator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

chore(validation): resync the duplicate-helper census
  scripts/validation/duplicate_helper_baseline.txt
Due: none

docs(handoff): 2026-08-29 — the guard that guarded one delivery
  .claude/skills/verenigingen-test-harness/SKILL.md
  docs/handoffs/2026-08-29-the-guard-that-guarded-one-delivery.md
  verenigingen/tests/e_boekhouden/test_cleanup_utils_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payments): a Journal Entry against a member's invoice refreshes history (#645)
  scripts/validation/duplicate_helper_baseline.txt
  verenigingen/hooks/doc_events.py
  verenigingen/tests/payment/test_journal_entry_payment_history.py
  verenigingen/tests/payment/test_payment_entry_hook_defers.py
  verenigingen/tests/payment/test_payment_history_reconciliation.py
  verenigingen/tests/security/test_integrated_security_payment_system.py
  verenigingen/tests/support/invoice_payments.py
  verenigingen/tests/utils/test_utils_init.py
  verenigingen/utils/__init__.py
  verenigingen/utils/background_jobs.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): the Mollie settlement suite provisions its own configuration (#640)
  verenigingen/verenigingen_payments/utils/test_bank_transaction_reconciliation_coverage.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-29b — the runs that measured nothing
  docs/handoffs/2026-08-29b-the-runs-that-measured-nothing.md
Due: none

fix(payments): three more vouchers refresh a member's payment history (#649)
  verenigingen/hooks/doc_events.py
  verenigingen/tests/payment/test_journal_entry_payment_history.py
  verenigingen/tests/payment/test_reconciliation_credit_note_payment_history.py
  verenigingen/tests/support/payment_history_fixtures.py
  verenigingen/utils/background_jobs.py
  verenigingen/verenigingen_payments/services/dues_reversal_journal_entry_creator.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(payments): a credit note is trackable in a member's history (#653)
  verenigingen/api/payment_dashboard.py
  verenigingen/services/member/payment/payment_history_service.py
  verenigingen/templates/pages/payment_dashboard.html
  verenigingen/tests/payment/test_credit_note_payment_history_row.py
  verenigingen/tests/payment/test_payment_history_writer_parity.py
  verenigingen/tests/payment/test_reconciliation_credit_note_payment_history.py
  verenigingen/utils/__init__.py
  verenigingen/utils/background_jobs.py
  verenigingen/utils/constants.py
  verenigingen/utils/payment_history_builder.py
  verenigingen/verenigingen_payments/doctype/member_payment_history/member_payment_history.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs(handoff): 2026-08-30 — the sweep was aimed at a function that cannot run
  docs/handoffs/2026-08-30-the-sweep-was-aimed-at-a-function-that-cannot-run.md
Due: none

fix(mandates): an empty purpose list is not every purpose (#617)
  verenigingen/services/payment/sepa_mandate_manager.py
  verenigingen/tests/payment/test_mandate_empty_purposes_cancel_nothing.py
  verenigingen/verenigingen/doctype/member/member_utils.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.py
  verenigingen/verenigingen_payments/utils/mandate_candidates.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(mandates): ING Checkout read a Member field that does not exist
  scripts/validation/duplicate_helper_baseline.txt
  verenigingen/verenigingen_payments/ing_checkout/services/mandate_service.py
  verenigingen/verenigingen_payments/ing_checkout/tests/mandate_test_helpers.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_ing_checkout_mandate_resolution.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_mandate_payload_spec_unit.py
  verenigingen/verenigingen_payments/ing_checkout/tests/test_mandate_service_unit.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(age): compare integer calendar age, not a days/365.25 float (#657)
  verenigingen/services/member/utils/member_age_service.py
  verenigingen/tests/utils/test_age_on_exact_birthday.py
  verenigingen/utils/validation_utilities.py
  verenigingen/verenigingen/doctype/vip_import/vip_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(fixtures): one owner for the Test Region docname (#406)
  scripts/validation/duplicate_helper_baseline.txt
  verenigingen/tests/backend/components/test_membership_application.py
  verenigingen/tests/backend/comprehensive/test_chapter_assignment_comprehensive.py
  verenigingen/tests/chapter/test_chapter_board_permissions.py
  verenigingen/tests/chapter/test_chapter_members_enhanced.py
  verenigingen/tests/chapter/test_chapter_utils.py
  verenigingen/tests/fixtures/region_fixtures.py
  verenigingen/tests/security/test_national_chapter_access.py
  verenigingen/tests/security/test_permissions_coverage.py
  verenigingen/tests/security/test_project_permissions.py
  verenigingen/tests/security/test_project_permissions_coverage.py
  verenigingen/tests/test_fixture_isolation_invariants.py
  verenigingen/tests/test_harness_leak_attribution.py
  verenigingen/tests/utils/base.py
  verenigingen/tests/utils/factories.py
  verenigingen/tests/utils/setup_helpers.py
  verenigingen/verenigingen/doctype/chapter/test_chapter.py
  verenigingen/verenigingen/doctype/chapter/test_chapter_coverage.py
  verenigingen/verenigingen/doctype/chapter/test_chapter_head.py
  verenigingen/verenigingen/doctype/member/test_member.py
  verenigingen/verenigingen/doctype/volunteer/test_volunteer_aggregated.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(fixtures): register the doctype actually inserted (#491)
  verenigingen/tests/backend/comprehensive/test_comprehensive_suite_demo.py
  verenigingen/tests/backend/features/test_application_submission_validation.py
  verenigingen/tests/backend/workflows/test_member_lifecycle_complete.py
  verenigingen/tests/test_harness_leak_attribution.py
  verenigingen/tests/utils/factories.py
  verenigingen/verenigingen/doctype/volunteer/test_volunteer_aggregated.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(volunteer): the public application must honour minimum_volunteer_age (#659)
  verenigingen/api/volunteer_application.py
  verenigingen/tests/api/test_volunteer_application.py
  verenigingen/tests/support/verenigingen_settings.py
  verenigingen/tests/utils/test_age_on_exact_birthday.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(tests): one owner for the Verenigingen Settings pin (#659)
  verenigingen/tests/billing/test_weekly_billing_frequency.py
  verenigingen/tests/support/verenigingen_settings.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(db): stop hand-writing a second-precision modified (#453)
  scripts/workspace_reorganization.py
  verenigingen/api/schedule_maintenance.py
  verenigingen/tests/api/test_schedule_maintenance.py
  verenigingen/tests/sepa/test_sepa_mandate_integration.py
  verenigingen/tests/sepa/test_sepa_mandate_member_integration_service.py
  verenigingen/tests/test_no_db_clock_modified_writes.py
  verenigingen/tests/utils/modified_stamp.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen_payments/services/sepa_mandate_member_integration_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): one batch row per invoice, not one per Active membership (#616)
  verenigingen/tests/payment/test_batch_one_row_per_invoice.py
  verenigingen/tests/payment/test_dd_batch_scheduler_orchestration.py
  verenigingen/tests/payment/test_mandate_purpose_blind_remainder.py
  verenigingen/verenigingen_payments/api/dd_batch_optimizer.py
  verenigingen/verenigingen_payments/api/test_dd_batch_optimizer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(volunteer): the public form's own age check must read the setting too (#659)
  verenigingen/templates/pages/volunteer/apply.html
  verenigingen/templates/pages/volunteer/apply.py
  verenigingen/tests/api/test_volunteer_application.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(volunteer): re-raise the age rejection the validator was catching (#658)
  verenigingen/verenigingen/doctype/volunteer/test_volunteer_coverage.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(volunteer): the caught config throw still reached the guest via _server_messages
  verenigingen/api/volunteer_application.py
  verenigingen/tests/api/test_volunteer_application.py
  verenigingen/tests/billing/test_weekly_billing_frequency.py
  verenigingen/tests/support/verenigingen_settings.py
  verenigingen/tests/utils/test_age_on_exact_birthday.py
  verenigingen/utils/validation_utilities.py
  verenigingen/verenigingen/doctype/vip_import/test_vip_import.py
  verenigingen/verenigingen/doctype/vip_import/vip_import.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

test(fixtures): the second owner the first pass missed (#406, #491)
  scripts/debug/quick_region_test.py
  verenigingen/tests/backend/features/test_application_submission_validation.py
  verenigingen/tests/fixtures/region_fixtures.py
  verenigingen/tests/test_fixture_isolation_invariants.py
  verenigingen/tests/test_harness_leak_attribution.py
  verenigingen/tests/test_records/region.json
  verenigingen/tests/utils/base.py
  verenigingen/tests/utils/factories.py
  verenigingen/tests/utils/setup_helpers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(dd-batch): stop offering conflict remedies the endpoint cannot apply
  verenigingen/tests/sepa/test_dd_batch_conflict_resolution.py
  verenigingen/tests/sepa/test_dd_batch_duplicate_invoice_guard.py
  verenigingen/tests/sepa/test_dd_batch_pipeline_coverage.py
  verenigingen/verenigingen_payments/api/dd_batch_api.py
  verenigingen/verenigingen_payments/api/test_dd_batch_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(dd-batch): consolidate duplicate batch rows by INVOICE, and never by summing
  verenigingen/tests/sepa/test_dd_batch_conflict_resolution.py
  verenigingen/verenigingen_payments/api/dd_batch_api.py
  verenigingen/verenigingen_payments/api/test_dd_batch_api.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/direct_debit_batch.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(sepa): a returned direct debit that could not be reversed reported success
  verenigingen/tests/payment/test_sepa_reconciliation.py
  verenigingen/verenigingen_payments/api/sepa_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(dd-batch): stop reporting a member's second invoice as a batch conflict
  verenigingen/tests/sepa/test_dd_batch_conflict_resolution.py
  verenigingen/verenigingen_payments/api/dd_batch_api.py
  verenigingen/verenigingen_payments/api/test_dd_batch_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(dd-batch): a failed conflict resolution must not commit its half-applied work
  verenigingen/tests/sepa/test_dd_batch_conflict_resolution.py
  verenigingen/verenigingen_payments/api/dd_batch_api.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator
