Repository nlvegan/verenigingen: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

doctype-field-validator:
  name: DocType field attribute access validator
  entry: python scripts/validation/doctype_field_validator.py --pre-commit --reduced-fp-mode
  language: system
  pass_filenames: true
  stages:
  - pre-commit

sql-field-validator:
  name: SQL query field validation
  entry: python scripts/validation/sql_field_reference_validator.py --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

frappe-api-validator:
  name: Balanced field validation (practical mode)
  entry: python scripts/validation/database_field_reference_validator.py --level balanced --pre-commit
  language: system
  pass_filenames: true
  stages:
  - pre-commit

enhanced-field-validator:
  name: Context-aware field reference validator
  entry: python scripts/validation/enhanced_field_reference_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

template-field-validator:
  name: HTML/JavaScript template field validation
  entry: python scripts/validation/template_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

javascript-doctype-validator:
  name: JavaScript DocType field validation
  entry: python scripts/validation/javascript_doctype_field_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

eslint:
  name: ESLint JavaScript validation
  entry: bash -c 'npx eslint --fix --max-warnings=1000 "$@" || true'
  language: system
  stages:
  - pre-commit

fast-method-validator:
  name: Method call validation
  entry: python scripts/validation/method_resolution_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

workspace-validator:
  name: Workspace integrity validation
  entry: python scripts/validation/workspace_integrity_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ast-field-analyzer:
  name: AST-based field reference analyzer
  description: AST-based field validation using abstract syntax tree analysis
  entry: python scripts/validation/ast_field_analyzer.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

frappe-hooks-validator:
  name: ü™ù Frappe Hooks Validator
  description: Validate Frappe hooks and event handlers
  entry: python scripts/validation/frappe_hooks_validator.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-confidence-validator:
  name: üîç API Confidence Validator
  description: High-confidence API field validation
  entry: python scripts/validation/frappe_api_confidence_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

template-variable-validator:
  name: üìÑ Template Variable Validator
  description: Validate variables in Jinja2 templates and HTML files
  entry: python scripts/validation/template_variable_validator.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix: use BoardManager API to delete board member row on division contact removal
  verenigingen/mijnrood_sync/services/event_application_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: correct 'vereiningen' typos to 'verenigingen' in JS method path and Python import
  verenigingen/mijnrood_sync/doctype/mijnrood_sync_event/mijnrood_sync_event.js
  verenigingen/templates/pages/member_portal.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, javascript-doctype-validator, eslint, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, jest-testing, coverage-report-generator

test: add regression tests for board member removal and notification on division contact change
  verenigingen/tests/services/test_event_application_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: resolve critical runtime bugs and security issues from DRY/SOLID/KISS audit
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/api/sepa_duplicate_prevention.py
  verenigingen/events/migration_helper.py
  verenigingen/events/subscribers/member_subscribers.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/volunteer/volunteer.py
  verenigingen/verenigingen_payments/utils/payment_gateways.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: security hardening — restrict test/debug endpoints to developer mode (Phase 2)
  verenigingen/api/clean_test_chapter.py
  verenigingen/api/database_index_manager_phase5a.py
  verenigingen/api/final_refresh_test.py
  verenigingen/api/manual_persona_test.py
  verenigingen/api/membership_application_review.py
  verenigingen/api/phase5a_test_execution.py
  verenigingen/api/run_chapter_basic_test.py
  verenigingen/api/simple_measurement_test.py
  verenigingen/api/simple_mutation_test.py
  verenigingen/api/test_audit_routing.py
  verenigingen/api/test_member_portal_coverage.py
  verenigingen/api/test_monitoring.py
  verenigingen/api/test_refresh_reliability.py
  verenigingen/utils/cancel_je_1345.py
  verenigingen/utils/debug_list_permissions.py
  verenigingen/utils/debug_mutation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: address code review findings — permission regression and decorator order
  verenigingen/api/run_chapter_basic_test.py
  verenigingen/api/simple_mutation_test.py
  verenigingen/utils/chapter_security.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: correct reversed decorator order across 25 files (102 endpoints)
  verenigingen/api/anbi_account_setup.py
  verenigingen/api/anbi_operations.py
  verenigingen/api/background_approval_api.py
  verenigingen/api/chapter_join.py
  verenigingen/api/chapter_validation.py
  verenigingen/api/check_account_types.py
  verenigingen/api/customer_member_link.py
  verenigingen/api/dues_invoice_workflow.py
  verenigingen/api/email_template_manager.py
  verenigingen/api/fix_stuck_dues_schedule.py
  verenigingen/api/manual_invoice_generation.py
  verenigingen/api/mollie_payment.py
  verenigingen/api/payment_dashboard.py
  verenigingen/api/payment_plan_management.py
  verenigingen/api/payment_processing.py
  verenigingen/api/periodic_donation_operations.py
  verenigingen/api/schedule_maintenance.py
  verenigingen/api/security_monitoring_dashboard.py
  verenigingen/api/suspension_api.py
  verenigingen/api/unified_security_monitoring.py
  verenigingen/api/volunteer_skills.py
  verenigingen/api/workspace_health.py
  verenigingen/tests/test_api_security_decorators.py
  verenigingen/utils/dues_schedule_health_manager.py
  verenigingen/verenigingen_payments/api/sepa_batch_ui_secure.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, workspace-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: remove dead code — Phase 6 of DRY/SOLID/KISS audit (-1,123 LOC)
  docs/dry-solid-kiss-audit-2026-02-19.md
  scripts/debug/system_status_check.py
  scripts/testing/test_incremental_history_final_validation.py
  verenigingen/api/test_incremental_update_final.py
  verenigingen/events/subscribers/payment_history_queue.py
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/services/member/history/member_history_update_service.py
  verenigingen/tests/test_n_plus_one_optimization.py
  verenigingen/utils/background_jobs.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/membership/membership.py
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
  verenigingen/verenigingen_payments/doctype/payment_history_update_queue/__init__.py
  verenigingen/verenigingen_payments/doctype/payment_history_update_queue/payment_history_update_queue.json
  verenigingen/verenigingen_payments/doctype/payment_history_update_queue/payment_history_update_queue.py
  whitelist_files.txt
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: DRY consolidation — Phase 4 partial (-92 LOC)
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/mijnrood_sync/services/event_application_service.py
  verenigingen/mijnrood_sync/services/polling_service.py
  verenigingen/mijnrood_sync/utils.py
  verenigingen/utils/__init__.py
  verenigingen/utils/application_helpers.py
  verenigingen/utils/financial_utils.py
  verenigingen/utils/termination_integration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: DRY consolidation + bug fixes — Phase 4 continued (-84 net LOC)
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/mijnrood_sync/services/event_application_service.py
  verenigingen/services/member/core/member_lifecycle_service.py
  verenigingen/services/member/history/member_history_update_service.py
  verenigingen/services/member/payment/payment_history_service.py
  verenigingen/utils/__init__.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen/doctype/member/mixins/payment_mixin.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: DRY consolidation in events layer + copy-paste bug fix (-127 LOC)
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/events/chapter_events.py
  verenigingen/events/expense_events.py
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/events/subscribers/member_subscribers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: performance fixes + DRY consolidation — Phase 4 batch 3
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/api/membership_application_review.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/verenigingen/doctype/membership/membership.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: KISS/DRY cleanup — remove PII logs, extract pagination helper
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/api/membership_application.py
  verenigingen/e_boekhouden/utils/eboekhouden_api.py
  verenigingen/utils/application_helpers.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: Phase 3 architectural derisking — payment cleanup + ID consolidation
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/utils/application_helpers.py
  verenigingen/verenigingen_payments/mollie/services/dues_payment_processor.py
  verenigingen/verenigingen_payments/mollie/services/webhook_wrapper_service_unified.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: dead code removal + performance fixes — C12, C14, C15, H26, H27, M16
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/api/membership_application.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/verenigingen_payments/services/mollie_payment_orchestrator.py
  verenigingen/verenigingen_payments/utils/sepa_admin_reporting.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: add missing error handling on Purchase Invoice submit + extract limit sanitization
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
  verenigingen/services/mollie_debug_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: resolve pyright errors - fix runtime bugs, broken imports, and dead code
  __init__.py
  pyrightconfig.json
  verenigingen/api/chapter_dashboard_api.py
  verenigingen/api/fix_stuck_dues_schedule.py
  verenigingen/e_boekhouden/api/eboekhouden_item_mapping_tool.py
  verenigingen/e_boekhouden/api/eboekhouden_migration.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_migration/e_boekhouden_migration.py
  verenigingen/e_boekhouden/doctype/e_boekhouden_payment_mapping/e_boekhouden_payment_mapping.py
  verenigingen/e_boekhouden/utils/eboekhouden_api.py
  verenigingen/e_boekhouden/utils/eboekhouden_coa_import.py
  verenigingen/e_boekhouden/utils/eboekhouden_migration_config.py
  verenigingen/e_boekhouden/utils/eboekhouden_migration_enhancements.py
  verenigingen/e_boekhouden/utils/migration/account_mapper.py
  verenigingen/e_boekhouden/utils/migration/migration_orchestrator.py
  verenigingen/e_boekhouden/utils/migration_utils.py
  verenigingen/email/simplified_email_manager.py
  verenigingen/events/subscribers/chapter_subscribers.py
  verenigingen/setup/security_setup.py
  verenigingen/templates/pages/mollie_subscription_recreation.py
  verenigingen/utils/manual_camt_import.py
  verenigingen/utils/member_import_cleanup.py
  verenigingen/utils/run_clean_import_test.py
  verenigingen/utils/security/api_security_framework.py
  verenigingen/verenigingen/doctype/chapter/managers/member_manager.py
  verenigingen/verenigingen/doctype/member/mixins/termination_mixin.py
  verenigingen/verenigingen/doctype/mijnrood_csv_import/mijnrood_csv_import.py
  verenigingen/verenigingen/report/termination_audit_report/termination_audit_report.py
  verenigingen/verenigingen_payments/core/http_client.py
  verenigingen/verenigingen_payments/ing_checkout/utils/webhook_security.py
  verenigingen/verenigingen_payments/mollie/api/payment_sync_system.py
  verenigingen/verenigingen_payments/mollie/services/payment_service.py
  verenigingen/verenigingen_payments/mollie/utils/relationship_manager.py
  verenigingen/verenigingen_payments/services/settlement_bank_transaction_processor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: resolve remaining non-test pyright errors
  verenigingen/api/monitoring_test_corrected.py
  verenigingen/api/update_prepare_system_button.py
  verenigingen/services/member/utils/member_age_service.py
  verenigingen/verenigingen_payments/utils/payment_data_extractor.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: extract _build_opening_balance_je() shared helper + mark background approval as deprecated
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/api/background_approval_api.py
  verenigingen/e_boekhouden/utils/eboekhouden_rest_full_migration.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: delete dead SEPA mandate code — H23 (-2,447 LOC) + close H9 as false positive
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/api/performance_measurement.py
  verenigingen/repositories/__init__.py
  verenigingen/repositories/sepa_mandate_repository.py
  verenigingen/tests/repositories/test_sepa_mandate_repository.py
  verenigingen/tests/test_sepa_fnal_and_cache.py
  verenigingen/tests/test_sepa_week3_features.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate_usage/sepa_mandate_usage.py
  verenigingen/verenigingen_payments/services/sepa_mandate_lifecycle_service.py
  verenigingen/verenigingen_payments/utils/sepa_mandate_lifecycle_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: extract shared emit_event() helper, fix analytics bug, close H36
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/events/approval_events.py
  verenigingen/events/chapter_events.py
  verenigingen/events/event_emitter.py
  verenigingen/events/member_events.py
  verenigingen/events/team_events.py
  verenigingen/utils/analytics_engine.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: consolidate deadlock retry + account group boilerplate — H4, H16
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/e_boekhouden/services/account_organization_service.py
  verenigingen/utils/account_creation_manager.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: update audit report — batches 7-10 progress, SEPA section, Phase 4
  docs/dry-solid-kiss-audit-2026-02-19.md
Due: none

refactor: consolidate customer creation — service delegates to canonical impl (H2)
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/services/customer_handling_service.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: remove dead bulk-flag guards + dead placeholder methods — H8, H11, H32
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/events/approval_events.py
  verenigingen/events/team_events.py
  verenigingen/utils/analytics_engine.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: delete dead link_records + migrate permissions.py to Roles constants — H17, H21
  docs/dry-solid-kiss-audit-2026-02-19.md
  verenigingen/permissions.py
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/constants.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor: migrate hardcoded role strings to Roles constants across 28 files (H17)
  verenigingen/api/admin_membership_operations.py
  verenigingen/api/membership_application.py
  verenigingen/api/membership_application_review.py
  verenigingen/api/suspension_api.py
  verenigingen/api/team_admin_utilities.py
  verenigingen/commands/performance_optimization.py
  verenigingen/events/migration_helper.py
  verenigingen/permissions.py
  verenigingen/services/billing/dues_schedule_permission_service.py
  verenigingen/services/billing/dues_schedule_validation_service.py
  verenigingen/services/member/financial/member_fee_validation_service.py
  verenigingen/setup/membership_application_workflow_setup.py
  verenigingen/setup/workflow_setup.py
  verenigingen/templates/pages/brand_management.py
  verenigingen/templates/pages/payment_dashboard.py
  verenigingen/utils/bulk_delete_test_invoices.py
  verenigingen/utils/chapter_utils.py
  verenigingen/utils/constants.py
  verenigingen/utils/deleted_document_cleanup.py
  verenigingen/utils/expense_history_batch_processor.py
  verenigingen/utils/member_portal_utils.py
  verenigingen/utils/notification_helpers.py
  verenigingen/utils/role_cleanup.py
  verenigingen/utils/termination_utils.py
  verenigingen/verenigingen/doctype/contribution_amendment_request/contribution_amendment_request.py
  verenigingen/verenigingen/doctype/event_contact_campaign/event_contact_campaign.py
  verenigingen/verenigingen/doctype/member/member.py
  verenigingen/verenigingen_payments/api/dd_batch_api.py
  verenigingen/verenigingen_payments/doctype/sepa_mandate/sepa_mandate.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, api-security-validator, insecure-api-detector, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix: recognize @development_only as a security decorator in insecure-api-detector
  scripts/validation/security/insecure_api_detector.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

docs: update audit report with batch 15 (H17 complete, review fixes, tooling)
  docs/dry-solid-kiss-audit-2026-02-19.md
Due: none

refactor(membership): extract CSV clearing and member link helpers from create_or_update_dues_schedule (M10)
  verenigingen/verenigingen/doctype/membership/membership.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(membership-dues-schedule): standardize template guards to self-defending validators (M11)
  verenigingen/verenigingen/doctype/membership_dues_schedule/membership_dues_schedule.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(tests): harden member_id counter + fix test factory defaults
  verenigingen/tests/fixtures/enhanced_test_factory.py
  verenigingen/tests/utils/base.py
  verenigingen/verenigingen/doctype/member/member_id_manager.py
  verenigingen/verenigingen/doctype/membership/test_membership.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(security): P0 fixes from audit part 2 — SQL injection, dead hooks, monkey-patch removal
  docs/dry-solid-kiss-audit-part2-2026-02-21.md
  verenigingen/e_boekhouden/hooks.py
  verenigingen/overrides/sales_invoice.py
  verenigingen/patches.txt
  verenigingen/services/billing/invoice_generator.py
  verenigingen/verenigingen/report/anbi_periodic_agreements/anbi_periodic_agreements.py
  verenigingen/verenigingen/report/pending_membership_applications/pending_membership_applications.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

feat(invoicing): make due date days configurable in payment settings
  verenigingen/services/billing/invoice_generator.py
  verenigingen/verenigingen/doctype/verenigingen_payments_settings/verenigingen_payments_settings.json
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(reliability): P1 fixes — XSS, enqueue safety, scheduler idempotency, pre-commit speed
  .pre-commit-config.yaml
  verenigingen/services/billing/bulk_invoice_generation_service.py
  verenigingen/templates/pages/admin_tools.html
  verenigingen/templates/pages/apply_for_membership.html
  verenigingen/templates/pages/mollie_bulk_payment_creation.html
  verenigingen/templates/pages/mt940_import.html
  verenigingen/utils/account_creation_manager.py
  verenigingen/utils/dues_schedule_auto_creator.py
  verenigingen/utils/payment_retry.py
  verenigingen/verenigingen/doctype/membership/scheduler.py
  verenigingen/verenigingen_payments/api/dd_batch_scheduler.py
  verenigingen/verenigingen_payments/doctype/direct_debit_batch/sepa_processor.py
  verenigingen/verenigingen_payments/utils/bank_transaction_reconciliation.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

fix(fixtures): P2 cleanup — deduplicate rules, remove dead module refs
  verenigingen/fixtures/critical_operation_rule.json
  verenigingen/fixtures/module_profile.json
Due: email-template-validator

fix(reliability): batch 3 — dead hook, scheduler tuning, batch limits
  docs/dry-solid-kiss-audit-part2-2026-02-21.md
  verenigingen/hooks/__init__.py
  verenigingen/hooks/scheduler.py
  verenigingen/utils/financial_history_batch_processor.py
  verenigingen/verenigingen/doctype/membership/scheduler.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(reliability): batch 4 — DRY enqueue, migration guard, dead hook removal
  .pre-commit-config.yaml
  docs/dry-solid-kiss-audit-part2-2026-02-21.md
  verenigingen/patches/v2_1/migrate_financial_settings_to_payments.py
  verenigingen/utils/background_jobs.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

refactor(audit): batch 5 — N+1 query fix, CSS cleanup, template consolidation
  docs/dry-solid-kiss-audit-part2-2026-02-21.md
  verenigingen/public/css/chapter_list.css
  verenigingen/templates/includes/portal_no_member_error.html
  verenigingen/templates/pages/contact_request.html
  verenigingen/templates/pages/member_portal.html
  verenigingen/verenigingen/report/anbi_expense_report/anbi_expense_report.py
Due: doctype-field-validator, sql-field-validator, frappe-api-validator, enhanced-field-validator, template-field-validator, fast-method-validator, ast-field-analyzer, frappe-hooks-validator, api-confidence-validator, template-variable-validator, child-table-creation-validator, js-python-parameter-validator, method-resolution-validator, email-template-validator, make-test-quick, make-lint, pytest-coverage-critical, api-contract-validation, controller-testing-focused, external-api-contracts, performance-benchmarking, coverage-report-generator

Path conditions:
  doctype-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  sql-field-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  frappe-api-validator: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|one-off-test-utils/|archived_.*|archived_unused/|archived_deleted/)
  enhanced-field-validator: any of: \.(py|html|js)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|archived_.*|archived_unused/|archived_deleted/)
  template-field-validator: any of: \.(html|js)$, but not: ^(tests/|test_|.*_test\.(html|js)|debug_|.*_debug\.(html|js)|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  javascript-doctype-validator: any of: \.js$, but not: ^(tests/|test_|.*_test\.js|debug_|.*_debug\.js|scripts/testing/|scripts/debug/|frontend_tests/|node_modules/)
  eslint: any of: \.js$, but not: ^(node_modules/|archived_unused/|archived_deleted/|scripts/analysis/|scripts/monitoring/|scripts/performance/|scripts/rollback/|scripts/security/|debug_utils/|dev_scripts/)|\.min\.js$|\.bundle\.js$
  fast-method-validator: any of: \.py$, but not: ^(archived_unused/|archived_deleted/|archived_removal/|scripts/testing/|scripts/debug/|test_field_validation_gaps\.py|.*_test\.py|debug_.*\.py)
  workspace-validator: any of: ^(verenigingen/fixtures/workspace\.json|verenigingen/api/workspace_.*\.py)$
  ast-field-analyzer: any of: \.py$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*|one-off-test-utils/|.*setup.*\.py|.*_setup\.py|.*patch.*\.py|.*migration.*\.py|.*utils/debug/.*\.py)
  frappe-hooks-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-confidence-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  template-variable-validator: any of: \.(html|htm|jinja|jinja2)$, but not: ^(tests/|test_|.*_test\.(html|htm)|debug_|.*_debug\.(html|htm)|scripts/testing/|scripts/debug/|node_modules/)
  child-table-creation-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  js-python-parameter-validator: any of: \.(js|py)$, but not: ^(tests/|test_|.*_test\.(js|py)|debug_|.*_debug\.(js|py)|scripts/testing/|scripts/debug/|node_modules/|archived_.*)
  method-resolution-validator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  api-security-validator: any of: ^verenigingen/api/.*\.py$
  insecure-api-detector: any of: ^verenigingen/api/.*\.py$
  email-template-validator: any of: \.(json|html|py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-test-quick: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  make-lint: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
  pytest-coverage-critical: any of: \.py$, but not: ^(migrations/|fixtures/|scripts/testing/|scripts/debug/|.*_debug\.py|test_.*\.py|archived_.*)
  api-contract-validation: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  controller-testing-focused: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  external-api-contracts: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  performance-benchmarking: any of: \.(js|py)$, but not: ^(node_modules/|archived_.*)
  jest-testing: any of: \.(js|vue)$, but not: ^(node_modules/|dist/|build/|scripts/testing/|scripts/debug/|archived_.*)
  coverage-report-generator: any of: \.(py)$, but not: ^(tests/|test_|.*_test\.py|debug_|.*_debug\.py|scripts/testing/|scripts/debug/|archived_.*)
